<ion-list mode="md">
  <ng-container *ngIf="!waitingList?.waitListKey;else waitingListContainer">
    <ion-item lines="none" mode="md" (click)="handleEdit()" [routerLink]="[path]" [disabled]="!edit">
      Edit
    </ion-item>
    <ion-item lines="none" mode="md" (click)="handleEdit()" [routerLink]="[path]" [disabled]="edit">
      <ng-container>View {{waitingList.waitListKey}}</ng-container>
    </ion-item>
  </ng-container>

  <ng-template #waitingListContainer>
    <ion-item lines="none" mode="md" (click)="handleEdit()" [routerLink]="[path]" [disabled]="isPatronWaitingList()">
      Edit
    </ion-item>
    <ion-item lines="none" mode="md" (click)="removeWaitingList()" [disabled]="!isPatronWaitingList()">
      <ng-container>Remove</ng-container>
    </ion-item>    
  </ng-template>
</ion-list>
