<ion-list mode="md">
  <ng-container>
    <ion-item *ngIf="showViewOption" lines="none" mode="md" (click)="closePopover()" [routerLink]="[navigateTo]" [disabled]="canEdit">
      View
    </ion-item>
    <ion-item *ngIf="showEditOption" lines="none" mode="md" (click)="closePopover()" [routerLink]="[navigateTo]" [disabled]="!canEdit">
      Edit
    </ion-item>    
    <ion-item *ngIf="showRemoveOption" lines="none" mode="md" (click)="handleRemove()" [disabled]="!itemKey">
      Remove
    </ion-item>
  </ng-container>
</ion-list>
