@import 'tools';

.inspection-details__content {
  --background: #{$porcelain};
  --padding-top: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

st-textarea-floating-label {
  width: 100%;
  margin: 0 0 0.8em;
}

.inspection-details__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: var(--ion-safe-area-top, 0);
}

.inspection-details__title {
  @include font-family($font-nunito-heavy);

  font-size: 20px;
  color: $color-night-rider;
  margin: 0;
  max-height: 25px
}

.inspection-details__page-back {
  @include font-family($font-nunito-regular);

  --color: #{rgba($color-black, 0.9)};
}

.btn-save {
  float: right;
}

.btn-submit {
  float: right;
  --padding-end: 30px;
  --padding-start: 30px;
  height: 40px;
  margin-top: 10px;

}

.inspection-details__save {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};
}

.inspection-details__card {
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.04), 0 2px 14px 0 rgba($color-black, 0.12);
  padding: 16px 16px 25px;

  .condition-inspect {
    --background: #d7d8da;
  }
}

.inspection-details__back {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};

  min-width: 80px;
}

.inspection-details__next,
.inspection-details__submit {
  @include font-family($font-nunito-heavy);

  --border-radius: 8px;
  width: 150px;
  font-size: 14px;
  text-transform: uppercase;
}

.inspection-details__next {
  --background-activated: #{$color-dodger-blue};
  --border-color: #{$color-dodger-blue};
  --border-width: 2px;
  --color: #{$color-dodger-blue};
}

.inspection-details__submit {
  --background: #{$color-dodger-blue};
}

ion-segment {
  width: 100%;
}


.textarea {
  &__wrapper {
    position: relative;
  }

  &__control {
    width: 100%;
    outline: none;
    border: 1px solid $color-light-gray;
    border-radius: 8px;
    padding: 0 0 0 10px;
  }
}

.comments {
  margin-bottom: 10px;
}

.staffCondition {
  font-size: 0.7em;
}

.__color {
  color: #{$color-dodger-blue};
}

.selectorCondition {
  width: 100%;
  max-width: 100%;
}

.stepper__footer {
  &* {
    padding: 16px 10px 5px
  }
}
