<ng-container *ngIf="(inspectionDetails$ | async) as inspectionDetails">
  <st-forms-header class="inspectionHeader" [showSave]="status === 0" (onSave)="save(inspectionDetails)">
  </st-forms-header>
    <div class="tabsContainer">
      <h2 class="inspection-details__title">{{inspectionDetails.formDefinition.applicationTitle}}</h2>
      <st-housing-tabs (onTabSelected)="changeView($event)">
        <st-housing-tab *ngFor="let room of inspectionDetails.sections" [tabTitle]="room.name"></st-housing-tab>
      </st-housing-tabs>
    </div>
    <ion-content class="ion-padding inspection-details__content" #content>
      <div [ngSwitch]="section" class="inspection-details__card">
        <form [formGroup]="inspectionForm">
          <div formArrayName="sections">
            <ng-container *ngFor="let section of sectionsFormArray.controls;let i = index" [formGroupName]="i">
              <div formArrayName="items">
                <ion-card *ngFor="let item of getItemsArray(section).controls;let j = index" [disabled]="status > 1">
                  <div [formGroupName]="j">
                    <ion-item lines="none">
                      <ion-label>
                        <h1>{{item.controls.name.value}}</h1>
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-select class="selectorCondition" formControlName="residentConditionKey"
                        placeholder="Select a condition from the list">
                        <ion-select-option *ngFor="let condition of conditions"
                          [value]="+condition.value">{{condition.label}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item lines="none" *ngIf="item.controls.staffConditionKey">
                      <ion-label class="staffCondition">
                        The staff rated this item’s condition as
                        <span class="__color">{{getConditionStaff(item.controls.staffConditionKey.value)}}</span>
                      </ion-label>
                    </ion-item>
                    <ion-item class="comments" lines="none">
                      <st-textarea-floating-label class="ng-valid ng-dirty ng-touched" formControlName="comments"
                        type="text" [rows]="1" [label]="'Add a comment'" [idd]="'comments'" >
                      </st-textarea-floating-label>
                    </ion-item>
                  </div>
                </ion-card>
              </div>
            </ng-container>
          </div>
        </form>
        <st-stepper-footer>
          <div>
            <h2 class="inspection-details__title">Room Inspections</h2>
            <ion-label color="medium">
              {{ countItemsLeft(inspectionForm.value) | i18nPlural:roomsMapping}}
            </ion-label>
          </div>
          <st-button class="btn btn-submit" mode="ios" type="submit" item-right
          (click)="submitInspection(inspectionDetails)"
          [disabled]="countItemsLeft(inspectionForm.value) > 0 || isSubmitted">
          Submit
        </st-button>
        </st-stepper-footer>
      </div>
    </ion-content>
</ng-container>