<ion-header class="pending-checkin__header" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="onClosed()">
        <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="modal-mainTitle" tabindex="0" class="pending-checkin__title">Order #{{ checkNumber }}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="divider"></div>

<ion-footer class="pending-checkin__footer" mode="ios">
  <div class="checkin-btn">
    <st-button (onClick)="onScanCode()" buttonModifier="rectangular" isDisabled="true">
      <span class="ion-text-capitalize">
        {{ contentStrings.lbl_btn_scan_code }}
      </span>
    </st-button>
  </div>

  <div class="checkin-btn" >
    <st-button [disabled]="locationPermissionDisabled" (onClick)="onLocationCheckinClicked()" buttonModifier="rectangular" isDisabled="true">
      <span class="ion-text-capitalize">
        {{ contentStrings.lbl_btn_loc_chck_in }}
      </span>
    </st-button>
  </div>
</ion-footer>
