<ion-header class="pending-checkin__header" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="onClosed()">
        <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="modal-mainTitle" tabindex="0" class="pending-checkin__title">Order #{{ checkNumber }}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="divider"></div>
<ion-content>
  <div class="pending-checkin__body-wrapper">
    <img
      height="160"
      src="/assets/images/Big_Hourglass_Confetti.svg"
      alt="big Order Pending"
      class="pending-checkin__main-img"
    />
    <div class="pending-checkin__sub-header">{{ contentStrings.order_pending }}</div>
    <div class="pending-checkin__body">
      <p>{{ contentStrings.subtitle }}</p>
      <p>{{ contentStrings.instruction }}</p>
    </div>
  </div>
  <div class="pending-checkin__colored-bg">
    <div class="padded" *ngIf="orderDetailOptions$ | async as orderDetailOptions">
      <div class="title-lbl faded">{{ orderDetailOptions.orderType | typeMessage: 'dueTime' | uppercase }}</div>
      <span class="text-dark">{{ data.pickupTime | modifyPrepTime: data.orderTypes }}</span>
      <div class="small-content faded">{{ contentStrings.pickup_info }}</div>
      <div class="title-lbl faded">{{ orderDetailOptions.orderType | typeMessage: 'address' | uppercase }}</div>
      <div class="text-dark address">
        <img width="18" src="./assets/icon/location-pin.svg" alt="pin" />
        <span>{{ data.storeAddress | addressHeaderFormat }}</span>
      </div>
      <div class="section-divided">
        <span class="text-dark"> {{ contentStrings.lbl_total }} </span>
        <span class="text-dark"> {{ total | priceUnitsResolver: (menuInfo$ | async)?.mealBased || (order$ | async)?.mealBased }}</span>
      </div>
      <div class="btn_no-bg">
        <st-button (onClick)="goToOrderDetails()" fill="clear" buttonModifier="rectangular">
          <span class="ion-text-capitalize"> {{ contentStrings.lbl_btn_order_detail }} </span>
        </st-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="addToCartEnabled" class="ion-align-self-center" size="5">
        <st-button
          color="medium"
          [expand]="'full'"
          [fill]="'clear'"
          [buttonModifier]="'light'"
          buttonModifier="rectangular"
          isDisabled="true"
          (onClick)="onAddItems()"
          class="ro__close-btn full-width"
        >
          <span class="ion-text-capitalize">
            {{ contentStrings.lbl_btn_add2_cart }}
          </span>
        </st-button>
      </ion-col>
      <ion-col class="ion-align-self-center" [size]="addToCartEnabled ? '7' : '12'">
        <st-button
          [buttonModifier]="'normalcase'"
          (onClick)="onCheckingClicked()"
          buttonModifier="rectangular"
          class="full-width"
        >
          <span class="ion-text-capitalize">
            {{ contentStrings.lbl_btn_checkin_in }}
          </span>
        </st-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
