<ion-header class="pending-checkin__header" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="onClosed()">
        <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="modal-mainTitle" tabindex="0" class="pending-checkin__title">Order #{{ checkNumber }}</ion-title>
  </ion-toolbar>
</ion-header>
<div class="divider"></div>
<ion-content>
  <div class="pending-checkin__body-wrapper">
    <img
      height="160"
      src="/assets/images/Big_Hourglass_Confetti.svg"
      alt="big Order Pending"
      class="pending-checkin__main-img"
    />
    <!-- <div class="pending-checkin__sub-header">#{{ checkNumber }}</div> -->
    <div class="pending-checkin__sub-header">{{ contentStrings.order_pending }}</div>
    <div class="pending-checkin__body">
      <p>{{ contentStrings.subtitle }}</p>
      <p>{{ contentStrings.instruction }}</p>
    </div>
  </div>
  <div class="pending-checkin__colored-bg">
    <div class="padded">
      <div class="title-lbl faded">{{ contentStrings.lbl_pickup_time }}</div>
      <span class="text-dark">{{ data.pickupTime | modifyPrepTime: data.orderTypes }}</span>
      <div class="small-content faded">{{ contentStrings.pickup_info }}</div>
      <div class="title-lbl faded">{{ contentStrings.lbl_pickup_addr }}</div>
      <div class="text-dark address">
        <img width="18" src="./assets/icon/location-pin.svg" alt="pin" />
        <span>{{ data.storeAddress | addressHeaderFormat }}</span>
      </div>
      <div class="section-divided">
        <span class="text-dark"> {{ contentStrings.lbl_total }} </span>
        <span class="text-dark"> {{ total | priceUnitsResolver: mealBased }}</span>
      </div>
      <div class="btn_no-bg">
        <st-button (onClick)="goToOrderDetails()" fill="clear" buttonModifier="rectangular">
          <span class="ion-text-capitalize"> {{ contentStrings.lbl_btn_order_detail }} </span>
        </st-button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer style="padding: 10px 10px 30px 10px;" mode="ios">
  <div class="pending-checkin__footer">
    <div *ngIf="addToCartEnabled">
      <st-button (onClick)="onAddItems()" buttonModifier="rectangular" isDisabled="true">
        <span class="ion-text-capitalize">
          {{ contentStrings.lbl_btn_add2_cart }}
        </span>
      </st-button>
    </div>
    <div [ngClass]="{'full-width': !addToCartEnabled }">
      <st-button (onClick)="onCheckingClicked()" buttonModifier="rectangular">
        <span class="ion-text-capitalize" style="width: 166px;"  >
          {{ contentStrings.lbl_btn_checkin_in }}
        </span>
      </st-button>
    </div>
  </div>
</ion-footer>
