<nav class="global-navigation" *ngIf="navElements$ | async as navElements">
  <ion-popover
    [animated]="false"
    trigger="click-trigger"
    triggerAction="context-menu"
    (didDismiss)="onDismissPopup()"
    [isOpen]="isListShown && navElements.length > visibleAmountOfElements"
    className="pop-up-list"
    size="cover"
  >
    <ng-template>
      <div class="global-navigation__vertical-list">
        <ng-container
          *ngTemplateOutlet="navItems; context: { $implicit: navElements.slice(visibleAmountOfElements - 1) }"
        ></ng-container>
      </div>
      <ng-container *ngTemplateOutlet="navMenu"></ng-container>
    </ng-template>
  </ion-popover>

  <ng-container *ngTemplateOutlet="navMenu"></ng-container>
  <ng-template #navMenu>
    <div class="global-navigation__main" id="click-trigger">
      <!-- <st-shopping-cart-btn></st-shopping-cart-btn> -->
      <div class="global-navigation__list">
        <ng-container
          *ngTemplateOutlet="navItems; context: { $implicit: navElements | mainNavItems : visibleAmountOfElements }"
        ></ng-container>
        <div
          tabindex="0"
          *ngIf="navElements.length > visibleAmountOfElements"
          [ngClass]="{
            'global-navigation__list-item--active': navElements | isActiveRouteInList : visibleAmountOfElements | async
          }"
          class="global-navigation__list-item"
          (click)="toggleListAppearance()"
          (keyup.enter)="toggleListAppearance()"
        >
          <div
            class="global-navigation__icon"
            [ngClass]="{
              'global-navigation__icon--close': isListShown,
              'global-navigation__icon--more': !isListShown
            }"
          >
            <ng-container
              *ngIf="!isListShown"
              [ngTemplateOutlet]="activityIndicator"
              [ngTemplateOutletContext]="{
                indicatorValue: activitiesCount$ | async,
                indicatorAriaLabel: 'a11y.bottom_navigation.activity_count'
              }"
            ></ng-container>
          </div>
          {{ (!isListShown ? 'patron-ui.core-ui.label_more' : 'patron-ui.core-ui.label_close') | translate }}
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>
  </ng-template>
</nav>

<ng-template #navItems let-navElems>
  <div
    *ngFor="let item of navElems"
    [routerLink]="getLink(item.url)"
    class="global-navigation__list-item"
    [routerLinkActive]="'global-navigation__list-item--active'"
  >
    <div class="global-navigation__icon global-navigation__icon--{{ item.iconCssPostfix }}">
      <ng-container
        [ngTemplateOutlet]="activityIndicator"
        [ngTemplateOutletContext]="{
          indicatorValue: item.indicatorValue$ | async,
          indicatorAriaLabel: item.indicatorAriaLabel
        }"
      ></ng-container>
    </div>
    {{ item.name }}
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ng-template>
<ng-template #activityIndicator let-indicatorValue="indicatorValue" let-indicatorAriaLabel="indicatorAriaLabel">
  <div
    *ngIf="indicatorValue"
    class="global-navigation__icon--indicator"
    [attr.aria-label]="indicatorAriaLabel | translate : { count: indicatorValue }"
  >
    {{ indicatorValue }}
  </div>
</ng-template>
