@import 'tools';

ion-popover {
  --offset-x: 12px;
  --offset-y: 59px;
  --width: 100%;
  &::part(content){
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
}
.global-navigation {
  &__vertical-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 299px;
    

    & .global-navigation__icon {
      margin: 0 10px;
    }

    & .global-navigation__list-item {
      font-size: 18px;
      border-left: 3px solid transparent;
      height: $bottom-navigation-bar-height;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;

      &--active {
        border-top: none;
        border-left: 3px solid $color-dodger-blue;
      }
    }
  }

  &__main {
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    height: $bottom-navigation-bar-height;
    background: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    box-shadow: 0px 0px 12px $bottom-navigation-box-shadow, 0px 2px 26px $top-navigation-box-shadow;
  }

  &__list-item {
    flex-grow: 1;
    border-top: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include font-nunito-regular(12px);

    &--active {
      border-top: 2px solid $color-dodger-blue;
      background: $color-solitude;
      color: $color-dodger-blue;
      outline: none;
    }
  }

  &__icon {
    position: relative;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
    background-image: url('/assets/icon/bottom_navigation_icons.svg');

    &--indicator {
      @include font-nunito-semibold(14px);
      background-color: $color-red-alert;
      height: 20px;
      width: 20px;
      border-radius: 20px;
      position: absolute;
      right: -3px;
      top: -3px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .global-navigation__list-item--active & {
      background-position-y: -27px;
    }

    .global-navigation__list-item--active &--close {
      background-position-y: 0;
    }

    &--home {
      background-position-x: 0;
    }

    &--accounts {
      background-position-x: -28px;
    }

    &--access {
      background-position-x: -56px;
    }

    &--order {
      background-position-x: -84px;
    }

    &--more {
      background-position-x: -280px;
    }

    &--housing {
      background-position-x: -112px;
    }

    &--rewards {
      background-position-x: -140px;
    }

    &--explore {
      background-position-x: -196px;
    }

    &--conversations {
      background-position-x: -168px;
    }

    &--settings {
      background-position-x: -224px;
    }

    &--notifications {
      background-position-x: -252px;
    }
    &--close {
      background-position-x: -308px;
    }
  }
}
