  <ng-container >
    <div #container *ngFor="let room of roomSelects">
      <ion-item lines="none" class="roomSelect-list__item"  button (click)="goToRoomSelection(room.key)">
        <div class="roomSelect-item-order">
            <div class="roomSelect-list__item-info">
              <div  class="roomSelect-list__item-start-time">{{room.accessTime | date: dateFormat}}</div>
              <div  class="roomSelect-list__item-end-time">{{room.accessEnd | date: dateFormat}}</div>
            </div>
          <h2  class="roomSelect-list__item-name">{{room.name}}</h2>
        </div>
      </ion-item>
    </div>
  </ng-container>
