<st-header
  [title]="addFundsCs.title"
  [isTitleShow]="true"
  backButtonIcon="chevron-back"
  [isBackButtonShow]="true"
  [isToolbarShow]="true"
  class="deposit__header browser-hidden"
></st-header>
<ion-content class="browser-hidden">
  <form novalidate [formGroup]="guestDepositForm">
    <section class="deposit__selection-block">
      <ion-label>{{ replaceRecipientName(this.addFundsCs.noticeText) }}</ion-label>
      <div class="deposit__select-wrapper">
        <st-select-floating-label
          [formControlName]="controlsNames.paymentMethod"
          [control]="paymentMethod"
          [isError]="paymentMethod.errors && paymentMethod.dirty"
          [interfaceOptions]="customActionSheetOptions"
          (change)="onPaymentChanged($event)"
          class="deposit__select"
          interface="action-sheet"
          [label]="addFundsCs.paymentMethod"
          idd="guestPayment"
        >
          <ng-container role="options">
            <ion-select-option *ngIf="applePayEnabled" [value]="applePayAccountType">
              {{ applePayAccountType | accountDisplay }}
            </ion-select-option>
            <ng-container>
              <ion-select-option
                [value]="account"
                *ngFor="let account of creditCardSourceAccounts; trackBy: trackByAccountId"
              >
                {{ account | accountDisplay }}
              </ion-select-option>
            </ng-container>
            <ion-select-option value="newCreditCard">
              Add a Credit Card
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <st-select-floating-label
          [formControlName]="controlsNames.toAccount"
          [isError]="toAccount.errors && toAccount.dirty"
          [control]="toAccount"
          [interfaceOptions]="customActionSheetOptions"
          class="deposit__select deposit__select-account"
          [label]="addFundsCs.toAccount"
          idd="guestAccount"
          interface="action-sheet"
        >
          <ng-container role="options">
            <ion-select-option
              [value]="account"
              *ngFor="let account of creditCardDestinationAccounts; trackBy: trackByAccountId"
            >
              {{ account | destinationAccountDisplay: hideAccountBalance }}
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <st-select-floating-label
          [formControlName]="controlsNames.amountToDeposit"
          [control]="amountToDeposit"
          [interfaceOptions]="customActionSheetOptions"
          [isError]="amountToDeposit.errors && amountToDeposit.dirty"
          class="deposit__select deposit__select-account"
          *ngIf="!(isFreeFormEnabled$ | async); else mainInput"
          [label]="addFundsCs.depositText"
          (change)="onAmountChanged($event)"
          idd="guestAmount"
          interface="action-sheet"
        >
          <ng-container role="options">
            <ion-select-option [value]="amount" *ngFor="let amount of (amountsForSelect$ | async)">
              {{ amount | transactionUnits }}
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <ng-template #mainInput>
          <st-input-amount
            [contentString]="errorCs"
            (onInput)="onAmountChanged($event)"
            (onKeyDown)="formatAmount($event)"
            (onBlur)="onAmountChanged($event)"
            [control]="mainFormInput"
          ></st-input-amount>
        </ng-template>
      </div>
    </section>
  </form>
</ion-content>
<ion-footer class="deposit__footer browser-hidden" mode="ios">
  <st-button
    (onClick)="onSubmitDeposit()"
    tabindex="0"
    [isDisabled]="!guestDepositForm.valid"
    [disabled]="isDepositing"
  >
    <ion-text> {{ depositButtonText }} </ion-text>
  </st-button>
</ion-footer>
