<st-header
  [title]="contentStrings.title"
  [isTitleShow]="true"
  [backButtonIcon]="'ios-arrow-back'"
  [isBackButtonShow]="true"
  [isToolbarShow]="true"
  class="deposit__header"
></st-header>
<ion-content>
  <form novalidate [formGroup]="detailsForm">
    <section class="deposit__selection-block ion-padding">
      <ion-label>{{ recipientName }}</ion-label>
      <div class="deposit__select-wrapper">
        <st-select-floating-label
          [formControlName]="controlsNames.paymentMethod"
          [control]="paymentMethod"
          [isError]="paymentMethod.errors && paymentMethod.dirty"
          [interfaceOptions]="customActionSheetOptions"
          (change)="onPaymentChanged($event)"
          class="deposit__select"
          interface="action-sheet"
          [label]="contentStrings.paymentMethod"
          idd="guestPayment"
        >
          <ng-container role="options">
            <ion-select-option
              *ngIf="(isCreditCardPaymentTypesEnabled && applePayEnabled$ | async)"
              [value]="applePayAccountType"
            >
              {{ applePayAccountType | accountDisplay }}
            </ion-select-option>
            <ng-container *ngIf="isCreditCardPaymentTypesEnabled">
              <ion-select-option
                [value]="account"
                *ngFor="let account of creditCardSourceAccounts; trackBy: trackByAccountId"
              >
                {{ account | accountDisplay }}
              </ion-select-option>
            </ng-container>
            <ion-select-option value="newCreditCard" *ngIf="isCreditCardPaymentTypesEnabled">
              Add a Credit Card
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <st-select-floating-label
          [formControlName]="controlsNames.toAccount"
          [isError]="toAccount.errors && toAccount.dirty"
          [control]="toAccount"
          [interfaceOptions]="customActionSheetOptions"
          class="deposit__select deposit__select-account"
          [label]="contentStrings.toAccount"
          idd="guestAccount"
          interface="action-sheet"
        >
          <ng-container role="options">
            <ion-select-option [value]="account" *ngFor="let account of destinationAccounts; trackBy: trackByAccountId">
              {{ account | destinationAccountDisplay }}
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <st-select-floating-label
          [formControlName]="controlsNames.amountToDeposit"
          [control]="amountToDeposit"
          [interfaceOptions]="customActionSheetOptions"
          [isError]="amountToDeposit.errors && (amountToDeposit.dirty || amountToDeposit.touched)"
          class="deposit__select deposit__select-account"
          *ngIf="!(isFreeFormEnabled$ | async); else mainInput"
          [label]="contentStrings.depositText"
          (change)="onAmountChanged($event)"
          idd="guestAmount"
          interface="action-sheet"
        >
          <ng-container role="options">
            <ion-select-option [value]="amount" *ngFor="let amount of (amountsForSelect$ | async)">
              {{ amount | transactionUnits }}
            </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <ng-template #mainInput>
          <div class="deposit__main-input-container">
            <ion-label>{{ contentStrings.amountToDeposit }}</ion-label>
            <ion-input
              class="deposit__main-input"
              type="tel"
              inputmode="decimal"
              maxlength="10"
              #inputText
              placeholder="0"
              tabindex="0"
              [ngStyle]="{ width: inputText.value ? inputText.value.length + 1 + 'ch' : '2ch' }"
              [ngClass]="{
                'deposit__main-input--focus': focusLine,
                shakeit: isMaxCharLength,
                'deposit__main-input-container--decrease-font': inputText.value && inputText.value.length >= 7
              }"
              (ionFocus)="focusLine = true"
              (ionBlur)="focusLine = false; onAmountChanged($event)"
              (ionInput)="onAmountChanged($event)"
              (keydown)="formatInput($event)"
              formControlName="mainInput"
            ></ion-input>
            <div *ngIf="mainFormInput.errors && mainFormInput.errors['maxLength']" class="deposit__main-input--error">
              The maximum amount for a deposit is {{ mainFormInput.errors['maxLength'].max | transactionUnits }}
            </div>
            <div *ngIf="mainFormInput.errors && mainFormInput.errors['minLength']" class="deposit__main-input--error">
              The minimum amount for a deposit is {{ mainFormInput.errors['minLength'].min | transactionUnits }}
            </div>
            <div
              *ngIf="
                mainFormInput.errors &&
                mainFormInput.errors['pattern'] &&
                (mainFormInput.dirty || mainFormInput.touched)
              "
              class="deposit__main-input--error"
            >
              Please enter a valid amount.
            </div>
          </div>
        </ng-template>
      </div>
    </section>
  </form>
</ion-content>
<ion-footer class="deposit__footer" mode="ios">
  <st-button (onClick)="onFormSubmit()" tabindex="0" [isDisabled]="!detailsForm.valid" [disabled]="isDepositing">
    <ion-text> {{ depositButtonText }} </ion-text>
  </st-button>
</ion-footer>
