<table class="tile">
  <tr>
    <ion-item
      lines="none"
      [button]="true"
      [detail]="true"
      class="topbar"
      detailIcon="/assets/icon/angle-right.svg"
      (click)="handleTopBarClick()"
    >
      <div slot="start" class="image-wrapper">
        <ion-icon class="image" name="{{ wrapperConfig.iconName }}"> </ion-icon>
      </div>

      <ion-label class="label">
        {{ wrapperConfig.title }}
      </ion-label>
    </ion-item>
  </tr>
  <tr>
    <ng-content></ng-content>
  </tr>
  <tr *ngIf="wrapperConfig.buttonConfig.show">
    <ion-item lines="none" [button]="true" [detail]="false" class="tile__button" (click)="handleBottomButtonClick()">
      <ion-label class="tile__button__label">
        {{ wrapperConfig.buttonConfig.title }}
      </ion-label>
    </ion-item>
  </tr>
</table>
