<div class="tile">
  <ion-item
    lines="none"
    [button]="true"
    [detail]="true"
    class="topbar"
    detailIcon="/assets/icon/angle-right.svg"
    (click)="handleTopBarClick()"
  >
    <div slot="start" class="image-wrapper">
      <img class="image" src="{{ wrapperConfig.iconPath }}" />
    </div>

    <ion-label class="label">
      {{ wrapperConfig.title }}
    </ion-label>
  </ion-item>
  <div><ng-content></ng-content></div>
  <ng-container *ngIf="wrapperConfig.buttonConfig.show">
    <ion-item lines="none" [button]="true" [detail]="false" class="tile__button" (click)="handleBottomButtonClick()">
      <ion-label class="tile__button__label">
        {{ wrapperConfig.buttonConfig.title }}
      </ion-label>
    </ion-item>
  </ng-container>
</div>
