@import 'tools';

.pin-header {
  &.header-md:after {
    background-image: none;
  }

  &__nav-toolbar {
    --min-height: 27px;
    --padding-bottom: 0;
    --padding-top: 0;
    --background: #f3f3f3;

    @include bp-grid-desktop {
      display: none;
    }
  }

  &__back-btn {
    --icon-font-size: 18px;
    --margin-start: 10px;
    --icon-padding-end: 5px;

    @include font-nunito-regular(16px);
  }

  ion-back-button {
    display: block;
    --icon-font-size: 25px;
  }

  position: relative;
}

.pin {
  &__header {
    background-color: $color-white-smoke;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-wrapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin: 8% auto 15%;
  }

  &__buttons {
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
  }

  &__button {
    @include font-nunito-heavy(24px);
    --ion-color-primary: transparent;
    --box-shadow: none;
    --background-activated: #f3f3f3;
    --border-radius: 50%;

    margin: 0;
    color: rgba(0, 0, 0, 0.87);
  }

  &__info {
    @include font-nunito-heavy(16px);
    text-align: center;
    max-width: 320px;
    min-height: 45px;
  }

  &__error-info {
    color: #c42c3c;
  }

  &__error-info-img {
    vertical-align: sub;
    margin-right: 10px;
  }

  &__indicator-wrapper {
    display: flex;
    margin: 13% auto 21%;
  }

  &__indicator {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 15px;
    &:last-child {
      margin: 0;
    }

    &--filled {
      background-color: rgba(0, 0, 0, 0.87);
    }
  }
}
