<!--HIDING THE HEADER UNTIL WE IMPLEMENT THE CHANGE PIN SETTINGS PAGE LOGIC-->

<ion-header mode="md" class="pin-header" no-border>
  <ion-toolbar mode="md" class="ion-color" class="pin-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button
        mode="md"
        class="edit-home__header-done-btn"
        color="dark"
        (click)="dismissModal()"
        *ngIf="showDismiss && !showReset"
      >
        <ion-icon icon="close"></ion-icon>
      </ion-button>
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="back()" *ngIf="showReset">
        <img src="/assets/icon/chevron-left.svg" alt="left arrow"/>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="pin">
    <div class="pin__header">
      <div class="pin__image-wrapper">
        <img src="/assets/icon/pin.svg" alt="pin" />
      </div>
      <ion-label *ngIf="instructionText" class="pin__info">{{instructionText}}</ion-label>
      <ion-label [ngStyle]="{'visibility': errorText ? 'visible' : 'hidden'}">
        <div class="pin__error-info">
          <img
            src="/assets/icon/exclamation-mark.svg"
            alt="exclamation-mark"
            class="pin__error-info-img"
          />{{errorText}}
        </div>
      </ion-label>

      <div class="pin__indicator-wrapper">
        <div class="pin__indicator" [ngClass]="{'pin__indicator--filled': !!pinNumber[0] || pinNumber[0] === 0}"></div>
        <div class="pin__indicator" [ngClass]="{'pin__indicator--filled': !!pinNumber[1] || pinNumber[1] === 0}"></div>
        <div class="pin__indicator" [ngClass]="{'pin__indicator--filled': !!pinNumber[2] || pinNumber[2] === 0}"></div>
        <div class="pin__indicator" [ngClass]="{'pin__indicator--filled': !!pinNumber[3] || pinNumber[3] === 0}"></div>
      </div>
    </div>

    <div class="pin__number-block">
      <div class="pin__number" *ngFor="let i of setNumbers">
        <ion-button class="pin__button" expand="full" fill="clear" (click)="append(i)" [disabled]="disableInput">
          {{ i }}</ion-button
        >
      </div>
      <ion-button
        class="pin__button pin__button--left-bottom"
        fill="clear"
        expand="full"
        (click)="delete()"
        [disabled]="disableDelete"
      >
        <img src="/assets/icon/backspace.svg" alt="backspace" />
      </ion-button>
    </div>
  </div>
</ion-content>
