<div class="history__content">
  <ion-list class="history__list list-container">
    <ion-item class="list-container__item">
      <st-list-item></st-list-item>
    </ion-item>
    <ion-item class="list-container__item">
      <st-list-item></st-list-item>
    </ion-item>
    <ion-item class="list-container__item">
      <st-list-item></st-list-item>
    </ion-item>
    <ion-item class="list-container__item">
      <st-list-item></st-list-item>
    </ion-item>
    <ion-item class="list-container__item">
      <st-list-item></st-list-item>
    </ion-item>
  </ion-list>
</div>
