@import 'tools';

:host {
  .history {
    &__content {
      @include bp-grid-tablet {
        margin: 0 20%;
      }

      @include bp-grid-desktop {
        margin: 0 25%;
      }
    }

    &__list {
      .list-container {
        &__item {
          --padding-start: 0 !important;
          --border-color: #f3f3f3 !important;

          &-content {
            margin: 10px 0 10px 15px;
          }
        }
      }
    }
  }
}
