:host {
  .history__list {
    .list-container {
      &__item {
        --padding-start: 0 !important;
        --border-color: #f3f3f3 !important;

        &-content {
          margin: 10px 0 10px 15px;
        }
      }
    }
  }
}
