@import 'tools';

.transaction {
  margin: 0 15px;
  overflow: hidden;

  &__list {
    width: 100%;
    margin: 0px;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $color-white-smoke;
    --padding-start: 1px;
    --inner-padding-end: 1px;
  }

  &__label-container {
    margin-top: 12px;
    width: 100%;
    text-align: left;
  }

  &__label {
    @include font-nunito-semibold(16px);
  }

  &__date {
    margin: 5px 0 13px;
    @include font-nunito-regular(10px);
  }

  &__type-container {
    margin-top: 12px;
    width: 100%;
    text-align: right;
  }

  &__type-entity {
    @include font-nunito-semibold(16px);
  }

  &__type-label {
    margin: 5px 0 13px;
    @include font-nunito-regular(10px);
  }
}
