@import 'tools';

:host {
  .st-popover {
    &__header {
      &.header-md {
        &:after {
          background-image: none;
        }

        .st-popover__toolbar-icon {
          font-size: 20px;
        }
      }
    }

    &__toolbar {
      --background: #f7f7f7 !important;
    }

    &__title {
      @include font-nunito-semibold(20px);
    }

    &__content {
      --padding-bottom: 15px;
      --padding-top: 15px;
      --padding-start: 25px;
      --padding-end: 25px;
      height: auto;

      @include font-nunito-regular(16px);
    }

    &__footer {
      display: flex;
      padding: 0 15px 10px;
    }

    &__footer-btn {
      width: 50%;
      flex-grow: 1;

      @include font-nunito-heavy(16px);

      &--clear {
        --color: #000;
      }

      &--clear-with-shadow {
        --color: #000;
        border-radius: 24px 24px 24px 24px;
        box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.15);
      }

      &--filled {
        --background: linear-gradient(-135deg, #166dff 0%, #0043b3 100%);
        --color-activated: #0043b3 !important;
        --border-radius: 40px 40px 40px 40px;
        --color: #fff;
      }
    }

    &__footer-content {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}
