<ion-header class="st-popover__header" no-border *ngIf="popoverConfig.title">
  <ion-toolbar mode="md" class="st-popover__toolbar">
    <ion-title class="st-popover__title">{{ popoverConfig.title }}</ion-title>
    <ion-buttons slot="end" *ngIf="popoverConfig.closeBtn">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" class="st-popover__toolbar-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="st-popover__content no-scroll" [style.textAlign]="popoverConfig.code ? 'center' : 'left'">
    <ng-content></ng-content>
</ion-content>
<ion-footer no-border class="st-popover__footer">
    <ion-button
            *ngFor="let button of popoverConfig.buttons"
            fill="{{ button.fill }}"
            shape="{{ button.shape }}"
            strong="{{ button.strong }}"
            class="st-popover__footer-btn st-popover__footer-btn--{{ button.class }}"
            (click)="closeModal(button.label, button.type)"
    >
        <span class="st-popover__footer-content">{{ button.label }}</span>
    </ion-button>
</ion-footer>
