@import 'tools';

:host {
  .st-popover {
    &__header {
      &.header-md {
        &:after {
          background-image: none;
        }

        .st-popover__toolbar-icon {
          font-size: 20px;
        }
      }
    }

    &__toolbar {
      --background: #f7f7f7 !important;
      border-radius: 15px 15px 0 0;
      padding-top: 0px;
    }

    &__title {
      @include font-nunito-semibold(20px);
    }

    &__content {
      --padding-bottom: 15px;
      --padding-top: 15px;
      --padding-start: 25px;
      --padding-end: 25px;
      height: auto;

      @include font-nunito-regular(16px);
    }

    &__footer {
      display: flex;
      padding: 0 15px 10px;
    }

    &__footer-btn {
      width: 50%;
      flex-grow: 1;

      @include font-nunito-heavy(16px);

      &--clear {
        --color: #000;
      }

      &--clear-with-shadow {
        --color: #000;
        background: #F1F1F1;
        border-radius: 8px;
        box-shadow: 0 4px 32px 0 rgba(241, 241, 241, 0.15);
      }

      &--small-with-shadow {
        --color: #000;

        width: 20%;
        border-radius: 8px;
        box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.15);
      }

      &--filled {
        --background: #{$color-dodger-blue};
        --color-activated: #0043b3 !important;
        --background-hover: #0043b3 !important;
        --border-radius: 10px;
        --color: #fff;
      }

      &--filled-red {
        --background: #e22942;
        --color-activated: #e22942 !important;
        --background-hover: #e22942 !important;
        --border-radius: 10px;
        --color: #fff;
      }
    }

    &__footer-content {
      white-space: pre-wrap;
      word-break: break-all;
      text-transform: uppercase;
    }
  }
}
