<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerDirection="root"></ion-back-button>
    </ion-buttons>
    <ion-title>Rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <header class="unit__header">
      <ion-card-header class="unit__title">{{unit.title}}</ion-card-header>
      <ion-card-subtitle class="unit__type">2 bedroom</ion-card-subtitle>
    </header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <div class="d-flex scroll-horizontal-hidden__inner">
            <st-label class="unit__labels-item" *ngFor="let label of unit.labels">{{ label }}</st-label>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="information__header">UNIT INFORMATION</ion-card-header>
    <ion-card-content>
      <div class="information__container">
          <ion-item lines="none" *ngFor="let attribute of unit.attributes">
            <ion-label class="information__label"  position="floating">
              {{attribute.name | uppercase }}
            </ion-label>
            <ion-text class="information__value">
              {{ attribute.value }}
            </ion-text>
          </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="unit__select">
    <ion-button expand="block" color="primary">
      SELECT UNIT
    </ion-button>
  </div>
</ion-content>
