<ng-container *ngIf="!menuItemImg; then header"></ng-container>

<ng-template #header>
  <st-header backButtonIcon="close"
             [backButtonTitle]="''"
             [isTitleShow]="true"
             [isToolbarShow]="true"
             [title]="menuItem?.name"></st-header>
</ng-template>

<ng-template #staticHeader>
  <ion-header class="order-detail__static-header">
    <ion-img [src]="menuItemImg" alt="{{ menuItem?.name }}" class="order-detail__appetizer-photo"></ion-img>
    <ion-button shape="round" (click)="onClose()" class="order-detail__close-button" color="light">
      <ion-icon class="order-detail__header-icon" name="close" size="large" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-header>
</ng-template>

<ion-content class="order-detail">
<ng-container *ngIf="menuItemImg; then staticHeader"></ng-container>

  <div class="order-detail__descriptions">
    <div class="order-detail__descriptions-title">{{ menuItem?.name }}</div>
    <p class="order-detail__descriptions-content">{{ menuItem?.description }}</p>
    <span class="order-detail__descriptions-price">{{
      menuItem?.price | priceUnitsResolver: (menuInfo$ | async)?.mealBased
      }}</span>
  </div>
  <form *ngIf="itemOrderForm"
        [formGroup]="itemOrderForm"
        novalidate>
    <ng-container *ngFor="let menuGroupItem of menuItem?.menuItemOptions">
      <ng-container *ngIf="
          menuGroupItem.menuGroup?.maximum === 1 && menuGroupItem.menuGroup?.minimum === 1;
          then singleList;
          else multiList
        ">
      </ng-container>

      <ng-template #singleList>
        <st-single-list [control]="itemOrderForm.get(menuGroupItem.menuGroup.name)"
                        [formControlName]="menuGroupItem.menuGroup.name"
                        [isError]="itemOrderForm.get(menuGroupItem.menuGroup.name)?.value ? false : errorState"
                        [mealBased]="(menuInfo$ | async).mealBased"
                        [name]="menuGroupItem.menuGroup.name"
                        [options]="menuGroupItem.menuGroup.menuGroupItems">
        </st-single-list>
      </ng-template>

      <ng-template #multiList>
        <st-multi-list [control]="itemOrderForm.get(menuGroupItem.menuGroup.name)"
                       [formControlName]="menuGroupItem.menuGroup.name"
                       [isError]="isErrorMultiList(menuGroupItem) ? false: errorState"
                       [maximum]="menuGroupItem.menuGroup.maximum"
                       [mealBased]="(menuInfo$ | async).mealBased"
                       [minimum]="menuGroupItem.menuGroup.minimum"
                       [name]="menuGroupItem.menuGroup.name"
                       [options]="menuGroupItem.menuGroup.menuGroupItems"
                       [isExistingItemInCart]="routesData?.queryParams.isItemExistsInCart"></st-multi-list>
      </ng-template>
    </ng-container>

    <ion-list class="order-detail__special-instructions" *ngIf="allowNotes">
      <ion-item-divider class="order-detail__divider"
                        mode="ios">
        <div class="order-detail__divider-title">Notes</div>
      </ion-item-divider>
      <st-textarea-floating-label [control]="itemOrderForm.get('message')"
                                  [isError]="itemOrderForm.get('message').invalid && itemOrderForm.get('message').touched"
                                  class="order-detail__order-message"
                                  formControlName="message"
                                  idd="message"
                                  [maxLength]="128"
                                  [label]="contentStrings.labelItemNote | async"
                                  rows="3">
      </st-textarea-floating-label>
    </ion-list>
    <ion-list *ngIf="menuItem?.calories || menuItem?.protein || menuItem?.carbs"
              class="order-detail__nutrition-info"
              mode="ios">
      <ion-item-divider class="order-detail__divider"
                        mode="ios">
        <div class="order-detail__divider-title">Nutrition Info</div>
      </ion-item-divider>
      <div class="order-detail__nutrition-info-container">
        <div *ngIf="menuItem?.calories"
             class="order-detail__nutrition-info-wrapper">
          <div class="order-detail__nutrition-info-title">{{ menuItem?.calories }}</div>
          <div class="order-detail__nutrition-info-subtitle">Calories</div>
        </div>
        <div *ngIf="menuItem?.protein"
             class="order-detail__nutrition-info-wrapper">
          <div class="order-detail__nutrition-info-title">{{ menuItem?.protein }}g</div>
          <div class="order-detail__nutrition-info-subtitle">Protein</div>
        </div>
        <div *ngIf="menuItem?.carbs"
             class="order-detail__nutrition-info-wrapper">
          <div class="order-detail__nutrition-info-title">{{ menuItem?.carbs }}</div>
          <div class="order-detail__nutrition-info-subtitle">Carbs</div>
        </div>
      </div>
    </ion-list>
  </form>
</ion-content>
<ion-footer class="item-footer" mode="ios">
  <div class="item-footer__counter-btns-container">
    <ion-button (click)="removeItems()" [disabled]="order.counter === 1" class="item-footer__counter-btn">
      <ion-icon name="remove" aria-label="Decrease Quantity"></ion-icon>
    </ion-button>
    <div>{{ order.counter }}</div>
    <ion-button (click)="addItems()" class="item-footer__counter-btn">
      <ion-icon name="add" aria-label="Increase Quantity"></ion-icon>
    </ion-button>
  </div>
  <div class="item-footer__add-btn-wrapper">
    <st-button (onClick)="onFormSubmit()" [isDisabled]="!itemOrderForm?.valid">
      {{ (routesData?.queryParams.isItemExistsInCart ? 'patron-ui.ordering.label_update' : 'patron-ui.ordering.button_add') | translate }} 
      {{ order.totalPrice | priceUnitsResolver: (menuInfo$ | async).mealBased }}
    </st-button>
  </div>
</ion-footer>
