@import 'tools';

.order-detail {
  --padding-bottom: 130px;

  &__static-header {
    display: block;
    height: 200px;
    background-color: $color-white;
  }

  &__appetizer-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: $notch-top;
  }

  &__close-button {
    --padding-start: 8px;
    --padding-end: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    background: $color-white;
    opacity: 0.75;
    border-radius: 50%;
  }

  &__descriptions {
    background: $color-white;
    padding: 17px 17px 11px;

    @include font-nunito-regular(16px);
  }

  &__descriptions-title {
    @include font-nunito-heavy(20px);
  }

  &__descriptions-content {
    color: $color-matterhorn;
    margin: 5px auto;

    @include font-nunito-regular(16px);
  }

  &__descriptions-price {
    height: 18px;

    @include font-nunito-regular(14px);
  }

  &__divider-title {
    color: $color-black;

    @include font-nunito-heavy(16px);
  }

  &__special-instructions {
    display: block;
    margin: 0;
  }

  &__order-message {
    display: block;
    margin: 30px;
  }

  &__nutrition-info {
    width: 100%;
    height: 100px;
    margin: 0;
  }

  &__nutrition-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    height: 80px;
  }

  &__nutrition-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;

    &:nth-child(2) {
      border-left: 1px solid $color-whisper;
      border-right: 1px solid $color-whisper;
    }
  }

  &__nutrition-info-title {
    color: $color-black;
    height: 16px;
    line-height: 16px;

    @include font-nunito-heavy(16px);
  }

  &__nutrition-info-subtitle {
    color: $color-matterhorn;
    height: 12px;
    line-height: 12px;

    @include font-nunito-regular(12px);
  }

  &__control-error-msg {
    color: $color-alizarin;
    min-height: 16px;

    @include font-nunito-heavy(12px);
  }
  
  &__calories {
    @include font-nunito-regular(14px);
    color: $color-matterhorn;
    margin-left: 12px;
  }
}

.item-footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 130px;
  background: linear-gradient(to bottom, #ffffff00, $color-white, $color-white);

  &__counter-btns-container {
    display: inline-flex;
    height: 48px;
    min-width: 134px;
    background: $color-white;
    border-radius: 8px;
    box-shadow: 0px 0px 24px 0px #0000000a, 0px 12px 44px 0px #0000001f;
    justify-content: space-between;
    align-items: center;
  }

  &__add-btn-wrapper {
    min-width: 184px;
  }

  &__counter-btn {
    --border-radius: 50%;
    --background: #fff;
    --color: #3c3c3c;
    --box-shadow: none;
    --background-activated: #fff;
    --color-activated: #fff;

    height: 48px;
    width: 48px;
  }
}
