<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Housing Dashboard
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-item lines="none" class="ion-text-center">
      <ion-select interface="popover" id="centralDropDown">
        <ion-select-option selected>2019 - 2020</ion-select-option>
        <ion-select-option>2018 - 2019</ion-select-option>
        <ion-select-option>2017 - 2018</ion-select-option>
        <ion-select-option>2016 - 2017</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <st-applications></st-applications>

  <st-contracts></st-contracts>

  <st-work-orders></st-work-orders>
</ion-content>
