<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Housing Dashboard
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-item lines="none" class="ion-text-center">
      <ion-select interface="popover" id="centralDropDown">
        <ion-select-option selected>2019 - 2020</ion-select-option>
        <ion-select-option>2018 - 2019</ion-select-option>
        <ion-select-option>2017 - 2018</ion-select-option>
        <ion-select-option>2016 - 2017</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Patron Id</ion-label>
      <ion-input type="text" name="patronId" [(ngModel)]="patronId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Term Id</ion-label>
      <ion-input type="text" name="termId" [(ngModel)]="termId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="GetData()">Load Data</ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <h4>Applications</h4>
      <ion-button
        class="button-clear"
        style="margin: 0px; margin-top: 5px; padding: 0px; font-size: 13px; font-weight: normal"
      >
        <ion-label class="ion-text-capitalize">View All</ion-label>
        <ion-icon class="float-right" slot="end" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngFor="let app of applicationList" style="padding: 0px; margin: 0px">
      <ion-item
        [routerLink]="['/applicationview', app.applicationDefinitionId]"
        routerDirection="forward"
        detail="true"
      >
        <ion-icon slot="start" name="create" *ngIf="!app.isApplicationSubmitted"></ion-icon>
        <ion-icon slot="start" name="checkmark" *ngIf="app.isApplicationAccepted"></ion-icon>
        <ion-label>
          <h2>{{ app.applicationTitle }}</h2>
          <p>{{ GetApplicationStatus(app) }}</p>
          <p *ngIf="GetApplicationStatus(app) == 'Pending'">
            Last Update: {{ GetApplicationModificationDate(app) | date: 'fullDate' }}
          </p>
          <p *ngIf="GetApplicationStatus(app) != 'New' && GetApplicationStatus(app) != 'Pending'">
            {{ GetApplicationModificationDate(app) | date: 'fullDate' }}
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <st-contracts></st-contracts>

  <ion-list>
    <ion-list-header>
      <h4>Work Orders</h4>
      <ion-button
        class="button-clear"
        style="margin: 0px; margin-top: 5px; padding: 0px; font-size: 13px; font-weight: normal"
      >
        <ion-label class="ion-text-capitalize">View All</ion-label>
        <ion-icon class="float-right" slot="end" name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item routerLink="/work-orders/1" routerDirection="forward" detail>
      <ion-label>Work Order 1</ion-label>
      <ion-icon slot="start" name="construct"></ion-icon>
    </ion-item>
    <ion-item routerLink="/work-orders/2" routerDirection="forward" detail>
      <ion-label>Work Order 2</ion-label>
      <ion-icon slot="start" name="checkmark"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
