<ion-content class="ion-padding form-payment__content" #content>
  <div class="form-payment__actions">
    <ion-button class="btn form-payment__page-back" routerDirection="back" fill="clear"></ion-button>
    <ion-button class="btn form-payment__save" fill="clear"></ion-button>
  </div>
  <ion-label class="form-payment__title">{{ formTitle }}</ion-label>
  <ion-card no-padding class="form-payment__card">
    <ion-card-content>
      As part of the submission process, a one-time payment is required.
    </ion-card-content>
    <ion-card-title>Amount you'll pay </ion-card-title>
    <st-input-amount [control]="control"></st-input-amount>
    <st-credit-card-list
      [contentStrings]="contentStrings"
      [userAccounts]="userAccounts"
      [addItem]="true"
      (onClick)="confirmPayment($event)"
      (onAdd)="addCreditCard()"
    ></st-credit-card-list>
    <ion-label class="form-payment__back" (click)="onBack()">Back</ion-label>
  </ion-card>
</ion-content>
