<ion-header no-border>
  <ion-toolbar mode="ios">
    <div class="title-home">HOME</div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <div class="card" [ngStyle]="{ 'background-color': institutionColor$ | async }">
      <ion-grid class="ion-no-padding">
        <ion-row
          class="card__header"
          *ngIf="{ photo: institutionPhoto$ | async, name: institutionName$ | async } as instutionValues"
        >
          @if(instutionValues.photo){
          <ion-col class="card__header-logo-wrapper" size="12">
            <img
              *ngIf="instutionValues.photo"
              class="card__header-logo"
              [src]="instutionValues.photo"
              [alt]="instutionValues.name + ' institution logo'"
            />
          </ion-col>
          }@else {
          <ion-col class="card__header-title-wrapper" [size]="12">
            <div *ngIf="instutionValues.name" class="card__header-title">{{ instutionValues.name }}</div>
          </ion-col>
          }
        </ion-row>
        <ion-row class="card__campus-container">
          <ion-col class="card__campus-wrapper">
            <ng-container *ngIf="institutionBackgroundImage$ | async; then campusBackground; else defaultBackground">
            </ng-container>
            <ng-template #defaultBackground>
              <img
                class="card__campus-background"
                src="/assets/images/card_background_illustration.svg"
                alt="background photo"
              />
            </ng-template>
            <ng-template #campusBackground>
              <img class="card__campus-background" [src]="institutionBackgroundImage$ | async" alt="campus photo" />
            </ng-template>
          </ion-col>
        </ion-row>
        <ion-row class="card__user-container">
          <ion-col class="card__user-name-wrapper">
            <div *ngIf="userName$ | async" class="card__user-name">{{ userName$ | async }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    @if(sections$ | async; as sections){
    <div class="body">
      @if(sections.length){
      <div class="body__card">
        @for (section of sections; track $index) {
        <div class="item">
          <st-button fill="clear" color="#000000" buttonModifier="rectangular" (click)="onclick(section)">
            <span class="icon">
              <img [src]="section.imageUrl" alt="" />
            </span>
            <span class="ion-text-capitalize section-text">
              {{ section.title | translate }}
            </span>
          </st-button>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
</ion-content>
