@import 'tools';

:host {
  border-top: 1px solid $color-light-gray;
  display: block;
  padding: 16px 16px 30px;
}

.search-filter-section__title {
  @include font-nunito-heavy(20px);
  @include chevron-up-active(0);

  color: $color-god-gray;
  margin-top: 0;
  margin-bottom: 10px;

  &.toggled {
    @include chevron-down-active(0);
  }
}

.search-filter-section__subtitle {
  @include font-nunito-regular(20px);

  color: $color-dim-gray;
}
