<st-header
  title="Transactions"
  [isTitleShow]="true"
  backButtonTitle="Accounts"
  [isToolbarShow]="true"
  class="account-details__header"
></st-header>

<st-filter></st-filter>
<div class="account-details__header-wrapper">
  <h1 class="account-details__header-title">Transactions</h1>
  <figure class="filter__icon">
    <img src="assets/icon/deposit.svg" alt="filter icon">
    <figcaption class="filter__icon-message">Filter</figcaption>
  </figure>
</div>
<ion-content class="account-details__content">
  <st-transactions [transactions]="transactions$ | async"></st-transactions>
</ion-content>
