@import 'tools';

.account-details {
  &__header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    @include bp-grid-tablet {
      display: none;
    }
  }

  &__header-title {
    padding: 0 30px;
  }

  &__content {
    --padding-end: 30px !important;
    --padding-start: 30px !important;
  }
}
