@import 'tools';

.notch-header {
  height: $notch-top;
  --background: $color-white;
}

.container,
ion-footer {
  @include font-nunito-regular(16px);
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
  --padding-bottom: env(safe-area-inset-bottom) !important;
}

ion-radio,
ion-checkbox {
  font-weight: 600;
}

.section {
  background: white;
  background-color: white;
}

.recipient-row {
  border-bottom: 1px solid $color-white-smoke;
}
.new-recipient-form {
  &__save-check {
    margin-right: 5px;
  }
}

.text-style-inherit {
  text-overflow: inherit;
  white-space: inherit;
}
