<st-header
  [title]="contentString.title"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  backButtonIcon="close"
  backButtonTitle=""
  class="shadow-header browser-hidden"
></st-header>
<ion-content class="container ion-padding-top browser-hidden">
  <div class="section ion-padding-top ion-padding-horizontal">
    <label for="subtitle" class="ion-margin section__title">{{ contentString.subTitle }}</label>
    <ion-radio-group mode="md" [(ngModel)]="selectedRecipient">
      <ion-row class="recipient-row" *ngFor="let recipient of recipients">
        <ion-col size="9">
          <ion-item lines="none">
            <ion-radio justify="start" mode="md" labelPlacement="end" [value]="recipient">{{
              recipient.nickname
            }}</ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button mode="ios" fill="clear" (click)="presentRemoveConfirm(recipient)" class="ion-text-wrap">{{
            contentString.removeText
          }}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="recipients.length <= 10" class="recipient-row ion-padding-bottom">
        <ion-col>
          <ion-item lines="none">
            <ion-radio justify="start" mode="md" labelPlacement="end" [value]="someoneElseRecipient">{{
              recipients.length ? someoneElseRecipient.nickname : contentString.addNewRecipientText
            }}</ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ng-container *ngIf="selectedRecipient === someoneElseRecipient">
      <form class="new-recipient-form" [formGroup]="newRecepientForm">
        <ng-container [formArrayName]="newRecipientFormName">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col
                size="12"
                class="ion-margin-top"
                *ngFor="let recipientFormCtrl of newRecipientFields.controls; let i = index; let isLast = last"
              >
                <st-input-floating-label
                  #newRecipientField
                  class="form__control"
                  [label]="newRecepientFormRef[i].fieldName"
                  [formControl]="newRecipientFields.controls[i]"
                  [control]="newRecipientFields.controls[i]"
                  [isError]="
                    newRecipientFields.controls[i].errors &&
                    (newRecipientFields.controls[i].dirty || newRecipientFields.controls[i].touched)
                  "
                  [stFocusNext]="isLast ? null : getNextField(i + 1)"
                >
                </st-input-floating-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </form>
      <ion-grid class="ion-padding-top">
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item tabindex="0" class="ion-no-padding" lines="none">
                <ion-checkbox
                  class="ion-no-margin new-recipient-form__save-check"
                  justify="start"
                  mode="md"
                  labelPlacement="end"
                  [(ngModel)]="saveNewRecipient"
                >
                  {{ contentString.shouldSaveForFuture }}</ion-checkbox
                >
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content>
<ion-footer class="ion-padding footer browser-hidden" no-border>
  <st-button
    [disabled]="
      !selectedRecipient || (selectedRecipient === someoneElseRecipient && !newRecipientFields?.valid) || isLoading
    "
    buttonModifier="rectangle"
    (onClick)="continue()"
    tabindex="0"
  >
    {{ contentString.submitText }}
  </st-button>
</ion-footer>
