@import 'tools';

.notch-header {
  height: $notch-top;
  --background: $color-white;
}

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
  --padding-bottom: env(safe-area-inset-bottom) !important;
}

.section {
  background: white;
  background-color: white;
  &__title {
    font-size: 14px;
  }
}

.recipient-row {
  border-bottom: 1px solid $color-white-smoke;
}
