<st-header title="Recent Orders"
           [isTitleShow]="true"
           [backButtonTitle]="''"
           [backButtonIcon]="'close'"
           [isToolbarShow]="true"></st-header>

<ion-content class="ion-padding">
 <ng-container [ngTemplateOutlet]="completed"></ng-container>
 <ng-container [ngTemplateOutlet]="pending"></ng-container>
</ion-content>


<ng-template #pending>
 <h2 class="recent-orders__header-title">Pending Orders</h2>
 <st-recent-orders-list></st-recent-orders-list>
</ng-template>

<ng-template #completed>
 <h2 class="recent-orders__header-title">Completed Orders</h2>
 <st-recent-orders-list></st-recent-orders-list>
</ng-template>
