<st-header-search-bar
  [title]="'patron-ui.ordering.label_order' | translate"
  searchPlaceHolder="Search for restaurants"
  (onSearch)="onSearchedValue($event)"
></st-header-search-bar>

<ion-content main class="ordering-content-wrapper">
  <st-menu-ordering class="ordering-page__menu"></st-menu-ordering>

  <st-merchant-list
    [merchantList]="merchantList$ | async | search: searchString"
    (addToFav)="favouriteHandler($event)"
    (merchantClick)="merchantClickHandler($event)"
  ></st-merchant-list>
</ion-content>
