@import 'tools';

.ionic_content {
  --background: white;
}

.application-payment__content {
  --background: #{$porcelain};
  --padding-top: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.application-payment__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.application-payment__title {
  @include font-family($font-nunito-heavy);

  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.application-payment__page-back {
  @include font-family($font-nunito-regular);
}

.application-payment__save {
  @include font-family($font-nunito-heavy);
  --color: #{$color-dodger-blue};
}

.application-payment__card {
  --background: #f1f1f1;
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.04), 0 2px 14px 0 rgba($color-black, 0.12);
  padding: 16px;
}

.application-payment__back {
  @include font-family($font-nunito-heavy);
  color: #{$color-dodger-blue};
  min-width: 80px;
}

.application-payment__next,
.application-payment__submit {
  @include font-family($font-nunito-heavy);

  --border-radius: 8px;
  width: 150px;
  font-size: 14px;
  text-transform: uppercase;
}

.application-payment__next {
  --background-activated: #{$color-dodger-blue};
  --border-color: #{$color-dodger-blue};
  --border-width: 2px;
  --color: #{$color-dodger-blue};
}

.application-payment__submit {
  --background: #{$color-dodger-blue};
}

ion-card-content {
  @include font-nunito-regular(16px);
  margin-top: 78px;
  margin-right: 25px;
  margin-left: 25px;
  color: black;
}

ion-card-subtitle {
  @include font-nunito-heavy(18px);
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

st-input-amount {
  display: block;
  margin-bottom: 100px;
  color: black;
}

ion-label {
  @include font-nunito-regular(18px);
  display: flex;
  margin-top: 100px;
  margin-bottom:25px;
  margin-left: 30px;
  color: black;
}
