<ion-content
  class="ion-padding application-details__content"
  #content
>
  <div class="application-details__actions">
    <ion-button
      class="btn application-details__page-back"
      routerDirection="back"
      mode="ios"
      fill="clear"
    >
      Cancel
    </ion-button>
    <ion-button class="btn application-details__save" mode="ios" fill="clear" (click)="save(applicationDetails)">
      Save
    </ion-button>
  </div>

  <h2 class="application-details__title">Title</h2>

  <div class="application-details__card">
    <st-stepper class="stepper--white">
      <st-step
        [stepControl]="page.form"
      >
        <form>
          <ng-container>
            <st-question
              [parentGroup]="page.form"
              [question]="question"
              [name]="$any(question).name"
              [class.question--first]="isFirstQuestion"
              [isSubmitted]="isSubmitted"
            ></st-question>
          </ng-container>

          <st-stepper-footer>
            <ion-button
              class="btn application-details__back"
              type="button"
              fill="clear"
              mode="ios"
              stepperBack
              >Back</ion-button
            >

            <ion-button
              class="btn application-details__next"
              [class.stepper-footer__button--right]="isFirstPage"
              mode="ios"
              fill="outline"
              type="submit"
            >
              Next
            </ion-button>

            <ion-button
              class="btn application-details__submit"
              mode="ios"
              type="submit"
              [class.stepper-footer__button--right]="isFirstPage"
            >
            </ion-button>
          </st-stepper-footer>
        </form>
      </st-step>
    </st-stepper>
  </div>
</ion-content>
