@import 'tools';

.application-details__content {
  --background: #{$porcelain};
  --padding-top: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.application-details__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.application-details__title {
  @include font-family($font-nunito-heavy);

  font-size: 20px;
  color: $color-night-rider;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.application-details__page-back {
  @include font-family($font-nunito-regular);

  --color: #{rgba($color-black, 0.9)};
}

.application-details__save {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};
}

.application-details__card {
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.04), 0 2px 14px 0 rgba($color-black, 0.12);
  padding: 16px;
}

.application-details__back {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};

  min-width: 80px;
}

.application-details__next,
.application-details__submit {
  @include font-family($font-nunito-heavy);

  --border-radius: 8px;
  width: 150px;
  font-size: 14px;
  text-transform: uppercase;
}

.application-details__next {
  --background-activated: #{$color-dodger-blue};
  --border-color: #{$color-dodger-blue};
  --border-width: 2px;
  --color: #{$color-dodger-blue};
}

.application-details__submit {
  --background: #{$color-dodger-blue};
}

h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 80px;
}

.main_content {
  .no-credit-card-block-wrapper {
    margin-top: 10vh;
    .no-credit-card-block-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20vh;
      .no-credit-card-block-text {
        font-family: 'Nunito';
        font-size: 15px;
        width: 155px;
        letter-spacing: 1px;
        margin-left: 22px;
        line-height: 22px;
      }
    }
  }

  .cards {
    .card-items {
      // .card-items-ion-list{
      //     max-height: 62vh;
      //     overflow-y: scroll;
      //     padding-top: 0px;
      //     padding-bottom: 0px;
      //     padding-left: 0px !important;
      // }
      .credit-card-item {
        --border-width: 0 0 0.3px 0;
        padding: 4px 0px;
        .card-icon {
          .ionic-icon-left {
            width: 44px;
            height: 28.05px;
          }
        }
        .credit__card_item-label {
          display: flex;
          justify-content: space-between;
          margin-left: 10px;
          margin-top: -3px;
          margin-bottom: 0px;
          font-size: 18px;
          font-style: normal;
          line-height: 16px;
          font-family: 'Nunito SemiBold';
        }

        .icon-wrapper {
          background: #f1f1f1;
          width: 40px;
          font-size: 25px;
          height: 40px;
          border-radius: 21px;
          margin-bottom: 8px;
          .ionic-icon {
            margin: 8px;
          }
        }
      }
    }
  }

  .add-new-cc_item {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .info-to-user {
    margin: 16px 16px 0px 16px;
    padding: 15px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Nunito Regular';
    display: flex;
    div:nth-child(1) {
      font-size: 30px;
    }
    div:nth-child(2) {
      width: 80%;
      margin: auto;
      font-size: 15px;
    }
  }
}
.add-new-card-btn {
  margin: 0px 16px 33px 16px;

  .st-button-card {
    color: #166dff;
    border-radius: 8px;
    height: 42px;
  }
}


.deposit {
  &__header {
    border-bottom: 1px solid $color-whisper;
  }

  &__selection-block {
    padding: 24px 16px 16px 16px;
  }

  &__manual-amount {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid $color-whisper;

    &--preset-amouts {
      padding: 0;
    }
  }

  &__main-input-container {
    margin-top: 34px;
    color: $color-dim-gray;

    @include font-nunito-regular(80px);

    &--decrease-font {
      @include font-nunito-regular(60px);
    }
  }

  &__main-input {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    transition: font-size 0.3s ease 0s;

    &--focus {
      color: #000;
      border-bottom: 2px solid $color-dodger-blue !important;
    }

    &--error {
      color: $color-alizarin;
      text-align: center;

      @include font-nunito-heavy(14px);
    }

    &.ng-invalid.ng-dirty {
      border-bottom: 2px solid red !important;
    }

    --padding-bottom: 0;
    --padding-top: 0;
    --padding-start: 0;

    &::before {
      content: '$';
      font-size: 70%;
      position: relative;
      left: 5px;
      bottom: 0px;
    }
  }

  &__main-select-container {
    width: 100%;
  }

  &__select-wrapper {
    position: relative;
    border-bottom: 1px solid $color-whisper;
  }

  &__select {
    padding: 30px 16px;
    @include font-nunito-regular(16px);
  }

  &__label-select {
    text-transform: uppercase;
    color: #7e7e7e;
    position: absolute;
    left: 16px;
    top: 10px;

    @include font-nunito-semibold(14px);
  }
  
  &__footer {
    display: flex;
    justify-content: center;
    padding: 5px 15px 10px 12px;
    background-color: $color-white;
  }
}

ion-label {
  @include font-nunito-regular(16px);
  flex-direction: column;
}
