<ion-content class="ion-padding application-details__content" #content>
  <div class="application-details__actions">
    <ion-button class="btn application-details__page-back" routerDirection="back" mode="ios" fill="clear">
      Cancel
    </ion-button>
    <ion-button class="btn application-details__save" mode="ios" fill="clear" (click)="save(applicationDetails)">
      Save
    </ion-button>
  </div>
  <h2 class="application-details__title">2022 Housing Application</h2>
  <div class="application-details__card">
    <h3>
      As part of the application submission process, a one-time payment is required. Please review the amount below and
      select a payment method.
    </h3>
    <form novalidate [formGroup]="guestDepositForm">
      <div class="deposit__main-input-container">
        <ion-input
          class="deposit__main-input"
          type="tel"
          inputmode="decimal"
          maxlength="10"
          #inputText
          placeholder="0"
          tabindex="0"
          [ngStyle]="{ width: inputText.value ? inputText.value.length + 1 + 'ch' : '2ch' }"
          [ngClass]="{
            'deposit__main-input--focus': focusLine,
            shakeit: isMaxCharLength,
            'deposit__main-input-container--decrease-font': inputText.value && inputText.value.length >= 7
          }"
          (ionFocus)="focusLine = true"
          (ionBlur)="focusLine = false; onAmountChanged($event)"
          (ionInput)="onAmountChanged($event)"
          (keydown)="formatInput($event)"
          formControlName="mainInput"
        ></ion-input>
        <div *ngIf="mainFormInput.errors && mainFormInput.errors['maxLength']" class="deposit__main-input--error">
          {{ contentString.maxAmountError }} {{ mainFormInput.errors['maxLength'].max | transactionUnits }}
        </div>
        <div *ngIf="mainFormInput.errors && mainFormInput.errors['minLength']" class="deposit__main-input--error">
          {{ contentString.minAmountError }} {{ mainFormInput.errors['minLength'].min | transactionUnits }}
        </div>
        <div
          *ngIf="
            mainFormInput.errors &&
            mainFormInput.errors['pattern'] &&
            (mainFormInput.dirty || mainFormInput.touched)
          "
          class="deposit__main-input--error"
        >
          {{ contentString.amountPatternError }}
        </div>
      </div>
    </form>
    <div class="main_content">
      <div class="cards">
        <div class="card-items">
          <ion-list class="card-items-ion-list">
            <ion-item *ngFor="let account of userAccounts" button="true" class="credit-card-item" lines="full" (click)="feePayment(account)">
              <div class="card-icon">
                <ion-icon class="ionic-icon-left" [src]="account.iconSrc" name="credit-card.svg"></ion-icon>
              </div>
              <ion-label class="credit__card_item-label">
                <div class="order-item__label-title">
                  {{ account.display }}
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <div class="add-new-card-btn">
                <st-button class="st-button-card" buttonModifier="rectangle" (click)="addCreditCard()" tabindex="0">
                  <span class="ion-text-capitalize">
                    {{ contentStrings.add_new_card_btn_text }}
                  </span>
                </st-button>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div class="no-credit-card-block-wrapper" *ngIf="noCreditCardFound">
          <div class="no-credit-card-block-message">
            <img
              class="no-credit-card-block-img"
              height="auto"
              src="/assets/images/no_credit_card.svg"
              alt="map locations"
            />
            <div class="no-credit-card-block-text">
              <div>
                <p>{{ contentStrings.no_card_found }}</p>
              </div>
            </div>
          </div>
        </div>
        <div>Back</div>
        <div class="info-to-user">
          <div class="info-to-user-icon">
            <ion-icon attr.alt="info-circle" src="/assets/icon/info-circle.svg" name="info-circle.svg"></ion-icon>
          </div>
          <div class="info-to-user-text">
            {{ contentStrings.user_info_text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
