<ion-content class="ion-padding application-payment__content" #content>
  <div class="application-payment__actions">
    <ion-button class="btn application-payment__page-back" routerDirection="back" mode="ios" fill="clear"> </ion-button>
    <ion-button class="btn application-payment__save" mode="ios" fill="clear"> </ion-button>
  </div>
  <h2 class="application-payment__title">2022 Housing Application</h2>
  <ion-card class="application-payment__card">
    <ion-card-content>
      As part of the application submission process, a one-time payment is required. Please review the amount below and
      select a payment method.
    </ion-card-content>
    <ion-card-subtitle>Amount you'll pay </ion-card-subtitle>
    <st-input-amount [contentString]="contentString" [control]="control"></st-input-amount>
    <st-credit-card-list
      [contentStrings]="contentStrings"
      [userAccounts]="userAccounts"
      [addItem]="true"
      (onClick)="confirmationPayment($event)"
      (onAdd)="addCreditCard()"
    ></st-credit-card-list>
    <ion-label>Back</ion-label>
  </ion-card>
</ion-content>
