@import 'tools';

.ionic_content {
  --background: #f1f1f1;
}

.application-details__content {
  --background: #{$porcelain};
  --padding-top: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.application-details__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.application-details__title {
  @include font-family($font-nunito-heavy);

  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.application-details__page-back {
  @include font-family($font-nunito-regular);

 // --color: #{rgba($color-black, 0.9)};
}

.application-details__save {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};
}

.application-details__card {

  --background: #f1f1f1;
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.04), 0 2px 14px 0 rgba($color-black, 0.12);
  padding: 16px;
}

.application-details__back {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};

  min-width: 80px;
}

.application-details__next,
.application-details__submit {
  @include font-family($font-nunito-heavy);

  --border-radius: 8px;
  width: 150px;
  font-size: 14px;
  text-transform: uppercase;
}

.application-details__next {
  --background-activated: #{$color-dodger-blue};
  --border-color: #{$color-dodger-blue};
  --border-width: 2px;
  --color: #{$color-dodger-blue};
}

.application-details__submit {
  --background: #{$color-dodger-blue};
}

h1 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 73px;
  line-height: 80px;
}

