<div class="main_content">
  <div class="cards">
    <div class="card-items" *ngIf="!!userAccounts.length">
      <ion-list class="card-items-ion-list">
        <ion-item
          *ngFor="let account of userAccounts"
          button="true"
          class="credit-card-item"
          lines="full"
          (click)="onClickEvent(account)"
        >
          <div class="card-icon">
            <ion-icon class="ionic-icon-left" [src]="account.iconSrc" name="credit-card.svg"></ion-icon>
          </div>
          <ion-label class="credit__card_item-label">
            <div class="order-item__label-title">
              {{ account.display }}
            </div>
          </ion-label>
          <div *ngIf="removeIcon" class="icon-wrapper" (click)="onRemoveEvent(account)">
            <ion-icon class="ionic-icon" attr.alt="trash-can" src="/assets/icon/trash.svg" name="trash.svg">
            </ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="no-credit-card-block-wrapper" *ngIf="userAccounts.length === 0">
      <div class="no-credit-card-block-message">
        <img
          class="no-credit-card-block-img"
          height="auto"
          src="/assets/images/no_credit_card.svg"
          alt="map locations"
        />
        <div class="no-credit-card-block-text">
          <div>
            <p>{{ contentStrings.no_card_found }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="info__message">
        <div class="info__message__icons">
          <ion-icon *ngIf="!addItem" attr.alt="info-circle" src="/assets/icon/info-circle.svg"
            name="info-circle.svg"></ion-icon>
          <ion-icon class="add-icon" *ngIf="addItem" attr.alt="add-icon" src="/assets/images/housing/add-item-icon.svg"
            (click)="onAddEvent()"></ion-icon>
        </div>
        <div class="info__message__text">
          <ion-label *ngIf="addItem" (click)="onAddEvent()">
            Add a new credit card
            <br />
          </ion-label>
          <span class="info__message__text--message">{{ contentStrings.user_info_text }}</span>
        </div>
      </div>
      <div class="info__cards">
        <ion-icon *ngFor="let card of allowedPaymentsMethods" class="info__cards__icon" [src]="card.icon"
          [name]="card.name"></ion-icon>
      </div>
    </div>
  </div>
</div>