@import 'tools';

.merchant-card {
  --padding-start: 0;
  --inner-padding-end: 0;

  padding: 10px 0;
  margin: 0 10px;

  &:first-child {
    border-bottom: 1px solid $color-white-smoke;
  }

  &__image {
    min-width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.merchant-skeleton {
  display: flex;
  align-items: center;

  &__img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 10%;
  }

  &__name {
    height: 20px;
    width: 70%;
  }

  &__distance {
    height: 15px;
    width: 35%;
  }

  &__open-status {
    height: 15px;
    width: 20%;
  }

  &__order-type {
    height: 15px;
    width: 40%;
  }

  &__bottom-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    flex-grow: 1;
  }
}
