<div class="explore" *ngIf="(favMerchants$ | async) as merchants">
  <ion-list class="ion-no-margin ion-no-padding">
    <ion-item
      *ngFor="let merchant of merchants; let last = last"
      lines="none"
      (click)="onMerchantClicked(merchant.id)"
      class="merchant-card"
    >
      <ion-label class="merchant-card__content">
        <img
          alt=""
          class="merchant-card__image"
          [src]="
            merchant.imageThumbnail
              ? awsImageUrl + merchant.imageThumbnail
              : 'assets/images/dashboard_merchant_image_placeholder.svg'
          "
        />
        <st-merchant-main-info
          [isShowMerchantStatus]="merchant.isAbleToOrder"
          [merchant]="merchant"
          [isWalkOut]="merchant.walkout"
        ></st-merchant-main-info>
      </ion-label>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>
  </ion-list>
</div>

<div class="explore" *ngIf="isLoading">
  <ion-list class="ion-no-margin ion-no-padding">
    <ion-item *ngFor="let merchant of [0, 1]; let last = last" lines="none">
      <ion-label>
        <div class="merchant-skeleton">
          <p>
            <ion-skeleton-text animated class="merchant-skeleton__img" slot="start"></ion-skeleton-text>
          </p>
          <div class="merchant-skeleton__content">
            <ion-skeleton-text class="merchant-skeleton__name" animated></ion-skeleton-text>
            <ion-skeleton-text class="merchant-skeleton__distance" animated></ion-skeleton-text>
            <div class="merchant-skeleton__bottom-info-block">
              <ion-skeleton-text class="merchant-skeleton__open-status" animated></ion-skeleton-text>
              <ion-skeleton-text class="merchant-skeleton__order-type" animated></ion-skeleton-text>
            </div>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
