@import 'tools';

.merchant-card {
  --padding-end: 15px;

  &__image {
    width: 90px;
    border-radius: 5%;
    margin-right: 10px;
    height: 70px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

.merchant-skeleton {
  display: flex;
  align-items: center;

  &__img {
    height: 70px;
    width: 100px;
    margin-right: 10px;
    border-radius: 5%;
  }

  &__name {
    height: 20px;
    width: 70%;
  }

  &__distance {
    height: 15px;
    width: 35%;
  }

  &__open-status {
    height: 15px;
    width: 20%;
  }

  &__order-type {
    height: 15px;
    width: 40%;
  }

  &__bottom-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    flex-grow: 1;
  }
}
