  <ng-container >
    <div #container *ngFor="let contract of contractSummaries">
      <ion-item lines="none" class="contract-list__item" >
        <div class="contract-item-order">
            <div class="contract-list__item-info">
              <div  class="contract-list__item-start-time">
                <strong>Start:</strong> {{contract.startDate | date: dateFormat}} 
              </div>
              <div  class="contract-list__item-end-time">
                <strong>End:</strong> {{contract.endDate | date: dateFormat}} 
              </div>
            </div>
          <h2  class="contract-list__item-name">{{contract.fullName}}</h2>
        </div>
      </ion-item>
    </div>
  </ng-container>
