@import 'tools';

.deposit {
  &__header {
    border-bottom: 1px solid $color-whisper;
  }

  &__manual-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid $color-whisper;

    &--preset-amouts {
      padding: 0;
    }
  }

  &__main-input-container {
    color: $color-dim-gray;

    @include font-nunito-regular(80px);

    &--decrease-font {
      @include font-nunito-regular(60px);
    }
  }

  &__main-input {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    transition: font-size 0.3s ease 0s;

    &--focus {
      color: #000;
      border-bottom: 2px solid $color-dodger-blue !important;
    }

    &--error {
      color: $color-alizarin;
      text-align: center;

      @include font-nunito-heavy(14px);
    }

    &.ng-invalid.ng-dirty {
      border-bottom: 2px solid red !important;
    }

    --padding-bottom: 0;
    --padding-top: 0;
    --padding-start: 0;

    &::before {
      content: '$';
      font-size: 70%;
      position: relative;
      left: 5px;
      bottom: 10px;
    }
  }

  &__main-select-container {
    width: 100%;
  }

  &__select-wrapper {
    position: relative;
    border-bottom: 1px solid $color-whisper;
  }

  &__select {
    // background: url('/assets/icon/img/angle-down.svg') no-repeat 92% center !important;
    padding: 30px 15px;

    @include font-nunito-heavy(16px);
  }

  &__label-select {
    text-transform: uppercase;
    color: #7e7e7e;
    position: absolute;
    left: 16px;
    top: 10px;

    @include font-nunito-semibold(14px);
  }

  &__label-cvv {
    position: relative;
    height: 80px;
    display: flex;
    border-bottom: 1px solid $color-whisper;
  }

  &__input-cvv {
    --padding-start: 16px;

    &--error {
      position: absolute;
      left: 16px;
      top: 55px;
      color: $color-alizarin;

      @include font-nunito-heavy(14px);
    }
  }
  
  &__footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color: $color-white;
  }
}
