<st-header
  title="Add Funds"
  [isTitleShow]="true"
  backButtonIcon="close"
  [backButtonTitle]="''"
  [isToolbarShow]="true"
  tabindex="0"
  class="deposit__header browser-hidden"
></st-header>
<ion-content class="browser-hidden">
  <form [formGroup]="depositForm">
    <section class="deposit__selection-block">
      <div class="deposit__select-wrapper">
        <ion-label class="deposit__label-select">{{ contentString.lblSelectPaymentMethod }}</ion-label>
        <ion-select
          class="deposit__select"
          cancelText="Cancel"
          mode="md"
          interface="action-sheet"
          [interfaceOptions]="customActionSheetPaymentOptions"
          formControlName="sourceAccount"
          (ionChange)="onPaymentMethodChanged($event)"
          (ionFocus)="openWithVoiceOver('payment')"
          placeholder="{{ contentString.selectPlaceHolderText }}"
          tabindex="0"
          [selectedText]="paymentMethod.value | accountDisplay"
          #paymentMethod
        >
          <ion-select-option
            *ngIf="(isCreditCardPaymentTypesEnabled && applePayEnabled$ | async)"
            [value]="applePayAccountType"
          >
            {{ applePayAccountType | accountDisplay }}
          </ion-select-option>
          <ng-container *ngIf="isCreditCardPaymentTypesEnabled">
            <ion-select-option
              [value]="account"
              *ngFor="let account of creditCardSourceAccounts; trackBy: trackByAccountId"
              class="test-class"
              >{{ account | accountDisplay }}
            </ion-select-option>
          </ng-container>
          <ion-select-option [value]="paymentTypes.BILLME" *ngIf="isBillMePaymentTypesEnabled">{{
            paymentTypes.BILLME | accountDisplay
          }}</ion-select-option>
          <ion-select-option value="newCreditCard" *ngIf="isCreditCardPaymentTypesEnabled">
            {{ contentString.newCreditCardText }}
          </ion-select-option>
        </ion-select>
      </div>

      <div>
        <div class="deposit__label-cvv" *ngIf="isCVVfieldShow">
          <ion-label class="deposit__label-select">{{ contentString.lblCardSecurityCode }}:</ion-label>
          <ion-input
            class="deposit__input-cvv"
            inputmode="tel"
            type="tel"
            maxlength="4"
            placeholder="CVV"
            tabindex="0"
            formControlName="fromAccountCvv"
          ></ion-input>
          <div
            class="deposit__input-cvv--error"
            *ngIf="
              fromAccountCvv &&
              fromAccountCvv.errors &&
              (fromAccountCvv.errors['required'] ||
                fromAccountCvv.errors['pattern'] ||
                fromAccountCvv.errors['minlength']) &&
              (fromAccountCvv.dirty || fromAccountCvv.touched)
            "
          >
            {{ contentString.cardSecurityCodeError }}
          </div>
        </div>
      </div>

      <div class="deposit__select-wrapper">
        <ion-label class="deposit__label-select">{{ contentString.lblSelectAccountForDeposit }}</ion-label>
        <ion-select
          class="deposit__select deposit__select-account"
          cancelText="Cancel"
          mode="md"
          interface="action-sheet"
          [interfaceOptions]="customActionSheetOptions"
          (ionFocus)="openWithVoiceOver('account')"
          formControlName="selectedAccount"
          placeholder="{{ contentString.selectPlaceHolderText }}"
          tabindex="0"
          [selectedText]="toAccount.value | destinationAccountDisplay"
          #toAccount
        >
          <ion-select-option [value]="account" *ngFor="let account of destinationAccounts; trackBy: trackByAccountId">
            {{ account | destinationAccountDisplay }}
          </ion-select-option>
        </ion-select>
      </div>
      <div
        class="deposit__manual-amount"
        [ngClass]="{ 'deposit__manual-amount--preset-amouts': !(isFreeFormEnabled$ | async) }"
      >
        <div class="deposit__main-select-container" *ngIf="!(isFreeFormEnabled$ | async); else mainInput">
          <div class="deposit__select-wrapper">
            <ion-label class="deposit__label-select">{{ contentString.lblSelectAmountForDeposit }}</ion-label>
            <ion-select
              class="deposit__select deposit__select-account"
              cancelText="Cancel"
              mode="md"
              placeholder="{{ contentString.selectPlaceHolderText }}"
              tabindex="0"
              interface="action-sheet"
              [interfaceOptions]="customActionSheetOptions"
              formControlName="mainSelect"
              (ionChange)="onAmountChanged($event)"
              (ionFocus)="openWithVoiceOver('deposit')"
              #toDeposit
            >
              <ion-select-option [value]="amount" *ngFor="let amount of (amountsForSelect$ | async)">
                {{ amount | transactionUnits }}
              </ion-select-option>
            </ion-select>
          </div>
        </div>

        <ng-template #mainInput>
          <st-input-amount
            [contentString]="contentString"
            (onInput)="onAmountChanged($event)"
            (onKeyDown)="formatInput($event)"
            (onBlur)="onAmountChanged($event)"
            [control]="mainFormInput"
          ></st-input-amount>
        </ng-template>
      </div>
    </section>
  </form>
</ion-content>
<ion-footer class="deposit__footer browser-hidden" mode="ios">
  <st-button (onClick)="onFormSubmit()" tabindex="0" [isDisabled]="!depositForm.valid" [disabled]="isDepositing">
    <div id="depositBtnText">{{ contentString.submitButtonText }}</div>
  </st-button>
</ion-footer>
