<ion-header class="login-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="nativeHeaderBg$ | async">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="defaultBackUrl"
        class="login-header__back-btn"
        color="light"
        text="Back"
        icon="chevron-back"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="login" scrollY="false">
  <div
    class="login__institution"
    [ngStyle]="{ backgroundColor: nativeHeaderBg$ | async}"
    *ngIf="{ photo: institutionPhoto$ | async, name: institutionName$ | async } as instutionValues"
  >
    <img *ngIf="instutionValues.photo" class="login__institution-logo" [src]="instutionValues.photo" alt="" />
    <ion-text
      autofocus
      tabindex="0"
      *ngIf="instutionValues.name && !instutionValues.photo"
      class="login__institution-name no-focus-outline"
    >
      {{ instutionValues.name }}
    </ion-text>
  </div>
  <div class="login__form-wrapper">
    <form class="login__form" [formGroup]="loginForm">
      <div
        class="login__form-content"
        *ngVar="{ isLDAP: authTypeLDAP$ | async, isInstructions: loginInstructions$ | async } as authInfo"
      >
        <ion-card *ngIf="authInfo.isLDAP && authInfo.isInstructions" class="login__LDAP-message">
          <ion-card-content>
            <div [innerHTML]="authInfo.isInstructions"></div>
          </ion-card-content>
        </ion-card>
      </div>
      <st-input-floating-label
        [ngClass]="{'login__form--control-error' : username.invalid && username.touched}"
        [label]="placeholderOfUsername$ | async"
        [formControlName]="controlsNames.username"
        [control]="username"
        [isError]="username.invalid && username.touched"
        type="email"
        idd="username"
        [stFocusNext]="inputPassword"
        tabindex="0"
      >
        <div
          class="login__form--control-error__input"
          *ngIf="username.errors && username.errors['required'] && (username.dirty || username.touched)"
        >
          Username is required
        </div>
      </st-input-floating-label>
      <br />
      <st-input-floating-label
        [ngClass]="{'login__form--control-error' : password.invalid && password.touched}"
        #inputPassword
        [label]="'Password'"
        [formControlName]="controlsNames.password"
        [control]="password"
        [isError]="password.invalid && password.touched"
        type="password"
        idd="password"
        enterkeyhint="go"
        (keyup.enter)="authenticateUser(loginForm)"
        tabindex="0"
      >
        <div
          class="login__form--control-error__input"
          *ngIf="password.errors &&
            password.errors['required'] &&
            (password.dirty || password.touched)"
        >
          Password is required
        </div>
      </st-input-floating-label>
      <ng-container
        *ngVar="{ isHosted: authTypeHosted$ | async, isSignupEnabled: signupEnabled$ | async, navedAsGuest: navedAsGuest$ | async } as authValues"
      >
        <div
          *ngIf="authValues.isHosted && authValues.isSignupEnabled || authValues.navedAsGuest"
          class="login__form-password"
        >
          <a class="login__form-password-forgot" (click)="redirectToForgotPassword()" tabindex="2">Forgot password?</a>
        </div>
        <div class="login__form-btns">
          <st-button
            *ngIf="authValues.isHosted && authValues.isSignupEnabled || authValues.navedAsGuest"
            buttonModifier="border-only-rectangle"
            class="login__form-btns--odd"
            (click)="onSignup()"
            tabindex="4"
          >
            Sign up
          </st-button>
          <st-button buttonModifier="rectangle" (click)="authenticateUser(loginForm)" tabindex="3">
            Log in
          </st-button>
        </div>
      </ng-container>
    </form>
  </div>
</ion-content>
