<ion-header class="login-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="nativeHeaderBg$ | async">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="defaultBackUrl"
        class="login-header__back-btn"
        color="light"
        text="Back"
        icon="ios-arrow-back"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="login" scrollY="false">
  <div
    class="login__institution"
    [ngStyle]="{ backgroundColor: nativeHeaderBg$ | async}"
    *ngIf="{ photo: institutionPhoto$ | async, name: institutionName$ | async } as instutionValues"
  >
    <img
      *ngIf="instutionValues.photo"
      class="login__institution-logo"
      [src]="instutionValues.photo"
      alt="institution logo"
    />
    <ion-text *ngIf="instutionValues.name && !instutionValues.photo" class="login__institution-name">
      {{ instutionValues.name }}
    </ion-text>
  </div>
  <div class="login__form-wrapper">
    <form class="login__form" [formGroup]="loginForm">
      <st-input-floating-label
        [label]="placeholderOfUsername$ | async"
        [formControlName]="controlsNames.username"
        [control]="username"
        [isError]="username.invalid && username.touched"
        type="email"
        idd="username"
        [stFocusNext]="inputPassword"
        tabindex="0"
      >
      </st-input-floating-label>
      <br />
      <st-input-floating-label
        #inputPassword
        [label]="'Password'"
        [formControlName]="controlsNames.password"
        [control]="password"
        [isError]="password.invalid && password.touched"
        type="password"
        idd="password"
        enterkeyhint="go"
        (keyup.enter)="authenticateUser(loginForm)"
        tabindex="1"
        role="text"
      >
      </st-input-floating-label>
      <ng-container *stNgVar="authTypeHosted$ | async as isHosted">
      <div *ngIf="isHosted" class="login__form-password">
        <a class="login__form-password-forgot" (click)="redirectToForgotPassword()" tabindex="2">Forgot password?</a>
      </div>
      <div class="login__form-btns">
        <st-button *ngIf="isHosted"
        buttonModifier="border-only-rectangle"
          class="login__form-btns--odd"
          (click)="redirectToSignup()"
          tabindex="4"
        >
          Sign up
        </st-button>
        <st-button buttonModifier="rectangle" (click)="authenticateUser(loginForm)" tabindex="3">
          Log in
        </st-button>
      </div>
      </ng-container>
    </form>
  </div>
</ion-content>

