@import 'tools';

.rooms-filter {
  --padding-start: 20px;

  @include font-nunito-heavy(12px);

  text-transform: uppercase;
  position: relative;

  &::before {
    border-left: 1px solid $color-whisper;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 28px;
    transform: translateY(-50%);
  }
}
