<st-popover-layout [popoverConfig]="popoverConfig">
  <section class="cdp__policy-container">
    <h5 class="cdp__policy-title">CBORD University Donate Policy</h5>
    <div class="cdp__policy-body">
      Lorem ipsum dolor amet prism vexillologist four loko thundercats. Tattooed roof party pariatur dreamcatcher wolf.
    </div>
  </section>

  <section class="cdp__info-container">
    <div class="cdp__label">
      Donate Amount:
      <span class="cdp__value">{{
        popoverConfig.message['amount'] | transactionUnits: popoverConfig.message['account'].accountType
      }}</span>
    </div>
    <div class="cdp__label">
      Account:
      <span class="cdp__value">{{ popoverConfig.message['account'].accountDisplayName }}</span>
    </div>
  </section>
</st-popover-layout>
