<ion-item class="applications-list__item" *ngFor="let application of applications; trackBy: trackById">
  <ion-label class="applications-list__wrap">
    <div class="applications-list__info">
      <h5 class="applications-list__status">{{ getApplicationStatus(application.patronApplication) }}</h5>
      <div class="applications-list__date" *ngIf="application?.patronApplication?.isApplicationSubmitted">
        Submitted {{ application?.patronApplication?.submittedDateTime | date: 'MM/dd/yyyy' }}
      </div>
    </div>

    <h2 class="applications-list__title">{{ application.applicationDefinition.applicationTitle }}</h2>
  </ion-label>

  <st-actions
    [canEdit]="!application?.patronApplication?.isApplicationSubmitted || application?.applicationDefinition?.canEdit"
    [navigateTo]="getPath(application.applicationDefinition.key)"
    [showDetailsOption]="true"
    [applicationDefinition] ="application?.applicationDefinition"
    [patronApplication]="application?.patronApplication"
  ></st-actions>
</ion-item>
