<ion-item-sliding *ngFor="let application of applications; trackBy: trackById" #applicationSlide>
  <ion-item
    [routerLink]="['/housing/applications', application.applicationDefinition.key]"
    routerDirection="forward"
    detail="true"
  >
    <ion-icon slot="start" name="create" *ngIf="!isSubmitted(application.patronApplication)"></ion-icon>
    <ion-icon slot="start" name="checkmark-circle" *ngIf="isSubmitted(application.patronApplication)"></ion-icon>

    <ion-label>
      <h2>{{ application.applicationDefinition.applicationTitle }}</h2>
      <p>{{ getApplicationStatus(application.patronApplication) }}</p>
    </ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="handleClear(application.applicationDefinition.key, applicationSlide)">
      Clear
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
