@import 'tools';

.tile {
    width: 100%;
    height: 160px;

    &__slides {
        width: 340px;
        height: 150px;
        --bullet-background-active: #000;
    }

    &__slide {
        display: flex;
        width: 340px !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 15px;
    }

    &__accounts-item {
        width: 160px;
        height: 55px;
        margin: 4px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background: #f7f7f7;
        text-align: left;
    }

     &__accounts-title {
         color: $color-dim-gray; ;
         @include font-nunito-semibold(12px)
     }

     &__accounts-total {
         color: $color-black ;
         @include font-nunito-heavy(20px)
     }
}