.assset_type_details_item {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 30px;
    padding-left: initial;
    padding-right: initial;
    padding-top: initial;
    padding-bottom: -3px;
}

.assset_type_details_item__header {
    padding: 16px 16px 8px;
}

.assset_type_details_item__content {
    padding: 16px 16px 0px;
}