@import 'tools';

.textarea {
  &__wrapper {
    position: relative;
  }

  &__control {
    width: 100%;
    outline: none;
    border: 1px solid $color-light-gray;
    border-radius: 8px;
    padding: 0 0 0 10px;

    &:focus,
    &:focus-within {
      border: 2px solid $color-dodger-blue;

      & + .textarea__placeholder {
        @include floating-label($color-dodger-blue);
      }
    }

    &--error {
      border: 2px solid $color-alizarin;

      &:focus,
      &:focus-within {
        border: 2px solid $color-alizarin;

        & + .textarea__placeholder {
          @include floating-label($color-alizarin);
        }
      }

      & + .textarea__placeholder {
        @include floating-label($color-alizarin);
      }
    }
  }

  &__placeholder {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 15px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
}

:host-context(.ng-valid) .textarea__control {
  border: 2px solid $color-dodger-blue;

  & + .textarea__placeholder {
    @include floating-label($color-dodger-blue);
  }
}
