<div class="textarea__wrapper">
  <ion-textarea
    class="textarea__control"
    id="{{ idd }}"
    [ngClass]="{ 'textarea__control--error': isError,'attachment_border':isAttachment }"
    rows="{{ rows }}"
    autoGrow="true"
    (ionBlur)="ionBlur($event)"
    (ionChange)="onChangeHandler($event)"
    [value]="innerValue"
    (ionFocus)="ionFocus($event)"
    [maxlength]="maxLength"
    [disabled]="isDisabled"
    [placeholder]="placeholder"
  >
  </ion-textarea>

  <label class="textarea__placeholder" [ngClass]="{'attachment_label':isAttachment}" [attr.for]="idd">{{ label }}</label>
  <ng-content *ngIf="isError"></ng-content>
</div>
