<div class="textarea__wrapper">
  <ion-textarea
    class="textarea__control"
    id="{{ idd }}"
    [ngClass]="{ 'textarea__control--error': isError }"
    rows="{{ rows }}"
    autoGrow="true"
    (ionBlur)="ionBlur($event)"
    (ionChange)="onChangeHandler($event)"
    [value]="innerValue"
    (ionFocus)="ionFocus($event)"
    [maxlength]="maxLength"
    [disabled]="isDisabled"
  >
  </ion-textarea>

  <label class="textarea__placeholder" [attr.for]="idd">{{ 'Describe what needs to be repaired' }}</label>
  <ng-content *ngIf="isError"></ng-content>
</div>
