<ion-content class="ion-padding application-details__content" #content>
  <div class="application-details__actions">
    <ion-button class="btn application-details__page-back" routerDirection="back" mode="ios" fill="clear" (click)="cancel()">
      Cancel
    </ion-button>
    <ion-button class="btn application-details__save" mode="ios" fill="clear" (click)="save(applicationDetails)">
      Save
    </ion-button>
  </div>
  <h2 class="application-details__title">2022 Housing Application</h2>
<ion-card class="application-details__card">
    <div class="deposit-modal__img-wrapper">
      <img src="/assets/images/housing/success-payment.svg" alt="big_check_deposit" />
    </div>
    <h1 class="deposit-modal__title-label">Bobo</h1>
    <section class="deposit-modal__sub-title">
      Bobo
    </section>
    <section class="deposit-modal__info-container">
      <div class="deposit-modal__label">
        Bobo:
        <span class="deposit-modal__value">{{
          data.amount | transactionUnits: data['selectedAccount'].accountType
        }}</span>
      </div>
      <div class="deposit-modal__label">
        Bobo:
        <span class="deposit-modal__value">{{ data['selectedAccount'].accountDisplayName }}</span>
      </div>
      <div class="deposit-modal__label">
        Bobo:
        <span class="deposit-modal__value" *ngIf="data['sourceAcc'].accountTender === 'Apple Pay'; else creditcard">
          {{ data['sourceAcc'].accountTender }}
        </span>
        <ng-template #creditcard>
          <span class="deposit-modal__value" *ngIf="!data['billme']; else billme">
            {{ data['sourceAcc'].accountTender | creditCardType }} Bobo
            {{ data['sourceAcc'].lastFour }}
          </span>
        </ng-template>
      </div>
    </section>
 <ion-footer class="deposit-modal__footer" mode="ios">
    <st-button (onClick)="onClickedDone()">Done</st-button>
  </ion-footer> 
</ion-card>
