<ion-header class="edit-home__header" mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="ios">
      <ion-button color="dark" mode="ios" class="edit-home__header-back-btn" (click)="onClickedClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" class="edit-home__header-title">Edit Home Page</ion-title>
<!--    <ion-buttons slot="end" mode="ios">-->
<!--      <ion-button mode="ios" class="edit-home__header-done-btn" (click)="onClickedDone()">Done</ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content class="edit-home__content-container">
  <div class="edit-home__description-wrapper">
    <p class="edit-home__description">
      Hold and drag cards to reorder your Home Page.
      <br/>
      <!-- Toggle cards On or Off to Show or Hide them. -->
    </p>
  </div>

  <ion-list class="edit-home__reorder-list">
    <ion-list-header class="edit-home__reorder-header">
      <img class="edit-home__reorder-header-icon" src="/assets/icon/dashboard.svg"/>
      <div class="edit-home__reorder-header-title">Home Page</div>
    </ion-list-header>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="false" mode="md">
      <ion-item *ngFor="let tileConfig of homeConfigList$ | async" class="edit-home__reorder-item">
        <ion-label class="edit-home__reorder-label">
          {{ tileConfig.title }}
        </ion-label>
<!--        <ion-toggle-->
<!--                value="{{ tileConfig.title }}"-->
<!--                class="edit-home__reorder-toggle"-->
<!--                (ionChange)="onToggle($event)"-->
<!--                mode="ios"-->
<!--                checked="{{ tileConfig.isEnable }}"-->
<!--        ></ion-toggle>-->
        <ion-reorder>
          <ion-icon class="edit-home__reorder-icon" name="reorder-three" mode="md"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
</ion-content>
