<ion-header class="mc-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" class="mobile-credential-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="close()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-header__title">
      Mobile Credential Status
    </ion-title>
  </ion-toolbar>
</ion-header>
<hr />
<ion-content style="border-top: 1px solid lightgray;">
  <div class="mc_metadata">
    <div class="text-block">
      <div class="text-title-big">
        Status
      </div>
      <div class="text-body">
        {{ mobileCredentialFacade.uiText$ | async }}
      </div>
    </div>

    <div class="text-block" *ngIf="deviceState.lastServerSyncState">
      <div class="text-title-big">
        Last server sync
      </div>
      <div class="text-body">
        {{ deviceState.lastServerSyncState }}
      </div>
    </div>
    <div class="text-block">
      <div class="text-title-big">
        Device Info
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="text-title">
        OS Version
      </div>
      <div class="text-body">
        {{ deviceState.osVersion }}
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="text-title">
        Bluetooth
      </div>
      <div class="text-body">
        {{ deviceState.bluetoothState }}
      </div>
    </div>
    <div class="text-block bottom-bordered">
      <div class="text-title">
        Location services
      </div>
      <div class="text-body">
        {{ deviceState.locationServiceSate }}
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="text-title">
        Location services permission
      </div>
      <div class="text-body">
        {{ deviceState.locationPermissionState }}
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="text-title">
        NFC
      </div>
      <div class="text-body">
        {{ deviceState.nfcState }}
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="text-title">
        NFC permission
      </div>
      <div class="text-body">
        {{ deviceState.nfcPermissionState }}
      </div>
    </div>

    <div class="text-block">
      <div class="text-title-big">
        Other Options
      </div>
    </div>

    <div class="text-block bottom-bordered">
      <div class="privacy-link">
        <span (click)="viewTerms()" class="text-span">
          Terms of Use & Privacy Policy
        </span>
        <span>
          <img src="/assets/icon/external_link.png" alt="terms of use & privacy policy, icon"/>
        </span>
      </div>
    </div>

    <div class="text-block">
      <div class="privacy-link">
        <span (click)="viewUsageInstructions()" class="text-span">
          Credential usage instructions
        </span>
        <span>
          <img src="/assets/icon/external_link.png" alt="credential usage instructions, icon"/>
        </span>
      </div>
    </div>
  </div>
</ion-content>
