.mc_metadata{
    .text-block{
        padding: 15px;
        .privacy-link{
            color: #166dff;
        }
     .text-title-big{
         font-size: 20px;
         padding-bottom: 7px;
     }
     .text-title{
         font-size: 18px;
         margin-bottom: 5px;
         padding-bottom: 6px;
       }
       .text-body{
           font-size: 15px;
           color: dimgray;
       }   
    }
    .bottom-bordered{
        border-bottom: 0.5px solid lightgray;
    }
}