<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/housing/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="(application$ | async) as application">{{ application.applicationTitle }}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-left">
          <ion-label style="font-size: 16px; font-weight: bold">Cbord Student</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label style="font-size: 13px; font-weight: normal">12345678901234</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-left">
          <ion-label style="font-size: 13px; font-weight: normal">cbord.Student@uni.edu</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label style="font-size: 13px; font-weight: normal">January 1 1990</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <st-stepper>
    <st-step *ngFor="let page of (pages$ | async); last as lastPage; first as firstPage">
      <form [formGroup]="page.form" (ngSubmit)="handleSubmit()">
        <st-question
          *ngFor="let question of page.questions"
          [parentGroup]="page.form"
          [question]="question"
        ></st-question>

        <st-stepper-footer>
          <ion-button type="button" fill="clear" *ngIf="!firstPage" stepperBack>Back</ion-button>
          <ion-button
            [class.stepper-footer__button--right]="firstPage"
            fill="outline"
            type="button"
            *ngIf="!lastPage"
            stepperNext
          >
            Next
          </ion-button>
          <ion-button [class.stepper-footer__button--right]="firstPage" type="submit" *ngIf="lastPage">
            Submit
          </ion-button>
        </st-stepper-footer>
      </form>
    </st-step>
  </st-stepper>
</ion-content>
