@import 'tools';

.single-list {
	&__list-size {
        padding: 0;
        margin: 0;
    }

    &__divider {
        --inner-padding-bottom: 0px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white-smoke;
        padding: 9px 17px;
    }

    &__divider-title {
        color: $color-black;

        @include font-nunito-heavy(16px);
    }

    &__divider-subtitle {
        color: $color-matterhorn;

        &--error {
            color: #e22942;
        }

        @include font-nunito-regular(12px);
	}
	
	&__size-title {
        color: $color-black;
        height: 18px;
        
        @include font-nunito-heavy(16px);
    }

    &__size-price {
        color: $color-black;
        height: 14px;

        @include font-nunito-regular(12px);
	}
	
	&__item-size {
        --color-checked: #166dff;
        --color: #c4c4c4;

        margin-left: 15px;
	}
	
	&__radio-size {
        --color-checked: #166dff;

        margin-right: 10px;
    }
}