<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button mode="ios" (click)="onDecline()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" *ngIf="registrationFormGroup">
    <form class="container__form" [formGroup]="registrationFormGroup">
      <div class="container__form__first-section" *ngIf="firstNameField && lastNameField">
        <ion-grid class="tableClass">
          <ion-row>
            <ion-col>
              <st-input-floating-label
                [label]="firstNameField.label"
                [formControlName]="firstNameField.name"
                [control]="firstNameField.control"
                [isError]="firstNameField.hasError"
                [type]="firstNameField.type"
                [idd]="firstNameField.idd"
                enterkeyhint="go"
                tabindex="0"
                [attr.aria-describedby]="firstNameField.label"
              ></st-input-floating-label>
              <div
                *ngIf="firstNameField.hasError"
                [attr.id]="firstNameField.label"
                aria-live="assertive"
                class="container__form__controls--error"
              >
                {{ firstNameField.control?.errors?.errorMsg }}
              </div>
            </ion-col>
            <ion-col>
              <st-input-floating-label
                [label]="lastNameField.label"
                [formControlName]="lastNameField.name"
                [control]="lastNameField.control"
                [isError]="lastNameField.hasError"
                [type]="lastNameField.type"
                [idd]="lastNameField.idd"
                enterkeyhint="go"
                tabindex="0"
                [attr.aria-describedby]="lastNameField.label"
              ></st-input-floating-label>
              <div
                *ngIf="lastNameField.hasError"
                [attr.id]="lastNameField.label"
                aria-live="assertive"
                class="container__form__controls--error"
              >
                {{ lastNameField.control?.errors?.errorMsg }}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="container__form__controls">
        <div
          *ngFor="let field of formFields"
          class="container__form__controls__item"
          [ngClass]="{ 'separator-up': field.separatorUp }"
        >
          <st-input-floating-label
            [label]="field.label"
            [formControlName]="field.name"
            [control]="field.control"
            [isError]="field.hasError"
            [type]="field.type"
            [idd]="field.idd"
            enterkeyhint="go"
            tabindex="0"
            [attr.aria-describedby]="field.label"
          >
          </st-input-floating-label>
          <div
            *ngIf="field.hasError"
            [attr.id]="field.label"
            aria-live="assertive"
            class="container__form__controls--error"
          >
            {{ field.control?.errors?.errorMsg }}
          </div>
        </div>
      </div>
      <div class="container__form__validators">
        <st-input-validator [control]="passwordField" [validators]="passwordValidators"></st-input-validator>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer class="footer">
  <div class="reg_footer" *ngIf="registrationFormGroup">
    <st-button
      [type]="submit"
      [isDisabled]="disabled"
      buttonModifier="rectangular"
      (click)="submitRegistration(registrationFormGroup)"
    >
      <span>
        {{ btnText$ | async }}
      </span>
    </st-button>
  </div>
</ion-footer>
