<ion-header class="login-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" class="mobile-credential-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="onDecline()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-header__title">
      {{ title$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="form-container" *ngIf="registrationFormGroup">
    <form [formGroup]="registrationFormGroup" class="reg-form">
      <div class="fields-container">
        <div class="firstRow" *ngIf="firstNameField && lastNameField">
          <table class="htable">
            <tr>
              <td>
                <st-input-floating-label
                  [label]="firstNameField.value"
                  [blurHandler]="onBlur(firstNameField)"
                  [formControlName]="firstNameField.name"
                  [control]="firstNameField.control"
                  [isError]="firstNameField.control.invalid && firstNameField.control.touched || firstNameField.hasError"
                  [type]="firstNameField.type"
                  [idd]="firstNameField.idd"
                  enterkeyhint="go"
                  tabindex="0"
                ></st-input-floating-label>
              </td>
              <td>
                <st-input-floating-label
                  [label]="lastNameField.value"
                  [blurHandler]="onBlur(lastNameField)"
                  [formControlName]="lastNameField.name"
                  [control]="lastNameField.control"
                  [isError]="lastNameField.control.invalid && lastNameField.control.touched || lastNameField.hasError"
                  [type]="lastNameField.type"
                  [idd]="lastNameField.idd"
                  enterkeyhint="go"
                  tabindex="0"
                ></st-input-floating-label>
              </td>
            </tr>
          </table>
        </div>
        <div *ngFor="let field of formFields" class="formItem" [ngClass]="{ 'separator-up': field.separatorUp }">
          <div *ngIf="field.separatorUp && passwordsNotMatching" class="password-errors">
            <small>password and confirm password not matching</small>
          </div>
          <st-input-floating-label
            [label]="field.value"
            [formControlName]="field.name"
            [control]="field.control"
            [blurHandler]="onBlur(field)"
            [isError]="field.control.invalid && field.control.touched || field.hasError"
            [type]="field.type"
            [idd]="field.idd"
            enterkeyhint="go"
            tabindex="0"
          >
          </st-input-floating-label>
        </div>
      </div>
      <div class="guest__body__submitOrcancel">
        <st-button
          [type]="submit"
          [isDisabled]="disabled"
          buttonModifier="rectangular"
          (click)="submitRegistration(registrationFormGroup)"
        >
          <span autocapitalize="words">
            {{ btnText$ | async }}
          </span>
        </st-button>
      </div>
    </form>
  </div>
</ion-content>
