<ion-header class="login-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="settings.backgroundColor">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="defaultBackUrl"
        class="login-header__back-btn"
        color="light"
        text="Back"
        icon="ios-arrow-back"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <div class="registration-body">
    <st-registration-modal [settings]="settings">
      <st-user-registration [settings]="settings" [formFields]="formFields" (submit)="submitRegistration($event)"></st-user-registration>
    </st-registration-modal>
  </div>
</ion-content>
