@import 'tools';

:root {
  display: block;
  height: 100%;
}

.form-container {
  height: 100%;
  overflow-y: scroll;
  background-color: #86888f21;
  padding: 25px 0px 10px 0px;
  .reg-form {
    height: 100%;
    .separator-up {
      margin-top: 25px;
      padding-top: 10px !important;
    }
    .firstRow {
      padding-bottom: 25px;
      background-color: #ffffff;
      padding-top: 10px;
      table.htable td {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .formItem {
      padding: 0px 10px 20px 10px;
      background-color: #ffffff;
    }

    .guest__body__submitOrcancel {
      padding: 35px 10px 5px 10px;
    }

    .fields-container {
      min-height: 86%;
    }
  }
}
