@import 'tools';

.stepper__footer {
  border-top: 1px solid $color-white-smoke;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.stepper-footer__button--right {
  :host ::ng-deep & {
    margin-left: auto;
  }
}
