<ion-item class="merchant" lines="none">
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding align-self-center>
        <!-- IMAGE -->
        <img class="merchant__merchant-photo" src="/assets/images/temp-merchant-photo.jpg" alt="nature background" />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- NAME and ICONS -->
      <ion-col class="ion-align-self-center" align-self-start>
        <h2 class="merchant__merchant-name">{{ merchantInfo.name }}</h2>
      </ion-col>
      <ion-col align-self-end>
        <img
          class="merchant__merchant-button"
          [src]="starClass"
          alt="star"
          appClickStopPropagation
          (click)="triggerFavourite()"
        />
        <img
          class="merchant__merchant-button"
          src="./assets/icon/location-pin.svg"
          alt="star"
          appClickStopPropagation
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Distance Info -->
      <ion-col align-self-start>
        <p class="merchant__merchant-distance">{{merchantInfo.distanceFromUser | merchantDistance}}</p>
      </ion-col>
    </ion-row>
    <ion-row>

      <!-- Times and order options -->
      <ion-col align-self-start>
        <p
          class="merchant__merchant-hours"
          [ngClass]="{
            'merchant__merchant-hours--open': merchantInfo.openNow == true,
            'merchant__merchant-hours--closed': merchantInfo.openNow == false
          }"
        >
          {{ merchantInfo.openNow ? 'Open' : 'Closed' }}
        </p>
      </ion-col>
      <ion-col align-self-end> <p class="merchant__merchant-order-types">PICKUP & DELIVERY</p> </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
