@import 'tools';

.building__figure {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.building__image {
  max-width: 100%;
  height: auto;
}

.building__details {
  margin: 0 8px;
}

.building__header {
  border-bottom: 1px solid $color-white-smoke;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.building__title {
  @include font-nunito-heavy(16px);

  line-height: 20px;
  margin: 0;
}

.building__facilities {
  @include font-nunito-semibold(14px);

  color: rgba($color-black, 0.6);
  line-height: 19px;
}

.building__price-title {
  @include font-nunito-heavy(12px);

  color: rgba($color-black, 0.6);
  line-height: 16px;
}

.building__price-amount {
  @include font-nunito-heavy(18px);

  line-height: 24px;
}
