@import 'tools';

:host {
  border-bottom: 1px solid $color-mercury;
  display: block;
  margin: 24px 16px 0;
  padding-bottom: 15px;
}

.building__figure {
  border-radius: 8px;
  overflow: hidden;
  margin: 0 0 10px;
}

.building__image {
  height: auto;
}

.building__details {
  margin: 0 8px;
}

.building__header {
  border-bottom: 1px solid $color-white-smoke;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.building__title {
  @include font-nunito-heavy(16px);

  line-height: 20px;
  margin: 0;
}

.building__facilities {
  @include font-nunito-semibold(14px);

  color: rgba($color-black, 0.6);
  line-height: 19px;
}

.building__price-title {
  @include font-nunito-heavy(12px);

  color: rgba($color-black, 0.6);
  line-height: 16px;
}

.building__price-amount {
  @include font-nunito-heavy(18px);

  line-height: 24px;
}

.building__labels-wrap {
  overflow: hidden;
  position: relative;

  &::before {
    background-image: linear-gradient(90deg, rgba($color-white, 0) 0%, $color-white 60%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    z-index: 1;
  }
}

.building__labels-item {
  margin-right: 8px;
}
