<div class="building__image">
  <img src="" alt="" />
</div>

<header class="building__header">
  <div class="building__description">
    <h3 class="building__title">Merion Hall</h3>
    <div class="building__facilities">1-4 Beds * 1-2 Baths</div>
  </div>

  <div class="building__price">
    <div class="building__price-title">Starting at</div>
    <div class="building__price-amount">$640/mo</div>
  </div>
</header>

<div>
  <div>
    <st-label>Honors Building</st-label>
  </div>

  <div>
    <div>Location</div>
    <div>Add to favorites</div>
  </div>
</div>
