<figure class="building__figure">
  <img class="building__image" src="/assets/images/housing/building-mock.jpg" alt="Merion Hall" />
</figure>

<section class="building__details">
  <header class="building__header">
    <div class="building__description">
      <h3 class="building__title">{{ building.title }}</h3>
      <div class="building__facilities">1-4 Beds * 1-2 Baths</div>
    </div>

    <div class="ion-text-end building__price">
      <div class="building__price-title">Starting at</div>
      <div class="building__price-amount">$640/mo</div>
    </div>
  </header>

  <div class="d-flex ion-justify-content-between ion-align-items-center">
    <div class="building__labels-wrap">
      <div class="d-flex scroll-horizontal-hidden">
        <st-label class="building__labels-item" *ngFor="let label of building.labels">{{ label.name }}</st-label>
      </div>
    </div>

    <div class="d-flex ion-align-items-center">
      <st-pin-location></st-pin-location>
      <st-add-to-favorite [active]="building.isFavorite"></st-add-to-favorite>
    </div>
  </div>
</section>
