<figure class="building__figure">
  <img class="building__image" src="/assets/images/housing/building-mock.jpg" alt="Merion Hall" />
</figure>

<section class="building__details">
  <header class="building__header">
    <div class="building__description">
      <h3 class="building__title">Merion Hall</h3>
      <div class="building__facilities">1-4 Beds * 1-2 Baths</div>
    </div>

    <div class="ion-text-end building__price">
      <div class="building__price-title">Starting at</div>
      <div class="building__price-amount">$640/mo</div>
    </div>
  </header>

  <div>
    <div>
      <st-label>Honors Building</st-label>
    </div>

    <div>
      <div>Location</div>
      <div>Add to favorites</div>
    </div>
  </div>
</section>
