<ion-toolbar class="units-switch__toolbar" mode="ios">
  <ion-buttons class="switcher" mode="md">
    <div switcher__div *ngFor="let unit of units">
      <ion-button slot="end"
        class="ion-no-padding ion-no-margin btn units-switch__tab"
        [class.active]="!isFacilityActive"
        mode="md"
        [disabled]="isUnits(unit)"
        (click)="goToUnits(unit)"
        *ngIf="isUnits(unit)"
      >
        {{ unit.title }}
      </ion-button>
        <ion-button
          slot="start"
          class="ion-no-padding ion-no-margin btn units-switch__tab"
          [class.active]="isFacilityActive"
          mode="md"
          (click)="goToUnits(unit)"
          *ngIf="!isUnits(unit)"
        >
          {{ unit.title }}
        </ion-button>

    </div>
  </ion-buttons>
</ion-toolbar>
