<ion-toolbar class="units-switch__toolbar" mode="ios">
  <ion-buttons mode="md">
    <ion-button
      class="ion-no-padding ion-no-margin btn units-switch__tab"
      mode="md"
      routerLink="/housing/rooms-search/buildings"
      routerLinkActive="active"
    >
      Buildings
    </ion-button>

    <ion-button
      class="ion-no-padding ion-no-margin btn units-switch__tab"
      mode="md"
      routerLink="/housing/rooms-search/units"
      routerLinkActive="active"
    >
      Units
    </ion-button>
  </ion-buttons>
</ion-toolbar>
