@import 'tools';
ion-slide{
  .swiper-slide{
    display: block !important;
    ion-list-header {
      margin-bottom: 1px;
      padding-left: 0;
      // font-family: roboto;
      background-color: blue !important;
      border-color: white !important;
    }
  }
  .slide-zoom ion-list-header ion-label ion-toolbar .toolbar-background {
    background-color: #25A0DA;
  }
  display: block !important;
}
  ion-content {
    ion-slide {
      display: block !important;
      .slide-zoom {
        height: 100%;
        ion-list-header {
          margin-bottom: 1px;
          padding-left: 0;
          // font-family: roboto;
          background-color: blue !important;
          border-color: white !important;
          ion-label {
            margin: 0 !important;
            ion-toolbar {
              .toolbar-background {
                background-color: yellow !important;
              }
              ion-buttons {
                button {
                  color: blue;
                }
              }
              ion-title {
                .toolbar-title {
                  font-size: 18px;
                  color: blueviolet;
                }
              }
            }
          }
        }
        ion-list {
          height: calc(100% - 59px);
          overflow-y: scroll;
          ion-item {
            ion-label {
              margin-top: 10px;
              margin-bottom: 10px;
            }
            ion-icon {
              font-size: 20px;
              line-height: 30px;
            }
            &.selected {
              background-color: #eee !important;
            }
            &.parent-item {
              padding-left: 0px;
              .item-inner {
                padding-left: 16px;
                border-bottom: 1px solid #dedede !important;
              }
            }
          }
        }
      }
    }
  }
