<section > 
  <!-- *ngIf="(inspectionsListSubscription | async) as InspectionList" -->
  <ion-list  
    class="ion-no-margin bg-transparent">
    <ion-grid >
      <ion-row class="container-header-inspection">
        <div class="col-inspection ion-no-padding">
            <h2 class="form__secondary-header">Inspections</h2>
        </div>
      </ion-row>
    </ion-grid>

    <!-- TODO: Add plus button  -->
    <ng-container>
      <div #container >
        <ion-item lines="none" class="inspections-list__item" >
          <ion-label class="inspections-list__wrap">
            <div class="inspections-list__info">
              <!-- TODO: status inspections -->
              <h5 class="inspections-list__status" [ngClass]="" >new {{ null }}</h5>
              <div class="inspections-list__date" >
                Submitted
              </div>
            </div>
        
            <h2 class="inspections-list__title">ROOM TEST</h2>
          </ion-label>

          <st-actions
            [path]="getPath(144)"
            >
          </st-actions>
        </ion-item>
      </div>
    </ng-container>

    <ng-container>
      <ion-item>
        <ion-label>
          <h1>Stove</h1>
          <h5>the staff rated</h5>
          <img [ngStyle]="{'width': '50px','height': '50px' }" />
          <ion-segment>
            <ion-segment-button value="1">
              <ion-label>Good</ion-label>
            </ion-segment-button>
            <ion-segment-button value="2">
              <ion-label>Fair</ion-label>
            </ion-segment-button>
            <ion-segment-button value="3">
              <ion-label>Poor</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-label>

      </ion-item>
    </ng-container>
  </ion-list>
</section>
