<ion-header class="login-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" [style.background-color]="nativeHeaderBg$ | async">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="defaultBackUrl"
        class="login-header__back-btn"
        color="light"
        text="Back"
        icon="chevron-back"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login" scrollY="false">
  <div
    class="login__institution"
    [ngStyle]="{ backgroundColor: nativeHeaderBg$ | async }"
    *ngIf="{ photo: institutionPhoto$ | async, name: institutionName$ | async } as instutionValues"
  >
    <img *ngIf="instutionValues.photo" class="login__institution-logo" [src]="instutionValues.photo" alt="" />
    <ion-text
      autofocus
      tabindex="0"
      *ngIf="instutionValues.name && !instutionValues.photo"
      class="login__institution-name no-focus-outline"
    >
      {{ instutionValues.name }}
    </ion-text>
  </div>
  <div class="login__form-wrapper">
    <div class="login__form">
      <div *ngIf="pageContent">
        <p [innerHTML]="pageContent.instructions"></p>
      </div>
      <div>
        <st-button buttonModifier="rectangle" class="login__form-btns--odd" tabindex="4" (click)="continueAsNonGuest()">
          <span class="ion-text-capitalize">
            {{ pageContent.continueAsNonGuest }}
          </span>
        </st-button>
        <st-button buttonModifier="rectangle" [isDisabled]="true" tabindex="3" (click)="continueAsGuest()">
          <span class="ion-text-capitalize">
            {{ pageContent.continueAsGuest }}
          </span>
        </st-button>
      </div>
    </div>
  </div>
</ion-content>
