<div class="accounts" [ngClass]="{ 'accounts--auto-height': !isLoading }">
  <swiper
    *ngIf="!isLoading && slides.length"
    class="accounts__slides swiper-slides-flex-start"
    [pagination]="pager"
    [config]="slideOpts"
    mode="ios"
  >
    <ng-template swiperSlide *ngFor="let accountsByOneSlide of slides">
      <div class="accounts__slide">
        <div class="accounts__item" *ngFor="let account of accountsByOneSlide" (click)="goToAccountHistory(account.id)">
          <div class="accounts__title">{{ account.accountDisplayName }}</div>
          <div class="accounts__total">{{ account.balance | transactionUnits: account.accountType }}</div>
        </div>
      </div>
    </ng-template>
  </swiper>
  <ion-list *ngIf="isLoading">
    <ion-item lines="none">
      <ion-label>
        <p class="accounts__skeleton-row">
          <ion-skeleton-text class="accounts__skeleton-account-card" animated></ion-skeleton-text>
          <ion-skeleton-text class="accounts__skeleton-account-card" animated></ion-skeleton-text>
          <ion-skeleton-text class="accounts__skeleton-account-card" animated></ion-skeleton-text>
          <ion-skeleton-text class="accounts__skeleton-account-card" animated></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
