<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="housing-title"><h1>Housing</h1></ion-title>
  </ion-toolbar>
  <st-terms ></st-terms>
  <st-housing-tabs (onTabSelected)="changeView($event)" [selectedTab]="_selectedHousingTab"></st-housing-tabs>
</ion-header>

<ion-content class="ion-padding housing-content" [hidden]="_selectedHousingTab != SelectedHousingTab.Forms">
    <st-applications></st-applications>
    <st-waiting-lists></st-waiting-lists>
    <st-non-assignments></st-non-assignments>
    <st-contracts></st-contracts>
    <st-work-orders></st-work-orders>
    <st-attachments></st-attachments>
</ion-content>

<ion-content class="ion-padding housing-content" [hidden]="_selectedHousingTab != SelectedHousingTab.Rooms">
    <st-check-in-out></st-check-in-out> 
    <st-rooms></st-rooms>
    <st-inspections-forms></st-inspections-forms>
</ion-content>

<ion-content class="ion-padding housing-content" [hidden]="_selectedHousingTab != SelectedHousingTab.Contracts">
    <st-contract-list></st-contract-list>
</ion-content>

  
