<st-header
        [title]="'Order #' + (order$ | async).checkNumber"
        [isTitleShow]="true"
        [backButtonTitle]="'Back'"
        [isToolbarShow]="true"
        class="shadow-header"
></st-header>
<ion-content>
    <st-order-details
            [tax]="(order$ | async).tax"
            [tip]="(order$ | async).tip"
            [subTotal]="(order$ | async).subTotal"
            [pickupFee]="(order$ | async).pickupFee"
            [deliveryFee]="(order$ | async).deliveryFee"
            [total]="(order$ | async).total"
            [ingredients]="(order$ | async).orderItems"
            [accountName]="(order$ | async).orderPayment[0].accountName"
            [time]="(order$ | async).dueTime"
            [type]="(order$ | async).type"
            [address]="(address$ | async)"
    >
        <ng-container *ngIf="(order$ | async).status === orderStatus.PENDING; else pending" [ngTemplateOutlet]="complited"></ng-container>
    </st-order-details>
</ion-content>

<ng-template #complited>
    <ion-button (click)="back()" class="recent-order__btn recent-order__btn--white">close</ion-button>
    <ion-button class="recent-order__btn">reorder</ion-button>
</ng-template>

<ng-template #pending>
    <ion-button (click)="showModal()" class="recent-order__btn recent-order__btn--danger">cancel order</ion-button>
</ng-template>