@import 'tools';

.delivery-address {
  &__header {
    border-bottom: 1px solid $color-whisper;
  }

  &__title {
    @include font-nunito-heavy(20px);
  }

  &__add-address-container {
    padding: 0 20px;
  }

  &__add-address-wrapper {
    margin-bottom: 20px;
    position: relative;

    @include font-nunito-semibold(16px);
  }

  &__add-address-sign {
    position: relative;
    bottom: 2px;
    left: 4px;

    @include font-nunito-semibold(24px);
  }

  &__add-address-text {
    margin-left: 15px;
  }

  &__add-address-btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__add-address-divider {
		background: $color-white-smoke;
		height: 20px;
		margin-top: 20px;
	}

  &__add-address-img {
    position: absolute;
    right: 0;
  }

  &__back-btn {
    --color: #000 !important;
    font-size: 20px;
  }

  &__radio-label-header {
    @include font-nunito-semibold(16px);
  }

  &__radio-label-sub-header {
    @include font-nunito-regular(12px);
  }

  &__radio-container {
    &.item-radio-checked {
      .delivery-address__radio-label {
        color: #000;
      }
    }
  }

  &__radio-item {
    --color-checked: #166dff;
    --color: #c4c4c4;
    margin-right: 10px;
  }

  &__radio-label {
    @include font-nunito-semibold(16px);
  }

  &__radio-label-sub-header {
    color: #c4c4c4;
  }

  &__footer {
    padding: 20px 15px;
  }
}
