<ion-header no-border class="delivery-address__header">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" mode="md" class="delivery-address__back-btn" (click)="onClickedDone()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="delivery-address__title">
      {{
        (isOrderTypePickup ? contentStrings.labelSelectPickupAddress : contentStrings.labelSelectDeliveryAddress)
          | async
      }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="delivery-address__add-address-container" *ngIf="!isOrderTypePickup">
    <ion-item
      class="delivery-address__add-address-wrapper"
      lines="full"
      [button]="true"
      [detail]="false"
      (click)="addNewAdddressState = !addNewAdddressState"
      ><span class="delivery-address__add-address-sign">+ </span
      ><span class="delivery-address__add-address-text">{{ contentStrings.labelAddNewAddress | async }}</span>
      <img
        src="/assets/icon/angle-{{ addNewAdddressState ? 'up' : 'down' }}-select.svg"
        alt="arrow"
        class="delivery-address__add-address-img"
      />
    </ion-item>

    <ng-container *ngIf="addNewAdddressState">
      <st-add-edit-addresses
        [buildingsOnCampus]="buildings"
        [isError]="errorState"
        (onFormChanged)="onAddressFormChanged($event)"
      ></st-add-edit-addresses>

      <div class="delivery-address__add-address-btn-container">
        <st-button [fill]="'clear'" (onClick)="resetForm()">
          {{ contentStrings.buttonCancel | async }}
        </st-button>
        <st-button [isDisabled]="addNewAdddressForm && !addNewAdddressForm.valid" (onClick)="addAddress()">
          {{ contentStrings.buttonSave | async }}
        </st-button>
      </div>
    </ng-container>
  </div>
  <div class="delivery-address__add-address-divider" *ngIf="addNewAdddressState"></div>

  <ion-radio-group
    mode="md"
    class="delivery-address__radio-group"
    [value]="selectedAddress"
    (ionChange)="onRadioGroupChanged($event)"
    *ngIf="listOfAddresses?.length"
  >
    <ion-item lines="none" class="delivery-address__radio-container" *ngFor="let item of listOfAddresses">
      <ion-label class="delivery-address__radio-label">
        <div class="delivery-address__radio-label-content">
          <div
            class="delivery-address__radio-label-header"
            [ngClass]="{ 'delivery-address__radio-label-header-default': defaultAddress && defaultAddress.id === item.id }"
          >
            {{ item.displayHeader }}
          </div>
          <div class="delivery-address__radio-label-sub-header">{{ item.displaySubheader }}</div>
          <div class="delivery-address__radio-label-default" *ngIf="defaultAddress && defaultAddress.id === item.id">DEFAULT</div>
        </div>
      </ion-label>
      <ion-radio
        mode="md"
        slot="start"
        [value]="item.item"
        class="delivery-address__radio-item"
      ></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ng-container [ngTemplateOutlet]="footerButton" *ngIf="addNewAdddressState"></ng-container>
</ion-content>
<ion-footer mode="ios" *ngIf="!addNewAdddressState" class="delivery-address__footer">
  <ng-container [ngTemplateOutlet]="footerButton"></ng-container>
</ion-footer>

<ng-template #footerButton>
  <st-button [isDisabled]="!selectedAddress" (onClick)="selectedAddress && onClickedDone(selectedAddress)">
    {{ (isOrderTypePickup ? contentStrings.buttonSetPickupAddress : contentStrings.buttonSetDeliveryAddress) | async }}
  </st-button>
</ng-template>
