.getInput {
  width: 100%;
  height: fit-content;



  .getInput__wrapper {
    width: 100%;
    height: fit-content;

    &__inputLabel {
      margin-bottom: 2px;
      font-size: 20px;
      font-family: 'Nunito SemiBold';
      opacity: 0.5;
    }

    &__inputElems {
      &__bottomBorder {
        margin-top: 2px;
        height: 1.7px;
        opacity: 0.5;
      }

      &__image {
        margin-left: -1px;
        float: left;
        .icon {
          height: 25px;
        }
      }

      &__input {
        padding-left: 0px;
        height: 28px;
        input {
          border: none;
          width: fit-content;
          padding-left: 8px;
          height: 30px;
          width: 92%;
        }
        input:focus {
          border: none;
          outline-style: none;
          outline: none;
        }
      }
    }
  }
}
