<form [formGroup]="applicationsForm" (ngSubmit)="getApplications()">
  <ion-item>
    <ion-label position="floating">Patron Id</ion-label>
    <ion-input type="text" formControlName="patronId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Term Id</ion-label>
    <ion-input type="text" formControlName="termId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button type="submit" expand="block" color="primary">Load Data</ion-button>
  </ion-item>
</form>

<ion-list>
  <ion-list-header>
    <h4>Applications</h4>
    <ion-button>
      <ion-label class="ion-text-capitalize">View All</ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-list-header>

  <ion-item
    *ngFor="let application of applications; trackBy: trackById"
    [routerLink]="['/housing/applications', application.id]"
    routerDirection="forward"
    detail="true"
  >
    <!-- <ion-icon slot="start" name="create" *ngIf="!application.isApplicationSubmitted"></ion-icon>
    <ion-icon slot="start" name="checkmark" *ngIf="application.isApplicationAccepted"></ion-icon> -->

    <ion-label>
      <h2>{{ application.applicationTitle }}</h2>
      <!-- <p>{{ getApplicationStatus(application) }}</p>

      <p *ngIf="isNotPending(application)">
        Last Update: {{ getApplicationModificationDate(application) | date: 'fullDate' }}
      </p>

      <p *ngIf="isNotNewAndNotPending(application)">
        {{ getApplicationModificationDate(application) | date: 'fullDate' }}
      </p> -->
    </ion-label>
  </ion-item>
</ion-list>
