<ion-list>
  <ion-list-header>
    <h4>Applications</h4>
    <ion-button>
      <ion-label class="ion-text-capitalize">View All</ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-list-header>

  <ion-item
    *ngFor="let application of (applications$ | async); trackBy: trackById"
    [routerLink]="['/housing/applications', application.applicationDefinitionId]"
    routerDirection="forward"
    detail="true"
  >
    <ion-icon slot="start" name="create" *ngIf="!application.isApplicationSubmitted"></ion-icon>
    <ion-icon slot="start" name="checkmark" *ngIf="application.isApplicationAccepted"></ion-icon>

    <ion-label>
      <h2>{{ application.applicationTitle }}</h2>
      <!-- <p>{{ getApplicationStatus(application) }}</p>

      <p *ngIf="isNotPending(application)">
        Last Update: {{ getApplicationModificationDate(application) | date: 'fullDate' }}
      </p>

      <p *ngIf="isNotNewAndNotPending(application)">
        {{ getApplicationModificationDate(application) | date: 'fullDate' }}
      </p> -->
    </ion-label>
  </ion-item>
</ion-list>
