@switch (photoStatus) { @case (photoStatusValues.PENDING) {
<div class="header-message-container-selfie-submitted">
  <div class="icon-cont">
    <ion-icon name="checkmark-circle" class="icon"></ion-icon>
  </div>
  <div class="header-message">
    <div class="key-message-submitted" [innerHTML]="'get_mobile.photo_upload.photosubmittedmessage' | translate"></div>
  </div>
</div>
} @case (photoStatusValues.REJECTED) {
<st-alert-banner
  color="danger"
  iconScr="caution"
  [text]="('get_mobile.photo_upload.photosrejectedmessage' | translate) + statusReasonText"
></st-alert-banner>
} @default {
<div class="header-message-container-selfie">
  <div class="icon-cont">
    <ion-icon name="information-circle-outline" class="icon"></ion-icon>
  </div>
  <div class="header-message">
    <div class="key-message" [innerHTML]="'get_mobile.photo_upload.updatephotomessage' | translate"></div>
  </div>
</div>
} }
