@import 'tools';

.header-message-container-selfie {
  display: flex;
  padding: 16px;
  position: static;
  height: auto;
  background: #f1f1f1;
  border-radius: 8px;
}

.header-message-container-selfie-submitted {
  display: flex;
  padding: 16px;
  position: static;
  height: auto;
  background: #e7f3ef;
  border-radius: 8px;
  color: #007b53;
}

.icon-cont {
  display: flex;
  justify-content: center;
  padding-right: 18.8px;
  align-items: center;
}

.icon {
  color: black;
  height: 22.4px;
  width: 22.4px;
}
