<ion-list class="category-list"
          mode="ios"
          lines="none">
  <ion-item class="category-list__menu-item"
            *ngFor="let menuItem of menuCategoryItems"
            lines="none"
            mode="ios"
            (click)="triggerMenuItemClick(menuItem)">
    <div class="category-list__menu-item-container">
      <div class="category-list__menu-item-wrapper">
        <div class="category-list__menu-item-title">{{ menuItem.menuItem.name }}</div>
        <div class="category-list__menu-item-description">{{ menuItem.menuItem.description }}</div>
        <div class="category-list__menu-item-price">{{ menuItem.menuItem.price | priceUnitsResolver: mealBased }}</div>
      </div>
      <img *ngIf="menuItem.menuItem.imageReference"  aria-hidden="true" class="category-list__menu-item-photo"
           src="{{awsImageUrl + menuItem.menuItem.imageReference}}" alt="">
    </div>
  </ion-item>
</ion-list>
