@import 'tools';

.category-list {
  padding: 31px 16px;
  background: $color-alice-blue;

  &__menu-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    height: 96px;
    box-shadow: 0 0 4px 0 #0000000a, 0 2px 14px 0 #0000001f;
    border-radius: 8px;
    margin: 8px 0;
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-end: 3px;
    --inner-padding-start: 0;
  }

  &__menu-item-container {
    padding: 9px 0 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu-item-title {
    @include font-nunito-heavy(14px);
  }

  &__menu-item-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 29px;

    @include font-nunito-regular(11px);
  }

  &__menu-item-price {
    margin: 9px 0;

    @include font-nunito-regular(14px);
  }

  &__menu-item-photo {
    border-radius: 8px;
    height: 88px;
    width: 88px;
    object-fit: cover;
  }

  &__calories {
    @include font-nunito-regular(14px);
    color: var(--ion-color-medium);
    margin-left: 12px;
  }
}
