@import 'tools';

.menu-category {
  width: 100%;
  height: 100%;
  --background: #f0f3f5;

  &__category-list {
    padding: 31px 16px;
    background: #f0f3f5;
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    height: 96px;
    box-shadow: 0px 0px 4px 0px #0000000a,
    0px 2px 14px 0px #0000001f;
    border-radius: 8px;
    margin: 8px 0;
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-end: 3px;
    --inner-padding-start: 0;
  }

  &__menu-item-wrapper {
    margin: 14px 9px 9px 15px;
    padding: 0;
  }

  &__menu-item-title {

    @include font-nunito-heavy(14px);
  }

  &__menu-item-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 29px;

    @include font-nunito-regular(10px);
  }

  &__menu-item-price {
    margin: 9px 0;

    @include font-nunito-regular(14px);
  }

  &__menu-item-photo {
    border-radius: 8px;
    height: 88px;
    width: 88px;
  }

}