@import 'tools';

:host {
  .account {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 0;

    &__name {
      @include font-nunito-semibold(14px);

      color: $color-black;
      letter-spacing: 0;
      line-height: 18px;
    }

    &__balance {
      @include font-nunito-heavy(16px);

      color: $color-black;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
}

:host-context(.accounts-list--active) {
  @include bp-grid-tablet {
    .account-item {
      --background: #166dff;

      .account {
        &__name {
          color: #fff;
        }

        &__balance {
          color: #fff;
        }
      }
    }
  }
}
