<st-header
  [title]="notificationTitle"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
></st-header>
<ion-content class="ion-padding-top">
  <ion-refresher slot="fixed" (ionRefresh)="markNotificationAsViewed($event)">
    <st-spinner></st-spinner>
  </ion-refresher>
  <ion-list class="notifications__list" *ngFor="let group of notificationGroups; trackBy: trackByFn">
    <ion-item-divider *ngIf="notificationGroups.length">
      {{ group.date }}
    </ion-item-divider>
    <st-notification [notifications]="group.notifications"></st-notification>
  </ion-list>
  <div
    *ngIf="notificationGroups.length"
    class="notifications__expiration-days ion-text-center ion-padding"
    translate
    [translateParams]="{ expirationDays: '90' }"
  >
    patron-ui.notifications.expiration_policy
  </div>
  <ion-img
    *ngIf="loadingService.notLoading() && !notificationGroups.length"
    src="assets/icon/no-notifications.svg"
    alt="Empty notifications list"
  ></ion-img>
</ion-content>
