@import 'tools';

ion-content {
  --background: #{$color-background-gray};
}

ion-item-divider {
  background-color: $color-background-gray;
  @include font-nunito-heavy(16px);
  color: $color-black;
}

st-header {
  @include font-nunito-heavy(35px);
}

ion-img {
  margin-top: 15%;
}

.notifications {
  &__expiration-days {
    @include font-nunito-regular(12px);
  }
}
