<st-header title="Notifications" [isTitleShow]="true" backButtonIcon="close" backButtonTitle=""
  [isToolbarShow]="true" [trackUrls]="true"></st-header>
<ion-content>
  <ion-list *ngFor="let group of notificationGroups">
    <ion-item-divider *ngIf="group.notifications.length > 0">
      {{ group.date }}
    </ion-item-divider>
   <st-notification [group]="group.notifications"></st-notification>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>