@import 'tools';

.container {
  background: #f1f1f1 !important;
}

.title {
  @include font-nunito-heavy(20px);
  color: rgba(0, 0, 0, 0.87);
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  background: #ffffff;
  padding-top: 15px;
}

.header-message-container-id {
  display: flex;
  padding: 16px;
  position: static;
  height: auto;
  background: #f1f1f1;
  border-radius: 8px;
}

.icon-cont {
  display: flex;
  justify-content: center;
  padding-right: 18.8px;
  align-items: center;
}

.icon {
  color: black;
  height: 22.4px;
  width: 22.4px;
}

.key-message {
  line-height: 22px;
  @include font-nunito-regular(16px);
  color: rgba(0, 0, 0, 0.87);
  padding: 0px;
  margin: 0px;
}

.key-message-submitted {
  line-height: 22px;
  color: #007b53;
  @include font-nunito-regular(16px);
  padding: 0px;
  margin: 0px;
}

.secondary-message {
  font-size: x-small;
}

.id-photo-upload-container {
  margin-left: 0px;
  margin-right: 0px;
}

.photo-upload-cont {
  display: flex;
  padding-top: 0px;
  justify-content: space-between;
}

.upload-btn {
  width: 132px;
  height: 48px;
}

ion-button.button-disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: #e2e2e2;
}

.action-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-btn {
  width: 343px;
  height: 48px;
}

.grey-background {
  background: #f1f1f1;
}

.round-corners {
  border-radius: 8px;
}
