<st-header
  [isTitleShow]="true"
  backButtonIcon="close"
  [isBackButtonShow]="true"
  [isToolbarShow]="true"
  backButtonTitle=""
  title="Photo Upload"
>
</st-header>
<ion-content class="container">
  <!-- TOP OF WHAT WILL GET MOVED TO THE PHOTO UPLOAD HTML FILE -->
  @if(localPhotoData.govtIdRequired) {
  <ion-card class="id-photo-upload-container">
    <!-- HEADER MESSAGE FOR ID UPLOADS -->
    <ion-card-header>
      <div class="header-message-container-id">
        <div class="icon-cont">
          <ion-icon name="information-circle-outline" class="icon"></ion-icon>
        </div>
        <div class="header-message">
          <div class="key-message" [innerHTML]="'get_mobile.photo_upload.govtidmessage' | translate"></div>
          <div class="secondary-message" [innerHTML]="'get_mobile.photo_upload.govtidmessagesmall' | translate"></div>
        </div>
      </div>
    </ion-card-header>
    <!-- CONTAINER FOR ID PHOTOS -->
    <ion-card-content class="photo-upload-cont">
      <!--      FRONT OF ID -->
      <st-photo-upload-image-container
        [photoType]="photoType.GOVT_ID_FRONT"
        [photoStatus]="localPhotoUploadStatus.govIdFront"
        [photoUrl$]="govIdFront$"
        [photoDimensions]="frontId"
        (photoTypeSelected)="presentPhotoTypeSelection(photoType.GOVT_ID_FRONT)"
      ></st-photo-upload-image-container>
      <!--    BACK OF ID  -->
      <st-photo-upload-image-container
        [photoType]="photoType.GOVT_ID_BACK"
        [photoStatus]="localPhotoUploadStatus.govIdBack"
        [photoUrl$]="govIdBack$"
        [photoDimensions]="backId"
        (photoTypeSelected)="presentPhotoTypeSelection(photoType.GOVT_ID_BACK)"
      ></st-photo-upload-image-container>
    </ion-card-content>
  </ion-card>
  }
  <!-- CARD FOR PROFILE PHOTOS -->
  <ion-card class="ion-no-margin">
    <!-- MESSAGE FOR PROFILE PHOTOS -->
    <ion-card-header>
      <st-photo-upload-status
        [photoStatus]="localPhotoUploadStatus.profilePending"
        [statusReason]="localPhotoData.profilePending?.statusReason"
      ></st-photo-upload-status>
    </ion-card-header>
    <!-- CONTAINER FOR PROFILE PHOTOS -->
    <ion-card-content class="photo-upload-cont">
      <st-photo-upload-image-container
        [photoType]="photoType.CURRENT"
        [photoUrl$]="profileImage$"
      ></st-photo-upload-image-container>
      <st-photo-upload-image-container
        [photoType]="photoType.PROFILE"
        [photoStatus]="localPhotoUploadStatus.profilePending"
        [photoUrl$]="profileImagePending$"
        (photoTypeSelected)="presentPhotoTypeSelection(photoType.PROFILE)"
        (photoDeleted)="deletePendingProfileImage()"
      ></st-photo-upload-image-container>
    </ion-card-content>
  </ion-card>

  <!-- BUTTON THAT SUBMITS ALL PHOTOS  -->
  <div class="action-btn-container">
    <ion-button color="primary" [disabled]="submitButtonDisabled" class="submit-btn" (click)="submitPhotos()">{{
      ('get_mobile.photo_upload.' + (localPhotoData.govtIdRequired ? 'submit_photos_button' : 'submit_photo_button'))
        | translate
    }}</ion-button>
  </div>
</ion-content>
