@import 'tools';

.no-access {
  width: 18.8px;
  height: 24.4px;
  display: flex;
  margin: 0 auto;
}

ion-title {
  display: flex;
  margin: 12.6 auto;
  text-align: center;
  line-height: 27px;
  @include font-nunito-heavy(20px);
}

ion-text {
  display: flex;
  margin: 0 auto;
  text-align: left;
  margin: 16px 32px 0px 32px;
  color: rgba(0, 0, 0, 0.87);
  @include font-nunito-regular(14px);
}

.access {
    width: 419px;
    left: -28px;
}
