<ion-content appClickStopPropagation>
  <div>
    <ion-col>
      <img class="location" src="./assets/icon/location-pin.svg" alt="Location access icon" role="button" tabindex="0" />
      <ion-title class="location__title">Use your location</ion-title>
      <ion-text class="location__text" tabindex="0"
        >GET can use your location to help you find nearby merchants, check in for an order pickup, and use your card.
        Allowing background access to your device’s location lets you to take full advantage of these features and enables
        you to add your card or payroll account to Apple Wallet or Google Pay if offered by your institution.</ion-text
      >
      <img
        class="location-access-img"
        src="./assets/images/location-access.svg"
        alt="Location access image"
        role="button"
        tabindex="0"
        width="419"
        height="366"
      />
    </ion-col>
  </div>
</ion-content>
<ion-footer>
  <div class="location-access-btn" tabindex="0">
    <st-button (onClick)="requestLocationPermissions()">
      Location Access
    </st-button>
  </div>
</ion-footer>
