@import 'tools';

.st-forms-header {

  &__actions {
    display: flex;
    justify-content: space-between;
    padding-top: var(--ion-safe-area-top, 0);
    padding-bottom: 5px;
    background-color: $porcelain;
  }
 
  &__cancel {
    @include font-family($font-nunito-regular);
    --color: #{$color-black};
  }

  &__save {
    @include font-family($font-nunito-heavy);
    --color: #{$color-dodger-blue};
  }
}
