<ion-content>
  <st-header title="Search for a roommate" [isTitleShow]="true" [backButtonTitle]="'Back'" backButtonIcon="chevron-back" [isToolbarShow]="true" [trackUrls]="true"></st-header>
  <section class="input__wrapper" *ngIf="options">
    <form [formGroup]="searchForm" novalidate>
      <ng-container [ngSwitch]="options.searchOptions">
        <div *ngSwitchCase="'byExactId'">
          <div class="input__control">
            <st-input-floating-label label="Search by exact match of ID#" [formControlName]="firstInputName"
              [control]="firstInput" type="text" idd="search_1">
            </st-input-floating-label>
          </div>
        </div>
        <div *ngSwitchCase="'byPartialPreferredFirstLast'">
          <div class="input__control">
            <st-input-floating-label label="Search by preferred first and last name" [formControlName]="firstInputName"
              [control]="firstInput" type="text" idd="search_1">
            </st-input-floating-label>
          </div>
          <div class="input__control">
            <st-input-floating-label label="Last Name" [formControlName]="secondInputName" [control]="secondInput"
              type="text" idd="search_2">
            </st-input-floating-label>
          </div>
        </div>
        <div *ngSwitchCase="'byPartialLastFirst'">
          <h4 class="serch-by__header">Search by last and first name</h4>
          <div class="input__control">
            <st-input-floating-label label="Last Name" [formControlName]="firstInputName" [control]="firstInput"
              type="text" idd="search_1" [isError]="errorValidator(firstInput)">
            </st-input-floating-label>
            <st-control-errors [control]="firstInput" [errorMessages]="errorMessages" ></st-control-errors>
          </div>

          <div class="input__control">
            <st-input-floating-label label="First Name" [formControlName]="secondInputName" [control]="secondInput"
              type="text" idd="search_2" [isError]="errorValidator(secondInput)">
            </st-input-floating-label>
            <st-control-errors [control]="secondInput" [errorMessages]="errorMessages" ></st-control-errors>
          </div>
        </div>
        <div *ngSwitchCase="'byExactAlternateId'">
          <h4 class="serch-by__header">Search by exact match of alternate ID#</h4>
          <div class="input__control">
            <st-input-floating-label label="Alternate ID#" [formControlName]="firstInputName" [control]="firstInput"
              type="text" idd="search_1">
            </st-input-floating-label>
          </div>
        </div>
        <div *ngSwitchCase="'byPartialEmail'">
          <h4 class="serch-by__header">Search by university email</h4>
          <div class="input__control">
            <st-input-floating-label label="Email" [formControlName]="firstInputName" [control]="firstInput"
              type="text" idd="search_1">
            </st-input-floating-label>
          </div>
        </div>
      </ng-container>
      <div>
        <st-button expand="block" color="primary" mode="ios" (click)="searchRoommates(options)"
          [disabled]="!searchForm.valid">
          Search
        </st-button>
      </div>
    </form>
  </section>
  <st-requested-roommates>
  </st-requested-roommates>
</ion-content>