@import 'tools';

.serch-by__header {
  font-size: 20px;
  padding-left: 10px;
}

.input {
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__control {
    width: 100%;
    height: 100%;
    outline: none;
    //border: 1px solid $color-light-gray;
    border-radius: 8px;
    -webkit-appearance: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  &__transparent_btn {
    position: absolute;
    top: 0%;
    right: 1%;
  }
}

.roommate-requested__container {
  h4 {
    margin: 20px 10px 5px;
    font-size: 1.10em;
  }

  .status {
    padding: 5px 15px;

    .status__text {
      display: inherit
    }
  }
}

st-button {
  padding-left: 12px;
  padding-right: 16px;
}