<div class="card" [ngStyle]="{ 'background-color': institutionColor$ | async }">
  <ion-grid class="ion-no-padding">
    <ion-row
      class="card__header"
      *ngIf="{ photo: institutionPhoto$ | async, name: institutionName$ | async } as instutionValues"
    >
      <ion-col class="card__header-logo-wrapper" size="2" *ngIf="instutionValues.photo">
        <img
          *ngIf="instutionValues.photo"
          class="card__header-logo"
          [src]="instutionValues.photo"
          alt="institution logo"
        />
      </ion-col>
      <ion-col
        class="card__header-title-wrapper"
        [class.card__header-title-left]="!instutionValues.photo"
        size="(instutionValues.photo)? 9 : 12"
      >
        <div *ngIf="instutionValues.name" class="card__header-title left">{{ instutionValues.name }}</div>
      </ion-col>
    </ion-row>
    <ion-row class="card__campus-container">
      <ion-col class="card__campus-wrapper">
        <ng-container *ngIf="(institutionBackgroundImage$ | async); then campusBackground; else defaultBackground">
        </ng-container>
        <ng-template #defaultBackground>
          <img
            class="card__campus-background"
            src="/assets/images/card_background_illustration.svg"
            alt="background photo"
          />
        </ng-template>
        <ng-template #campusBackground>
          <img class="card__campus-background" [src]="institutionBackgroundImage$ | async" alt="campus photo" />
        </ng-template>
        <div class="card__campus-student-avatar-wrapper">
          <img *ngIf="!isLoadingPhoto && userPhoto" class="card__campus-student-avatar" [src]="userPhoto" alt="user photo" />
          <img
            *ngIf="isLoadingPhoto || !userPhoto"
            class="card__campus-empty-photo"
            src="/assets/images/no_photo.svg"
            alt="no photo icon"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="card__student-container">
      <ion-col class="card__student-name-wrapper" [size]="(mobileCredentialFacade.isEnabled$ | async ) ? 6 : 'auto'">
        <div *ngIf="(userName$ | async)" class="card__student-name">{{ userName$ | async }}</div>
      </ion-col>
      <ion-col *ngIf="(mobileCredentialFacade.isEnabled$ | async) && !housingOnlyEnabled" size="6">
        <div class="card__student-wallet">
          <img *ngIf="( mobileCredentialFacade.uiIconUrl$ | async ) as imageUrl"
            mode="ios"
            (click)="mobileCredentialFacade.onUiIconClicked()"
            class="card__wallet-icon"
            src="{{ imageUrl }}"
          />
          <div class="card__student-wallet-text">{{ mobileCredentialFacade.uiText$ | async }}</div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="card__quick-actions-container" *ngIf="!housingOnlyEnabled">
      <ion-col class="card__quick-actions-wrapper" *ngIf="(getMyCardEnabled$ | async)">
        <ion-button mode="ios" class="card__quick-actions-btn" (click)="onScanCardClick()">
          <div class="card__quick-actions-btn-wrapper">
            <img class="card__icon" src="/assets/icon/barcode.svg" alt="barcode" />
            <div class="card__icon-title">Scan Card</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col class="card__quick-actions-wrapper" *ngIf="(isMobileAccessButtonEnabled$ | async)">
        <ion-button mode="ios" class="card__quick-actions-btn" (click)="onMobileAccessClick()">
          <div class="card__quick-actions-btn-wrapper">
            <img class="card__icon" src="/assets/icon/mobile-access.svg" alt="mobile access" />
            <div class="card__icon-title">Mobile Access</div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="(mobileCredentialFacade.mobileCredentialAvailable$ | async)" class="card__quick-actions-wrapper">
        <ion-button
          *ngIf="(mobileCredentialFacade.uiImageUrl$ | async) as image"
          mode="ios"
          class="card__apple-wallet-btn"
          (click)="mobileCredentialFacade.onImageClick()"
        >
          <img src="{{ image }}" style="height: fit-content"/>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>