<st-header
  title="Automatic Deposit"
  [isTitleShow]="true"
  backButtonIcon="close"
  [backButtonTitle]="''"
  [isToolbarShow]="true"
  [trackUrls]="true"
  class="browser-hidden"
></st-header>
<ion-content class="browser-hidden ion-padding-horizontal" *ngIf="showContent">
  <h1 class="content__header">Automatic Deposit Type</h1>
  <st-deposit-type-nav
    [activeType]="
      autoDepositSettings?.active ? autoDepositSettings?.autoDepositType : autoDepositTypes.automaticDepositOff
    "
    (onTypeChanged)="onDepositTypeChangedHandler($event)"
  ></st-deposit-type-nav>

  <form class="deposit-form" novalidate *ngIf="(formHasBeenPrepared | async)" [formGroup]="automaticDepositForm">
    <ng-container
      *ngIf="activeAutoDepositType === autoDepositTypes.timeBased"
      [ngTemplateOutlet]="timeBased"
    ></ng-container>

    <ng-template #lowBalance>
      <st-input-floating-label
        *ngIf="(isLowBalanceFreeInput$ | async); else selectLowBalanceAmount"
        [isError]="lowBalanceAmount.errors && (lowBalanceAmount.dirty || lowBalanceAmount.touched)"
        [control]="lowBalanceAmount"
        [formControlName]="controlNames.lowBalanceAmount"
        title="Enter amount"
        class="deposit-form__label"
        type="number"
        inputmode="decimal"
        idd="lowBalanceAmount"
        label="When my balance drops to"
      >
        <p class="deposit-form__control-error-msg">
          {{ lowBalanceAmount.errors?.errorMsg }}
        </p>
      </st-input-floating-label>

      <ng-template #selectLowBalanceAmount>
        <st-select-floating-label
          [formControlName]="controlNames.lowBalanceAmount"
          [control]="lowBalanceAmount"
          [interfaceOptions]="customActionSheetOptions"
          [isError]="lowBalanceAmount?.invalid && lowBalanceAmount?.touched"
          class="deposit-form__label"
          interface="action-sheet"
          title="Choose amount from a dropdown list below"
          label="When my balance drops to"
          idd="lowBalanceAmount"
        >
          <ng-container role="options">
            <ion-select-option *ngFor="let amount of (lowBalanceValues$ | async)" [value]="parseFloat(amount)"
              >{{ amount | transactionUnits }}
            </ion-select-option>
          </ng-container>

          <ng-container role="error">
            <p class="deposit-form__control-error-msg">
              {{ lowBalanceAmount.errors?.errorMsg }}
            </p>
          </ng-container>
        </st-select-floating-label>
      </ng-template>
    </ng-template>

    <ng-template #timeBased>
      <st-deposit-frequency
        [autoDepositSettings]="autoDepositSettings"
        (onFrequencyChanged)="onFrequencyChanged($event)"
      ></st-deposit-frequency>

      <ng-container *ngIf="activeFrequency === frequency.month && dayOfMonth; else week">
        <st-input-floating-label
          [isError]="dayOfMonth.errors && (dayOfMonth.dirty || dayOfMonth.touched)"
          [control]="dayOfMonth"
          [formControlName]="controlNames.dayOfMonth"
          label="Day of Month"
          class="deposit-form__label"
          type="number"
          idd="dayOfMonth"
          title="write day of month"
        >
          <p class="deposit-form__control-error-msg">
            {{ dayOfMonth.errors?.errorMsg }}
          </p>
        </st-input-floating-label>
      </ng-container>

      <ng-template #week>
        <st-select-floating-label
          *ngIf="dayOfWeek"
          [formControlName]="controlNames.dayOfWeek"
          [control]="dayOfWeek"
          [interfaceOptions]="customActionSheetOptions"
          [isError]="dayOfWeek.invalid && dayOfWeek.touched"
          interface="action-sheet"
          title="Choose day of week from a dropdown list below"
          label="Day of Week"
          class="deposit-form__label"
          idd="lowBalanceAmount"
        >
          <ng-container role="options">
            <ion-select-option *ngFor="let day of weekArray; let i = index" [value]="i + 1"
              >{{ day }}
            </ion-select-option>
          </ng-container>

          <ng-container role="error">
            <p class="deposit-form__control-error-msg">
              {{ dayOfWeek.errors?.errorMsg }}
            </p>
          </ng-container>
        </st-select-floating-label>
      </ng-template>
    </ng-template>

    <st-select-floating-label
      [formControlName]="controlNames.paymentMethod"
      [control]="paymentMethod"
      [interfaceOptions]="customActionSheetOptions"
      [isError]="paymentMethod.invalid && paymentMethod.touched"
      (change)="onPaymentMethodChanged($event)"
      interface="action-sheet"
      title="Choose an account from a dropdown list below"
      label="Payment Method"
      idd="lowBalanceAmount"
      class="deposit-form__label"
    >
      <ng-container role="options">
        <ng-container *ngFor="let account of sourceAccounts; trackBy: trackByAccountId">
          <ng-container *ngIf="account === paymentTypes.BILLME; then billMe; else creditCard"></ng-container>

          <ng-template #billMe>
            <ion-select-option [value]="account">
              Bill Me
            </ion-select-option>
          </ng-template>

          <ng-template #creditCard>
            <ion-select-option [value]="account">
              {{ account.accountTender | creditCardType }} ending in
              {{ account.lastFour }}
            </ion-select-option>
          </ng-template>
        </ng-container>

        <ion-select-option *ngIf="(isCreditPaymentTypeEnabled$ | async)" [value]="'addCC'">
          Add credit card
        </ion-select-option>
      </ng-container>

      <ng-container role="error">
        <p class="deposit-form__control-error-msg">
          {{ paymentMethod.errors?.errorMsg }}
        </p>
      </ng-container>
    </st-select-floating-label>

    <st-select-floating-label
      [formControlName]="controlNames.account"
      [control]="account"
      [interfaceOptions]="customActionSheetOptions"
      [isError]="account.invalid && account.touched"
      class="deposit-form__label"
      interface="action-sheet"
      title="Choose account from a dropdown list below"
      label="Account"
      idd="account"
    >
      <ng-container role="options">
        <ion-select-option [value]="account" *ngFor="let account of destinationAccounts; trackBy: trackByAccountId">
          {{ account.accountDisplayName }} ({{ account.balance | transactionUnits: account.accountType }})
        </ion-select-option>
      </ng-container>

      <ng-container role="error">
        <p class="deposit-form__control-error-msg">
          {{ account.errors?.errorMsg }}
        </p>
      </ng-container>
    </st-select-floating-label>

    <ng-container *ngIf="(isFreeFormAmountToDepositEnabled$ | async); then amountInput; else amountSelect">
    </ng-container>

    <ng-template #amountSelect>
      <st-select-floating-label
        [formControlName]="controlNames.amountToDeposit"
        [control]="amountToDeposit"
        [interfaceOptions]="customActionSheetOptions"
        [isError]="amountToDeposit.invalid && amountToDeposit.touched"
        interface="action-sheet"
        title="Choose amount to deposit from a dropdown list below"
        label="Amount to deposit"
        class="deposit-form__label"
        idd="amountToDeposit"
      >
        <ng-container role="options">
          <ion-select-option *ngFor="let amount of (amountsForSelect$ | async)" [value]="parseFloat(amount)">{{
            amount | transactionUnits
          }}</ion-select-option>
        </ng-container>

        <ng-container role="error">
          <p class="deposit-form__control-error-msg">
            {{ amountToDeposit.errors?.errorMsg }}
          </p>
        </ng-container>
      </st-select-floating-label>
    </ng-template>

    <ng-template #amountInput>
      <st-input-floating-label
        [control]="amountToDeposit"
        [formControlName]="controlNames.amountToDeposit"
        [isError]="amountToDeposit.invalid && amountToDeposit.touched"
        title="enter amount to deposit"
        class="deposit-form__label"
        type="number"
        inputmode="decimal"
        idd="amountToDeposit"
        label="Amount to deposit"
      >
        <p class="deposit-form__control-error-msg">
          {{ amountToDeposit.errors?.errorMsg }}
        </p>
      </st-input-floating-label>
    </ng-template>

    <ng-container
      *ngIf="activeAutoDepositType === autoDepositTypes.lowBalance && lowBalanceAmount"
      [ngTemplateOutlet]="lowBalance"
    ></ng-container>
  </form>
</ion-content>

<ion-footer class="deposit-form__footer browser-hidden" mode="ios">
  <st-button
    [disabled]="automaticDepositForm && automaticDepositForm.invalid"
    (onClick)="onSubmit()"
    buttonModifier="entry-no-box-shadow"
  >
    save settings
  </st-button>
</ion-footer>
