@import "tools";

.content {
  --padding-end: 20px;
  --padding-start: 20px;

  &__header {
    line-height: 20px;
    letter-spacing: 0;

    @include font-nunito-regular(16px);
  }
}


.deposit-form {
  &__control {
    height: 45px;
    background: $color-white;
    border-radius: 8px;
    border: 1px solid $color-link-water;
    letter-spacing: 0;

    @include font-nunito-regular(16px);
    --placeholder-color: #626262;
    --padding-start: 5px;

    &--error {
      border: 1px solid $color-alizarin;
    }
  }

  &__control-error-msg {
    margin: 0;
    color: $color-alizarin;
    letter-spacing: 0;
    min-height: 16px;
    line-height: 16px;

    @include font-nunito-heavy(12px);
  }

  &__label {
    margin-top: 25px;
    display: block;

    @include font-nunito-regular(14px)
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 10px 10px 50px;
    background-color: $color-white;
  }
}
