<ng-container [formGroup]="parentForm">
  <h3 class="form__secondary-header">{{ question.label }}
    <span *ngIf="isRequired" class="showAsterisk">*</span>
  </h3>

  <ion-reorder-group [attr.disabled]="isDisabled" (ionItemReorder)="doReorder($event)" [formArrayName]="question.name">
    <ion-item *ngFor="let facility of facilities; trackBy: trackByValue; index as idx">
      <ion-badge color="primary" slot="start" *ngIf="question.prefRank > idx">{{ idx + 1 }}</ion-badge>

      <input type="hidden" [formControlName]="idx" [value]="facility" />

      <ion-label>
        {{ facility.label }}
      </ion-label>

      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ng-container>
