@import "tools";

.order-card {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 2px 14px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  &__name {
    color: $color-black;

    @include font-nunito-semibold(16px);
  }

  &__number {
    color: $color-black;

    @include font-nunito-regular(14px);
  }

  &__description {
    letter-spacing: 0;
    line-height: 18px;
    color: $color-dim-gray;

    @include font-nunito-regular(14px);
  }

  &__date {
    letter-spacing: 0;
    line-height: 18px;
    color: $color-dim-gray;

    @include font-nunito-regular(14px);
  }
}
