@import 'tools';

.order-item {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 2px 14px 0px rgba(0, 0, 0, 0.12);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #161616;

    @include font-nunito-semibold(16px);
  }

  &__body {
    color: #6e6e6e;

    @include font-nunito-regular(14px);
  }

  &__data {
    color: #6e6e6e;

    @include font-nunito-regular(14px);
  }

  &__order-number {
    color: #000;

    @include font-nunito-regular(14px);
  }
}
