<ion-card class="order-card" (click)="onClicked.emit(orderInfo)">
    <ion-card-content>
        <header class="order-card__header">
            <h6 class="order-card__name">{{ orderInfo.merchantName }}</h6>
            <p class="order-card__number">Order #{{ orderInfo.checkNumber }}</p>
        </header>
        <p class="order-card__description">{{ orderInfo.orderItems | orderItemsSummary }}</p>
        <p class="order-card__date">{{orderInfo.dueTime | date:'MM/dd/yyyy'}}</p>
    </ion-card-content>
</ion-card>
