@import 'tools';

.view {
  &__wrapper {
    background: linear-gradient(-225deg, rgb(22, 109, 255) 0%, rgb(0, 86, 230) 100%);
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    color: $color-white;
    padding: 0 10px;
    margin: 30px 15px;
    position: relative;

    @include font-nunito-heavy(14px);
  }

  &__text {
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__count {
    position: absolute;
    background-color: $color-strong-blue;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
