
.avatar-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.00);
}

.avatar-icon-label-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.4em;
}

.avatar-text-label-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    color: white; 
    margin: 0px;
}


.message-text-bubble {
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-text-date {
    margin: 0px;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

.light-grey-background {
    background-color: rgba(0,0,0,0.05);
}

.white-background {
    background-color: rgba(1, 1, 1, 1);
}

.primary-background {
    background-color: var(--ion-color-primary)
}

.light-blue-background {
    background-color: rgba(0, 92, 185, 0.1);
}

.purple-background {
    background-color: #af5cf7;
}

.list-margin-left-right {
    margin-left: 2em;
    margin-right: 2em;
}

.group-selected-background {
    background-color: rgba(0,0,0,0.05);
}

.item, .list, .item-content, .item-complex {
    --ion-background-color: transparent !important;
}