@import "tools";

.filter-menu {
	position: relative;

	&__header {
		text-align: center;
		margin: 5px 0;

		@include font-nunito-heavy(20px);
	}

	&__done-btn {
		color: $color-dodger-blue;
		line-height: 1;
		top: 50%;
		background: transparent;
		border: none;

		&:active,
		&:target,
		&:visited,
		&:focus {
			border: none;
			outline: none;
		}

		@include font-nunito-heavy(16px);
	}

	&__divider {
		margin: 0;
		padding: 2px 10px;
		text-transform: uppercase;
		background-color: $color-white-smoke;
		color: #5a5a5a;
		--inner-padding-start: 10px !important;

		@include font-nunito-regular(12px);
	}

	&__item-list {
		padding: 0;
	}

	&__radio-btn {
		margin: 0 10px 0 0;
	}
}

.close-btn {
	width: 25px;
	height: 25px;
	display: block;
}

ion-buttons {
	padding: 0 5px;
	justify-content: space-between;
	margin-bottom: 5px;
}
