@import 'tools';

.back-button {
  @include font-nunito-regular(16px);

  --icon-font-size: 16px;
  --icon-padding-end: 5px;
}

.btn-roommate-requesting {
  width: 95%;
}

ion-card-title {
  @include font-nunito-semibold(22px);
}

ion-card-content {
  @include font-nunito-regular(16px);
}

st-button {
  margin: 10px;
}