<ion-header class="edit-home__header" mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="ios">
      <ion-button mode="ios" class="edit-home__header-back-btn" (click)="onClickedClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios" class="requesting-roommate-modal__header-title">Received Roommate Request</ion-title>
<!--    <ion-buttons slot="end" mode="ios">-->
<!--      <ion-button mode="ios" class="edit-home__header-done-btn" (click)="onClickedDone()">Done</ion-button>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content class="edit-home__content-container">
    <ion-card *ngFor="let roommate of requestingRoommate; let index = index">
      <ion-item>
        <ion-list-header>Roommate Request</ion-list-header>
      </ion-item >
      <ion-list class="btns-content">
        <ion-text class="text-roommate-requesting">{{roommate.firstName}} {{roommate.lastName}} has sent you a Roommate Request. If you deny the request, {{roommate.firstName}} {{roommate.lastName}} will not be notified.</ion-text>
      </ion-list>
      <ion-list class="btns-content">
        <ion-button class="btn-roommate-requesting" (click)="acceptRoommateRequest(roommate,index)">Accept Roommate Request</ion-button>
        <ion-button class="btn-roommate-requesting" color="danger" (click)="denyRoommateRequest(index)" >Deny Roommate Request</ion-button>
      </ion-list>
    </ion-card>
</ion-content>
