<st-header title="Received Roommate Request" [isTitleShow]="true" backButtonIcon="close" [isBackButtonShow]="false"
  [isDismissButtonShow]="true" [isToolbarShow]="true" backButtonTitle="" (onDismiss)="onClose()"></st-header>

<ion-content class="edit-home__content-container">
    <ion-card no-padding *ngFor="let roommate of requestingRoommate; let index = index">
      <ion-card-header>
        <ion-card-title>Student {{roommate.firstName}}</ion-card-title>
      </ion-card-header>
      <div [hidden]="true">{{_applicationsStateService.requestedRoommates | async}}</div>
        <ion-card-content class="text-roommate-requesting"> Student {{roommate.firstName}} has requested you as a roomate. (If you deny the request, they will not be notified.)</ion-card-content>
        <div class="btns-container">
          <ion-button md="ios" class="response-btns" (click)="acceptRoommateRequest(roommate)">Accept Request</ion-button>
          <ion-button md="ios" class="response-btns" (click)="denyRoommateRequest(roommate)" >Deny Request</ion-button>
        </div>
    </ion-card>
</ion-content>
