@import 'tools';

.back-button {
  @include font-nunito-regular(16px);

  --icon-font-size: 16px;
  --icon-padding-end: 5px;
}
.btns-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 15px 15px;
}
.response-btns {
  color: black;
  --ion-color-primary: #e2e5ed9e;
  width: 40vw;
  font-weight: bold;
  @include font-nunito-regular(15px);

}

ion-card-title {
  @include font-nunito-semibold(22px);
}

ion-card-content {
  @include font-nunito-regular(16px);
  color: black;
}

st-button {
  margin: 10px;
}
