@import 'tools';

.application-details__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: var(--ion-safe-area-top, 0);
  }

  .application-details__page-back {
    @include font-family($font-nunito-regular);
  
    --color: #{rgba($color-black, 0.9)};
  }

  .application-details__save {
    @include font-family($font-nunito-heavy);
  
    --color: #{$color-dodger-blue};
  }