<ion-content>
    <div class="dashboard_div_header">
        <ion-grid *ngIf='userRewardTrackInfo'>
            <ion-row padding align-items-center>
                <ion-col col-100 *ngIf='userRewardTrackInfo.hasLevels'>
                    <div class="progress_chart progress_col">
                        <canvas #chartCanvas ></canvas>
                        <span class="progress_label_percent_progress">{{currentProgressPercentage}}%</span>
                        <span class="progress_label_level_progress">{{labelPointSpread}}</span>
                        <span class="progress_label_current_level">
                            {{labelCurrentLevel}}
                        </span>
                        <span class="progress_label_next_level">
                            {{labelNextLevel}}
                        </span>
                    </div>
                </ion-col>
                <ion-col>
                    <h2 class="rewards_h1">{{userRewardTrackInfo.userExperiencePoints}} {{'REWARD_PROGRESS.XP' |
                        translate}}</h2>
                    <h3 class="progress_h3">{{'REWARD_PROGRESS.TOTAL' | translate}}</h3>
                </ion-col>
                <ion-col *ngIf='userRewardTrackInfo.hasLevels'>
                    <h2 class="rewards_h1">{{userRewardTrackInfo.trackLevels[userRewardTrackInfo.userLevel - 1].name}}</h2>
                    <h3 class="progress_h3">{{'REWARD_PROGRESS.LEVEL' | translate}} {{userRewardTrackInfo.userLevel}}</h3>
                </ion-col>
                <ion-col>
                    <h2 class="rewards_h1">{{userRewardTrackInfo.trackName}}</h2>
                    <h3 class="progress_h3">{{'REWARD_PROGRESS.ENDS' | translate}} {{userRewardTrackInfo.trackEndDate |
                        date: 'MMMM d, yyyy'}}</h3>
                    <h3 class="progress_h3">{{userRewardTrackInfo.trackDescription}}</h3>
                </ion-col>
                <ion-col>
                    <h2 class="rewards_h1">{{userRewardTrackInfo.userCurrentPoints}} {{'REWARD_PROGRESS.POINTS' |
                        translate}}</h2>
                    <h3 class="progress_h3">{{'REWARD_PROGRESS.USABLE' | translate}}</h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div style="margin-top: -20%; margin-right: 5%; margin-left: 5%;">
        <div style="margin-right: 10%; margin-left: 10%;">
            <ion-segment *ngIf='userRewardTrackInfo' [(ngModel)]="rewardType">
                <ion-segment-button *ngIf='bShowLevels' value="experience">
                    {{'REWARD_PROGRESS.LEVELS' | translate}}
                </ion-segment-button>
                <ion-segment-button *ngIf='bShowPoints' value="points">
                    {{'REWARD_PROGRESS.POINTS' | translate}}
                </ion-segment-button>
                <ion-segment-button value="history">
                    {{'REWARD_PROGRESS.HISTORY' | translate}}
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="rewardType">
            <ion-card>
                <ion-card-content>
                    <accordionlist-content *ngSwitchCase="'experience'" [settings]="accordionListSettings" [options]="options"
                        (selectOption)="selectLevelOption($event)"></accordionlist-content>
                    <ion-list *ngSwitchCase="'points'">
                        <ion-item *ngFor="let pItem of userPointsItemsList" (click)="pointsItemSelected(pItem)">
                            {{pItem.name}}
                            <p>{{pItem.shortDescription}}</p>
                            <ion-badge item-right color="primary">{{ pItem.pointCost }}</ion-badge>
                        </ion-item>
                    </ion-list>
                    <ion-list *ngSwitchCase="'history'">
                        <ion-item *ngFor="let hItem of userHistoryItemList" (click)="hitoryItemSelected(hItem)">
                            {{hItem.itemName}}
                            <ion-badge *ngIf="hItem.status == 2" item-right color="secondary">PICKUP</ion-badge>
                            <ion-badge *ngIf="hItem.status == 3" item-right color="primary">RECEIVED</ion-badge>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>