<ion-content>
  <ion-grid *ngIf="selectedLocation">
    <ion-row>
      <ion-col class='ion-text-center'>
        <h4 style="font-weight:bold">{{selectedLocation.locationId}}</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div *ngIf='selectedLocation.color' [ngStyle]="{'background-color': selectedLocation.color}" style="height: 3px; width:100%; padding-top: 0px; padding-bottom: 0px;">
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>{{selectedLocation.name}}</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button fill='clear' size='large' (click)="closeModal()">
        CANCEL
      </ion-button>
      <ion-button fill='clear' size='large' (click)="activateSelected()">
        ACTIVATE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>