<st-header [title]="contentString.header" [isTitleShow]="true" [isToolbarShow]="true" *ngIf="false"></st-header>

<ion-content>
  <st-nav-tabs [tabsConfig]="tabsConfig"></st-nav-tabs>

  <!--  ROUTER OUTLET BREAKS NAVIGATION AND TAB BAR VISIBILITY - I THINK IONIC MIGHT HANDLE THIS FOR US -->

  <!--  <router-outlet></router-outlet>-->

  <!--  <st-opt-in-->
  <!--    *ngIf="rewardTrack !== null && !userOptInStatus"-->
  <!--    [rewardTrack]="rewardTrack"-->
  <!--    (optInSuccess)="handleOptInSuccess()"-->
  <!--  ></st-opt-in>-->
</ion-content>
