.card-image {
  background-size: cover;
  align-self: center;
  //background-origin: content-box;
  // height: 40%;
  // width: 100%;
  display: block;
  max-width: 500px;
  max-height: 350px;
  width: auto;
  height: auto;
}
.facilityNameDisplay {
  font-size: 18px;
  font-display: block;
  font-weight: bold;
}
.bedAndBathCount {
  font-size: 14px;
  font-weight: bold;
}

.collapseItemClass {
  height: 0px !important;
}

ion-note {
  font-size: 14px;
}

.pExpandable {
  font-size: 14px;
  font-weight: bold;
}
