<ion-item
  *ngFor="let application of applications; trackBy: trackById"
  [routerLink]="['/housing/applications', application.applicationDefinitionId]"
  routerDirection="forward"
  detail="true"
>
  <ion-icon slot="start" name="create" *ngIf="!application.isApplicationSubmitted"></ion-icon>
  <ion-icon slot="start" name="checkmark" *ngIf="application.isApplicationSubmitted"></ion-icon>

  <ion-label>
    <h2>{{ application.applicationTitle }}</h2>
    <p>{{ getApplicationStatus(application) }}</p>

    <p *ngIf="isNotPending(application)">
      Last Update: {{ getApplicationModificationDate(application) | date: 'fullDate' }}
    </p>

    <p *ngIf="isNotNewAndNotPending(application)">
      {{ getApplicationModificationDate(application) | date: 'fullDate' }}
    </p>
  </ion-label>
</ion-item>
