<div class="card">
  <ion-grid class="ion-no-padding" style="height: 280px;">
    <ion-row class="card__row1 ion-align-items-center">
      <ion-col size="2">
        <img *ngIf="institutionPhotoUrl" class="image" src="{{ institutionPhotoUrl }}" alt="ip" />
      </ion-col>
      <ion-col size="9">
        <div *ngIf="institutionInfo" class="title left">{{ institutionInfo.name }}</div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row class="card__row2">
      <ion-col class="center">
        <img *ngIf="userPhoto" class="card__image" src="{{ userPhoto }}" alt="user photo" />
      </ion-col>
    </ion-row>
    <ion-row class="card__row3 ion-align-items-end">
      <ion-col class="ion-no-padding left">
        <div *ngIf="userName" class="user-name">{{ userName }}</div>
      </ion-col>
      <ion-col class="ion-no-padding right">
        <div class="provisioning">Card not added to wallet</div>
      </ion-col>
    </ion-row>
    <ion-row class="card__row4 ion-align-items-center ion-justify-content-center">
      <ion-col size="4">
        <div class="button"></div>
      </ion-col>
      <ion-col size="4">
        <div class="button"></div>
      </ion-col>
      <ion-col size="4">
        <div class="button"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
