<div class="card">
  <div class="card__grid-container">

  </div>
  <!-- <table class="card__table">
    <tr class="card__top-row">
      <div *ngIf="institutionInfo" class="">{{ institutionInfo.name }}</div>
    </tr>
    <tr class="card__middle-upper-row">
      <div class="card__middle-upper-row__container"></div>
    </tr>
    <tr></tr>
    <tr class="card__bottom-row">
      <div class="card__bottom-row__container"></div>
    </tr>
  </table> -->

  <img *ngIf="userPhoto" class="card__image" src="{{ userPhoto }}" alt="user photo" />
</div>
