@import 'tools';

.card {
  margin: 8px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #166dff, #0043b3);
  height: 280px;

  &__image {
    border-radius: 180px;
    height: 100px;
    width: 100px;
    transform: translate(0%, 35%);
    object-fit: cover;
  }

  &__row1 {
    height: 48px;

    .title {
      color: #fff;
      @include font-nunito-regular(20px);
      letter-spacing: 0;
      // line-height: 18px;
    }

    .image {
      height: 48px;
      width: 48px;
    }
  }

  &__row2 {
    height: 84px;
    background-color: #ffffff5f;
  }

  &__row3 {
    height: 84px;
    padding-bottom: 4px;
    .user-name {
      color: #fff;
      @include font-nunito-semibold(20px);
      letter-spacing: 0px;
      margin-left: 12px;
    }

    .provisioning {
      color: #fff;
      @include font-nunito-semibold(12px);
      letter-spacing: 0px;
      margin-bottom: 4px;
      margin-right: 12px;
    }
  }

  &__row4 {
    height: 64px;
    border-top: 1px solid #ffffff1f;
    .button {
      margin: 0 auto;
      height: 48px;
      background: #0000001f;
      border-radius: 12px;
    }
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
