<header class="deposit-modal__header">
  <ion-toolbar mode="ios">
    <ion-title class="deposit-modal__title">{{ contentString.title }}</ion-title>
  </ion-toolbar>
</header>

<ion-content>
  <div class="deposit-modal__img-wrapper">
    <img src="/assets/images/big_check_deposit.svg" alt="big_check_deposit" />
  </div>
  <h1 class="deposit-modal__title-label">{{ contentString.subTitleSummary }}</h1>
  <section class="deposit-modal__sub-title">
    {{ contentString.subTitleDetail }}
  </section>
  <section class="deposit-modal__info-container">
    <div class="deposit-modal__label">
      {{ contentString.lblDepositAmount }}:
      <span class="deposit-modal__value">{{
        data.amount | transactionUnits: data['selectedAccount'].accountType
      }}</span>
    </div>
    <div class="deposit-modal__label">
      {{ contentString.lblAccount }}:
      <span class="deposit-modal__value">{{ data['selectedAccount'].accountDisplayName }}</span>
    </div>
    <div class="deposit-modal__label">
      {{ contentString.lblSelectPaymentMethod }}:
      <span class="deposit-modal__value" *ngIf="data['sourceAcc'].accountTender === 'Apple Pay'; else creditcard">
        {{ data['sourceAcc'].accountTender }}
      </span>
      <ng-template #creditcard>
        <span class="deposit-modal__value" *ngIf="!data['billme']; else billme">
          {{ data['sourceAcc'].accountTender | creditCardType }} {{ contentString.endingInText }}
          {{ data['sourceAcc'].lastFour }}
        </span>
      </ng-template>
    </div>
  </section>
</ion-content>
<ion-footer class="deposit-modal__footer">
  <st-button (onClick)="onClickedDone()">{{ contentString.doneButtonText }}</st-button>
</ion-footer>

<ng-template #billme>
  <span class="deposit-modal__value" *ngIf="data['billme']"> {{ contentString.billMeText }} </span>
</ng-template>
