@import 'tools';

.deposit-modal {
  &__header {
    border-bottom: 1px solid $color-whisper;
    margin-top: $notch-top;
  }

  &__title {
    @include font-nunito-heavy(20px);
  }

  &__title-label {
    color: #464646;
    text-align: center;

    @include font-nunito-heavy(32px);
  }

  &__sub-title {
    color: #464646;
    text-align: center;
    padding: 0 40px;

    @include font-nunito-regular(16px);
  }

  &__img-wrapper {
    text-align: center;
  }

  &__info-container {
    margin: 10px 0 0;
    background: #f7f7f7;
    padding: 16px 20px;

    @include font-nunito-regular(16px);
  }

  &__label {
    display: flex;
    justify-content: space-between;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 15px;
    }

    @include font-nunito-regular(16px);
  }

  &__value {
    text-align: right;

    @include font-nunito-heavy(16px);
  }

  &__footer {
    padding: 16px;
  }
}
