<ng-container *ngIf="terms$ | async as terms">
  <ion-item lines="none" class="terms" *ngIf="terms.length">
    <ion-label class="ion-margin-end label-container">
      <span class="terms-label">Term: </span><span class="terms-value">{{ selectedTermLabel$ | async }}</span>
    </ion-label>

    <ion-select
      class="terms-select"
      interface="popover"
      mode="md"
      #termsSelect
      [interfaceOptions]="customPopoverOptions"
      (ionChange)="handleSelectTerm(termsSelect.value)"
      [selectedText]="termsSelect.value"
    >
      <ion-select-option [value]="term" *ngFor="let term of terms; trackBy: trackById">
        {{ term.termName }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ng-container>
