<ion-list *ngIf="terms$ | async as terms">
  <ion-item lines="none" class="terms" *ngIf="terms.length && !disabled">
    <ion-select
      justify="start"
      interface="popover"
      #termsSelect
      class="terms-label"
      toggleIcon="none"
      label="Term: "
      aria-label="Term selection box"
      placeholder="Select term"
      [interfaceOptions]="customPopoverOptions"
      (ionChange)="handleSelectTerm(termsSelect.value)"
    >
      <ion-select-option [value]="term" *ngFor="let term of terms; trackBy: trackById">
        {{ term.termName }}
      </ion-select-option>
    </ion-select>
    <span class="chevron-down"></span>
  </ion-item>
</ion-list>
