@import 'tools';

:host {
  display: block;
  // border-top: 1px solid $color-light-gray;
  // border-bottom: 1px solid $color-light-gray;
}

.terms {
  --inner-padding-end: 0;
  --background: #F1f1f1;
  border-radius: 10px;
  margin: 16px;
}

.label-container {
  @include chevron-down(0);
}


.terms-label {
  @include font-nunito-heavy(16px);

  color: rgba($color-black, 1);
  padding-right: 20px;
  position: relative;

  &::before {
    background-color: transparent;
    transform: translateY(-45%);
  }
}

