@import 'tools';

:host {
  display: block;
  border-top: 1px solid $color-light-gray;
  border-bottom: 1px solid $color-light-gray;
}

.terms {
  --inner-padding-end: 0;
}

.terms-label {
  text-align: center;
}

.terms-select {
  @include font-nunito-heavy(16px);

  color: rgba($color-black, 0.6);
  opacity: 0;
  width: 0;
  padding: 0;
}
