@import 'tools';

.divider {
  border: 0.5px lightgray;
}

.pending-checkin {
  &__title {
    letter-spacing: 0;
    text-align: center;
    outline: none;

    @include font-nunito-heavy(20px);
  }

  &__header {
    border-bottom: 1px solid $color-whisper;
  }

  &__body-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  &__sub-header {
    color: $color-charcoal;
    text-align: center;
    @include font-nunito-heavy(24px);
  }

  &__body {
    color: $color-charcoal;

    @include font-nunito-regular(15px);
  }

  &__colored-bg {
    background-color: #d3d3d31f;
    padding-top: 5px;

    .small-content {
      font-size: 11px;
    }

    .title-lbl {
      margin: 18px 0px 5px 0px;
    }
    .padded {
      padding: 0 20px;
    }
    .faded {
      opacity: 0.6;
    }

    .section-divided {
      display: flex;
      justify-content: space-between;
      margin: 25px 0px 5px 0px;
    }

    .address {
      display: flex;
      span {
        margin-top: 3px;
      }
    }
  }

  // &__payment-method-wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   color: $color-charcoal;
  //   margin-top: 16px;

  //   @include font-nunito-heavy(14px);
  // }

  &__footer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
}

.btn-disabled {
  opacity: 0.4;
}

span {
  @include font-nunito-heavy(15px);
}

// .total {
//   margin-top: 16px;
//   background: $color-white;

//   &__item {
//     text-transform: uppercase;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 5px;

//     @include font-nunito-regular(14px);

//     &--bold {
//       @include font-nunito-heavy(14px);
//     }
//   }
// }
