@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font-nunito-regular($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-regular);
}

@mixin font-nunito-semibold($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-semibold);
}

@mixin font-nunito-heavy($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-heavy);
}

@mixin link-color($color) {
  color: $color;

  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: $color;
  }
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}
@mixin icon() {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }
}
@mixin disabled {
  &.disabled,
  &.disabled:focus,
  &.disabled:hover,
  &[disabled],
  &[disabled]:focus,
  &[disabled]:hover {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin floating-label($color) {
  font-size: 75%;
  transform: translate3d(10px, -50%, 0);
  opacity: 1;
  background: $color-white;
  padding: 0 3px;
  margin: 0;
  color: $color;
}

@mixin chevron($rigth: 15px) {
  @include icon();

  &::before {
    right: $rigth;
    width: 14px;
    height: 9px;
  }
}

@mixin chevron-down($right: 15px) {
  @include chevron($right);

  &::before {
    background-image: url('/assets/icon/chevron-down.svg');
  }
}

@mixin chevron-up($right: 15px) {
  @include chevron($right: 15px);

  &::before {
    background-image: url('/assets/icon/chevron-up.svg');
  }
}

@mixin chevron-down-active($right: 14px) {
  @include chevron($right);

  &::before {
    background-image: url('/assets/icon/chevron-down-active.svg');
  }
}

@mixin chevron-up-active($right: 14px) {
  @include chevron($right);

  &::before {
    background-image: url('/assets/icon/chevron-up-active.svg');
  }
}

@mixin chevron-down-error($right: 14px) {
  @include chevron($right);

  &::before {
    background-image: url('/assets/icon/chevron-down-error.svg');
  }
}

@mixin chevron-up-error($right: 14px) {
  @include chevron($right);

  &::before {
    background-image: url('/assets/icon/chevron-up-error.svg');
  }
}

@mixin arrow() {
  @include icon();

  &::before {
    width: 12px;
    height: 12px;
  }
}

@mixin arrow-up-active() {
  @include arrow();

  &::before {
    background-image: url('/assets/icon/arrow-up-active.svg');
  }
}

@mixin arrow-down-active() {
  @include arrow();

  &::before {
    background-image: url('/assets/icon/arrow-down-active.svg');
  }
}

@mixin angle-right-arrow-icon {
  transform: rotate(270deg);
  height: 28px;
}
