/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/nunito-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
  url('/assets/fonts/nunito-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/nunito-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/nunito-v10-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/nunito-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
  url('/assets/fonts/nunito-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/nunito-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-600.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/nunito-v10-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/nunito-v10-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
  url('/assets/fonts/nunito-v10-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/nunito-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-800.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/nunito-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/nunito-v10-latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fontello';
  src: url('/assets/font-icons/fontello.eot?62378720');
  src: url('/assets/font-icons/fontello.eot?62378720#iefix') format('embedded-opentype'),
       url('/assets/font-icons/fontello.woff2?62378720') format('woff2'),
       url('/assets/font-icons/fontello.woff?62378720') format('woff'),
       url('/assets/font-icons/fontello.ttf?62378720') format('truetype'),
       url('/assets/font-icons/fontello.svg?62378720#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}