.toast-message-success {
  &::part(container) {
    background-color: $color-success-40;
    border-radius: 10px;
  }

  &::part(icon) {
    font-size: 1.8em;
    color: $color-white;
  }

  &::part(message) {
    font-size: 14px;
    color: $color-white;
  }
}

.toast-message-notification {
  &::part(container) {
    background-color: $color-black;
    border-radius: 10px;
  }

  &::part(icon) {
    font-size: 1.8em;
    color: $color-white;
  }

  &::part(message) {
    @include font-nunito-regular(16px);
    color: $color-white;
  }

  &::part(button) {
    @include font-nunito-regular(16px);
    text-transform: capitalize;
    border-radius: 0%;
  }

  &::part(cancel) {
    border-left: .5px solid $color-very-light-gray;
  }
}

.toast-message-warning {
  &::part(container) {
    background-color: $color-warning-40;
    border-radius: 10px;
  }

  &::part(icon) {
    font-size: 1.8em;
    color: $color-white;
  }

  &::part(message) {
    font-size: 14px;
    color: $color-white;
  }
}

.toast-message-error {
  @include font-nunito-regular(16px);

  &::part(container) {
    background-color: var(--ion-color-danger);
    border-radius: 10px;
  }

  &::part(icon) {
    font-size: 1.8em;
    color: $color-white;
  }

  &::part(message) {
    @include font-nunito-regular(16px);
    color: $color-white;
  }

  &::part(button) {
    border-left: .5px solid $color-very-light-gray;
    width: 3em;
  }
}