/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #0878C8;
  --ion-color-primary-rgb: 0, 92, 185;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0051a3;
  --ion-color-primary-tint: #1a6cc0;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #BC0E32;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #E2E2E2;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /*Matterhor*/

  --ion-color-matterhorn: #515151;
	--ion-color-matterhorn-rgb: 81,81,81;
	--ion-color-matterhorn-contrast: #ffffff;
	--ion-color-matterhorn-contrast-rgb: 255,255,255;
	--ion-color-matterhorn-shade: #474747;
	--ion-color-matterhorn-tint: #626262;

  // --ion-grid-width-sm: 0px;
}

// FONTS
// -------------------------------
$font-nunito-regular: 'Nunito Regular', arial, sans-serif;
$font-nunito-semibold: 'Nunito SemiBold', arial, sans-serif;
$font-nunito-heavy: 'Nunito Bold', arial, sans-serif;

// COLORS

$color-very-light-gray: #ccc;
$color-link-water: #d4d6d8;
$color-whisper: #e9e9e9;
$color-dark-gray: #aaa;
$color-dusty-gray: #979797;
$color-dim-gray: #6e6e6e;
$color-night-gray: #747474;
$color-solitude: #ecf1f8;
$color-night-rider: #333;
$color-navy-blue: #0056e6;
$color-denim: #1360e0;
$color-dodger-blue: #166dff;
$color-polar: #def8f2;
$color-dodger-blue-lighter: #2d7cff;
$color-royal-blue: #3171e0;
$color-royal-blue-lighter: #4c8dff;
$color-white: #fff;
$color-black: #000;
$color-white-smoke: #f3f3f3;
$color-deep-sky-blue: #00a0ff;
$color-light-sky-blue: #8bb7ff;
$color-light-sky-blue: #88c8ff;
$color-strong-blue: #0043b3;
$color-light-green: #04f354;
$color-alice-blue: #f0f3f5;
$color-silver: #c4c4c4;
$color-matterhorn: #515151;
$color-very-dark-gray: #626262;
$color-mercury: #e7e7e7;
$color-light-gray: #d8d8d8;
$color-whisper: #ebebeb;
$color-alizarin: #e22942;
$color-flame-red: #881928;
$color-charcoal: #464646;
$color-deep-sea: #147d63;
$color-cardinal: #b52135;
$color-god-gray: #161616;
$color-hot-curry: #7c5d23;
$color-casablanca: #f7ba45;
$color-alabaster: #f7f7f7;
$porcelain: #e6e9eb;
$color-harley-davidson-orange: #d0431a;
$color-pattens-blue: #e0e3e5;
$color-default-background: #0061f1;
$color-background-divider: #f1f1f1;
$color-indian-red: #da4040;
$color-success-40: #146d35;
$color-success-95: #E8F4EA;
$color-warning-40: #895111;
$color-purple-50: #9D54C7;
$color-red-alert: #DC2F45;

/// Size
$bottom-navigation-bar-height: 60px;
$notch-top: env(safe-area-inset-top);
$notch-bottom: env(safe-area-inset-bottom);

// SHADOW

$bottom-navigation-box-shadow: #0000000a; 
$top-navigation-box-shadow: #0000001e;

$color-warning-60: #D47B07;
$color-pastel-yellow: #ffeede;

