// BREAKPOINTS
$bp-grid-sm-phone: 320px; // 320px: >= portrait phone
$bp-grid-phone: 480px; // 480px: >= landscape phone
$bp-grid-tablet: 768px; // 768px: >=  portrait tablet
$bp-grid-desktop: 1024px; // 1024px: >= landscape tablet
$bp-grid-x-large: 1440px; // 1440px: >= xl desktop
$bp-grid-xx-large: 1845px; // 1845px >= wide [for right side notifications bar only]

// GRID
@mixin bp-grid-sm-phone {
  @include breakpoint($bp-grid-sm-phone) {
    @content;
  }
}

@mixin bp-grid-phone {
  @include breakpoint($bp-grid-phone) {
    @content;
  }
}

@mixin bp-grid-tablet {
  @include breakpoint($bp-grid-tablet) {
    @content;
  }
}

@mixin bp-grid-tablet-to-desktop {
  @include breakpoint($bp-grid-tablet $bp-grid-desktop) {
    @content;
  }
}

@mixin bp-grid-desktop {
  @include breakpoint($bp-grid-desktop) {
    @content;
  }
}

@mixin bp-grid-x-large {
  @include breakpoint($bp-grid-x-large) {
    @content;
  }
}

@mixin bp-grid-xx-large {
  @include breakpoint($bp-grid-xx-large) {
    @content;
  }
}

@mixin bp-before-phone {
  @include breakpoint(max-width $bp-grid-phone - 1) {
    @content;
  }
}

@mixin bp-before-tablet {
  @include breakpoint(max-width $bp-grid-tablet - 1) {
    @content;
  }
}

@mixin bp-before-desktop {
  @include breakpoint(max-width $bp-grid-desktop - 1) {
    @content;
  }
}
