@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font-nunito-regular($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-regular);
}

@mixin font-nunito-semibold($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-semibold);
}

@mixin font-nunito-heavy($font-size) {
  @include font-size($font-size);
  @include font-family($font-nunito-heavy);
}

@mixin link-color($color) {
  color: $color;

  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: $color;
  }
}

@mixin hover {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin disabled {
  &.disabled,
  &.disabled:focus,
  &.disabled:hover,
  &[disabled],
  &[disabled]:focus,
  &[disabled]:hover {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
