@import "tools";

$circle-width: 40px;

.progress {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;

  &__level {
    position: relative;
    padding-left: $circle-width/2 + 5px;
    border-left: 2px dashed $color-dim-gray;
    min-height: 90px;

    &--passed {
      border-color: $color-dodger-blue;
      border-left-style: solid;

      .progress__indicator {
        border-color: $color-dodger-blue;
        color: $color-dodger-blue;
        font-weight: bold;
        box-shadow: 0 0 3px $color-light-sky-blue;

        @include font-nunito-heavy(16px);
      }
    }

    &--active {
      .progress__indicator {
        background: $color-dodger-blue;
        color: $color-white;
        border-color: $color-dodger-blue;
        animation-name: pulse;
        animation-timing-function: cubic-bezier(1, 0.38, 0.63, 0.79);
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
      }
    }
  }

  &__indicator {
    background: $color-white;
    left: -1*($circle-width/2);
    position: absolute;
    width: $circle-width;
    height: $circle-width;
    border: 2px solid $color-dim-gray;
    border-radius: 50%;
    display: flex;
    color: $color-dim-gray;
    align-items: center;
    justify-content: center;
  }

  &__gift-icon {
    width: 25px;
    height: 25px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $color-dodger-blue;
  }

  70% {
    box-shadow: 0 0 0 6px transparent;
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}