page-mobile-access {

    h1, h2, h3, h4, h5, h6, p {        
        padding: 0px;
        margin: 0px;
    }

    .dashboard_div_header {
        background-color: #005CB9;
        padding-bottom: 20%;
    }

    .omd_h3 {
        font-weight: 700;
        font-size: 2.00rem;
        color: white;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
            font-size: 2.25rem;
        }
    }

    .omd_h4 {
        font-weight: 200;
        font-size: 1.75rem;
        color: white;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
            font-size: 2.0rem;
        }
    }

    .omd_h5 {
        font-weight: 300;
        font-size: 1.25rem;
        color: white;
        overflow-wrap: break-word;
        word-wrap: break-word;
        text-align: center;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
            font-size: 1.5rem;
        }
    }

    ion-fab {

        .fab {
            contain: initial;
        }

        button {
            box-shadow: 0 4px 10px #6b6b6b;
        }
    
        ion-fab-list button[ion-fab] {
            text-align: center;
            overflow: visible;
    
            div.label {
              position: absolute;
              right: 48px;
              bottom: 8px;
              font-size: 12pt;
              background: rgba(248, 248, 248, 1);
              height: 24px;
              line-height: 16px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 5px;
              padding-bottom: 5px;
              margin-top: 8px;
              border-radius: 5px;
              box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            }
        }
    
        .button-inner {
            overflow: visible;
        }
    }

    


}
