<form [formGroup]="personalInfoPronounsForm">
  <div class="personal-info-pronouns__title ion-padding-start">Preferred Pronouns (Optional)</div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let pronounControl of pronounsControls">
        <st-select-floating-label
          [formControlName]="pronounControl.controlName"
          [control]="pronounControl.control"
          [interfaceOptions]="customActionSheetOptions"
          interface="action-sheet"
          [label]="pronounControl.label"
          [idd]="pronounControl.label.toLowerCase() + 'Field'"
          tabindex="0"
        >
          <ng-container role="options">
            <ion-select-option value="">Select</ion-select-option>
            <ion-select-option [value]="pronoun" *ngFor="let pronoun of pronounControl.pronounsList">{{ pronoun }} </ion-select-option>
          </ng-container>
        </st-select-floating-label>
        <div class="personal-info-pronouns__pronouns">{{ pronounControl.pronounsList.join(', ') }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
