<form [formGroup]="personalInfoPronounsForm">
  <div class="personal-info-pronouns__title ion-padding-start">Preferred Pronouns (Optional)</div>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="personal-info-pronouns__input-col" size="4" sizeXs="12" *ngFor="let pronounControl of pronounsControls">
        <st-select-floating-label
          [formControlName]="pronounControl.controlName"
          [control]="pronounControl.control"
          [interfaceOptions]="customActionSheetOptions"
          labelPlacement="stacked"
          interface="action-sheet"
          [label]="pronounControl.label"
          [idd]="pronounControl.label.toLowerCase() + 'Field'"
          tabindex="0"
        >
          <ng-container role="options">
            <ion-select-option aria-label="Blank value" value=""></ion-select-option>
            <ion-select-option [value]="pronoun" *ngFor="let pronoun of pronounControl.pronounsList">{{ pronoun }} </ion-select-option>
          </ng-container>
        </st-select-floating-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
