<div
  class="shopping-cart-btn no-focus-outline"
  *ngIf="(itemsCount | async) !== 0"
  id="shopping-cart"
  tabindex="0"
  [attr.aria-label]="'Cart preview, button. ' + (itemsCount | async) + 'items in the cart.'"
>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openCart()" aria-hidden="true">
    <ion-fab-button color="light" class="fab">
      <ion-icon name="cart-outline" color="primary" id="shopping-cart"></ion-icon>
    </ion-fab-button>
    <div aria-hidden="true" class="shopping-cart-btn--indicator" color="danger">{{ itemsCount | async }}</div>
  </ion-fab>
</div>
