<st-header
  [title]="contentStrings.screen_title"
  [isTitleShow]="true"
  [backButtonTitle]="' Back'"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
  class="recent-orders__header"
  (click)="close()"
>
</st-header>

<div class="divider" aria-hidden="true"></div>
<ion-content class="ionic_content">
  <st-credit-card-list
    [contentStrings]="contentStrings"
    [userAccounts]="userAccounts"
    [allowedPaymentsMethods]="allowedPaymentsMethods"
    [removeIcon]="true"
    (onRemove)="removeAccount($event)"
  ></st-credit-card-list>
</ion-content>

<ion-footer class="ionic-footer">
  <div class="add-new-card-btn">
    <st-button class="st-button-card" buttonModifier="rectangle" (onClick)="addCreditCard()" tabindex="0">
      <span class="ion-text-capitalize">
        {{ contentStrings.add_new_card_btn_text }}
      </span>
    </st-button>
  </div>
</ion-footer>
