.divider{
    height: 16px;
    background: #F3F3F3;
  }
  
.ionic_content {
    --background: #f1f1f1;
}

.add-new-card-btn {
    margin: 0px 16px 33px 16px;

    .st-button-card{
        color: #166DFF;
        border-radius: 8px;
        height: 42px;
     }
}

.ionic-footer {
    background: #f1f1f1;
}



