<div class="content" *ngIf="detailsForm" [ngClass]="{ 'content--disabled': readonly }">
  <form novalidate [formGroup]="detailsForm">
    <div class="order-details">
      <ion-label class="order-details__label">{{
        orderDetailOptions.orderType | typeMessage : 'dueTime' : isWalkoutOrder
      }}</ion-label>

      <ng-container *ngIf="timeNotEditable; else timeEditable">
        <ng-container *ngTemplateOutlet="timelabel"></ng-container>
      </ng-container>

      <ion-label
        class="order-details__value--message"
        *ngIf="checkinInstructionMessage || merchantTimeZoneDisplayingMessage"
      >
        {{ checkinInstructionMessage || merchantTimeZoneDisplayingMessage }}
      </ion-label>

      <div
        *ngIf="!duetimeFeedback.isFetching"
        class="control-hint"
        [class.control-hint--info]="duetimeFeedback.type ==='info'"
        [class.control-hint--error]="duetimeFeedback.type ==='error'"
      >
        {{ duetimeFeedback.message }}
      </div>
    </div>

    <div class="order-details" *ngIf="orderDetailOptions.address">
      <ion-label class="order-details__label">{{
        orderDetailOptions.orderType | typeMessage : 'address' : isWalkoutOrder
      }}</ion-label>

      <p *ngIf="readonly && orderDetailOptions.address; else addressEditable" class="order-details__value">
        {{ orderDetailOptions.address | addressHeaderFormat }}
      </p>
    </div>

    <div *ngIf="hasInvalidItems" class="banner">
      <div class="banner__content">
        <div class="banner__content--info">
          <ion-icon size="large" slot="icon-only" name="warning-outline" class="banner__content--info-icon"></ion-icon>
          <div class="banner__content--info-message">
            {{ 'get_common.error.ItemsNotAvailableEmptyYourCart' | translate }}
          </div>
        </div>
        <div class="banner__content--actions">
          <ion-button fill="clear" (click)="onEmptyCart()">
            {{ 'get_web_gui.shopping_cart.empty_cart' | translate }}
          </ion-button>
        </div>
      </div>
    </div>

    <ion-list class="order-ingredient-list">
      <ion-item-sliding
        [disabled]="readonly || itemReadOnly"
        *ngFor="let orderItem of orderItems; let i = index"
        class="order-ingredient-list__ingredient"
      >
        <ion-item class="order-ingredient-list__item" lines="none" (click)="goToItemDetails(orderItem, i)">
          <ion-label>
            <st-order-item-details [mealBased]="mealBased" [orderItem]="orderItem"></st-order-item-details>
            <ng-container *ngIf="orderItem.orderItemOptions">
              <p
                *ngFor="let subIngredient of orderItem.orderItemOptions"
                class="order-ingredient-list__ingredient-description"
              >
                {{ subIngredient.name }} ({{ subIngredient.salePrice | priceUnitsResolver : mealBased }})
              </p>
            </ng-container>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="onRemoveOrderItem(orderItem.id)" color="danger"
            >{{ contentStrings.labelRemoveItem | async }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div class="total">
      <div *ngIf="subTotal" class="total__item">
        {{ contentStrings.labelSubtotal | async
        }}<span class="total__item-sum">{{ subTotal | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="tax" class="total__item">
        {{ contentStrings.labelTax | async
        }}<span class="total__item-sum">{{ tax | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="discount" class="total__item">
        {{ contentStrings.labelDiscount | async
        }}<span class="total__item-sum">{{ discount | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="tip && !mealBased && isTipEnabled && !isExistingOrder" class="total__item">
        {{ contentStrings.labelTip | async
        }}<span class="total__item-sum">{{ tip | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="deliveryFee && !isExistingOrder" class="total__item">
        {{ contentStrings.labelDeliveryFee | async
        }}<span class="total__item-sum">{{ deliveryFee | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="pickupFee && !isExistingOrder" class="total__item">
        {{ contentStrings.labelPickupFee | async
        }}<span class="total__item-sum">{{ pickupFee | priceUnitsResolver : mealBased }}</span>
      </div>
      <div *ngIf="total" class="total__item total__item--bold">
        {{ contentStrings.labelTotal | async
        }}<span class="total__item-sum">{{ total | priceUnitsResolver : mealBased }}</span>
      </div>
    </div>

    <ng-container *ngIf="readonly; else paymentSelect">
      <div class="order-details">
        <div class="order-details__readOnly">
          <span>{{ contentStrings.labelPaymentMethod | async }}</span>
          <div
            class="order-details__readOnly--label"
            [class.order-details__readOnly--label__error]="hasReadonlyPaymentMethodError"
          >
            <span> {{ orderPaymentName }}</span>
            <ion-icon
              *ngIf="hasReadonlyPaymentMethodError"
              src="/assets/icon/caution.svg"
              slot="end"
              mode="ios"
              size="small"
            ></ion-icon>
          </div>
        </div>
        <st-control-errors
          *ngIf="hasReadonlyPaymentMethodError"
          class="control-hint--no-indent"
          [control]="paymentFormControl"
          [errorMessages]="paymentMethodErrorMessages"
        ></st-control-errors>
      </div>
    </ng-container>

    <ng-template #paymentSelect>
      <div class="order-details">
        <div class="order-details__block">
          <ion-label class="order-details__label">{{ contentStrings.labelPaymentMethod | async }}</ion-label>
        </div>
        <ion-select
          aria-required="true"
          [formControlName]="controlsNames.paymentMethod"
          [class.custom-error]="paymentFormControl.errors"
          class="order-details__value"
          [cancelText]="contentStrings.buttonCancel | async"
          mode="md"
          [placeholder]="contentStrings.selectAccount | async"
          interface="action-sheet"
          (ionChange)="onPaymentChanged($event)"
          (click)="onSelectClick()"
          (ionDismiss)="onModalDismiss()"
          [interfaceOptions]="{ cssClass: 'custom-deposit-actionSheet' }"
          (ionFocus)="openActionSheet()"
          [selectedText]="paymentMethod.value | accountTypeResolver : mealBased"
          #paymentMethod
        >
          <ion-select-option *ngIf="applePayEnabled && accInfoList?.creditAccepted" [value]="applePayAccountType">
            {{ applePayAccountType | accountTypeResolver }}
          </ion-select-option>
          <ion-select-option [value]="account" *ngFor="let account of accounts; trackBy: trackByAccountId">
            {{ account | accountTypeResolver : mealBased }}
          </ion-select-option>
          <ion-select-option *ngIf="accInfoList?.creditAccepted" [value]="'addCC'">
            Add a Credit Card
          </ion-select-option>
        </ion-select>
        <st-control-errors
          class="control-hint--no-indent"
          [control]="paymentFormControl"
          [errorMessages]="paymentMethodErrorMessages"
        ></st-control-errors>
      </div>
    </ng-template>

    <div class="order-details" *ngIf="showCVVControl">
      <ion-label class="order-details__label">Card Security Code:</ion-label>
      <ion-input
        required
        class="order-details__value"
        type="tel"
        inputmode="tel"
        placeholder="Enter card security code"
        [formControlName]="controlsNames.cvv"
      ></ion-input>
      <div class="order-details--error" *ngIf="cvvFormControl.touched && cvvFormControl.invalid">
        Please enter a valid card security code.
      </div>
    </div>

    <div class="order-details" *ngIf="!mealBased && isTipEnabled && !readonly">
      <ion-label class="order-details__label">{{ contentStrings.labelTipAmount | async }}:</ion-label>
      <ion-input
        aria-describedby="tipMessage"
        class="order-details__value"
        type="tel"
        inputmode="decimal"
        [attr.disabled]="!paymentFormControl.value || isExistingOrder"
        [maxlength]="'6'"
        [value]="tip"
        [placeholder]="mealBased ? '0' : '0.00'"
        [formControlName]="controlsNames.tip"
        (ionChange)="onTipChanged($event)"
      ></ion-input>
      <div id="tipMessage" aria-live="assertive" class="order-details--error">
        {{ tipFormControl.errors?.errorMsg }}
      </div>
    </div>

    <div class="order-details" *ngIf="!readonly">
      <br />
      <st-input-floating-label
        aria-describedby="phoneMessage"
        required
        maxlength="33"
        class="form__control"
        [control]="phone"
        label="Phone"
        type="tel"
        inputmode="tel"
        idd="phone"
        [formControlName]="controlsNames.phone"
        [isError]="phone.errors && (phone.dirty || phone.touched)"
      >
      </st-input-floating-label>
      <br />
      <div *ngIf="phone.touched" id="phoneMessage" aria-live="assertive" class="order-details--error">
        {{ phone.errors?.errorMsg }}
      </div>
    </div>
    <div id="toast-anchor"></div> <!-- Toast anchor for the toast messages: DO NOT DELETE. -->
    <div class="order-details" *ngIf="showOrderNotesField">
      <st-textarea-floating-label
        [control]="detailsForm.get(controlsNames.note)"
        [isError]="false"
        class="order-details__order-note"
        [formControlName]="controlsNames.note"
        [idd]="controlsNames.note"
        [maxLength]="128"
        rows="3"
        [placeholder]="'patron-ui.ordering.label_order-notes' | translate"
      >
      </st-textarea-floating-label>
    </div>
  </form>

  <div class="order-details__buttons">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #timeEditable>
  <div (click)="changeOrderTime()" (keypress)="changeOrderTime()" class="address-container">
    <div class="address-container">
      <!-- We need to show an skeleton in case we are validating time and takes too loong -->
      <ion-skeleton-text *ngIf="duetimeFeedback.isFetching" animated style="width: 100%"></ion-skeleton-text>
      <!-- In case is ASAP and we have due time errors we need to show ASAP label with prep time, otherwhise is dueTime only -->
      <p *ngIf="!duetimeFeedback.isFetching" class="order-details__value">
        {{ orderDetailOptions | modifyPrepTime : orderTypes : showASAP }}
        <span *ngIf="!showASAP">{{ prepTime }}</span>
      </p>
      <div class="order-details__value--editable" [class.error]="duetimeFeedback.type === 'error'"></div>
    </div>
  </div>
</ng-template>

<ng-template #timelabel>
  <p
    [class.order-details__value]="duetimeFeedback.type !== 'info' && !duetimeFeedback.isFetching"
    [class.order-details__value--info]="duetimeFeedback.type === 'info' && !duetimeFeedback.isFetching"
  >
    {{ orderDetailOptions | modifyPrepTime : orderTypes }}
  </p>
  <ion-skeleton-text *ngIf="duetimeFeedback.isFetching" animated style="width: 100%"></ion-skeleton-text>
</ng-template>

<st-date-time-picker
  [showLabel]="false"
  [useBackButton]="false"
  [schedule]="orderSchedule$ | async"
  [isTimeDisable]="false"
  [data]="orderOptionsData"
  [dateTimePicker]="orderDetailOptions.dueTime"
  [merchantInfo]="_merchant"
  [dateTimeWithTimeZone]="orderDetailOptions.dueTime"
  [userData]="userData$ | async"
  (onTimeSelected)="onDateTimeSelected($event)"
></st-date-time-picker>

<ng-template #addressEditable>
  <div (click)="showAddressListModal()" (keypress)="showAddressListModal()" class="address-container">
    <p class="order-details__value">
      {{ orderDetailOptions.address | addressHeaderFormat }}
    </p>
    <div *ngIf="isAddressClickable" class="order-details__value--editable"></div>
  </div>
</ng-template>
