@import 'tools';

.content {
  height: 100%;
  background: $color-white-smoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &--disabled {
    background-color: $color-white;

    .order-details {
      background-color: $color-white-smoke;
      margin-bottom: 10px;

      &__payment-method {
        margin: 0;
        background-color: $color-white-smoke;
      }
    }

    .order-ingredient-list {
      margin-top: -10px;
      background-color: #F7F7F7;
    }

    .total {
      background-color: $color-white-smoke;
    }
  }
}

.order-details {
  border-top: 1px solid $color-whisper;
  border-bottom: 1px solid $color-whisper;
  padding: 10px 20px;
  background: $color-white;

  &--error {
    color: $color-alizarin;

    @include font-nunito-heavy(14px);
  }

  &:nth-of-type(2) {
    border-top: none;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    color: $color-alizarin;
  }

  &__readOnly {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &--label {
      text-align: end;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &__error {
        grid-template-columns: 1fr min-content;
      }
    }
  }

  &__label {
    display: block;
    color: $color-dim-gray;
    text-transform: uppercase;

    @include font-nunito-semibold(16px);

    &_error {
      color: $color-alizarin;
    }
  }

  &__value {
    padding-left: 0;
    color: $color-black;

    @include font-nunito-semibold(16px);

    &--editable {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: calc(50% - 30px);
        width: 35px;
        height: 30px;
        right: 20px;
        background-image: url('/assets/icon/angle-down-select.svg');
        background-size: cover;
      }
    }
  }

  ion-select.custom-error::part(icon) {
    opacity: 1;
  }

  ion-select.custom-error::part(icon)::before {
    display: block;
    content: '';
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: $color-alizarin;
    color: $color-alizarin;
    mask-image: url('/assets/icon/caution.svg');
    width: 1.5em;
    height: 1.5em;
    opacity: 1;
    transform: translateX(-140%) translateY(-10%);
  }

  &__order-note {
    display: block;
    margin: 30px;
  }

  &__payment-method {
    color: $color-charcoal;
    letter-spacing: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 10px;

    @include font-nunito-regular(14px);
  }

  &__buttons {
    height: 100%;
    padding: 10px 10px 30px 10px;
    margin-bottom: $notch-bottom;

    &>* {
      flex-grow: 1;
    }
  }
}

.order-ingredient-list {
  background-color: $color-alabaster;
  padding: 10px 0;
  &__item {
    border-radius: 30px;
    padding: 4px 8px;
  }

  &__ingredient-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__ingredient-number {
    background: rgb(240, 243, 245);
    border-radius: 4px;
    height: 24px;
    width: 24px;
    color: rgb(81, 81, 81);
    letter-spacing: 0;
    text-align: center;
    margin-right: 15px;

    @include font-nunito-regular(16px);
  }

  &__ingredient-name {
    letter-spacing: 0;
    line-height: 20px;

    @include font-nunito-semibold(16px);
  }

  &__ingredient-price {
    justify-self: flex-end;
    margin-left: auto;
    line-height: 18px;

    @include font-nunito-regular(14px);
  }

  &__ingredient-description {
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    @include font-nunito-regular(14px);
  }
}

.total {
  padding: 10px 20px;
  background: $color-white;

  &__item {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    @include font-nunito-regular(14px);

    &--bold {
      @include font-nunito-heavy(14px);
    }
  }
}