<ion-list class="notifications__list" *ngFor="let group of notificationGroups">
  <ion-item-divider *ngIf="notificationGroups.length && group.sectionName !=='pinned'">
    {{ group.sectionName }}
  </ion-item-divider>
  <ion-item-sliding #slidingItem
    *ngFor="let notification of notificationsFormatted(group.notifications); trackBy: trackById">
    <ion-item-options (ionSwipe)="onSwipe($event,slidingItem, notification, ionItem)"  class="custom-options" side="start">
      <ion-item-option *ngIf="openPinned(slidingItem, notification)" class="pin"> Unpin
        <ion-icon slot="top" src="/assets/icon/unpin-notification.svg"></ion-icon>
      </ion-item-option>
      <ion-item-option *ngIf="!notification.isPinned" class="pin">
        {{ notificationPin }}
        <ion-icon slot="top" src="/assets/icon/pin-notification.svg"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item #ionItem lines="full" aria-label="Notification Item" role="listitem">
      <ion-avatar slot="start" class="avatar-wrapper">
        <ion-img src='/assets/icon/{{getAvatar(notification.category)}}-notification.svg' class="avatar"
          alt="avatar"></ion-img>
      </ion-avatar>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-row>
              <ion-label> {{ notification.title }}</ion-label>
            </ion-row>
            <ion-row *ngIf="notification.subtitle">
              <ion-text> {{ notification.subtitle }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text> {{ notification.content }}</ion-text>
            </ion-row>
            <ion-row>
              <ion-text> {{ notification.insertTime }}</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div>
        <ion-icon class="empty" *ngIf="!notification.viewedDate" src="/assets/icon/status-notification.svg"></ion-icon>
      </div>
    </ion-item>
    <ion-item-options (ionSwipe)="onSwipe($event,slidingItem, notification, ionItem)" *ngIf="group.sectionName !=='pinned'"
      class="custom-options" side="end">
      <ion-item-option color="danger"> {{ notificationDelete }}
        <ion-icon slot="top" src="/assets/icon/delete-notification.svg"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>