@import "tools";

ion-item {
  --inner-padding-end: 2.5%;
  flex-shrink: 1;
}

ion-grid {
  overflow: hidden;
  text-overflow: ellipsis;

  ion-label {
    @include font-nunito-semibold(16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ion-text {
    @include font-nunito-regular(12px);
    color: rgba($color-black, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-icon.empty {
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin-right: -31.25%;
}

ion-icon.pinned {
  vertical-align: middle;
  margin-right: -31.25%;
}

.avatar {
  width: 70%;
  height: 70%;

  &-wrapper {
    background: rgba($color-black, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
}

.notifications {
  &__list {
    padding: 0%;
  }
}

ion-item-divider {
  background-color: $color-background-gray;
  @include font-nunito-heavy(16px);
  color: $color-black;
}

ion-item-options {
  width: 25%;
  &.left {
    background-color: #{$color-purple-50};
  }

  &.right {
    background-color: #{$color-red-alert};
  }
}
ion-item-option ion-icon {
  width: 1.2em;
  height: 1.2em;
  padding-bottom: 5%;
  stroke: $color-white;
  stroke-width: 2%;
}

ion-item-option ion-label {
  @include font-nunito-heavy(12px);
  text-transform: capitalize;
}

.pin {
  background-color: #{$color-purple-50};
  width: 25%;
}

.delete {
  background-color: #{$color-red-alert};
  width: 25%;
}