@import "tools";

ion-item {
  --inner-padding-end: 2.5%;
}

ion-grid {
  overflow: hidden;
  text-overflow: ellipsis;

  ion-label {
    @include font-nunito-semibold(16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ion-text {
    @include font-nunito-regular(12px);
    color: rgba($color-black, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-icon.empty {
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin-right: -31.25%;
}

.avatar {
  width: 70%;
  height: 70%;

  &-wrapper {
    background: rgba($color-black, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
}

ion-item-options {
  @include font-nunito-regular(12px);

  ion-item-option.pin {
    background-color: $color-purple-50;
  }
}

ion-item-options.custom-options {
  width: 30%;
}

ion-item-options.custom-options ion-item-option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%; /* Adjust this value as needed */
  max-width: 25%; /* Adjust this value as needed */
}