<st-header
  [title]="contentStrings.labelFullMenu | async"
  [isTitleShow]="true"
  (onClose)="onOrdersButtonClicked()"
  [backButtonTitle]="'Order'"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
  class="full-menu__header"
></st-header>

<ion-content>
  <ion-list class="full-menu__address-info-list">
    <ion-item lines="full" (click)="toggleMerchantInfo()">
      <div class="full-menu__address-container">
        <div style="width: 92%">
          <div class="full-menu__address-title">{{ (merchantInfo$ | async)?.name }}</div>
          <ng-container *ngIf="merchantInfoState">
            <div aria-live="polite" class="full-menu__address-description" aria-labelledby="collapsed-tittle">
              {{ (merchantInfo$ | async)?.description }}
            </div>
          </ng-container>
          <div class="full-menu__address-info">
            <img src="./assets/icon/location-pin.svg" height="16" alt="location-pin" />
            <div *ngIf="(orderInfo$ | async)?.address" class="full-menu__address-info-content">
              {{ (merchantInfo$ | async)?.distanceFromUser | merchantDistance }} -
              {{ (orderInfo$ | async)?.address | addressHeaderFormat }}
            </div>
          </div>
        </div>
        <div class="full-menu__arrow-wrapper">
          <img
            src="/assets/icon/angle-{{ merchantInfoState ? 'up' : 'down' }}-select.svg"
            [alt]="merchantInfoState ? 'expanded' : 'collapsed'"
          />
        </div>
      </div>
    </ion-item>
    <ion-item lines="full" (click)="openOrderOptions()">
      <div class="full-menu__date-time-container">
        <div class="full-menu__date-time-wrapper">
          <div class="full-menu__date-time-value">{{ orderType | async }}</div>
          <div class="full-menu__date-time-helper">{{ contentStrings.labelFor | async }}</div>
          <div class="full-menu__date-time-value">
            <st-order-prep-time
              [orderDetailOptions]="orderInfo$ | async"
              [orderTypes]="orderTypes$ | async"
            ></st-order-prep-time>
          </div>
        </div>
        <div class="full-menu__arrow-wrapper">
          <img src="/assets/icon/angle-down-select.svg" alt="arrow down" />
        </div>
      </div>
    </ion-item>
    <st-menu-item-finder (itemScanned)="navigateToScannedItem($event)"></st-menu-item-finder>
  </ion-list>
  <ion-list>
    <ion-item
      lines="full"
      *ngFor="let category of (menu$ | async)?.menuCategories"
      (click)="onCategoryClicked(category)"
    >
      <div class="full-menu__menu-item">
        <div role="button">{{ category.name }}</div>
        <div class="full-menu__item-size">{{ category.menuCategoryItems.length }}</div>
      </div>
      <ion-icon
        class="full-menu__menu-item-icon"
        src="/assets/icon/angle-down-select.svg"
        aria-label="continue"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer mode="ios" class="full-menu__footer" *ngIf="(menuItems$ | async) > 0">
  <st-view-cart [menuItemsCount]="menuItems$ | async" (click)="redirectToCart()"></st-view-cart>
</ion-footer>
