@import "tools";

.full-menu {
  &__header {
    border-bottom: 1px solid $color-whisper;
  }

  &__address-info-list {
    margin: 10px 0 50px;
  }

  &__address-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__arrow-wrapper {
    flex-basis: 15%;
    text-align: right;
    margin-right: 10px;
  }

  &__address-title {
    @include ellipsis;
    @include font-nunito-heavy(20px);
  }

  &__address-description {
    @include font-nunito-regular(12px);
  }

  &__address-info {
    margin: 10px 0;
    display: flex;

    @include font-nunito-heavy(14px);
  }

  &__address-info-content {
    margin-left: 5px;
  }

  &__date-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__date-time-wrapper {
    display: flex;
  }

  &__date-time-value {
    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }

    @include font-nunito-heavy(16px);
  }

  &__date-time-helper {
    @include font-nunito-regular(16px);
  }

  &__menu-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include font-nunito-semibold(16px);
    &-icon {
      @include angle-right-arrow-icon();
    }
  }

  &__item-size {
    opacity: .6;
  }

  &__footer {
	  background-color: $color-white;
  }
}
