@import 'tools';

form{
  color: $color-matterhorn;
}

.application-details__content {
  --background: #{$porcelain};
  --padding-top: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.application-details__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-top: var(--ion-safe-area-top, 0);
}

 ion-label {
  @include font-family($font-nunito-heavy);
  font-size: 20px;
  color: $color-black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.application-details__page-back {
  @include font-family($font-nunito-regular);

  --color: #{rgba($color-black, 0.9)};
}

.application-details__save {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};
}

.application-details__card {
  background-color: $color-white;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba($color-black, 0.04), 0 2px 14px 0 rgba($color-black, 0.12);
  padding: 16px;
}

.application-details__back {
  @include font-family($font-nunito-heavy);

  --color: #{$color-dodger-blue};

  min-width: 80px;
}

.application-details__next,
.application-details__submit {
  @include font-family($font-nunito-heavy);

  --border-radius: 8px;
  width: 150px;
  font-size: 14px;
  text-transform: uppercase;
}

.application-details__next {
  --background-activated: #{$color-dodger-blue};
  --border-color: #{$color-dodger-blue};
  --border-width: 2px;
  --color: #{$color-dodger-blue};
}

.application-details__submit {
  --background: #{$color-dodger-blue};
}

.ion-padding {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

ion-card {
  margin: 8px !important;
}