<ion-content
  class="ion-padding application-details__content"
  *ngIf="(applicationDetails$ | async) as applicationDetails"
  #content
>
  <st-forms-header [showSave]="!(applicationsService.isView || isSubmitted)"
    (onSave)="save(applicationDetails)"></st-forms-header>
  <ion-label>{{ applicationDetails.applicationDefinition.applicationTitle }}</ion-label>
  <ion-card  no-padding class="application-details__card">
    <st-stepper class="stepper--white">
      <st-step
        *ngFor="let page of (pages$ | async); last as isLastPage; first as isFirstPage"
        [stepControl]="page.form" (stepChanged)="onChange(applicationDetails, page.form)"
      >
        <form [formGroup]="page.form" (ngSubmit)="submitForm(applicationDetails, page.form, isLastPage)">
          <ng-container *ngFor="let question of page.questions; first as isFirstQuestion">
            <st-question
              *ngIf="question"
              [parentGroup]="page.form"
              [question]="question"
              [name]="$any(question).name"
              [class.question--first]="isFirstQuestion"
              [isSubmitted]="isSubmitted"
              [canEdit]="applicationDetails.applicationDefinition.canEdit"
              [isView]="applicationsService.isView"
            ></st-question>
            <st-requested-roommates *ngIf="isRoommateSearch(question.label)">
            </st-requested-roommates>
          </ng-container>
          <st-stepper-footer>
            <ion-button
              *ngIf="!isFirstPage"
              class="btn application-details__back"
              type="button"
              fill="clear"
              stepperBack
              (back)="onBack()"
              >Back</ion-button
            >

            <st-button
              class="btn application-details__next"
              [class.stepper-footer__button--right]="isFirstPage"
              fill="outline"
              type="submit"
              *ngIf="!isLastPage"
            >
              Next
            </st-button>
            <st-button
              class="btn application-details__submit"
              type="submit"
              *ngIf="isLastPage && (!applicationDetails.applicationDefinition.amount || isSubmitted)"
              [class.stepper-footer__button--right]="isFirstPage"
              [disabled]="applicationsService.isView || (isSubmitted && !applicationDetails.applicationDefinition.canEdit)"
            >
              Submit
          </st-button>
            <st-button
              type="submit"
              *ngIf="isLastPage && applicationDetails.applicationDefinition.amount && !isSubmitted"
              [class.stepper-footer__button--right]="isFirstPage"
              [disabled]="applicationsService.isView"
            >
              Continue to payment
            </st-button>
          </st-stepper-footer>
        </form>
      </st-step>
    </st-stepper>
  </ion-card>
</ion-content>
