<st-header
  title="Messages"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
  class="shadow-header"
></st-header>

<ion-grid class="secure-message ion-no-padding">
  <!-- row for whole window -->
  <ion-row class="secure-message__container">
    <!-- column for groups -->
    <ion-col
      size-sm="5"
      size-md="5"
      size-lg="4"
      size-xl="3"
      class="secure-message__conversations conversations-container"
    >
      <!-- header with start convos option -->
      <ion-header no-border>
        <ion-item button lines="none" class="conversations-container__item" (click)="startConversation()">
          <ion-avatar slot="start" class="conversations-container__avatar-shadow primary-background">
            <ion-icon name="chatbubbles" class="conversations-container__avatar-icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Start conversation</h3>
          </ion-label>
        </ion-item>
      </ion-header>
      <!-- list with available groups -->
      <ion-list class="conversations-container__groups" scrollY="true">
        <st-conversation-item
          *ngFor="let conversation of conversations$ | async; trackBy: trackConversationsByFn"
          [conversation]="conversation"
          (conversationSelected)="onClickConversation(conversation)"
        ></st-conversation-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
