<st-header
  title="Messages"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
  class="shadow-header"
></st-header>

<ion-grid class="secure-message ion-no-padding">
  <!-- row for whole window -->
  <ion-row class="secure-message__container">
    <!-- column for groups -->
    <ion-col
      size-sm="5"
      size-md="5"
      size-lg="4"
      size-xl="3"
      class="secure-message__conversations conversations-container"
    >
      <!-- header with start convos option -->
      <ion-header no-border>
        <ion-item button lines="none" class="conversations-container__item" (click)="onClickStartConversation()">
          <ion-avatar slot="start" class="conversations-container__avatar-shadow primary-background">
            <ion-icon name="chatbubbles" class="conversations-container__avatar-icon"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Start conversation</h3>
          </ion-label>
        </ion-item>
      </ion-header>
      <!-- list with available groups -->
      <ion-list class="conversations-container__groups" scrollY="true">
        <ion-item
          button
          lines="none"
          detail="false"
          *ngFor="let conversationItem of conversations$ | async; trackBy: trackConversationsByFn"
          (click)="onClickConversation(conversationItem.conversation)"
          class="conversations-container__group"
        >
          <ion-avatar
            slot="start"
            class="purple-background"
            [ngStyle]="{ background: conversationItem.avatarBackgroundColor }"
          >
            <h3 class="conversations-container__avatar-text">{{conversationItem.groupInitial}}</h3>
          </ion-avatar>
          <ion-label>
            <h3>{{conversationItem.groupName}}</h3>
            <p>{{conversationItem.description}}</p>
          </ion-label>
          <div class="text-align-end" style="height: 65%;">
            <p style="display: inline; font-size: 0.75em;" slot="end">
              {{ conversationItem.conversation | conversationDate}}
            </p>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
