<ion-item
  [lines]="lines"
  (click)="settingTap(setting)"
  [button]="setting.type === 'button'"
  tabindex="0"
  *ngIf="settingLabel$ | async as settingLabel"
  [disabled]="setting.checkIsDisabled"
>
  <ion-icon class="item__icon" [attr.alt]="setting.icon" src="../../../assets/icon/{{ setting.icon }}.svg" />
  <ion-label class="item__label"
    ><h4>{{ settingLabel }}</h4></ion-label
  >
  <ion-toggle *ngIf="setting.type === 'toggle'" [checked]="setting.checked"></ion-toggle>
</ion-item>

<div class="message" *ngIf="setting.checkIsDisabled && setting.message">
  <ion-icon class="message__icon" name="information-circle-outline"></ion-icon>
  <ion-label class="message__label">{{ setting.message }} </ion-label>
</div>

<div class="customMessage" *ngIf="setting?.customMessage">
  <st-settings-messages [messages]="setting?.customMessage?.data"></st-settings-messages>
</div>
