@import 'tools';

.item {
  &__label {
    margin-left: 13px;
    @include font-nunito-semibold(16px);
  }
  &__icon {
    max-height: 28px;
  }
}

.message {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  padding: 18px;
  background-color: $color-background-divider;
  border-radius: 10px;
  margin-left: 18px;
  
  &__icon {
    font-size: 30px;
    margin-right: 10px;
  }

  &__label {
    @include font-nunito-regular(16px);
  }
}

.customMessage {
  padding: 18px;
  color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;

    &__title {
      @include font-nunito-semibold(16px);
    }
  
    &__value {
      color: $color-dodger-blue;
      @include font-nunito-regular(16px);
    }
  }

  
}
