<div class="menu__sub-navigation">
  <div class="menu__nav-item-wrapper" (click)="goToPage(localRouting.recentOrders)">
    <div class="menu__nav-item-icon-wrapper">
      <img src="./assets/icon/history-solid.svg" alt="recent orders" />
    </div>
    <div class="menu__nav-item-content">{{ contentStrings.labelRecentOrders | async }}</div>
  </div>
  <div class="menu__nav-item-wrapper" (click)="goToPage(localRouting.savedAddresses)">
    <div class="menu__nav-item-icon-wrapper">
      <img src="./assets/icon/map-marker-alt-fill.svg" alt="saved addresses" />
    </div>
    <div class="menu__nav-item-content">{{ contentStrings.labelSavedAddresses | async }}</div>
  </div>
  <div class="menu__nav-item-wrapper" (click)="goToPage(localRouting.favoriteMerchants)">
    <div class="menu__nav-item-icon-wrapper">
      <img src="./assets/icon/favorite.svg" alt="favorites" />
    </div>
    <div class="menu__nav-item-content">{{ contentStrings.labelFavorites | async }}</div>
  </div>
</div>
