@import 'tools';
@import 'fonts';

#logout_btn {
  @include font-nunito-heavy(14px);
  margin-top: $notch-top;
}
.ionic-content {
  .root {
    margin: 40px 65px;
    padding-top: 20px;
  }

  .description-text,
  .title,
  .signal-icon,
  .scan-card-text,
  .big-image {
    margin: 20px 0px 10px 0px;
  }

  .big-image {
    display: flex;
    justify-content: space-around;
  }

  .signal-icon,
  .title {
    @include font-nunito-regular(16px);
    display: flex;
    place-content: space-around;
  }

  .title {
    @include font-nunito-heavy(20px);
  }
}

.ionic-footer {
  ion-button {
    --border-radius: 8px;
    border-radius: 8px;
  }
}
