<ion-content class="ionic-content" mode="ios">
  <div class="root">
    <div class="signal-icon">
      <img height="auto" [src]="config.titleIcon" alt="wifi image" />
    </div>

    <div class="title">
      {{ strings.title }}
    </div>

    <div class="description-text">
      {{strings.description}}
    </div>

    <div *ngIf="canScanCard" class="scan-card-text">
      {{strings.scan_card_desc}}
    </div>
  </div>
  <div class="big-image">
    <img height="auto" [src]="config.mainImg" alt="wifi image" />
  </div>
</ion-content>

<ion-footer class="ionic-footer" mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="canScanCard" size="5">
        <ion-button buttonModifier="rectangular" (click)="scanCard()" class="full-width btn-disabled">
          <span class="ion-text-capitalize">
            {{strings.scan_card_btn}}
          </span>
        </ion-button>
      </ion-col>
      <ion-col [size]="canScanCard ? 7 : 12">
        <ion-button (click)="retryOperations()" buttonModifier="rectangular" class="full-width">
          <span class="ion-text-capitalize">
            {{strings.try_again_btn}}
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
