@import 'tools';

ion-select::part(label)::first-letter {
  color: red;
}
.bold{
  font-weight: bold;
}
ion-select {
  --border-color: var(--ion-color-matterhorn);
  --border-radius: 8px;
  height: 50px;

  &::part(icon) {
    color: $color-matterhorn;
    opacity: 1;
  }

  &.isRequired {
    &::part(label)::last-letter {
      display: inline;
      color: red;
    }
  }
}

ion-select::part(container) {
  width: 100%;
}

.select {
  &__wrapper {
    position: relative;
  }

  &__control {
    width: 100%;
    height: 100%;
    outline: none;
    --border-radius: 8px;


    &--error {

      &:focus,
      &:focus-within {
        border: 2px solid $color-alizarin;

      }
    }
  }

  &__control--border {
    border: 1px solid $color-matterhorn;
    border-radius: 8px;

    &:focus-within {
      border: 2px solid $color-dodger-blue;
    }

    &--error {
      border: 2px solid $color-alizarin;

      &:focus,
      &:focus-within {
        border: 2px solid $color-alizarin;
      }
    }
  }

  &__placeholder {
    opacity: 0.6;
    font-weight: bold;
    font-size: 16px;
  }
}

