@import 'tools';

ion-select::part(icon){
  color: $color-matterhorn;
  opacity: 1;
}
.select {
  &__wrapper {
    position: relative;
    height: 50px;
  }

  &__control {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid $color-matterhorn;
    border-radius: 8px;
    padding: 0px 10px 0;

    &:focus-within {

      border: 2px solid $color-dodger-blue;

      & + .select__placeholder {
        z-index: 2;

        @include floating-label($color-dodger-blue);
      }
    }

    &--error {

      border: 2px solid $color-alizarin;

      &:focus,
      &:focus-within {

        border: 2px solid $color-alizarin;

        & + .select__placeholder {
          z-index: 2;

          @include floating-label($color-alizarin);
        }
      }

      & + .select__placeholder {
        z-index: 2;

        @include floating-label($color-alizarin);
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0 0 13px;
    transition: all 200ms;
    opacity: 0.6;
    font-weight: bold;
  }
}

:host-context(.ng-valid) .select__control {
  &:focus-within {
    & + .select__placeholder {

      @include floating-label($color-dodger-blue);
      .showAsterisk {
        @include show-asterisk
      }
    }
  }

  & + .select__placeholder {
    z-index: 2;

    @include floating-label($color-night-gray);
    font-weight: 500;
    .showAsterisk {
      @include show-asterisk
    }
  }

}
