<div class="select__wrapper">
  <ion-select
    mode="md"
    class="select__control"
    [interfaceOptions]="interfaceOptions"
    [value]="control.value"
    [class]="{ 'select__control--error': isError }"
    (ionChange)="onChangeHandler($event)"
    (ionBlur)="onBlur()"
    (ionFocus)="onFocus(); onDoubleTap()"
    [interface]= "interface"
    [disabled]="isDisabled"
    [id]="idd"
    [placeholder]="control.value"
    [selectedText]="selectedText"
    [attr.a11y-placeholder]="label"
    tabindex="0"
    #selector
  >
    <ng-content select="[role=options]"></ng-content>
  </ion-select>

  <label class="select__placeholder" [attr.for]="idd" >
    {{label}}<span class="showAsterisk" *ngIf="isRequired" >*</span>
  </label>
  <ng-content select="[role=error]" *ngIf="isError"></ng-content>
</div>
