<st-header
  title="{{ title }}"
  [isTitleShow]="true"
  [backButtonTitle]="''"
  [backButtonIcon]="'close'"
  [isToolbarShow]="true"
  class="saved-addresses__header"
></st-header>


<ion-content>
  <ng-container *ngIf="displayList">
    <ion-item 
      class="delivery-address__add-address-wrapper"
      lines="full"
      [button]="true"
      [detail]="true"
      detailIcon="/assets/icon/angle-{{ addNewAdddressState ? 'up' : 'down' }}-select.svg"
      (click)="addNewAdddressState = !addNewAdddressState">
        <span class="delivery-address__add-address-sign">+</span>
        <span class="delivery-address__add-address-text">Add New Address</span>
    </ion-item>
  </ng-container>
  <st-order-address-list
    (addressesLoaded)="addressesLoaded($event)">
  </st-order-address-list>

</ion-content>