<div class="order">
  <ion-slides *ngIf="slides.length" mode="ios" [options]="slideOpts" class="order__slides">
    <ion-slide *ngFor="let merchantSlide of slides" class="order__slide">
      <div class="order__card" (click)="goToMerchant(merchant)" *ngFor="let merchant of merchantSlide">
        <img *ngIf="merchant.imageThumbnail" class="order__card-photo"
             src="https://3bulchr7pb.execute-api.us-east-1.amazonaws.com/dev/image/{{merchant.imageThumbnail}}"
             alt="merchant image"/>
        <img *ngIf="!merchant.imageThumbnail" class="order__card-photo"
             src="/assets/images/order-item-template.jpg"
             alt="merchant image"/>
        <div class="order__favorite-wrapper">
          <img class="order__favorite-icon" src="/assets/icon/star-filled.svg" alt="star icon"/>
        </div>
        <div class="order__card-title-wrapper">
          <div class="order__card-title">{{ merchant.name }}</div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-list *ngIf="!slides.length" class="order__skeleton-list">
    <ion-item *ngFor="let i of skeletonArray" lines="none">
      <ion-label class="ion-no-margin">
        <ion-skeleton-text animated class="order__skeleton-card"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
