<div class="order" [ngClass]="{ 'order--auto-height': !isLoading }">
  <swiper
    *ngIf="!isLoading && slides.length"
    mode="ios"
    [config]="slideOpts"
    class="order__slides swiper-slides-flex-start"
  >
    <ng-template swiperSlide *ngFor="let merchantSlide of slides">
      <div class="order__slide">
        <div class="order__card" (click)="goToMerchant(merchant)" *ngFor="let merchant of merchantSlide">
          <img
            *ngIf="merchant.imageThumbnail"
            class="order__card-photo"
            src="{{ awsImageUrl + merchant.imageThumbnail }}"
            alt="merchant image"
          />
          <img
            *ngIf="!merchant.imageThumbnail"
            class="order__card-photo"
            src="/assets/images/dashboard_merchant_image_placeholder.svg"
            alt="merchant image"
          />
          <div class="order__favorite-wrapper">
            <img
              class="order__favorite-icon"
              src="/assets/icon/star-filled.svg"
              [attr.aria-label]="'patron-ui.favorites_actions.home_page' | translate"
            />
          </div>
          <div class="order__card-title-wrapper">
            <div class="order__card-title">{{ merchant.name }}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>

  <ion-list *ngIf="isLoading" class="order__skeleton-list">
    <ion-item *ngFor="let i of skeletonArray" lines="none">
      <ion-label class="ion-no-margin">
        <ion-skeleton-text animated class="order__skeleton-card"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
