@import 'tools';

.unlink-credentials {
  &__header-toolbar {
    padding-top: 0px;
  }
  &__header-title {
    padding-left: 8px;
    @include font-nunito-semibold(18px);
  }
  &__content {
    @include font-nunito-regular(16px);
  }
  &__footer {
    padding: 5px 10px 10px 10px;
  }
}
