<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Unlink Mobile Wallet ID</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalsService.dismiss()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-padding" [innerHTML]="'patron-ui.mobile-credential.unlink_credentials_text' | translate"></div>
<ion-footer class="ion-padding ion-text-end">
  <ion-button (click)="modalsService.dismiss()" fill="solid" color="light">Cancel</ion-button>
  <ion-button (click)="unlink()" fill="solid" color="primary">Unlink</ion-button>
</ion-footer>
