<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Unlink Mobile Wallet ID</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalsService.dismiss()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="ion-padding unlink-credentials__content" [innerHTML]="'patron-ui.mobile-credential.unlink_wallet_modal_body' | translate"></div>
<ion-footer class="unlink-credentials__footer ion-text-end" mode="md">
  <ion-button mode="ios" (click)="modalsService.dismiss()" fill="solid" color="light">Cancel</ion-button>
  <ion-button mode="ios" (click)="unlink()" fill="solid" color="primary">{{'patron-ui.mobile-credential.unlink_wallet_modal_main_button' | translate}}</ion-button>
</ion-footer>
