@import "tools";

.dashboard {
  background: #f7f7f7;

  
  
  &__bottom-btn-wrapper {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 64px;
    background: $color-white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12), 0px 2px 14px 0px rgba(0, 0, 0, 0.12);
  }

  &__bottom-icon-wrapper {
    display: flex;
    align-items: center;
    font-size: 35px;
    margin-right: 5px;
  }

  &__bottom-title-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  &__bottom-title {
    @include font-nunito-semibold(16px) ;
  }
  &__bottom-subtitle {
    @include font-nunito-regular(10px) ;
  }

}