<div class="dashboard__header-cover"></div>
<ion-content class="dashboard">
  <st-access-card></st-access-card>

  <ng-container *ngFor="let tile of tiles$ | async; trackBy: trackFn">
    <st-tile-wrapper *ngIf="tile.isEnable" [wrapperConfig]="tile">
      <ng-container [ngSwitch]="tile.id">
        <st-accounts-tile #accountsTile *ngSwitchCase="tilesIds.accounts"></st-accounts-tile>
        <st-transactions-tile #transactionsTile *ngSwitchCase="tilesIds.transactions"></st-transactions-tile>
        <st-rewards-tile  #rewardsTile *ngSwitchCase="tilesIds.rewards"></st-rewards-tile>
        <st-mobile-access-tile  #mobileAccessTile *ngSwitchCase="tilesIds.mobileAccess"></st-mobile-access-tile>
        <st-meal-donations-tile #mealDonationsTile *ngSwitchCase="tilesIds.mealDonations"></st-meal-donations-tile>
        <st-order-tile #orderTile *ngSwitchCase="tilesIds.order"></st-order-tile>
        <st-explore-tile #exploreTile *ngSwitchCase="tilesIds.explore"></st-explore-tile>
        <st-conversations-tile #conversationsTile *ngSwitchCase="tilesIds.conversations"></st-conversations-tile>
        <st-housing-tile #housingTile *ngSwitchCase="tilesIds.housing"></st-housing-tile>
      </ng-container>
    </st-tile-wrapper>
  </ng-container>

  <ion-button class="dashboard__bottom-btn-wrapper" mode="ios" (click)="presentEditHomePageModal()">
    <div class="dashboard__bottom-icon-wrapper">
      <img src="/assets/icon/dashboard.svg" />
    </div>
    <div class="dashboard__bottom-title-wrapper">
      <div class="dashboard__bottom-title">Edit Home Page</div>
    </div>
  </ion-button>
</ion-content>
