<ion-content>
  <st-access-card></st-access-card>

  <ng-container *ngFor="let tile of tilesConfig">
    <st-tile-wrapper *ngIf="true" [wrapperConfig]="tile">
      <ng-container [ngSwitch]="tile.id">
        <st-accounts-tile *ngSwitchCase="'accounts'"></st-accounts-tile>
        <st-transactions-tile *ngSwitchCase="'transactions'"></st-transactions-tile>
        <st-mobile-access-tile *ngSwitchCase="'mobileAccess'"></st-mobile-access-tile>
      </ng-container>
    </st-tile-wrapper>
  </ng-container>
</ion-content>
