@import 'tools';

@mixin border-only {
  --ion-color-primary: #fff;
  --box-shadow: none;

  border: 2px solid $color-dodger-blue;
  color: $color-dodger-blue;
}

:host {
  display: block;
  width: 100%;
}

.st-button {
  --ion-color-primary: #166dff;
  --border-radius: 8px;
  --background-activated: rgba(0, 0, 0, 0.14);
  --box-shadow: none;
  width: 100%;

  height: 50px;
  border-radius: 8px;

  @include font-nunito-heavy(15px);

  &--disabled {
    --ion-color-primary: #e1e1e1;
    --background-hover: #e1e1e1;
    --box-shadow: none;
    --background-activated: #c4c4c4;

    color: $color-matterhorn;
  }

  &--border-only {
    @include border-only();

    border-radius: 8px;
  }

  &--border-only-rectangle {
    @include border-only();

    border-radius: 5px;
  }

  &--rectangle {
    --border-radius: 5px;
  }

  &--border-less {
    --ion-color-primary: #fff;
    --background-activated: #c4c4c4;
    --border-radius: 8px;

    border-radius: 8px; //we need this second border-radius
    color: $color-black;
  }

  &--black {
    color: $color-black;
    border-radius: 8px;
    box-shadow: 0 0 24px 0 #0000000a, 0 12px 44px 0 #0000001f;
  }

  &--danger {
    --background: #e22942;
  }

  &--entry-light {
    --ion-color-primary: #fff;
    --background-activated: #c4c4c4;
    --background-color: $color-white;
    --border-radius: 8px;

    border-radius: 8px; //we need this second border-radius
    color: $color-black;
  }

  &--light {
    --ion-color-primary: #f1f1f1;
    --background-activated: #f1f1f1;
    --background-color: #f1f1f1;
    --border-radius: 8px;
    background-color: #f1f1f1;
    border-radius: 8px;
    color: $color-black;
    border: 2px solid #f1f1f1;
    --ion-color-base: none !important;
  }

  &--entry-dark {
    --ion-color-primary: $color-white;
    --background-activated: #c4c4c4;
    --bacgrkound-color: #166dff;
    --border-radius: 8px;

    background-color: #0043b3;
    border-radius: 8px; //we need this second border-radius
    color: $color-white;
    border-color: $color-white;
    border: 2px solid #fff;
  }

  &--submit-button {
    --border-radius: 8px;
  }

  &--normalcase {
    text-transform: none;
  }
}

ion-button {
  text-transform: capitalize !important;
}
