<header class="deposit-modal__header">
  <ion-toolbar mode="ios">
    <ion-title class="deposit-modal__title">Deposit</ion-title>
  </ion-toolbar>
</header>

<ion-content>
  <div class="deposit-modal__img-wrapper">
    <img src="/assets/images/big_check_deposit.svg" alt="big_check_deposit" />
  </div>
  <h1 class="deposit-modal__title-label">Success!</h1>
  <section class="deposit-modal__sub-title">
    This transaction was successful. You can review it to make sure everything checks out.
  </section>
  <section class="deposit-modal__info-container">
    <div class="deposit-modal__label">
      Deposit Amount:
      <span class="deposit-modal__value">{{
        data.amount | transactionUnits: data['selectedAccount'].accountType
      }}</span>
    </div>
    <div class="deposit-modal__label">
      Account: <span class="deposit-modal__value">{{ data['selectedAccount'].accountDisplayName }}</span>
    </div>
    <div class="deposit-modal__label">
      Payment Method:
      <span class="deposit-modal__value" *ngIf="!data['billme']; else billme">
        {{ data['sourceAcc'].accountTender | creditCardType }} ending in
        {{ data['sourceAcc'].lastFour }}
      </span>
    </div>
  </section>
  <ion-button expand="block" fill="clear" class="deposit-modal__button" (click)="onClickedDone()">DONE</ion-button>
</ion-content>

<ng-template #billme>
  <span class="cdp__value">Bill me</span>
</ng-template>
