<st-header
  [isTitleShow]="true"
  [backButtonIcon]="'close'"
  [isBackButtonShow]="false"
  [isToolbarShow]="true"
  [backButtonTitle]="''"
  [isDismissButtonShow]="true"
  (onDismiss)="close()"
>
</st-header>
<div class="divider ion-padding-top"></div>
<ion-content class="ion-padding">
  <div class="report-card">
    <div class="report-card__img">
      <img src="../../../../../assets/icon/card_search.svg" />
    </div>
    <ion-label class="report-card__label">{{ 'Report ' + nextStatusText }}</ion-label>
    <p class="report-card__description" [innerHTML]='nextStatusDescription$ | async'></p>
  </div>
</ion-content>
<ion-footer class="ion-margin-vertical ion-padding">
  <st-button [disabled]="isReporting" buttonModifier="rectangle" (click)="toggleStatus()" tabindex="3">
    {{ isReporting ? 'Reporting card...' : 'Report card as ' + nextStatusText }}
  </st-button>
</ion-footer>
