<st-header
  [title]="contentString.headerTitleActivate"
  [backButtonTitle]="contentString.backBtnHeader"
  [isToolbarShow]="true"
  [isTitleShow]="true"
></st-header>
<ion-content class="ion-padding">
  <st-activate-location-item
    [userPhoto]="userPhoto$ | async"
    [userPronouns]="userLocalProfileSignal().pronouns"
    [userFullName]="userLocalProfileSignal().userFullName"
    [userInfoId]="userInfoId$ | async"
    [institutionName]="(institution$ | async).name"
    [institutionPhoto]="institutionPhoto$ | async"
    [institutionColor]="institutionColor$ | async"
  >
    <p class="user-data__location">
      <ion-icon
        [ngClass]="starClass | async"
        [attr.aria-label]="starAriaLabel | async | translate : { locationName: (location$ | async)?.name }"
        role="option"
        (click)="favouriteHandler()"
      ></ion-icon>
      {{ (location$ | async)?.locationId }} - {{ (location$ | async)?.name }}
    </p>
    <div class="user-data__activate-btn-wrapper">
      <st-button (onClick)="activateLocation()" buttonModifier="submit-button">
        {{ contentString.activate }}
      </st-button>
    </div>
  </st-activate-location-item>
</ion-content>
