<st-header
  [title]="contentString.headerTitleActivate"
  [backButtonTitle]="contentString.backBtnHeader"
  [isToolbarShow]="true"
></st-header>
<ion-content padding>
  <ion-card class="user-data">
    <ion-card-header>
      <ion-card-title class="user-data__university">{{ (institution$ | async)?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="user-data__university-bg" src="/assets/images/card_background_illustration.svg" alt="nature background" />
      <ion-card class="user-data__data-card">
        <div class="user-data__photo-container">
          <img class="user-data__photo" *ngIf="photo" [src]="photo" alt="user photo" />
        </div>
        <div class="user-data__info">
          <p class="user-data__name">{{ userFullName$ | async }}</p>
        </div>
      </ion-card>
      <p class="user-data__location">
        <span [ngClass]="starClass | async" aria-label="star" role="img" (click)="favouriteHandler()"></span>
        {{ (location$ | async).locationId }} - {{ (location$ | async).name | truncate : 40 }}
      </p>
    </ion-card-content>
    <div class="user-data__activate-btn">
      <ion-button shape="round" size="large" color="light" expand="full" (click)="activateLocation()"
        >{{ contentString.activate }}
      </ion-button>
    </div>
  </ion-card>
</ion-content>
