<ion-item fill="outline" mode="md" [disabled]="isDisabled">
  <ion-label position="floating">{{ label }}
    <span *ngIf="isRequired" class="showAsterisk">*</span>
  </ion-label>
  <ion-input [readonly]="true" [value]="value | date : format" [id]="label"></ion-input>
  <ion-modal #modal [trigger]="label" [initialBreakpoint]="0.6">
    <ng-template>
      <ion-toolbar>
        <ion-title>Calendar</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss(value)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-content>
        <ion-item lines="none">
          <ion-datetime
            presentation="date"
            [value]="value"
            #dateCalendar
            (ionChange)="handleChange($event)"
          ></ion-datetime>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>
