@import 'tools';

ion-item::part(native) {
  border-radius: 8px;
  color: $color-matterhorn;
}
ion-item {
  --color: $color-matterhorn;
  --min-height: 50px;

  ion-label {
    font-weight: bold;
    font-size: 90%;
  }

  ion-input {
    --padding-bottom: 0px;
    font-size: 95%;
  }
}
