@import 'tools';

%placeholder-transform {
  background-color: $color-white;
  padding: 0 3px;
  transform: scale(0.75) translateY(-29px);
  opacity: 1;
}
ion-datetime{
  background: none;
}
:host {
  display: block;
  position: relative;

  &.date-select__disabled {
    .date-select__control--filled {
      & + .date-select__placeholder {
        color: rgba($color-black, 0.4);
      }
    }
  }

  &:not(.date-select__disabled) {
    .date-select__control {
      &--filled {
        border-color: $color-dodger-blue;

        & + .date-select__placeholder {
          color: $color-dodger-blue;
        }
      }

      &.ng-invalid.ng-touched {
        border-color: $color-alizarin;

        & + .date-select__placeholder {
          color: $color-alizarin;
        }
      }
    }
  }
}

.date-select__control {
  --padding-top: 14px;
  --padding-bottom: 14px;
  --padding-start: 13px;

  border: 1px solid $color-light-gray;
  border-radius: 8px;
  position: relative;

  &:focus,
  &:focus-within,
  &:active,
  &--filled {
    @include chevron-down-active();
  }

  &.ng-invalid.ng-touched {
    @include chevron-down-error();
  }

  &--filled,
  &.ng-invalid.ng-touched {
    --padding-top: 13px;
    --padding-bottom: 13px;

    border-width: 2px;

    & + .date-select__placeholder {
      @extend %placeholder-transform;
    }
  }

  @include chevron-down();
}

.date-select__placeholder {
  position: absolute;
  top: 15px;
  left: 13px;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform-origin: 0 0;
  pointer-events: none;
  opacity: 0.5;
  z-index: 2;
}
