<div class="account-details__header-wrapper">
  <ng-container [ngTemplateOutlet]="subHeader"></ng-container>
</div>

<div class="account-details__header-wrapper account-details__header-wrapper--full-site">
  <ng-container [ngTemplateOutlet]="subHeader"></ng-container>
</div>

<section class="account-details__content" #content>
  <ng-container *ngIf="(transactions$ | async)?.length; else emptyPageInfo">
    <st-transactions [transactions]="transactions$ | async" [dividers]="true"></st-transactions>
    <ion-infinite-scroll #infiniteScroll threshold="10px" (ionInfinite)="getNextTransactionPackage()">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading transactions"> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</section>

<ng-template #subHeader>
</ng-template>

<ng-template #emptyPageInfo>
  <img
    class="account-details__empty-block-img"
    src="/assets/images/transactions_empty_state.svg"
    alt="gift box with rest guy"
  />
  <p class="account-details__empty-block-message">No transactions to display. <br />Carry on.</p>
</ng-template>
