<st-header
  [title]="contentStrings.labelCart | async"
  [isTitleShow]="true"
  [backButtonTitle]="''"
  backButtonIcon="close"
  [isToolbarShow]="true"
  class="browser-hidden"
>
</st-header>

<ion-content class="browser-hidden" #content>
  <st-order-details
    [readonly]="false"
    [isExistingOrder]="isExistingOrder"
    [orderInfo]="order$ | async"
    [merchant]="merchant$ | async"
    [accounts]="accounts$ | async"
    [accInfoList]="accountInfoList$ | async"
    [orderDetailOptions]="orderDetailOptions$ | async"
    [orderTypes]="orderTypes$ | async"
    [merchantTimeZoneDisplayingMessage]="merchantTimeZoneDisplayingMessage"
    [applePayEnabled]="applePayEnabled$ | async"
    [addressModalConfig]="addressModalSettings$ | async"
    [dueTimeHasErrors]="dueTimeHasErrors"
    [errorCode]="errorCode"
    [enableTimeSelection]="true"
    (onDueTimeErrorClean)="cleanDueTimeErrors()"
    (onFormChange)="onCartStateFormChanged($event)"
    (onOrderItemRemovedId)="removeOrderItem($event)"
    (onOrderItemClicked)="onOrderItemClicked($event)"
    (onOrderPaymentInfoChanged)="onOrderPaymentInfoChanged($event)"
    (onOrderTipChanged)="onOrderTipChanged($event)"
  >
    <ng-container *ngIf="showButton">
      <st-button
        (onClick)="onSubmit()"
        [voiceOverText]="buttonAriaLabel | async"
        [disabled]="(!cartFormState?.valid && !isExistingOrder) || isProcessingOrder"
        [isDisabled]="(!cartFormState?.valid && !isExistingOrder) || isProcessingOrder"
        >
        {{ getButtonText() | async }}
      </st-button>
    </ng-container>
  </st-order-details>
</ion-content>
