<st-header [title]="contentStrings.labelCart | async"
           [isTitleShow]="true"
           [backButtonTitle]="''"
           [backButtonIcon]="'close'"
           [isToolbarShow]="true">
</st-header>

<ion-content>
  <st-order-details
          [readonly]="false"
          [tax]="(order$ | async).tax"
          [discount]="(order$ | async).discount"
          [accInfoList]="accountInfoList$ | async"
          [tip]="(order$ | async).tip"
          [subTotal]="(order$ | async).subTotal"
          [pickupFee]="(order$ | async).pickupFee"
          [deliveryFee]="(order$ | async).deliveryFee"
          [total]="(order$ | async).total"
          [orderItems]="(order$ | async).orderItems"
          [orderDetailOptions]="orderDetailOptions$ | async"
          [orderTypes]="orderTypes$ | async"
          [accounts]="accounts$ | async"
          [applePayEnabled]="applePayEnabled$ | async"
          [mealBased]="(order$ | async).mealBased"
          [merchantSettingsList]="(merchant$ | async).settings.list"
          [addressModalConfig]="(addressModalSettings$ | async)"
          (onFormChange)="onCartStateFormChanged($event)"
          (onOrderItemRemovedId)="removeOrderItem($event)"
          (onOrderItemClicked)="onOrderItemClicked($event)"
          (onOrderPaymentInfoChanged)="onOrderPaymentInfoChanged($event)"
          (onOrderTipChanged)="onOrderTipChanged($event)"
  >
    <st-button (onClick)="onSubmit()" [disabled]='placingOrder' [isDisabled]="!cartFormState?.valid">
      {{(isOrderASAP | async)
            ? (contentStrings.buttonPlaceOrder | async)
            : (contentStrings.buttonScheduleOrder | async)}}
      {{(order$ | async).total | priceUnitsResolver: (order$ | async).mealBased}}
    </st-button>
  </st-order-details>
</ion-content>
