@import "tools";

.btn {
  --border-radius: 25px;
  --background: #166DFF;

  border-radius: 25px;
  height: 50px;
  color: $color-white;
  text-transform: uppercase;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 5px;

  @include font-nunito-heavy(14px);

  &--invalid {
    --background: #999;

    &:hover {
      --background: #999;
    }

    color: $color-white;
  }
}
