@import 'tools';

:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-container {
  .label {
    &__label {
      margin-right: 40px;
      @include font-nunito-semibold(16px);
    }

    &__date {
      @include font-nunito-regular(10px);
    }
  }
}

.type-container {
  min-width: 73px;

  .type {
    &__entity {
      text-align: right;
      @include font-nunito-semibold(16px);
    }

    &__label {
      text-align: right;
      @include font-nunito-regular(10px);
    }
  }
}
