@import 'tools';

:host {
  border-bottom: 1px solid $color-mercury;
  display: block;
  margin: 25px 16px 0;
  padding-bottom: 15px;
}

.unit__details {
  margin: 0 8px;
}

.unit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.unit__title {
  @include font-nunito-heavy(16px);

  line-height: 20px;
  margin: 0;
}

.unit__facilities {
  @include font-nunito-semibold(14px);

  color: rgba($color-black, 0.6);
  line-height: 19px;
}

.unit__price-amount {
  @include font-nunito-heavy(18px);

  line-height: 24px;
}

.unit__tools {
  border-top: 1px solid $color-white-smoke;
  display: flex;
  align-items: center;
}

.unit__labels-wrap {
  overflow: hidden;
  position: relative;
  flex-grow: 1;

  &::before {
    background-image: linear-gradient(90deg, rgba($color-white, 0) 0%, $color-white 60%);
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    width: 20%;
    z-index: 1;
  }
}

.unit__labels-item {
  margin-right: 8px;
}
