<ion-content
  class="ion-padding contract-details__content"
  *ngIf="(contractDetails$ | async) as contractDetails"
  #content
>
<st-forms-header>
</st-forms-header>

  <h2 class="contract-details__title">{{ contractDetails.contractInfo.contractName }}</h2>

  <div class="contract-details__card">
    <st-stepper class="stepper--white">
      <st-step
        *ngFor="let page of (pages$ | async); last as isLastPage; first as isFirstPage"
        [stepControl]="page.form"
      >
        <form [formGroup]="page.form" (ngSubmit)="submitForm(contractDetails, page.form, isLastPage)">
          <ng-container *ngFor="let question of page.questions; first as isFirstQuestion">
            <st-question
              *ngIf="question"
              [parentGroup]="page.form"
              [question]="question"
              [name]="$any(question).name"
              [class.question--first]="isFirstQuestion"
              [isSubmitted]="isSubmitted"
            ></st-question>
          </ng-container>

          <st-stepper-footer>
            <ion-button
              *ngIf="!isFirstPage"
              class="btn contract-details__back"
              type="button"
              fill="clear"
              stepperBack
              (back)="content.scrollToTop()"
              >Back</ion-button
            >

            <st-button
              class="btn contract-details__next"
              [class.stepper-footer__button--right]="isFirstPage"
              fill="outline"
              type="submit"
              *ngIf="!isLastPage"
            >
              Next
            </st-button>
            <st-button
              class="btn contract-details__submit stepper-footer__button--right"
              type="submit"
              [disabled]="!canSubmit"
              *ngIf="isLastPage && (!contractDetails.amount || isSubmitted)"
            >
              Submit
            </st-button>
            <st-button
            [disabled]="!canSubmit"
            type="submit"
            *ngIf="isLastPage && contractDetails.amount && !isSubmitted"
            [class.stepper-footer__button--right]="isFirstPage"
          >
            Continue to payment
          </st-button>
          </st-stepper-footer>
        </form>
      </st-step>
    </st-stepper>
  </div>
</ion-content>
