<ion-list class="order__list">
  <ng-container *ngFor="let orderInfo of orders; let i = index;">
    <ion-item-divider
      [sticky]="true"
      class="order__divider"
      stIsDividerAppear
      [date]="orderInfo.dueTime"
      propertyName="dueTime"
      [index]="i"
      [order]="orderInfo"
      [transactions]="orders"
    >
      <ion-label position="'fixed'" class="order__label">
        {{ orderInfo.dueTime | date : 'EEEE, MMMM d' }}
      </ion-label>
    </ion-item-divider>
    <st-recent-orders-list-item
      #order
      (onClicked)="onOrderClicked.emit($event)"
      (onNavigateToCheckin)="onNavLinkClicked.emit($event)"
      [orderInfo]="orderInfo"
    >
    </st-recent-orders-list-item>
    <hr class="diviser" />
  </ng-container>
</ion-list>
