@import 'tools';

.transactions {
  &__list {
    padding-bottom: 0;
  }

  &__divider {
    background: $color-white-smoke;
  }

  &__item {
    @include bp-grid-tablet {
      pointer-events: none;
    }
  }

  &__label {
    width: 100%;
    text-align: center;
    color: $color-black;

    @include font-nunito-regular(12px);
  }
}
