<ion-grid class="ion-no-padding info-block" fixed>
  <ion-row>
    <ion-col class="ion-no-padding">
      <h3 class="info-block__merchant-name info-block__merchant-name--{{ headingMode }}">{{ merchant.name }}</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-no-padding">
      <span *ngIf="merchant.distanceFromUser" class="info-block__distance st-margin-end">
        {{ merchant.distanceFromUser | merchantDistance }}
      </span>
      <st-order-type-display [merchant]="merchant"></st-order-type-display>
    </ion-col>
  </ion-row>
  <ion-row class="info-block__main-info">
    <ion-col class="ion-align-items-start">
      <p
        *ngIf="isShowMerchantStatus"
        class="info-block__access-state"
        [ngClass]="{
          'info-block__access-state--open': merchant.openNow,
          'info-block__access-state--closed': !merchant.openNow
        }"
      >
        {{ merchant.openNow ? 'Open' : 'Closed' }}
      </p>
      <st-order-ahead-badge [merchant]="merchant"></st-order-ahead-badge>
    </ion-col>
  </ion-row>
</ion-grid>
