<ion-grid class="ion-no-padding info-block" fixed>
  <ion-row>
    <ion-col class="ion-no-padding">
      <h3 class="info-block__merchant-name">{{ merchant.name }}</h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="merchant.distanceFromUser" class="ion-no-padding">
      <p class="info-block__distance">{{ merchant.distanceFromUser | merchantDistance }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="info-block__main-info">
    <ion-col class="ion-no-padding ">
      <p
        *ngIf="isShowMerchantStatus"
        class="info-block__access-state"
        [ngClass]="{
          'info-block__access-state--open': merchant.openNow,
          'info-block__access-state--closed': !merchant.openNow
        }"
      >
        {{ merchant.openNow ? 'Open' : 'Closed' }}
      </p>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-right">
      <p *ngIf="isShowOrderType" class="info-block__order-type">{{ merchant | orderType }}</p>
      <p *ngIf="isWalkOut" class="info-block__walkout">Smart Shopping</p>
    </ion-col>
  </ion-row>
</ion-grid>