<div class="list-item" (click)="openPopover(item, type)">
  <div class="list-item__content" [ngClass]="{ 'list-item__store-content': !isHistoryEnv() }">
    <div class="list-item__title">
      {{ item.itemName || item.name }}
    </div>
    <div class="list-item__description">
      {{ item.shortDescription }}
    </div>
    <div class="list-item__time" *ngIf="isHistoryEnv()">
      {{ item.claimedTime | date: "M/d/yy, h:mmaaaaa'm'" }}
    </div>
  </div>
  <div class="list-item__actions" [ngClass]="{ 'list-item__store-actions': !isHistoryEnv() }">
    <div class="list-item__actions-wrapper">
      <ng-container *ngIf="active; else reward">
        <img src="./assets/icon/qr-code.svg" alt="qrcode" class="list-item__qrcode" />
        <div class="list-item__button" size="small" fill="outline" *ngIf="!isHistoryEnv()">Scan</div>
      </ng-container>
      <ng-template #reward>
        <div
          class="list-item__score-container"
          [ngClass]="{ 'list-item__score-container--disabled': disabledStoreReward }"
        >
          <div class="list-item__score" [ngClass]="{ 'list-item__score--semibold': !isHistoryEnv() }">
            {{ item.pointsSpent || item.pointCost }} Points
          </div>
          <div class="list-item__button" *ngIf="!isHistoryEnv()">
            Redeem
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
