@import 'tools';

:host {
  width: 100%;

  .list-item {
    display: flex;
    flex-basis: 100%;

    &__content {
      flex-basis: 80%;
    }

    &__store-content {
      flex-basis: 70%;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-basis: 20%;
      align-items: flex-end;
    }

    &__actions-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__store-actions {
      flex-basis: 30%;
    }

    &__title {
      color: $color-matterhorn;

      @include font-nunito-semibold(20px);
    }

    &__description {
      color: $color-dim-gray;
      margin-bottom: 5px;

      @include font-nunito-regular(12px);
    }

    &__time,
    &__score {
      color: #7e7e7e;

      @include font-nunito-regular(10px);
    }

    &__button {
      --border-color: $color-dark-blue !important;
      --color: $color-dark-blue !important;
      --border-radius: 4px 4px 4px 4px !important;
      --border-width: 1px !important;
      --padding-end: 6px !important;
      --padding-start: 6px !important;
      --padding-bottom: 2px !important;
      --padding-top: 2px !important;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 2px 0;
      margin: 10px 0 0;

      @include font-nunito-semibold(12px);
    }

    &__score--semibold {
      color: $color-black;

      @include font-nunito-semibold(16px);
    }
  }
}
