// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.div_center_vertical {
    position: relative;
    top: 50%; 
    transform: translate(0%, -50%);
}

.no-scroll .scroll-content {
    overflow: hidden;
}

.scroll-content {
    overflow-y: auto !important;
 }

 .segment-md .segment-button {
    font-size: 1.25rem;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        font-size: 1.5rem;
    }
     color: #fff;
 }

 .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
     border-color: #fff;
 }

side-menu-content {

    $active-color: map-get($colors, primary);

    // In this example, we have used the following name
    // for the selected option in the settings object:
    // selectedOptionClass: 'active-side-menu-option'

    // Single option
    // ------------------
    ion-item.item.item-block.option {
        background-color: #fff;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;
        }
    }

    // Header
    // ------------------
    ion-item.item.item-block.header {
        background-color: #eee;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;
        }
    }

    // Sub option
    // ------------------
    ion-item.item.item-block.sub-option {
        background-color: #fff;
        color: #222;

        &.active-side-menu-option {
            color: $active-color;
            font-weight: 700;            
        }
    }

    // remove bounce for ios scrolling
    // .content-ios:not([no-bounce])>.scroll-content::before { bottom: 0; }
    .ios {
        .scroll-content {
          -webkit-overflow-scrolling: auto !important;
        }
    }
}