@import 'tools';

.menu-category {
  width: 100%;
  height: 100%;
  --background: #f0f3f5;

  &__header {
    height: 86px;
  }
  
  &__header-toolbar {
    padding: 40px 10px 4px;
    height: 86px;
    --padding-bottom: 0;
    --padding-end:0;
    --padding-start:0;
    --padding-top:0;
  }

  &__header-back-btn {
    display: block;
    --icon-font-size: 20px;
    --icon-margin-end: 5px;
  }

  &__header-search-btn {
    height: 36px;
    width: 36px;
    border: 2px solid $color-white-smoke;
    border-radius: 50%;
    margin-right: 15px;
  }

  &__header-search-btn-icon {
    font-size: 20px;
  }

  &__title {

    @include font-nunito-heavy(20px);
  }

  &__search-header {
    height: 86px;
    --background: #fff;
  }

  &__search-header-toolbar {
    width: 100%;
  }

  &__search-header-searchbar {
    width: auto;
    height: 40px;
    margin-top: 41px;
    --icon-color: #000;
  }

  &__search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 97px;
  }

  &__search-text {
    text-align: center;
    color: #00000099;
    margin: 19px 72px 0;

    @include font-nunito-semibold(16px);
  }

}
