<ng-container *ngIf="searchState; then searchBlock; else menuCategoryBlock"></ng-container>

<ng-template #searchBlock>
  <ion-header class="menu-category__search-header" mode="ios" no-border>
    <ion-toolbar class="menu-category__search-header-toolbar" mode="ios" no-border>
      <ion-searchbar
        class="menu-category__search-header-searchbar"
        placeholder="{{ contentStrings.labelSearch | async }}"
        mode="ios"
        type="text"
        debounce="500"
        show-cancel-button="always"
        (ionCancel)="onCancelClicked()"
        (ionInput)="onSearchItemFiltered($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-category" mode="ios">
    <div *ngIf="!filteredMenuCategoryItems.length" class="menu-category__search-wrapper">
      <img class="menu-category__search-icon" src="/assets/icon/search.svg" />
      <div class="menu-category__search-text">{{ contentStrings.labelEmptySearch | async }}</div>
    </div>
    <st-category-list
      [mealBased]="(menuInfo$ | async).mealBased"
      [menuCategoryItems]="filteredMenuCategoryItems"
      (onItemClicked)="triggerMenuItemClick($event)"
    ></st-category-list>
  </ion-content>
</ng-template>

<ng-template #menuCategoryBlock>
  <ion-header class="menu-category__header" mode="ios">
    <ion-toolbar mode="ios" class="menu-category__header-toolbar">
      <ion-buttons slot="start">
        <ion-button (click)="onBackBtnClicked()" class="menu-category__close-button" color="dark">
          <ion-icon class="menu-category__header-icon" name="close" size="large" slot="icon-only"> </ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="menu-category__header-search-btn" color="dark" mode="ios" (click)="onSearchClick()">
          <ion-icon class="menu-category__header-search-btn-icon" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="menu-category__header-title">
        {{ menuCategory.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-category" mode="ios">
    <st-category-list
      [mealBased]="(menuInfo$ | async).mealBased"
      [menuCategoryItems]="menuCategory.menuCategoryItems"
      (onItemClicked)="triggerMenuItemClick($event)"
    ></st-category-list>
  </ion-content>
</ng-template>
<ion-footer mode="ios" class="menu-category__footer" *ngIf="menuItems$ | async">
  <st-view-cart *ngIf="(menuItems$ | async) > 0" [menuItemsCount]="menuItems$ | async" (click)="redirectToCart()"></st-view-cart>
</ion-footer>
