<st-popover-layout [popoverConfig]="popoverConfig">
  <section class="cdp__policy-container">
    <h5 class="cdp__policy-title">CBORD University Refund Policy</h5>
    <div class="cdp__policy-body">
      Lorem ipsum dolor amet prism vexillologist four loko thundercats. Tattooed roof party pariatur dreamcatcher wolf.
    </div>
  </section>

  <section class="cdp__info-container">
    <div class="cdp__label">
      Deposit Amount:
      <span class="cdp__value">{{
        popoverConfig.message['amount'] | transactionUnits: popoverConfig.message['selectedAccount'].accountType
      }}</span>
    </div>
    <ng-container *ngIf="popoverConfig.message['fee']">
      <div class="cdp__label">
        Convenience Fee:
        <span class="cdp__value">{{
          popoverConfig.message['fee'] | transactionUnits: popoverConfig.message['selectedAccount'].accountType
        }}</span>
      </div>
      <div class="cdp__label">
        Total Payment:
        <span class="cdp__value">
          {{
            +popoverConfig.message['amount'] + +popoverConfig.message['fee']
              | transactionUnits: popoverConfig.message['selectedAccount'].accountType
          }}
        </span>
      </div>
    </ng-container>
    <div class="cdp__label">
      Account:
      <span class="cdp__value">{{ popoverConfig.message['selectedAccount'].accountDisplayName }}</span>
    </div>
    <div class="cdp__label">
      Payment Method:
      <span class="cdp__value" *ngIf="!popoverConfig.message['billme']; else billme">
        {{ popoverConfig.message['sourceAcc'].accountTender | creditCardType }} ending in
        {{ popoverConfig.message['sourceAcc'].lastFour }}
      </span>
    </div>
  </section>
</st-popover-layout>

<ng-template #billme>
  <span class="cdp__value">Bill me</span>
</ng-template>
