<st-popover-layout [popoverConfig]="popoverConfig">
  <section class="cdp__info-container">
    <div class="cdp__label">Deposit Amount: <span class="cdp__value">$100</span></div>
    <div class="cdp__label">Account: <span class="cdp__value">Account Name</span></div>
    <div class="cdp__label">Payment Method: <span class="cdp__value">Payment Method</span></div>
  </section>

  <section class="cdp__policy-container">
    <h5 class="cdp__policy-title">CBORD University Refund Policy</h5>
    <div class="cdp__policy-body">
      Lorem ipsum dolor amet prism vexillologist four loko thundercats. Tattooed roof party pariatur dreamcatcher wolf.
    </div>
  </section>
</st-popover-layout>
