<div class="store__content">
  <st-balance></st-balance>
  <ion-list class="store__list list-container">
    <ion-item class="list-container__item" button="true">
      <st-list-item class="list-container__item-content" environment="store"></st-list-item>
    </ion-item>
    <ion-item class="list-container__item" button="true">
      <st-list-item class="list-container__item-content" environment="store"></st-list-item>
    </ion-item>
    <ion-item class="list-container__item" button="true">
      <st-list-item class="list-container__item-content" environment="store"></st-list-item>
    </ion-item>
    <ion-item class="list-container__item" button="true">
      <st-list-item class="list-container__item-content" environment="store"></st-list-item>
    </ion-item>
    <ion-item class="list-container__item" button="true">
      <st-list-item class="list-container__item-content" environment="store"></st-list-item>
    </ion-item>
  </ion-list>
</div>
