@import 'tools';

:host {
  .store {
    &__list {
      .list-container {
        &__item {
          --padding-start: 0 !important;
          --border-style: none !important;
          --border-radius: 8px 8px 8px 8px !important;
          --box-shadow: 0px 1px 16px 0px #0000001a !important;
          margin: 10px;

          &-content {
            margin: 10px 0 10px 15px;
          }
        }
      }
    }

    &__active-wrapper {
      border-bottom: 1px solid $color-white-smoke;
    }

    &__active-list {
      margin: 0 15px;
    }

    &__active-title {
      color: $color-matterhorn;
      margin-bottom: 0;

      @include font-nunito-regular(20px);
    }

    &__active-description {
      color: $color-dim-gray;

      @include font-nunito-regular(12px);
    }
  }
}
