@import 'tools';
@import 'fonts';

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
}

.form {
  background: #ffffff;
  &__control {
    margin-bottom: 10px;
  }
  &__description {
    --background: #{$color-background-divider};
    background-color: #{$color-background-divider};
    border: 1px solid transparent;
    border-radius: 10px;
    @include font-nunito-regular(14px);
    &-icon {
      font-size: 20px;
    }
  }
}
