@import 'tools';
@import 'fonts';

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
  &.email-sent {
    --background: white;
    background-color: white;
  }
}

.form {
  background: #ffffff;
  &__control {
    margin-bottom: 10px;
  }
  &__description {
    --background: #{$color-background-divider};
    background-color: #{$color-background-divider};
    border: 1px solid transparent;
    border-radius: 10px;
    @include font-nunito-regular(14px);
    &-icon {
      font-size: 20px;
    }
  }
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  &__info {
    @include font-nunito-regular(14px);
    text-align: center;
    outline: none;
  }
}
