<st-header
  [title]="resetSent ? 'Email sent' : 'Forgot Password'"
  [isTitleShow]="true"
  backButtonIcon="close"
  backButtonTitle=""
  [isToolbarShow]="true"
></st-header>

<ion-content class="container" [class.email-sent]="resetSent">
  <ng-container *ngIf="resetSent; else resetForm">
    <div class="confirmation-container ion-padding ion-margin">
      <img src="/assets/images/password_reset_illustration.svg" alt="password reset image"/>
      <p tabindex="0" id="confirmation-container__info" class="confirmation-container__info ion-padding no-outline">
        {{ pageContents.messageSent }}
      </p>
    </div>
  </ng-container>
  <ng-template #resetForm>
    <div class="form ion-padding ion-margin-top">
      <ion-grid class="form__description ion-margin-vertical">
        <ion-row>
          <ion-col class="ion-padding-horizontal" size="1">
            <ion-icon class="form__description-icon" name="information-circle-outline"></ion-icon>
          </ion-col>
          <ion-col>
            <div tabindex="0" id="form__description-text" class="no-outline">
              {{ pageContents.enterEmail }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <form [formGroup]="forgotPasswordForm">
        <st-input-floating-label
          class="form__control"
          [control]="email"
          [label]="pageContents.emailLabel"
          type="email"
          idd="email"
          [formControlName]="controlsNames.email"
          [isError]="email.errors && (email.dirty || email.touched)"
          tabindex="0"
        >
        </st-input-floating-label>
      </form>
    </div>
  </ng-template>
</ion-content>
<ion-footer class="ion-padding footer" no-border [class.email-sent]="resetSent">
  <ng-container *ngIf="resetSent; else submitButton;">
    <st-button class="ion-margin-bottom" buttonModifier="rectangle" (onClick)="back()" tabindex="0">
      {{ pageContents.back2Previous }}
    </st-button>
    <st-button color="light" buttonModifier="rectangle" (onClick)="setSendEmailState()" tabindex="0">
      {{ pageContents.resendEmail }}
    </st-button>
  </ng-container>
  <ng-template #submitButton>
    <st-button
      buttonModifier="rectangle"
      (onClick)="submit()"
      tabindex="0"
      [disabled]="!forgotPasswordForm?.valid || isLoading"
    >
      {{ isLoading ? 'Submitting...' : pageContents.submitBtntxt }}
    </st-button>
  </ng-template>
</ion-footer>
