<st-header
  title="Forgot Password"
  [isTitleShow]="true"
  [backButtonTitle]="'Login'"
  [backButtonIcon]="'ios-arrow-back'"
  [isToolbarShow]="true"
></st-header>

<ion-content class="container">
  <div class="form ion-padding ion-margin-top">
    <ion-grid class="form__description ion-margin-vertical">
      <ion-row>
        <ion-col class="ion-padding-horizontal" size="1">
          <ion-icon class="form__description-icon" name="information-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>Enter your email to receive instructions on how to reset your password.</ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="forgotPasswordForm">
      <st-input-floating-label
        class="form__control"
        [control]="email"
        label="Email"
        type="email"
        idd="email"
        [formControlName]="controlsNames.email"
        [isError]="email.errors && (email.dirty || email.touched)"
        tabindex="0"
      >
      </st-input-floating-label>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding footer">
  <st-button
    buttonModifier="rectangle"
    [disabled]="!forgotPasswordForm?.valid || isLoading"
    (onClick)="submit()"
    tabindex="3"
  >
    {{ isLoading ? 'Submitting...' : 'Submit' }}
  </st-button>
</ion-footer>
