@import 'tools';
:host {
  background-color: #f7f7f7;
  display: block;
  // padding: 15px 0px;
}
.check-in-out-list__item {
  margin-bottom: 10px;
  --border-width: 1px;
  --border-radius: 7px;
  --border-color: #{$color-link-water};
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 16px;
  --padding-end: 5px;
  --min-height: auto;
  .check-in-out-item-order {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .check-in-out-list__wrap {
    margin: 0;
  }
  .check-in-out-list__item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .check-in-out-list__item-start-time,
  .check-in-out-list__item-end-time {
    display: block;
    color: $color-dusty-gray;
    @include font-nunito-regular(10pt);
  }
  .check-in-out__facility-name {
    display: block;
    font-weight: bold;
  }
  &::before {
    background-color: $color-light-green;
    border-radius: 0 0 2px 2px;
    width: 32px;
    height: 4px;
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 1;
  }
}
.check-in-out-list__item-name {
  @include font-nunito-heavy(18px);
}
