<ng-container >
    <div #container *ngFor="let checkInOut of checkInOuts">
      <ion-item lines="none" class="check-in-out-list__item" >
        <div class="check-in-out-item-order">
            <div class="check-in-out-list__item-info">
              <div  class="check-in-out-list__item-start-time">{{checkInOut.startDate | date: 'medium'}}</div>
              <div  class="check-in-out-list__item-end-time">{{checkInOut.endDate | date: 'medium'}}</div>
            </div>
          <h2  class="check-in-out-list__item-name">{{checkInOut.fullName}}</h2>
        </div>
      </ion-item>
    </div>
  </ng-container>

