<ion-header no-border>
    <ion-buttons end>
        <button class="button-noshadow" ion-button icon-only large (click)="closeModal()">
            <ion-icon name="close">
            </ion-icon>
        </button>
    </ion-buttons>
</ion-header>
<ion-content class="modal_background" padding>
    <!-- <ion-icon  class="ion-success" name="checkmark-circle-outline"></ion-icon> -->
    <ion-card *ngIf="currentSelectedLocation">
        <ion-card-content>
            <ion-item>
                <div text-wrap>
                    <h2 style="font-weight:bold">{{currentSelectedLocation.name}}</h2>
                </div>
                <div>
                    <h3>{{currentSelectedLocation.locationId}}</h3>
                </div>
                <h3 item-end *ngIf="currentSelectedLocation.distance">{{currentSelectedLocation.distance}}</h3>
            </ion-item>
            <ion-item>
                <button ion-button round item-end (click)="activateSelected()">
                    Activate
                </button>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>