<st-header
  [title]="'Explore'"
  [isTitleShow]="true"
  [backButtonTitle]="'Back'"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
>
</st-header>

<ion-content class="explore" *ngIf="merchant$ | async as merchant">
  <img
    *ngIf="merchant.imageFull as image"
    [src]="awsImageUrl + image"
    class="explore__merchant-image"
    alt="merchant photo"
  />
  <div class="explore__content">
    <st-merchant-main-info
      [isShowMerchantStatus]="merchant.isAbleToOrder"
      [isShowOrderType]="merchant.isAbleToOrder"
      [merchant]="merchant"
    ></st-merchant-main-info>
    <div class="explore__controls">
      <st-button
        *ngIf="merchant.isAbleToOrder && guestOrderEnabled"
        (onClick)="navigateToMerchant(merchant.id)"
        [isDisabled]="true"
        class="explore__start-order"
        buttonModifier="rectangle"
        >start an order
      </st-button>
      <st-button
        (onClick)="onFavoriteTrigger(merchant)"
        [isDisabled]="true"
        class="explore__add-to-fav"
        buttonModifier="rectangle"
      >
        <img class="explore__fav-icon" [src]="merchant.isFavorite ? filledStarPath : blankStarPath" alt="Favorite" />
      </st-button>
    </div>
    <ion-list class="explore__list">
      <ion-item class="ion-no-padding explore__merchant-info" *ngIf="merchant.storeAddress as address">
        <i class="icon-pin-point"></i>
        <ion-text class="explore__merchant-text">{{ address | addressHeaderFormat }}</ion-text>
      </ion-item>

      <ion-item
        [lines]="'none'"
        class="ion-no-padding explore__merchant-info"
        *ngIf="merchant.hoursOfOperation as hours"
      >
        <i class="icon-clock"></i>
        <ion-text
          *ngIf="merchant.isAbleToOrder"
          class="explore__merchant-text"
          [ngClass]="{
          'explore__merchant-text--open': merchant.openNow,
          'explore__merchant-text--closed': !merchant.openNow
           }"
        >
          {{merchant.openNow ? 'Open' : 'Closed'}}
        </ion-text>
      </ion-item>

      <ion-item *ngIf="merchant.hoursOfOperation as hours" class="ion-no-padding explore__merchant-info--top-margin">
        <ion-text class="explore__merchant-text--full">{{ hours }}</ion-text>
      </ion-item>

      <ion-item *ngIf="merchant.paymentNotes as notes" class="ion-no-padding explore__merchant-info">
        <i class="icon-payment"></i>
        <ion-text class="explore__merchant-text">{{ notes }}</ion-text>
      </ion-item>

      <ion-item *ngIf="merchant.emailCustomerService as email" class="ion-no-padding explore__merchant-info">
        <i class="icon-email"></i>
        <ion-text class="explore__merchant-text">{{ email }}</ion-text>
      </ion-item>

      <ion-item  *ngIf="merchant.phoneCustomerService as telephone" class="ion-no-padding explore__merchant-info">
        <i class="icon-phone"></i>
        <ion-text class="explore__merchant-text">{{ telephone }}</ion-text>
      </ion-item>

      <ion-item  *ngIf="merchant.faxNumber as fax" class="ion-no-padding explore__merchant-info">
        <i class="icon-phone"></i>
        <ion-text class="explore__merchant-text">{{ fax }}</ion-text>
      </ion-item>

      <ion-item  *ngIf="merchant.website as website" class="ion-no-padding explore__merchant-info">
        <i class="icon-globe"></i>
        <ion-text class="explore__merchant-text">{{ website }}</ion-text>
      </ion-item>

    </ion-list>
    <p class="explore__merchant-description" *ngIf="merchant.description as description">{{ description }}</p>
  </div>
</ion-content>
