<st-header
  [title]="'patron-ui.explore.merchant_details_title' | translate"
  [isTitleShow]="true"
  [backButtonTitle]="'Back'"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
>
</st-header>

<ion-content class="explore" *ngIf="merchant$ | async as merchant">
  <img
    *ngIf="merchant.imageFull as image"
    [src]="awsImageUrl + image"
    class="explore__merchant-image"
    alt="merchant photo"
  />
  <div class="explore__content">
    <st-merchant-main-info
      [isShowMerchantStatus]="merchant.isAbleToOrder"
      [isWalkOut]="merchant.walkout"
      [isShowOrderType]="merchant.isAbleToOrder"
      [merchant]="merchant"
      headingMode="title"
    ></st-merchant-main-info>
    <div class="explore__controls">
      <st-button
        *ngIf="merchant.isAbleToOrder && guestOrderEnabled && !merchant.walkout"
        (onClick)="navigateToMerchant(merchant.id)"
        class="explore__start-order"
        buttonModifier="rectangle"
        >start an order
      </st-button>
      <ion-button (click)="onFavoriteTrigger(merchant)" fill="clear">
        <ion-icon
          slot="icon-only"
          [src]="merchant.isFavorite ? filledStarPath : blankStarPath"
          [attr.aria-label]="getAltText(merchant) | translate : { merchantName: merchant.name }"
        ></ion-icon>
      </ion-button>
    </div>
    <ion-list class="explore__list">
      <ion-item
        class="ion-no-padding explore__merchant-info enable-longpress-ios"
        *ngIf="merchant.storeAddress as address"
        [href]="address | addressHeaderFormat | mapsUri"
        detail="false"
        target="_blank"
      >
        <ion-row class="ion-align-items-start">
          <ion-col size="auto"><i class="icon-pin-point"></i></ion-col>
          <ion-col
            ><ion-text color="primary" class="explore__merchant-text explore__merchant-text--link"
              >{{ address | addressHeaderFormat }}</ion-text
            ></ion-col
          >
        </ion-row>
      </ion-item>

      <ion-item
        [lines]="'none'"
        class="ion-no-padding explore__merchant-info"
        *ngIf="merchant.hoursOfOperation as hours"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="auto"> <i class="icon-clock"></i></ion-col>
          <ion-col
            ><ion-text
              *ngIf="merchant.isAbleToOrder"
              class="explore-blue"
              [ngClass]="{
          'explore__merchant-text--open': merchant.openNow,
          'explore__merchant-text--closed': !merchant.openNow
           }"
            >
              {{merchant.openNow ? 'Open' : 'Closed'}}
            </ion-text></ion-col
          >
        </ion-row>
      </ion-item>

      <ion-item *ngIf="merchant.hoursOfOperation as hours" class="ion-no-padding explore__merchant-info--top-margin">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <pre class="explore__merchant-text--full" [innerHTML]="hours"></pre>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="merchant.paymentNotes as notes" class="ion-no-padding explore__merchant-info">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <i class="icon-payment"></i>
          </ion-col>
          <ion-col>
            <ion-text class="explore__merchant-text">{{ notes }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item
        *ngIf="merchant.emailCustomerService as email"
        class="ion-no-padding explore__merchant-info enable-longpress-ios"
        detail="false"
        href="mailto:{{ email }}"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <i class="icon-email"></i>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="explore__merchant-text explore__merchant-text--link">{{ email }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item
        *ngIf="merchant.phoneCustomerService as telephone"
        class="ion-no-padding explore__merchant-info enable-longpress-ios"
        detail="false"
        href="tel:{{ telephone }}"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <i class="icon-phone"></i>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="explore__merchant-text explore__merchant-text--link"
              >{{ telephone }}</ion-text
            >
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngIf="merchant.faxNumber as fax" class="ion-no-padding explore__merchant-info">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <i class="icon-phone"></i>
          </ion-col>
          <ion-col>
            <ion-text class="explore__merchant-text">{{ fax }}</ion-text>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item
        *ngIf="merchant.website as website"
        class="ion-no-padding explore__merchant-info enable-longpress-ios"
        detail="false"
        [href]="website"
        target="_blank"
      >
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <i class="icon-globe"></i>
          </ion-col>
          <ion-col>
            <ion-text color="primary" class="explore__merchant-text explore__merchant-text--link"
              >{{ website }}</ion-text
            >
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <p class="explore__merchant-description" *ngIf="merchant.description as description">{{ description }}</p>
  </div>
</ion-content>
