@import 'tools';

.edit-home {
  &__content-container {
    --background: #f3f3f3;
  }

  &__header-back-btn {
    color: $color-black;
    font-size: 22px;
  }

  &__header-done-btn {
    font-weight: 600;
  }

  &__description-wrapper {
    margin: 20px 0;
    padding: 20px;
    background: $color-white;
    color: $color-dim-gray;

    @include font-nunito-semibold(12px);
  }

  &__description {
    margin: 0;
    padding: 0;
  }

  &__reorder-list {
    padding: 0;
  }

  &__reorder-header {
    display: flex;
    justify-content: flex-start;
  }

  &__reorder-header-title {
    margin-left: 10px;
    color: $color-dim-gray;
    text-transform: uppercase;

    @include font-nunito-semibold(13px);
  }

  &__reorder-label {
    @include font-nunito-semibold(15px);
  }

  &__reorder-toggle {
    --background-checked: #166dff;

    zoom: 0.7;
    margin-right: 20px;
  }

  &__reorder-icon {
    color: $color-dim-gray;
    font-size: 30px;
    vertical-align: middle;
  }
}
