@import 'tools';

:host {
  background-color: #f7f7f7;
  display: block;
  // padding: 15px 0px;
}

.waiting-list__item {
  margin-bottom: 8px;
  --border-width: 1px;
  --border-radius: 8px;
  --border-color: #{$color-link-water};
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 16px;
  --padding-end: 5px;
  --min-height: auto;
  --inner-border-width: 0;
  --inner-padding-end: 0;

  .roomSelect-item-order {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .waiting-list__wrap {
    margin: 0;
  }
  
  .waiting-list__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .waiting-list__status {
    @include font-nunito-heavy(12px);
  
    color: $color-hot-curry;
    text-transform: uppercase;
  }
  
  .waiting-list__date {
    @include font-nunito-heavy(12px);
  
    color: $color-dusty-gray;
  }

  &::before {
    background-color: $color-strong-blue;
    border-radius: 0 0 2px 2px;
    width: 32px;
    height: 4px;
    content: '';
    position: absolute;
    top: 0;
    left: 16px;
    z-index: 1;
  }

}

.waiting-list__title {
  @include font-nunito-heavy(18px);

  color: $color-night-rider;
  margin-bottom: 0;
}