<ion-header no-border>
  <ion-toolbar mode="ios" class="ion-color">
    <ion-buttons slot="start">
      <ion-button mode="ios" (click)="onDecline()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ title$ | async }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="main">
    <div class="main__container">
      <div class="main__container__content">
        <div class="main__container__content__image">
          <div class="positioner">
            <img width="230" style="margin-left: 16%;" src="/assets/icon/email-verify.svg" alt="verify email image"/>
          </div>
        </div>
        <div class="main__container__content__message">
          <p>
            {{ message$ | async }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
  <div class="buttons-section">
    <st-button
      buttonModifier="rectangle"
      [isDisabled]="true"
      tabindex="3"
      class="login__form-btns--odd"
      tabindex="4"
      (click)="dismiss()"
    >
      <span>
        {{ pageContent.dismissBtnText }}
      </span>
    </st-button>
  </div>
</ion-footer>
