@import 'tools';

.main {
  &__container {
    background-color: #ffffff;
    
    &__content{
        font-size: 16px;  
        margin: 15px;
      &__image{
          position: relative;
          display: flex;
          flex-direction: column;
          .positioner{
            margin: 10px;
          }
      }
    }
  }
}

.buttons-section{
  margin: 15px;
}
