<ion-content padding class="no-scroll">
    <h3>{{reward.name}}</h3>
    <ion-card *ngIf="reward">
        <ion-card-content>
            <!-- <div>
                <qr-code [value]="'All QR Code data goes here!'" [size]="150"></qr-code>
            </div> -->
            <!-- <qr-code value="reward.id" size="150" level="Q" background="white" forground="black" mime="image/png"></qr-code>
            <p>Value: {{reward?.id}}</p> -->
        </ion-card-content>
    </ion-card>
    <!-- <div *ngIf="reward?.pointCost > 0">Point Cost: {{reward?.pointCost}}</div>
    <div *ngIf="reward?.claimLevel > 0">Level: {{reward?.claimLevel}}</div> -->
    <p>{{reward.description}}</p>
    <button ion-button outline item-right (click)="closeDetails()">Close</button>
    <button *ngIf="reward.claimStatus == 0 && userRewardTrackInfo" ion-button item-right (click)="levelRewardClicked()">Claim</button>    
</ion-content>