<ion-header class="st-popover__header">
  <ion-toolbar mode="ios" class="st-popover__toolbar">
    <ion-title>{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>
    {{ data.message }}
  </p>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" (click)="closeModal()">
        CANCEL
      </ion-button>
      <ion-button fill="clear" size="large" (click)="activateSelected()">
        ACTIVATE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
