h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}

.modal_background {
  background-color: #005cb9;
}

.circular_raised_div {
  height: 10vw;
  width: 10vw;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.button-noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.icon-success {
  font-size: 5em;
  opacity: 0;
  color: #42f44b;
  transform: rotate3d(1, 1, 0, 50deg);
  animation: 0.25s 0.8s ease fadeInAndSpin;
  animation-fill-mode: forwards;
}

@keyframes fadeInAndSpin {
  100% {
    opacity: 1;
    transform: rotate3d(1, 1, 0, 0deg);
  }
}

:host {
  .st-popover__header {
    &.header-md:after {
      background-image: none;
    }
  }

  .st-popover__toolbar {
    --background: #F7F7F7 !important;
  }
}
