<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button color="dark" text="Back" mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title>Rooms</ion-title>
  </ion-toolbar>

  <ion-toolbar class="rooms-search__tabs" mode="ios">
    <ion-buttons>
      <ion-button
        class="ion-no-padding ion-no-margin btn rooms-search__tab"
        mode="md"
        routerLink="/housing/rooms-search/buildings"
        routerLinkActive="active"
      >
        Buildings
      </ion-button>

      <ion-button
        class="ion-no-padding ion-no-margin btn rooms-search__tab"
        mode="md"
        routerLink="/housing/rooms-search/units"
        routerLinkActive="active"
      >
        Units
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
