<ion-header mode="ios">
  <ion-toolbar mode="ios" class="rooms-search__toolbar">
    <ion-buttons slot="start">
      <st-back-button defaultHref="/housing/dashboard"></st-back-button>
    </ion-buttons>

    <st-page-title>Rooms</st-page-title>

    <ion-buttons slot="end">
      <ion-button mode="ios" color="primary" class="ion-no-padding rooms-search__favorite" fill="clear">
        Favorites
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="rooms-search__toolbar" mode="ios">
    <ion-buttons>
      <ion-button
        class="ion-no-padding ion-no-margin btn rooms-search__tab"
        mode="md"
        routerLink="/housing/rooms-search/buildings"
        routerLinkActive="active"
      >
        Buildings
      </ion-button>

      <ion-button
        class="ion-no-padding ion-no-margin btn rooms-search__tab"
        mode="md"
        routerLink="/housing/rooms-search/units"
        routerLinkActive="active"
      >
        Units
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="rooms-search__toolbar rooms-search__filters">
    <st-rooms-filter slot="end"></st-rooms-filter>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
