@import 'tools';

.rooms-search__toolbar {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 16px;
  --padding-end: 16px;

  border-bottom: 1px solid $color-whisper;
}

.rooms-search__title {
  @include font-nunito-heavy(20px);
}

.rooms-search__back {
  @include font-nunito-regular(16px);

  --icon-font-size: 16px;
  --icon-padding-end: 5px;
}

.rooms-search__tab {
  @include font-nunito-semibold(16px);

  --border-radius: 4px 4px 0 0;

  color: rgba($color-black, 0.6);
  border-bottom: 2px solid transparent;
  flex-grow: 1;
  flex-basis: 0;

  &.active {
    color: rgba($color-black, 0.9);
    border-bottom-color: $color-dodger-blue;
  }
}

.rooms-search__filters {
  --min-height: 55px;
}
