<ion-header mode="ios">
  <ion-toolbar mode="ios" class="rooms-search__toolbar">
    <ion-buttons slot="start">
      <st-back-button defaultHref="/housing/dashboard"></st-back-button>
    </ion-buttons>

    <st-page-title>Rooms</st-page-title>

    <ion-buttons slot="end">
      <ion-button mode="ios" color="primary" class="ion-no-padding rooms-search__favorite" fill="clear">
        Favorites
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <st-rooms-switch></st-rooms-switch>

  <ion-toolbar class="rooms-search__toolbar rooms-search__filters">
    <st-rooms-filter slot="end"></st-rooms-filter>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
