<st-header
  [title]="'Available Slots'"
  [isTitleShow]="true"
   backButtonIcon="chevron-back"
  [isToolbarShow]="true"
  [isSubToolbarShow]="false"
  class="check-in-out-slots__header">
</st-header>

<ion-content
  class="ion-padding check-in-out-slots__content"
  #content>

  <ng-container *ngIf="availableSlots$ | async; else noSlotsAvailable">
    <ion-list>
      <ion-item *ngFor="let slot of availableSlots" (click)="showAvailableSpots(slot)" detail>
        <ion-label>
          {{ slot.slotDateTime | date: dateFormat }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>

<ng-template #noSlotsAvailable>
  <p *ngIf="!(stillLoading$ | async)" class="check-in-out-slots__empty-block-message">There are no slots available.</p>
</ng-template>
