@import 'tools';

.order-options {
  &__title {
    padding: 0 15px;
    margin-bottom: 10px;
    outline: none;
    @include font-nunito-heavy(20px);
  }

  &__radio-group-container {
    border-bottom: 1px solid $color-whisper;
  }

  &__list {
    padding: 0;
  }

  &__radio-container {
    &.item-radio-checked {
      .order-options__radio-label {
        color: #000;
      }
    }
  }

  &__radio-item {
    --color-checked: #166dff;
    --color: #c4c4c4;
    margin-right: 10px;
    @include font-nunito-semibold(16px);
  }

  &__radio-label {
    @include font-nunito-semibold(16px);
  }

  &__select-label {
    color: #7e7e7e;

    @include font-nunito-semibold(14px);
  }

  &__select-container {
    padding: 10px 0;
  }

  &__select-value {
    @include font-nunito-heavy(16px);
  }

  &__footer {
    padding: 10px 15px 20px; 
  }
}
