<ion-content>
  <div class="order-options" [attr.aria-hidden]="optionsModalAriaHidden">
    <h1 id="modal-mainTitle" tabindex="0" class="order-options__title">
      {{ 'patron-ui.ordering.label_order-options' | translate }}
    </h1>
    <ion-list mode="md" class="order-options__list">
      <div class="order-options__radio-group-container" *ngIf="orderTypes.delivery && orderTypes.pickup">
        <ion-radio-group
          [value]="orderType"
          mode="md"
          class="order-options__radio-group"
          (ionChange)="onRadioGroupChanged($event)"
        >
          <ion-item lines="none" class="order-options__radio-container">
            <ion-radio
              mode="md"
              slot="start"
              labelPlacement="end"
              [value]="enumOrderTypes.PICKUP"
              class="order-options__radio-item"
            >
              {{ 'patron-ui.ordering.label_pickup' | translate }}
            </ion-radio>
          </ion-item>

          <ion-item lines="none" class="order-options__radio-container">
            <ion-radio
              mode="md"
              slot="start"
              labelPlacement="end"
              [value]="enumOrderTypes.DELIVERY"
              class="order-options__radio-item"
            >
              {{ 'patron-ui.ordering.label_delivery' | translate }}
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-item
        button
        lines="full"
        tabindex="0"
        [detail]="orderOptionsData?.isClickble"
        (click)="orderOptionsData?.isClickble && openDeliveryAddressesModal()"
      >
        <div class="order-options__select-container">
          <div class="order-options__select-label">{{ orderOptionsData?.labelAddress }}</div>
          <div class="order-options__select-value">
            <img width="16" src="./assets/icon/location-pin.svg" alt="pin" />
            <span>
              <ng-container *ngIf="orderOptionsData?.address; then addressContainer; else placeholder"></ng-container>
            </span>

            <ng-template #placeholder>Select an Address</ng-template>

            <ng-template #addressContainer>
              {{ orderOptionsData?.address | addressHeaderFormat }}
            </ng-template>
          </div>
        </div>
      </ion-item>
      <ion-item id="time_element" button [detail]="isTimeDisable" lines="full" (click)="callChildPicker()" tabindex="0">
        <st-date-time-picker
          [schedule]="orderType === enumOrderTypes.PICKUP ? schedulePickup : scheduleDelivery"
          [isTimeDisable]="isTimeDisable"
          [data]="orderOptionsData"
          [dateTimePicker]="dateTimePicker"
          [merchantInfo]="activeMerchant$ | async"
          [dateTimeWithTimeZone]="dateTimeWithTimeZone"
          [userData]="userData$ | async"
          (onTimeSelected)="onDateTimeSelected($event)"
          [prepTime]="prepTime"
        ></st-date-time-picker>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer mode="ios" class="order-options__footer" [attr.aria-hidden]="optionsModalAriaHidden">
  <st-button (onClick)="onSubmit()">{{ footerButtonName }}</st-button>
</ion-footer>
