<ion-content>
  <div class="order-options">
    <h1 class="order-options__title">Order Options</h1>
    <ion-list mode="md"
              class="order-options__list">
      <div class="order-options__radio-group-container"
           *ngIf="orderTypes.delivery && orderTypes.pickup">
        <ion-radio-group mode="md"
                         class="order-options__radio-group"
                         (ionChange)="onRadioGroupChanged($event)">
          <ion-item lines="none"
                    class="order-options__radio-container">
            <ion-label class="order-options__radio-label">Pickup</ion-label>
            <ion-radio mode="md"
                       slot="start"
                       value="pickup"
                       checked
                       class="order-options__radio-item"></ion-radio>
          </ion-item>

          <ion-item lines="none"
                    class="order-options__radio-container">
            <ion-label class="order-options__radio-label">Delivery</ion-label>
            <ion-radio mode="md"
                       slot="start"
                       value="delivery"
                       class="order-options__radio-item"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <ion-item 
                lines="full"
                (click)="openDeliveryAddressesModal()">
        <div class="order-options__select-container">
          <div class="order-options__select-label">{{ orderOptionsData.label }} ADDRESS</div>
          <div class="order-options__select-value">
            <img width="16"
                 src="./assets/icon/location-pin.svg"
                 alt="pin" />
            <span *ngIf="orderOptionsData.address?.address1; else deliveryPlaceholder">
              {{ orderOptionsData.address.address1 }}, {{orderOptionsData.address.city}}
            </span>
            <ng-template #deliveryPlaceholder>Add an Address</ng-template>
          </div>
        </div>
      </ion-item>
      <ion-item [detail]="isTimeDisable"
                lines="full"
                (click)="isTimeDisable && openPicker()">
        <div class="order-options__select-container">
          <div class="order-options__select-label">{{ orderOptionsData.label }} TIME</div>
          <div class="order-options__select-value"><img width="16"
                 src="./assets/icon/time.svg"
                 alt="time" />ASAP</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer mode="ios">
  <ion-button mode="md"
              expand="block"
              class="order-options__button"
              shape="round"
              (click)="onSubmit()">
    {{footerButtonName}}
  </ion-button>
</ion-footer>