<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button routerLink='/home' routerDirection='root'></ion-back-button>
      </ion-buttons>
    <ion-title>Contract Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Serving up some instant contracts Id: {{contractId}}
  <ion-list>
    <ion-item>
      <ion-label>select option</ion-label>
      <ion-select>
        <ion-select-option>test 1</ion-select-option>
        <ion-select-option>test 2</ion-select-option>
        <ion-select-option>test 3</ion-select-option>
    </ion-select>
  </ion-item>
  </ion-list>
</ion-content>
