<st-header title="Upload an attachment" [isTitleShow]="true" [backButtonTitle]="'Back'" backButtonIcon="chevron-back"
  [isToolbarShow]="true"></st-header>
<ion-content class="ion-padding work-order-details__content">
  <div class="work-order-details__card">
    <ion-list>
      <ion-item>
        <ion-select
        interface="popover" 
        [(ngModel)]="selectedAssetName"
        justify="start"
        [placeholder]="attachmentSelected ? attachmentSelected.attachmentType :  'Select file type'"
        [disabled]="attachmentSelected"
        [interfaceOptions]="customPopoverOptions">
        <ion-select-option *ngFor="let option of (attachmentTypes$ | async)" [value]="option.name">
          {{ option.name }}
        </ion-select-option>
      </ion-select>
      <ion-icon class="chevron-down"></ion-icon>
      </ion-item>
    </ion-list>

    <ng-container>
      <st-textarea-floating-label [(ngModel)]="notes" [disabled]="attachmentSelected" [isError]="isSubmitted" rows="3"
        [label]="attachmentSelected?.comments ? attachmentSelected.comments : 'Attachment Notes'" [isAttachment]="true">
      </st-textarea-floating-label>
    </ng-container>


    <ng-container class="container__image">
      <h3 class="form__secondary-header">Add a .PDF, .DOC, .DOCX, OR .JPEG file</h3>
      <div class="container__image">
        <ng-container *ngIf="(file$ | async) as file; else defaultImage">
          <ion-img *ngIf="isImage" class="image" [src]="fileBase64?fileBase64:file.dataURI"></ion-img>
          <div *ngIf="!isImage" class="format__file"></div>
        </ng-container>
        <ng-template #defaultImage>
          <ion-label class="size_limit"> File size limited to 10MB</ion-label>
          <div class="format__icon"></div>
        </ng-template>
      </div>
      <div class="attachment_file" *ngIf="(file$| async) as file">
        <div>{{attachmentSelected? attachmentSelected.fileName : file?.name}}</div>
        <div *ngIf="!attachmentKey">File Size: {{fileSizeInMB}}MB</div>
      </div>
    </ng-container>


    <st-button [disabled]="attachmentSelected" color="light" (onClick)="selectFile()">Choose a file
    </st-button>
    <st-button *ngIf="attachmentKey" color="danger" (onClick)="confirmDeletion()">Delete Attachment
    </st-button>
    <st-button *ngIf="!attachmentKey" class="btn__image submit" (onClick)="submitAttachmentForm()">Submit</st-button>

  </div>
</ion-content>