<div class="darker" (click)="dismiss()">
    <ion-button mode="ios">
      <ion-icon icon="close"></ion-icon>
    </ion-button>
    <label class="scan__label">Barcode</label>
  </div>
  <div class="row">
    <div class="left"></div>
    <div class="middle"></div>
    <div class="right"></div>
  </div>
  <ion-footer class="darker">
    <label class="scan__label">Position the code in the center of the screen to scan. </label>
    <div class="scan__button">
      <st-button (onClick)="manualEntry()" buttonModifier="rectangular" isDisabled="true">
        <span class="ion-text-capitalize scan__span">
          Manual Entry
        </span>
      </st-button>
    </div>
  </ion-footer>
  

