<st-filter></st-filter>

<!--<st-header-->
<!--    [title]="'Accounts'"-->
<!--    [isTitleShow]="false"-->
<!--    [backButtonTitle]="'Home'"-->
<!--    [isToolbarShow]="false"-->
<!--    class="shadow-header"-->
<!--&gt;</st-header>-->

<!--<ion-split-pane when="md">-->
<!--    <ion-content main>-->
<!--        <div class="accounts-content">-->
<!--            <section class="accounts-page">-->
<!--                <st-menu-receiving-funds class="accounts__menu"></st-menu-receiving-funds>-->
<!--                <hr class="accounts__divider"/>-->
<!--                <section class="accounts__main-wrapper">-->
<!--                    <st-account-list [accounts]="accounts$ | async"></st-account-list>-->

<!--                    <h2 class="accounts__transactions">recent transactions</h2>-->
<!--                    <st-transactions [transactions]="transactions$ | async"></st-transactions>-->
<!--                </section>-->
<!--            </section>-->
<!--            <section class="accounts-details-page">-->
<!--                <st-menu-receiving-funds></st-menu-receiving-funds>-->
<!--            </section>-->
<!--        </div>-->
<!--    </ion-content>-->

<!--    <ion-router-outlet class="accounts__router"></ion-router-outlet>-->
<!--</ion-split-pane>-->
