<st-header
    [title]="'Accounts'"
    [isTitleShow]="false"
    [backButtonTitle]="'Home'"
    [isToolbarShow]="false"
    class="shadow-header"
></st-header>

<ion-split-pane when="md" class="accounts-pane">
    <ion-content main>
        <div class="accounts-content">
            <section class="accounts-content__main-page accounts-page">
                <st-menu-receiving-funds class="accounts-page__menu"></st-menu-receiving-funds>
                <hr class="accounts-page__divider"/>
                <section class="accounts-page__main-wrapper">
                    <st-account-list [accounts]="accounts$ | async"></st-account-list>

                    <h2 class="accounts-page__transactions">recent transactions</h2>
                    <st-transactions [transactions]="transactions$ | async"></st-transactions>
                </section>
            </section>
            <section class="accounts-content__details-page">
                <st-menu-receiving-funds></st-menu-receiving-funds>
            </section>
        </div>
    </ion-content>

    <ion-router-outlet class="accounts__router"></ion-router-outlet>
</ion-split-pane>
