<st-header
  [title]="'Accounts'"
  [isTitleShow]="false"
  [backButtonTitle]="'Home'"
  [isToolbarShow]="false"
  class="shadow-header"
></st-header>

<ion-content>
  <st-menu-receiving-funds></st-menu-receiving-funds>
  <hr class="accounts__divider" />
  <section class="accounts__main-wrapper">
    <st-account-list [accounts]="accounts$ | async"></st-account-list>

    <h2 class="accounts__transactions">recent transactions</h2>
    <st-transactions></st-transactions>
  </section>
</ion-content>
