@import 'tools';

:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-container {
  max-width: 80%;
  //Bugfix/GCS-1928 #7 Margins and padding on Transactions page: from here
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //Bugfix/GCS-1928 #7 Margins and padding on Transactions page: until here

  .label {
    &__label {
      margin-right: 40px;
      @include font-nunito-semibold(16px);
    }

    &__date {
      @include font-nunito-regular(10px);
    }
  }
}

.type-container {
  min-width: 73px;
  //Bugfix/GCS-1928 #7 Margins and padding on Transactions page: from here
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //Bugfix/GCS-1928 #7 Margins and padding on Transactions page: until here

  .type {
    &__entity {
      text-align: right;
      @include font-nunito-semibold(16px);
    }

    &__label {
      text-align: right;
      @include font-nunito-regular(10px);
    }
  }
}
