<ion-list *ngIf="addresses && addresses.length">
  <st-order-address-item *ngFor="let item of addresses"
                         (click)="itemSelected(item)"
                         [item]="item"
                         iconNameDefault="address-marker.svg"
                         iconNameSelected="location-pin.svg"></st-order-address-item>
</ion-list>

<div class="address-list__empty-block-wrapper"
     *ngIf="addresses && !addresses.length">
  <div class="address-list__empty-block-message">
    <img class="address-list__empty-block-img"
         src="/assets/images/addresses_empty_state.svg"
         alt="girl with map locations">
    <p class="address-list__empty-block-text">You don't have any saved addresses.</p>
  </div>
  <button class="address-list__empty-block-btn"
          expand="block">
    <span class="address-list__empty-block-btn-text">add new address</span>
  </button>
</div>