<st-header
  [title]="(contentStrings.labelOrder | async) + ' #' + (order$ | async).checkNumber"
  [isTitleShow]="true"
  [backButtonTitle]="'Back'"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
  class="recent-orders__header"
  (click)="onClosed()"
>
</st-header>

<ion-content>
  <st-order-details
    [orderInfo]="(order$ | async)"
    [merchant]="merchant$ | async"
    [merchantTimeZoneDisplayingMessage]="merchantTimeZoneDisplayingMessage"
    [checkinInstructionMessage]="checkinInstructionMessage | async"
    [orderDetailOptions]="orderDetailsOptions$ | async"
  >
  </st-order-details>
</ion-content>

<ion-footer>
  <ng-container
    *ngIf="(order$ | async).status !== orderStatus.PENDING; else pending"
    [ngTemplateOutlet]="completed"
  ></ng-container>
</ion-footer>

<ng-template #completed>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <st-button
          color="medium"
          [expand]="'full'"
          [fill]="'clear'"
          [buttonModifier]="'light'"
          (onClick)="back()"
          class="ro__close-btn full-width"
          ><span class="ion-text-capitalize">
            {{ contentStrings.buttonClose | async }}
          </span></st-button
        >
      </ion-col>
      <ion-col *ngIf="!(merchant$ | async).walkout" class="ion-align-self-center" size="7">
        <st-button (onClick)="onReorderHandler()" class="full-width">
          <span class="ion-text-capitalize">
            {{ contentStrings.buttonReorder | async }}
          </span></st-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>

<ng-template #pending>
  <div class="cancel-btn">
    <st-button color="red" fill="clear" (onClick)="showModal()">
      <span class="ion-text-capitalize cancel-btn__text">
        {{ contentStrings.buttonCancelOrder | async }}
      </span>
    </st-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="addToCartEnabled" class="ion-align-self-center" size="5">
        <st-button
          color="medium"
          [expand]="'full'"
          [fill]="'clear'"
          [buttonModifier]="'light'"
          isDisabled="true"
          (onClick)="onAddItems()"
          class="ro__close-btn full-width"
        >
          <span class="ion-text-capitalize">
            {{ contentStrings.lblBtnAdd2Cart | async }}
          </span></st-button
        >
      </ion-col>
      <ion-col
        *ngIf="checkAddToCart$ | async"
        class="ion-align-self-center"
        [size]="addToCartEnabled ? '7' : '12'"
      >
        <st-button (click)="openChecking()" class="full-width"
          ><span class="ion-text-capitalize">
            {{ contentStrings.labelBtnCheckin | async }}
          </span></st-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
