<!-- <st-header
  [title]="(contentStrings.labelOrder | async) + ' #' + (order$ | async).checkNumber"
  [isTitleShow]="true"
  backButtonTitle=""
  [backButtonIcon]="'close'"
  [isToolbarShow]="true"
  class="shadow-header"
></st-header> -->

<st-header
  [title]="(contentStrings.labelOrder | async) + ' #' + (order$ | async).checkNumber"
  [isTitleShow]="true"
  [backButtonTitle]="'Back'"
  [backButtonIcon]="'ios-arrow-back'"
  [isToolbarShow]="true"
  class="recent-orders__header"
  (click)="onClosed()"
>
</st-header>

<!-- <ion-header no-border>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="onClosed()">
        <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title tabindex="0" class="header_title">
      {{ (contentStrings.labelOrder | async) + ' #' + (order$ | async).checkNumber }}
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <st-order-details
    [tax]="(order$ | async).tax"
    [tip]="(order$ | async).tip"
    [subTotal]="(order$ | async).subTotal"
    [pickupFee]="(order$ | async).pickupFee"
    [orderTypes]="(merchant$ | async).orderTypes"
    [deliveryFee]="(order$ | async).deliveryFee"
    [total]="(order$ | async).total"
    [merchantTimeZoneDisplayingMessage]="merchantTimeZoneDisplayingMessage"
    [orderItems]="(order$ | async).orderItems"
    [orderPaymentName]="(order$ | async).orderPayment[0].accountName"
    [mealBased]="(order$ | async).mealBased"
    [orderDetailOptions]="orderDetailsOptions$ | async"
  >
    <ng-container
      *ngIf="(order$ | async).status !== orderStatus.PENDING; else pending"
      [ngTemplateOutlet]="complited"
    ></ng-container>
  </st-order-details>
</ion-content>

<ng-template #complited>
  <div class="btn-wrapper">
    <div>
      <st-button [fill]="'clear'" [buttonModifier]="'black'" (onClick)="back()" class="ro__close-btn">{{
        contentStrings.buttonClose | async
      }}</st-button>
    </div>
    <div>
      <st-button (onClick)="onReorderHandler()">{{ contentStrings.buttonReorder | async }}</st-button>
    </div>
  </div>
</ng-template>

<ng-template #pending>
  <div [ngClass]="{ 'btn-wrapper': orderCheckStatus.isNotCheckedIn((order$ | async).checkinStatus) }">
    <div style="width: 166px;" *ngIf="orderCheckStatus.isNotCheckedIn((order$ | async).checkinStatus)">
      <st-button (onClick)="openChecking()" [isDisabled]="checkinService.navedFromCheckin" >{{ 
        checkinService.navedFromCheckin ? "Back" :
        (contentStrings.labelBtnCheckin | async) }}</st-button>
    </div>
    <div>
      <st-button [buttonModifier]="'danger'" (onClick)="showModal()"
        >{{ contentStrings.buttonCancelOrder | async }}
      </st-button>
    </div>
  </div>
</ng-template>

