@import 'tools';

.ro {
  &__close-btn {
    width: 75%;
    margin-right: 15px;
    padding: 0 5px;
    --background: var(--$color-background-divider);
  }
}

.header_title {
  padding-left: 76px;
}
.cancel-btn {
  margin-bottom: 2.5rem;
  &__text {
    color: $color-indian-red;
    font-size: 19px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 100%;
  align-items: flex-end;
}

.btn-checkin{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.full-width{
  width: 100%;
}

ion-footer {
  padding-bottom: 10px;
}