@import "tools";

.recent-orders {

  &__header {
    border-bottom: 1px solid $color-light-gray;
  }

  &__list-title {
    line-height: 27px;
    margin: 15px;

    @include font-nunito-heavy(20px)
  }

  &__no-orders-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
  }

  &__no-orders-image {
    width: 250px;
    height: 200px;
  }

  &__no-orders-message {
    text-align: center;
    color: $color-dim-gray;
    max-width: 250px;

    @include font-nunito-semibold(16px)
  }

  &__no-orders-btn {
    --border-radius: 25px;
    --background: #166DFF;

    border-radius: 25px;
    height: 50px;
    width: 90vw;
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    color: $color-white;
    text-transform: uppercase;

    @include font-nunito-heavy(14px);
  }
}
