<ion-header mode="ios">
  <ion-toolbar mode="ios" class="rooms-search__toolbar">
    <ion-buttons slot="start" mode="ios">
      <ion-button mode="ios" fill="clear" color="dark" class="ion-no-padding" (click)="close()">
        <ion-icon name="close" slot="icon-only" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>

    <st-page-title>Filters</st-page-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <st-search-filter-section title="Price" subtitle="per month">
    aksjdaksdj
  </st-search-filter-section>
</ion-content>
