@import "tools";

:host {
  ion-card-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  --ion-color-primary: $color-black;
}
.user-data {
  max-width: 400px;
  margin: 0 auto;
  background: $color-blue;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 1rem;
  box-shadow: 0 0 10px 3px $color-hard-gray;
  border: none;

  ion-card-content {
    padding: 0 15px 10px;
  }

  &__university-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__university {
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 500;
    max-height: 27px;
    margin: 0;
    font-family:$font-nunito-semibold;
  }

  &__university-bg {
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
  }

  &__photo {
    display: block;
    height: 450px;
    margin: 15px 0 0;
    border-radius: 15px;
  }

  &__data-card {
    border-radius: 15px;
    margin-top: 0;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    padding: 10px 15px;
    max-height: 150px;
  }

  &__name {
    font-size: 1.2rem;
    letter-spacing: 0;
    color: $color-white;
    font-family: $font-nunito-semibold;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__id {
    font-size: 1rem;
    font-weight: 900;
    max-height: 20px;
    letter-spacing: 0;
    color: $color-white;
  }

  &__location {
    color: $color-white;
    text-align: center;
    font-size: 1.2rem;
    @include font-family($font-nunito-semibold);
  }

  &__activate-btn {
    max-width: 330px;
    width: 80%;
    margin: 10px auto;
    @include font-family($font-nunito-semibold);
    text-transform: uppercase;
  }
}
