@import 'tools';

.filter {
  display: flex;
  justify-content: space-between; //BugFix/GCS-1928 #8 Title is not properly aligned on the Transactions page:

  &__header {
    align-self: center;
    // margin: 0 10%;   //BugFix/GCS-1928 #8 Title is not properly aligned on the Transactions page:
  }

  @include bp-before-tablet {
    padding: 10px;
    position: relative;
  }

  @include bp-grid-tablet {
    margin: 20px 50px 0 0;
  }

  &__account {
    color: $color-black;
    letter-spacing: 0;
    line-height: 18px;
    display: inline-block;
    margin-right: 5px;

    @include font-nunito-heavy(14px);
    @include bp-grid-tablet {
      display: none;
    }
  }

  &__period {
    color: $color-black;
    letter-spacing: 0;
    line-height: 18px;
    display: inline-block;

    @include font-nunito-semibold(14px);
    @include bp-grid-tablet {
      display: none;
    }
  }

  //Bugfix/GCS-1928#3
  //Change from 28px to 22px and add right margin 5px.
  &__icon-image {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  &__icon {
    display: flex;
    // flex-direction: column; //Bugfix/GCS-1928#3
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;

    @include bp-before-tablet {
      right: 20px;
      top: 0;
    }

    @include bp-grid-tablet {
      display: flex;
      align-self: center;
    }
  }

  &__icon-message {
    color: $color-black;
    letter-spacing: 0;
    max-width: 50px;
    word-break: break-word;

    @include font-nunito-semibold(12px);
    @include bp-grid-tablet {
      align-self: center;

      @include font-nunito-heavy(16px);
    }
  }
}
