<ion-content padding class="no-scroll">
    <h3 *ngIf="reward.name">{{reward.name}}</h3>
    <h3 *ngIf="reward.itemName">{{reward.itemName}}</h3>
    <ion-card *ngIf="reward && reward.rewardId && reward.status == 2">
        <ion-card-content>
            <div>
                <qr-code [value]="'reward.rewardId'" [size]="150"></qr-code>
            </div>
            <!-- <qr-code value="reward.id" size="150" level="Q" background="white" forground="black" mime="image/png"></qr-code>
            <p>Value: {{reward?.id}}</p> -->
        </ion-card-content>
    </ion-card>
    <!-- <div *ngIf="reward?.pointCost > 0">Point Cost: {{reward?.pointCost}}</div>
    <div *ngIf="reward?.claimLevel > 0">Level: {{reward?.claimLevel}}</div> -->
    <p>{{reward.description}}</p>
    <button ion-button outline item-right (click)="closeModalClicked()">Close</button>
    <button *ngIf="bIsClaimable" ion-button item-right (click)="rewardClaimedClick()">Claim</button>    
</ion-content>