@import "tools";

.request-funds {
  padding: 0 10px;

  &__label {
    display: block;
    margin-top: 10px;

    @include font-nunito-regular(16px);
  }

  &__info-msg {
    letter-spacing: 0;

    @include font-nunito-semibold(16px);
  }

  &__control {
    height: 45px;
    background: #f0f3f5;
    border-radius: 8px;
    border: 1px solid $color-link-water;
    letter-spacing: 0;

    @include font-nunito-regular(16px);
    --placeholder-color: #626262;
    --padding-start: 5px;

    &--error {
      border: 1px solid $color-alizarin;
    }

    &--auto-height {
      height: auto;
    }
  }

  &__empty-image {
    display: block;
    margin: 0 auto;
  }

  &__empty-message {
    color: $color-matterhorn;
    text-align: center;

    @include font-nunito-heavy(16px);
  }

  &__button {
    --ion-color-primary: #166dff;
    --border-radius: 25px;
    --box-shadow:0 4px 0 #1651b3;

    height: 45px;
    position: absolute;
    width: 90vw;
    bottom: 10px;
    left: 5vw;
    text-transform: uppercase;
    line-height: 18px;

    @include font-nunito-heavy(14px);

    &--disabled {
      --ion-color-primary: #c4c4c4;
      --box-shadow: none;

      color: $color-matterhorn;
    }

    &--blue {
      --box-shadow: none;
      --ion-color-primary: $color-white;
      --color-activated: #166dff;

      color: #166dff;
      border-radius: 25px;
      border: 1px solid $color-dodger-blue;
    }
  }

  &__control-error-msg {
    margin: 0;
    color: $color-flame-red;
    letter-spacing: 0;
    min-height: 16px;
    line-height: 16px;
    visibility: hidden;

    @include font-nunito-heavy(12px);

    &--show {
      visibility: visible;
    }
  }
}
