<st-header
  [title]="'Scan Card'"
  [backButtonTitle]="'Back'"
  [isToolbarShow]="true"
  [isBackButtonShow]="isBackButtonShow"
  [isDismissButtonShow]="isDismissButtonShow"
  (onDismiss)="onBack()"
  backButtonIcon="chevron-back"
  [isTitleShow]="true"
></st-header>
<ion-content class="ion-padding">
  <st-activate-location-item
    [institutionName]="(institution$ | async)?.name"
    [userPronouns]="userLocalProfileSignal().pronouns | pronouns"
    [userFullName]="userLocalProfileSignal().userFullName"
    [userInfoId]="userInfoId$ | async"
    [isShowId]="isMediaSettingExists$ | async"
    [institutionPhoto]="institutionPhoto$ | async"
    [institutionColor]="institutionColor"
    [userPhoto]="userPhoto"
  >
    <div class="scan-card__barcode-wrapper" [style.visibility]="(generateBarcode$ | async) ? 'visible' : 'hidden'">
      <canvas aria-label="Barcode, image" role="img"  class="scan-card__barcode" id="barcodeCanvas"></canvas>
    </div>
  </st-activate-location-item>
</ion-content>
