<ng-container *ngIf="summary$ | async as summary">
  <ion-header class="final-order__header" no-border>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="onClosed()">
          <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title id="modal-mainTitle" tabindex="0" class="final-order__title"
        >{{ contentStrings.labelOrder | async }} #{{ summary.checkNumber }}</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <st-success-summary
      [labelOrderPlacedTitle]="contentStrings.labelOrderPlacedTitle | async"
      [labelOrderPlacedDescription]="contentStrings.labelOrderPlacedDescription | async"
      [mealBased]="summary.mealBased"
      [orderType]="summary.orderType"
      [orderDetailOptions]="summary.orderDetailOptions"
      [address]="summary.orderDetailOptions?.address"
      [subTotal]="summary.subTotal"
      [total]="summary.total"
      [type]="summary.type"
      [tax]="summary.tax"
      [tip]="summary.tip"
      [fee]="summary.pickupFee || summary.deliveryFee"
      [discount]="summary.discount"
      [paymentMethod]="summary.accountName"
    ></st-success-summary>
  </ion-content>
  <ion-footer class="final-order__footer" mode="ios">
    <st-button (onClick)="onClosed()">
      {{ contentStrings.buttonDone | async }}
    </st-button>
  </ion-footer>
</ng-container>
