@import 'tools';

:host {
	width: 100%;
}

.st-date-time-picker {
	&__label {
		color: #7e7e7e;
	
		@include font-nunito-semibold(14px);
	  }
	
	  &__value {
		@include font-nunito-heavy(16px);
	  }

	&__container {
		padding: 10px 0;
	}
}
