<div class="st-date-time-picker__container" *ngIf="showLabel">
  <div class="st-date-time-picker__label">{{ data?.labelTime }}</div>
  <div class="st-date-time-picker__value">
    <img width="16" src="./assets/icon/time.svg" alt="time" />
    <span class="st-date-time-picker__time-label">
      <ng-container *ngIf="dateTimePicker &&  isDefaultState; then placeholder; else dateTime"></ng-container>
    </span>
  </div>
</div>

<ng-template #placeholder>{{contentStrings.labelAsap | async}} {{prepTime}}</ng-template>
<ng-template #dateTime>{{ dateTimeWithTimeZone || dateTimePicker }}</ng-template>
<ion-picker
  #timePicker
  (ionPickerColChange)="handlePickerChange($event)"
  class="order-options-action-sheet order-options-action-sheet-p-d"
  [ngClass]="pickerClass"
  [isOpen]="isPickerOpen"
  [columns]="pickerColumns"
  [buttons]="pickerButtons"
  (didDismiss)="isPickerOpen = false"
  (ionPickerWillDismiss)="showTitle = false"
  (didPresent)="showTitle = true"
>
  <span *ngIf="showTitle" class="title">{{ titleString }}</span>
  <st-button class="confirm-button"
  [buttonModifier]="'normalcase'"
  (onClick)="confirmPicker()">Set Pickup Time</st-button>
</ion-picker>