@import 'tools';

:host {
	width: 100%;
}
.title {
	z-index: 100;
    position: absolute;
	bottom: 315px;
	left: 50%;
    transform: translateX(-50%);
	font-size: 18px;
	color: #161616;
	font-weight: bold;
}
.picker-hidden-confirm {
	pointer-events: none;
	display: none;
}

.confirm-button {
	z-index: 100;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
.st-date-time-picker {
	&__label {
		color: #7e7e7e;
	
		@include font-nunito-semibold(14px);
	}
	
	&__value {
		@include font-nunito-heavy(16px);
	}

	&__time-label {
		margin-left: 5px;
	}

	&__container {
		padding: 10px 0;
	}
}
