<div class="st-date-time-picker__container">
  <div class="st-date-time-picker__label">{{ data?.labelTime }}</div>
  <div class="st-date-time-picker__value">
    <img width="16" src="./assets/icon/time.svg" alt="time" />
    <span class="st-date-time-picker__time-label">
      <ng-container *ngIf="dateTimePicker &&  isDefaultState; then placeholder; else dateTime"></ng-container>
    </span>
  </div>
</div>

<ng-template #placeholder>{{contentStrings.labelAsap | async}}</ng-template>
<ng-template #dateTime>{{ dateTimeWithTimeZone || dateTimePicker }}</ng-template>
