<section class="unit__details">
  <header class="unit__header">
    <div (click)="goToUnitDetails()" class="unit__description">
      <h3 class="unit__title">{{ unit.title }}</h3>
    </div>

    <div class="ion-text-end d-flex ion-align-items-center"></div>
  </header>

  <div class="unit__tools" *ngIf="unit.labels.length">
    <div class="scroll-hidden unit__labels-wrap">
      <div class="d-flex scroll-horizontal-hidden__inner">
        <st-label class="unit__labels-item" *ngFor="let label of unit.labels"> {{ label.name }}</st-label>
      </div>
    </div>
  </div>
</section>
