<st-header title="Add Funds" [isTitleShow]="true" [backButtonTitle]="'Back'" [isToolbarShow]="true"></st-header>
<ion-content>
  <form [formGroup]="depositForm" (ngSubmit)="onFormSubmit(depositForm)">
    <div
      class="deposit__manual-amount"
      [ngClass]="{ 'deposit__manual-amount--preset-amouts': !isFreeFromDepositEnabled }"
    >
      <div class="deposit__main-select-container" *ngIf="!isFreeFromDepositEnabled; else mainInput">
        <div class="deposit__select-wrapper">
          <ion-label class="deposit__label-select">Amount to Deposit</ion-label>
          <ion-select
            class="deposit__select deposit__select-account"
            cancelText="Cancel"
            mode="md"
            placeholder="Please Choose"
            interface="action-sheet"
            [interfaceOptions]="customActionSheetOptions"
            formControlName="mainSelect"
            (ionChange)="onPaymentMethodChanged($event)"
          >
            <ion-select-option [value]="amount" *ngFor="let amount of presetDepositAmounts">
              {{ amount }}
            </ion-select-option>
          </ion-select>
        </div>
      </div>
      <ng-template #mainInput>
        <div class="deposit__main-input-container">
          <ion-input
            class="deposit__main-input"
            inputmode="tel"
            type="tel"
            maxlength="6"
            #inputText
            [autofocus]="true"
            placeholder="0"
            [ngStyle]="{ width: inputText.value ? inputText.value.length + 1 + 'ch' : '2ch' }"
            [ngClass]="{ 'deposit__main-input--focus': focusLine, shakeit: isMaxCharLength }"
            (ionFocus)="focusLine = true"
            (ionBlur)="focusLine = false"
            formControlName="mainInput"
          ></ion-input>
          <div *ngIf="mainFormInput.errors && mainFormInput.errors['max']" class="deposit__main-input--error">
            The maximum amount for a deposit is {{ mainFormInput.errors['max'].max }}.
          </div>
          <div *ngIf="mainFormInput.errors && mainFormInput.errors['min']" class="deposit__main-input--error">
            The minimum amount for a deposit is {{ mainFormInput.errors['min'].min }}.
          </div>
          <div
            *ngIf="
              mainFormInput.errors && mainFormInput.errors['required'] && (mainFormInput.dirty || mainFormInput.touched)
            "
            class="deposit__main-input--error"
          >
            Please enter an amount to deposit.
          </div>
        </div>
      </ng-template>
    </div>
    <section class="deposit__selection-block">
      <div class="deposit__select-wrapper">
        <ion-label class="deposit__label-select">To Account</ion-label>
        <ion-select
          class="deposit__select deposit__select-account"
          cancelText="Cancel"
          mode="md"
          placeholder="Please Choose"
          interface="action-sheet"
          [interfaceOptions]="customActionSheetOptions"
          formControlName="selectedAccount"
          (ionChange)="onPaymentMethodChanged($event)"
        >
          <ion-select-option [value]="account" *ngFor="let account of destinationAccounts; trackBy: trackByAccountId">
            {{ account.accountDisplayName }} (${{ account.balance }})
          </ion-select-option>
        </ion-select>
      </div>
      <div class="deposit__select-wrapper">
        <ion-label class="deposit__label-select">Payment Method</ion-label>
        <ion-select
          class="deposit__select"
          cancelText="Cancel"
          mode="md"
          placeholder="Please Choose"
          interface="action-sheet"
          [interfaceOptions]="customActionSheetPaymentOptions"
          formControlName="sourceAccount"
          (ionChange)="onPaymentMethodChanged($event)"
        >
          <ion-select-option
            [value]="account"
            *ngFor="let account of creditCardSourceAccounts; trackBy: trackByAccountId"
          >
            {{ account.accountTender | creditCardType }} ending in {{ account.lastFour }}
          </ion-select-option>
          <ion-select-option value="billme" *ngIf="isBillMePaymentTypesEnabled">
            <img src="assets/icon/bill-me.svg" alt="Biil Me icon" /> Bill Me</ion-select-option
          >
          <ion-select-option value="newCreditCard">
            <img src="assets/icon/add-card.svg" alt="Add Card icon" /> Add a Credit Card</ion-select-option
          >
        </ion-select>
      </div>
    </section>
    <section>
      <div class="deposit__label-cvv" *ngIf="isCVVfieldShow">
        <ion-label class="deposit__label-select">Card Security Code:</ion-label>
        <ion-input
          class="deposit__input-cvv"
          inputmode="tel"
          type="tel"
          maxlength="3"
          placeholder="CVV"
          formControlName="fromAccountCvv"
        ></ion-input>
        <div
          class="deposit__input-cvv--error"
          *ngIf="
            fromAccountCvv &&
            fromAccountCvv.errors &&
            fromAccountCvv.errors['required'] &&
            (fromAccountCvv.dirty || fromAccountCvv.touched)
          "
        >
          Please enter a valid card security code.
        </div>
      </div>
    </section>

    <!-- [disabled]="!depositForm.valid" -->
    <ion-button
      expand="block"
      type="submit"
      class="deposit__deposit-btn"
      [ngStyle]="{ marginTop: isCVVfieldShow ? '70%' : '85%' }"
      >Deposit</ion-button
    >
  </form>
</ion-content>
