<div [formGroup]="parentGroup">
  <ng-container [ngSwitch]="question.type">
    <ng-container *ngSwitchCase="'IMAGE'" class="question__section">
      <h3 class="form__secondary-header">Upload a photo</h3>
      <div class="container__image">
        <ng-container *ngIf="(image$ | async) as image; else defaultImage" witdh="95%" heigth=95% >
          <ion-img class="image" [src]="image"></ion-img>
        </ng-container>
        <ng-template #defaultImage >
          <div class="label"> New photo</div>
          <div class="icon"></div>
        </ng-template>
      </div>
      <ion-button color="light" class="btn__image" (click)="presentPhotoTypeSelection()">Choose image</ion-button>
    </ng-container>
    <ng-container *ngSwitchCase="'header'">
      <div [innerHTML]="createHeader($any(question))"></div>
    </ng-container>
    <ng-container *ngSwitchCase="'FACILITY'">
      <div item-content>
        <st-hierarchy-tree [label]="getLabel(question)" [isDisable]="isSubmitted" [lookups]="facilityTreeData" [allowParent]="true"></st-hierarchy-tree>
      </div>
    </ng-container>

    <p *ngSwitchCase="'paragraph'" class="question__paragraph" [innerHtml]="question.label">{{ question.label }}</p>
    <ng-container *ngIf="!isWorkOrderDescription(question); else isWorkOrderTextArea">
    <st-input-floating-label
      *ngSwitchCase="'text'"
      class="question__item question__control"
      type="text"
      [control]="parentGroup.get(question['name'])"
      [label]="getLabel(question)"
      [idd]="question['name']"
      [formControlName]="question['name']"
      [isError]="errorValidator"
      [stEmptyFormControl]="parentGroup.get(question['name'])"
    >
      <st-control-errors
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>
    </st-input-floating-label>
  </ng-container>
  <ng-template #isWorkOrderTextArea>
    <st-textarea-floating-label
    [control]="parentGroup.get(question['name'])"
    [isError]="errorValidator"
    [formControlName]="question['name']"
    class="question__item question__control"
    [idd]="question['name']"
    [label]="getLabel(question)"
    title="Type your message here..."
    rows="3"
    [stEmptyFormControl]="parentGroup.get(question['name'])"
  >
    <st-control-errors
      [control]="parentGroup.get(question['name'])"
      [errorMessages]="errorMessages"
    ></st-control-errors>
  </st-textarea-floating-label>
  </ng-template>
    <st-textarea-floating-label
      *ngSwitchCase="'textarea'"
      [control]="parentGroup.get(question['name'])"
      [isError]="errorValidator"
      [formControlName]="question['name']"
      class="question__item question__control"
      [idd]="question['name']"
      [label]="question.label"
      title="Type your message here..."
      rows="3"
      [stEmptyFormControl]="parentGroup.get(question['name'])"
    >
      <st-control-errors
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>
    </st-textarea-floating-label>

    <div *ngSwitchCase="'date'" class="question__item">
      <st-date-select
        [name]="question['name']"
        [label]="question.label"
        [formControlName]="question['name']"
        [format]="'MMM d, y'"
      ></st-date-select>

      <st-control-errors
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>
    </div>

    <div *ngSwitchCase="'datetime'" class="question__item">
      <st-date-select
        [name]="question['name']"
        [label]="question.label"
        [formControlName]="question['name']"
        [format]="'MMM d, y h:mm a'"
      ></st-date-select>

      <st-control-errors
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>
    </div>

    <st-select-floating-label
      *ngSwitchCase="'select'"
      [formControlName]="question['name']"
      [control]="parentGroup.get(question['name'])"
      [isError]="errorValidator"
      class="question__item question__control"
      interface="action-sheet"
      [interfaceOptions]="customActionSheetOptions"
      [label]="question.label"
      [idd]="question['name']"
      [stEmptyFormControl]="parentGroup.get(question['name'])"
    >
      <ng-container role="options">
        <ion-select-option *ngFor="let option of question['values']; trackBy: trackByLabel" [value]="option.value">
          {{ option.label }}
        </ion-select-option>
      </ng-container>

      <ng-container role="error">
        <st-control-errors
          [control]="parentGroup.get(question['name'])"
          [errorMessages]="errorMessages"
        ></st-control-errors>
      </ng-container>
    </st-select-floating-label>

    <st-charge-schedules class="question__section" *ngSwitchCase="'charge-schedules'" [question]="question">
    </st-charge-schedules>

    <st-sign-contract
      *ngSwitchCase="'date-signed'"
      [question]="question"
      [isSubmitted]="isSubmitted"
    ></st-sign-contract>

    <st-facility-picker
      class="question__section"
      [question]="question"
      [parentForm]="parentGroup"
      [isDisabled]="isSubmitted"
      *ngSwitchCase="'facility-picker'"
    ></st-facility-picker>

    <ng-container *ngSwitchCase="'checkbox-group'">
      <h3 class="form__secondary-header">{{ question.label }}</h3>

      <st-control-errors
        class="control-hint--no-indent"
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>

      <ion-item
        [formArrayName]="question['name']"
        *ngFor="let item of question['values']; index as idx; trackBy: trackByLabel"
        class="ion-no-padding form-checkbox"
        lines="none"
      >
        <ion-checkbox
          class="form-checkbox__control"
          mode="md"
          [checked]="item.selected"
          [formControlName]="idx"
          [value]="item.value"
          [disabled]="isSubmitted"
          slot="start"
        ></ion-checkbox>
        <ion-label class="form-label">{{ item.label }}</ion-label>
      </ion-item>
    </ng-container>

    <div *ngSwitchCase="'radio-group'" class="question__section">
      <h3 class="form__secondary-header">{{ getLabel(question) }}</h3>

      <st-control-errors
        class="control-hint--no-indent"
        [control]="parentGroup.get(question['name'])"
        [errorMessages]="errorMessages"
      ></st-control-errors>

      <st-radio-group [formControlName]="question['name']" [options]="question['values']"></st-radio-group>
    </div>

    <st-asset-type-details
      *ngSwitchCase="'asset-types-group'"
      [parentGroup]="parentGroup"
      [question]="question"
      [isSubmitted]="isSubmitted"
      class="question__section">
    </st-asset-type-details>

    <div *ngSwitchCase="'action-button'" class="question__item">
      <h3
        *ngIf="question.label"
        class="form__secondary-header">
        {{ question.label }}
      </h3>
      <st-button
        expand="block"
        color="primary"
        mode="ios"
        (click)="question.action()">
        {{ question.buttonText }}
      </st-button>
      <!-- TODO: create template to show users -->
      <div *ngIf="(roommateSearchOptions$ | async) as options">
        <div
          *ngIf="( _applicationsStateService.getRequestedRoommate() ) as requestedRoommates"
          class="roommate-requested__container">
          <h4 *ngIf="requestedRoommates.length > 0">Requested roommates</h4>
          <div *ngFor="let roommate of _applicationsStateService.requestedRoommates | async">
            <ion-card >
              <ion-list>
                  <ng-container [ngSwitch]="options.showOptions">
                    <ion-card-content *ngSwitchCase="'fullName'">
                      {{ roommate.firstName }} {{ roommate.middleName == 'null' ? '' : roommate.middleName }} {{ roommate.lastName}}
                    </ion-card-content>
                    
                    <ion-card-content *ngSwitchCase="'preferredNameLast'">
                      {{ roommate.preferredName == 'null' || roommate.preferredName === '' ? roommate.firstName : roommate.preferredName }} {{ roommate.lastName}}
                    </ion-card-content>
        
                    <ion-card-content *ngSwitchCase="'fullNameDOB'">
                      {{ roommate.firstName }} {{ roommate.middleName == 'null' ? '' : roommate.middleName }} {{ roommate.lastName}} {{ roommate.birthDate | date: 'MM/dd/yyyy' }}
                    </ion-card-content>
                  </ng-container>
              </ion-list>
              <ion-footer class="status">
                <ion-row>
                  <p class="status__text">{{ roommate.confirmed ? 'Confirmed' : 'Unconfirmed' }}</p>
                </ion-row>
              </ion-footer>
            </ion-card>
          </div>
        </div>
      </div> 
    </div>
  </ng-container>
</div>
