<div class="rewards" [ngClass]="{'rewards--auto-height': !isLoadingData}">
  <ion-list *ngIf="isLoadingData">
    <ion-item lines="none" class="skeleton">
      <ion-label>
        <p>
          <ion-skeleton-text animated class="skeleton__level"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="skeleton__progress"></ion-skeleton-text>
        </p>
        <p class="skeleton__align-right">
          <ion-skeleton-text animated class="skeleton__next-level"></ion-skeleton-text>
        </p>
        <p class="skeleton__align-center">
          <ion-skeleton-text animated class="skeleton__next-level"></ion-skeleton-text>
        </p>
        <p class="skeleton__align-center">
          <ion-skeleton-text animated class="skeleton__points"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="(rewardTrackInfo$ | async)?.hasLevels && !isLoadingData">
    <st-progress-bar [currentPointsSpent]="(rewardTrackInfo$ | async)?.userExperiencePoints" [currentLevelInfo]="currentLvlInfo$ | async"
      [nextLevelPoints]="nextLvlRequirePoints$ | async"></st-progress-bar>
  </ng-container>
  <ng-container *ngIf="(rewardTrackInfo$ | async)?.hasRedeemableRewards && !isLoadingData">
    <div class="progress__balance-wrapper">
      <p class="progress__balance-title">Your balance</p>
      <div class="progress__balance-points">
        <span class="progress__balance-points-digit">{{ userPointsSpent$ | async }}</span> points
      </div>
    </div>
  </ng-container>
</div>