<div class="rewards">
  <p class="progress__level">Level {{ userLevel }}: {{ userLevelName }}</p>
  <div class="progress-bar">
    <div class="progress-bar__line" [style.width.%]="width">
      <div class="progress-bar__gradient"></div>
    </div>
  </div>
  <p class="progress__experience">{{ expToNextLvl }}</p>
  <div class="progress__balance-wrapper">
    <p class="progress__balance-title">Your balance</p>
    <div class="progress__balance-points">
      <span class="progress__balance-points-digit">{{ pointsBalance }}</span> points
    </div>
  </div>
</div>
