  <section *ngIf="(roomsStateService.roomSelects$  | async) as selections" >
    <st-housing-accordion
    accordionTitle="Rooms"
    [itemsAmount]="selections.length">
    <ion-list slot="content" class="ion-no-margin bg-transparent">
      <st-room-selection-list [roomSelects]="selections"></st-room-selection-list>
    </ion-list>
  </st-housing-accordion>
  </section>
  <!-- <h3 class="rooms__title">Rooms</h3>

  <div class="rooms__content">
    <div class="rooms__empty">You haven't selected a room yet</div>

    <ion-button class="btn btn--primary rooms__search" shape="round" [routerLink]="['/housing/rooms-search']" mode="ios">
      Search Rooms
    </ion-button>
  </div> -->
