  <ion-list *ngIf="(roomsStateService.roomSelects$  | async) as selections" class="ion-no-margin bg-transparent">
    <ion-list-header *ngIf="selections.length > 0" class="ion-no-padding">
      <h2 class="secondary-header secondary-header--m">Rooms</h2>
    </ion-list-header>
    <st-room-selection-list [roomSelects]="selections"></st-room-selection-list>
  </ion-list>
  <!-- <h3 class="rooms__title">Rooms</h3>

  <div class="rooms__content">
    <div class="rooms__empty">You haven't selected a room yet</div>

    <ion-button class="btn btn--primary rooms__search" shape="round" [routerLink]="['/housing/rooms-search']" mode="ios">
      Search Rooms
    </ion-button>
  </div> -->
