<st-header
  [isTitleShow]="true"
  backButtonIcon="close"
  [isBackButtonShow]="true"
  [isToolbarShow]="true"
  backButtonTitle=""
  [title]="'patron-ui.ordering.active_cart_title' | translate"
  (onClose)="onClose()"
  [isRemoveButtonShow]="true"
  [removeTrashIcon]="true"
  (onRemove)="removeCart()"
>
</st-header>
<ion-content>
  <div class="cart-preview__merchant-name">
    {{ (merchant$ | async).name }}
  </div>
  <ion-list class="order-ingredient-list">
    <div *ngIf="orderInfo$ | async as orderInfo" class="order-ingredient-list__ingredient">
      @for(orderItem of orderInfo.orderItems; track orderItem.id){
      <ion-item class="order-ingredient-list__item" lines="none">
        <ion-label>
          <st-order-item-details [mealBased]="orderInfo.mealBased" [orderItem]="orderItem"></st-order-item-details>
          <ng-container *ngIf="orderItem.orderItemOptions">
            <p
              *ngFor="let subIngredient of orderItem.orderItemOptions"
              class="order-ingredient-list__ingredient-description"
            >
              {{ subIngredient.name }} ({{ subIngredient.salePrice | priceUnitsResolver : orderInfo.mealBased }})
            </p>
          </ng-container>
        </ion-label>
      </ion-item>
      }
      <div class="total">
        <div class="total__item">
          {{ 'patron-ui.ordering.label_subtotal' | translate}}
          <span class="total__item-sum">{{ orderInfo.subTotal | priceUnitsResolver : orderInfo.mealBased }}</span>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="cart-preview__expiration" translate>patron-ui.ordering.active_cart_expire_note</div>
  <st-button class="cart-preview__footer-button" color="light" expand="block" translate (onClick)="addMoreItems()">{{
    'patron-ui.ordering.active_cart_add_items' | translate
  }}</st-button>
  <st-button class="cart-preview__footer-button" expand="block" translate (onClick)="redirectToCart()">{{
    'patron-ui.ordering.active_cart_go_checkout' | translate
  }}</st-button>
</ion-footer>
