<li [class]="levelClass">
    <div class="progress__indicator">{{levelInfo.level}}</div>
    <div class="level">
        <div class="level__info" (click)="onExpandeHandle()">
            <div class="level__header">{{levelInfo.levelName}}</div>
            <div class="level__indicator">dasssssssssssssdasdasd</div>
        </div>
        <div class="level__climes" *ngIf="show">
            <ul>
                <li>0000000001</li>
                <li>0000000002</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000003</li>
                <li>0000000004</li>
            </ul>
        </div>
    </div>
</li>