<ion-content>
  <div class="order-filters">
    <div class="order-filters__header ion-padding">
      <ion-icon class="order-filters__header--icon" slot="end" mode="ios" icon="close" (click)="close()"></ion-icon>
      <span class="order-filters__header--title">Filter</span>
    </div>
    <hr />

    <div class="order-filters__title">Date</div>

    <div class="order-filters__container">
      <ion-radio-group [(ngModel)]="selectedPeriod" mode="md" class="order-radio-group" (ionChange)="periodTypeOnChange($event)">
        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">{{ timePeriodLabel['7'] }}</ion-label>
          <ion-radio mode="md" slot="start" [value]="timePeriod.LASTWEEK" class="radio-item"></ion-radio>
        </ion-item>

        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">{{ timePeriodLabel['30'] }}</ion-label>
          <ion-radio mode="md" slot="start" [value]="timePeriod.LAST30DAYS" class="radio-item"></ion-radio>
        </ion-item>

        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">{{ timePeriodLabel['90'] }}</ion-label>
          <ion-radio mode="md" slot="start" [value]="timePeriod.LAST90DAYS" class="radio-item"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="ion-padding-horizontal">
      <hr />
    </div>

    <div class="order-filters__title">Order Status</div>

    <div class="order-filters__container">
      <ion-radio-group [(ngModel)]="selectedStatus" mode="md" class="order-radio-group" (ionChange)="statusTypeOnChange($event)">
        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">Pending</ion-label>
          <ion-radio mode="md" slot="start" [value]="'Pending'" class="radio-item"></ion-radio>
        </ion-item>

        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">Completed</ion-label>
          <ion-radio mode="md" slot="start" [value]="'Completed'" class="radio-item"></ion-radio>
        </ion-item>

        <ion-item lines="none" class="order-filters__container--radio">
          <ion-label class="radio-label">Canceled</ion-label>
          <ion-radio mode="md" slot="start" [value]="'Canceled'" class="radio-item"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div class="ion-padding-horizontal">
      <hr />
    </div>
  </div>
</ion-content>
<ion-footer mode="ios" class="order-filters__footer ion-padding">
  <st-button (onClick)="reset()" [isDisabled]="true">Reset </st-button>
  <st-button (onClick)="onSubmit()">Apply Filters</st-button>
</ion-footer>
