<div class="input__wrapper">
  <input
    [id]="idd"
    class="input__control"
    #input
    (change)="onChangeHandler(input.value)"
    (keyup)="onChangeHandler(input.value)"
    [type]="type"
    (blur)="onBlur()"
    [attr.maxlength]="maxlength"
    [class]="{ 'input__control--error': isError }"
    [disabled]="isDisabled"
    [attr.inputmode]="inputmode"
    [attr.enterkeyhint]="enterkeyhint"
    [attr.tabindex]="tabindex"
    [attr.aria-required]="isRequired"
  />
  <label class="input__placeholder" [attr.for]="idd">
    {{ label }}
    <span *ngIf="isRequired" class="showAsterisk">*</span>
  </label>
  <ng-content *ngIf="isError"></ng-content>
  <div class="input__accesibility_error" *ngIf="isError && !passwordFieldDirty">
    <img src="/assets/icon/input-error.svg" alt="input-accessibility-error" *ngIf="isError" />
  </div>
  <div class="input__transparent_btn" *ngIf="passwordFieldDirty">
    <ion-button mode="ios" (click)="toggleText()" fill="clear">
      <span class="ion-text-capitalize"> {{ showOrHide }} </span>
    </ion-button>
  </div>
</div>
