<div class="input__wrapper">
  <input
    [id]="idd"
    class="input__control"
    #input
    (change)="onChangeHandler(input.value)"
    (keyup)="onChangeHandler(input.value)"
    type="{{ type }}"
    (blur)="onBlur()"
    [attr.maxlength]="maxlength"
    [ngClass]="{ 'input__control--error': isError }"
    [disabled]="isDisabled"
    [attr.inputmode]="inputmode"
    [attr.enterkeyhint]="enterkeyhint"
  />
  <label class="input__placeholder" [attr.for]="idd">{{ label }}</label>
  <ng-content *ngIf="isError"></ng-content>
  <div class="input__accesibility_error" *ngIf="isError">
    <img src="/assets/icon/input-error.svg" alt="input-accessibility-error" *ngIf="isError" />
  </div>
</div>
