<ion-item class="merchant-card" button lines="none">
  <ion-label class="merchant-card__content">
    <img
      alt=""
      class="merchant-card__image"
      [src]="
        merchant.imageThumbnail
          ? awsImageUrl + merchant.imageThumbnail
          : 'assets/images/dashboard_merchant_image_placeholder.svg'
      "
    />
    <st-merchant-main-info
      [isShowMerchantStatus]="merchant.isAbleToOrder"
      [isWalkOut]="merchant.walkout"
      [merchant]="merchant"
    ></st-merchant-main-info>
  </ion-label>
  <ion-ripple-effect type="bounded"></ion-ripple-effect>
</ion-item>
