<ion-item class="merchant-card" button lines="none">
  <ion-label class="merchant-card__content">
    <img class="merchant-card__image"
         [src]="merchant.imageFull
         ? awsImageUrl + merchant.imageFull
          : 'assets/images/dashboard_merchant_image_placeholder.svg'"
         alt="merchant image"/>
    <st-merchant-main-info
            [isShowMerchantStatus]="merchant.isAbleToOrder"
            [isShowOrderType]="merchant.isAbleToOrder"
            [merchant]="merchant"></st-merchant-main-info>
  </ion-label>
  <ion-ripple-effect type="bounded"></ion-ripple-effect>
</ion-item>
