@import 'tools';

.merchant-card {
  --padding-start: 0;
  --inner-padding-end: 0;

  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 1px solid $color-white-smoke;

  &__image {
    border-radius: 4px;
    margin-right: 10px;
    height: 80px;
    min-width: 80px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
