@import "tools";

.success-image {
  object-fit: none;
}

.title {
  line-height: 20px;
  letter-spacing: 0;
  color: $color-charcoal;
  margin: 0 0 10px 0;

  @include font-nunito-heavy(20px);
}

.message {
  margin: 0 0 10px 0;
  letter-spacing: 0;
  color: $color-charcoal;

  @include font-nunito-regular(16px);
}
