<ion-header class="mc-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" class="mobile-credential-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="back()" *ngIf="!showDismiss">
        <img src="/assets/icon/chevron-left.svg" alt="back" />
        Back
      </ion-button>
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="closePage()" *ngIf="showDismiss">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-header__title">
      {{ titleText }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="true" class="ion-padding">
  <div class="mc-content__main">
    <ng-container *ngIf="(termsAndCondition$ | async) as content; else credentialInfo">
      <p [innerHTML]="content"></p>
    </ng-container>
    <ng-template #credentialInfo> 
      current credential install information will display here..
    </ng-template>
  </div>
</ion-content>
<ion-footer
  _ngcontent-sja-c38=""
  class="mc-footer ios footer-ios hydrated"
  mode="ios"
  ng-reflect-mode="ios"
  role="contentinfo"
>
  <st-button class="mc-footer__btn" buttonModifier="rectangular" tabindex="3" (click)="onBtnClicked()">
    {{ btnText }}
  </st-button>
</ion-footer>
