<ion-header class="mc-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" class="mobile-credential-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="onDecline()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-header__title">
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="true" >
  <div class="mc-content__main" [ngClass]="{'usageInstructions-content':  usageInstructions && !termsAndConditions}">
    <ng-container *ngIf="termsAndConditions; else credentialInfo">
      <p [innerHTML]="termsAndConditions"></p>
    </ng-container>
    <ng-template #credentialInfo> 
      <div *ngIf="usageInstructions">
        <p [innerHTML]="usageInstructions"></p>
      </div>
    </ng-template>
  </div>
</ion-content>
<ion-footer
  _ngcontent-sja-c38=""
  class="mc-footer ios footer-ios hydrated"
  mode="ios"
  ng-reflect-mode="ios"
  role="contentinfo"
>
 <div class="terms-buttons" *ngIf="termsAndConditions; else credentialInfoTemplate">
    <st-button [isDisabled]="true" style="float: left; width: 38%; margin-left: 7px;" buttonModifier="rectangular"  (click)="onDecline()">
     DECLINE
    </st-button>
    <st-button style="float: right; width: 38%; margin-right: 8px;"   buttonModifier="rectangular"  (click)="onAccept()">
      AGREE
    </st-button>
 </div>
 <ng-template #credentialInfoTemplate>
  <div class="uninstall-btn">
    <st-button style="width: 60%; margin: auto;"  buttonModifier="rectangular"(click)="onButtonClicked()">
      {{ btnText }}
    </st-button>
  </div>
 </ng-template>
</ion-footer>
