.mc-header {
  &__title {
    width: 100%;
    font-weight: bold;
    padding-inline-start: 30px;
    padding-inline-end: 40px;
  }
}

.mc-content {
  &__main {
    width: 100%;
    padding-top: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
}

.mc-footer{
  &__btn{
    width: 95%;
    padding-left: 18px;
  }
}

.terms-buttons{
  border-top: 1.5px solid gray;
}

.uninstall-btn{
  border-top: 1px solid gray;
}
