<ion-header class="mc-header" no-border>
  <ion-toolbar mode="ios" class="ion-color" class="mobile-credential-header__nav-toolbar">
    <ion-buttons slot="start">
      <ion-button mode="ios" class="edit-home__header-done-btn" color="dark" (click)="onDecline()">
        <ion-icon icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mc-header__title">
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="true" class="ion-padding">
  <div class="mc-content__main">
    <ng-container *ngIf="(termsAndConditions$ | async) as content; else credentialInfo">
      <p [innerHTML]="content"></p>
    </ng-container>
    <ng-template #credentialInfo> 
      <div *ngIf="(credentialUsageContentString$ | async) as usageInstructions">
        <p [innerHTML]="usageInstructions"></p>
      </div>
    </ng-template>
  </div>
</ion-content>
<ion-footer
  _ngcontent-sja-c38=""
  class="mc-footer ios footer-ios hydrated"
  mode="ios"
  ng-reflect-mode="ios"
  role="contentinfo"
>
 <div class="terms-buttons" *ngIf="termsAndConditions$; else credentialInfoTemplate">
    <st-button [isDisabled]="true" class="mc-footer__btn" style="float: left; width: 40%;" buttonModifier="entry-no-box-shadow"  (click)="onDecline()">
     DECLINE
    </st-button>
    <st-button class="mc-footer__btn" style="float: right; width: 40%; padding-right: 15px;"   buttonModifier="rectangular"  (click)="onAccept()">
      AGREE
    </st-button>
 </div>
 <ng-template #credentialInfoTemplate>
  <div class="uninstall-btn">
    <st-button class="mc-footer__btn" style="width: 60%; margin: auto;" [isDisabled]="btnText != 'OK'"  buttonModifier="entry-no-box-shadow"(click)="onButtonClicked()">
      {{ btnText }}
    </st-button>
  </div>
 </ng-template>
</ion-footer>
