<div class="transaction">
  <ion-list class="transaction__list"
            *ngFor="let transaction of (transactions$ | async)">
    <ion-item class="transaction__item"
              lines="none"
              mode="md">
      <div class="transaction__label-container">
        <div class="transaction__label">{{ transaction.locationName }}</div>
        <div class="transaction__date">{{ transaction.actualDate | date:'short'}} </div>
      </div>
      <div class="transaction__type-container">
        <div class="transaction__type-entity">
          {{ transaction.transactionType | transactionUnits: transaction.accountType }}
        </div>
        <div class="transaction__type-label">{{ transaction.accountName }}</div>
      </div>
    </ion-item>
  </ion-list>
</div>