@import "tools";

.menu {
  &__sub-navigation {
    display: flex;
    justify-content: space-evenly;
    height: 110px;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
  }

  &__nav-item-wrapper {
    text-align: center;
  }

  &__nav-item-content {
    line-height: 15px;

    @include font-nunito-heavy(10px);
  }
}