<st-header
  [title]="contentString[csNames.headerTitle]"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
  class="shadow-header"
></st-header>
<ion-content class="accounts-pane">
  <div class="accounts-content-wrapper">
    <div class="accounts-content">
      <section class="accounts-content__main-page accounts-page">
        <st-menu-receiving-funds class="accounts-page__menu"></st-menu-receiving-funds>
        <hr class="accounts-page__divider" />
        <section class="accounts-page__main-wrapper">
          <st-plan-name flexDirection="column"></st-plan-name>
          <st-account-list [accounts]="accounts$ | async" (onAccountInfoEmit)="onAccountInfo($event)"></st-account-list>

          <h2 class="accounts-page__transactions-title">{{ contentString[csNames.recentTransactionsLabel] }}</h2>
          <st-transactions
            class="accounts-page__transactions"
            [transactions]="transactions$ | async"
            [dividers]="false"
            (click)="goToAllAccounts()"
          ></st-transactions>
        </section>
      </section>
    </div>
  </div>

  <section class="accounts-details-page">
    <article class="accounts-details-page__header accounts-details-menu">
      <div class="accounts-details-menu__info-wrapper">
        <div class="accounts-details-menu__title">
          {{ accountInfo ? accountInfo.name : contentString[csNames.allAccountsLabel] }}
        </div>
        <div class="accounts-details-menu__balance" *ngIf="accountInfo && accountInfo.name !== 'All Accounts'">
          {{ accountInfo.balance | transactionUnits: accountInfo.accountType }}
        </div>
      </div>
      <st-menu-receiving-funds></st-menu-receiving-funds>
    </article>

    <ion-router-outlet class="accounts-details-page__router" [animated]="false"></ion-router-outlet>
  </section>
</ion-content>
