<st-header title="Manual Entry" [isTitleShow]="true" [isToolbarShow]="true" backButtonTitle=""> </st-header>
<ion-content class="container ion-padding-top">
  <div class="section ion-padding">
    <div class="section__instructions ion-padding ion-margin-vertical">
      <ion-icon src="/assets/icon/info.svg"></ion-icon>
      <ion-text class="ion-margin-start">{{ instructions$ | async }}</ion-text>
    </div>
    <form [formGroup]="manualEntryForm">
      <st-input-floating-label
        class="form__control"
        [control]="code"
        label="Barcode"
        idd="barcode"
        [formControlName]="controlsNames.code"
        [isError]="code.errors && (code.dirty || code.touched)"
        tabindex="0"
      >
      </st-input-floating-label>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding footer" no-border>
  <st-button buttonModifier="rectangle" [disabled]="!manualEntryForm?.valid" (onClick)="continue()" tabindex="0"
    >Submit</st-button
  >
</ion-footer>
