@import 'tools';

.order-options {
  &__title {
    padding: 0 20px;
    margin-bottom: 0;

    @include font-nunito-heavy(20px);
  }

  &__radio-group-container {
    border-bottom: 1px solid $color-whisper;
  }

  &__list {
    padding: 0;
  }

  &__radio-container {
    &.item-radio-checked {
      .order-options__radio-label {
        color: #000;
      }
    }
  }

  &__radio-item {
    --color-checked: #166dff;
    --color: #c4c4c4;
    margin-right: 10px;
  }

  &__radio-label {
    color: #c4c4c4;

    @include font-nunito-semibold(16px);
  }

  &__select-container {
  }

  &__select-label {
    color: #7e7e7e;

    @include font-nunito-semibold(14px);
  }

  &__select-value {
    @include font-nunito-heavy(16px);
  }

  &__button {
    --background: #166dff;
    margin-top: 10px;
    height: 50px;

    @include font-nunito-heavy(14px);
  }
}
