<ion-content no-bounce class="content-background">

  <div *ngIf="pageState == LOADING">
    <div *ngIf="!bIsLargeScreen" style="height: 98vh">
      <ion-header no-border>
        <ion-navbar hideBackButton color='secure-messaging-background'>
          <ion-title text-left>Conversations</ion-title>
        </ion-navbar>
      </ion-header>
      <div style="margin-top: 8vh">
        <ion-list *ngFor="let i of [0,1,2]" style="margin-top:10px">
          <ion-item no-lines class="item-conversation-loading">
            <ion-avatar text-center item-start class="item-conversation-loading-avatar">
            </ion-avatar>
            <div class="item-conversation-loading-content top">
            </div>
            <div class="item-conversation-loading-content bottom">
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngIf="bIsLargeScreen">
      <ion-grid style="padding:0px">
        <ion-row style="height: 98vh">
          <ion-col col-sm-12 col-md-5 col-lg-4 col-xl-4>
            <ion-header no-border>
              <ion-navbar color='secure-messaging-background'>
                <ion-title text-left>Conversations</ion-title>
              </ion-navbar>
            </ion-header>
            <div style="margin-top: 8vh">
              <ion-list *ngFor="let i of [0,1,2]">
                <ion-item no-lines class="item-conversation-loading">
                  <ion-avatar text-center item-start class="item-conversation-loading-avatar">
                  </ion-avatar>
                  <div class="item-conversation-loading-content top">
                  </div>
                  <div class="item-conversation-loading-content bottom">
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
          <ion-col col-sm-0 col-md-7 col-lg-8 col-xl-8 style="background-color: #ddd;">
            <ion-header>
              <ion-navbar hideBackButton color='secure-messaging-background-dark'>
                <ion-title text-left>Housing</ion-title>
              </ion-navbar>
            </ion-header>
            <ion-content style="background-color: #ddd;">

            </ion-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="pageState == START_CONVO" text-center class="content-full-screen-centered">
    <!-- XXX WANT TO CENTER ON PAGE -->
    <div *ngIf="!bIsLargeScreen" style="margin-top: 16vh;">
      <h6>No conversations found</h6>
      <button ion-button round (click)="onStartConversationButtonClick()">Start Conversation</button>
    </div>
    <div *ngIf="bIsLargeScreen">
      <ion-grid style="padding:0px">
        <ion-row style="height: 100vh">
          <ion-col col-sm-12 col-md-5 col-lg-4 col-xl-4>
            <ion-header no-border>
              <ion-navbar hideBackButton color='secure-messaging-background'>
                <ion-title text-left>Conversations</ion-title>
              </ion-navbar>
            </ion-header>
            <div style="margin-top: 8vh">
              <ion-item no-lines class="item-conversation" (click)=onAddConversationFABClick()>
                <ion-avatar text-center item-start class="item-conversation-avatar">
                  <h1 style="color:white; position: relative; top:25%; font-size: 22pt">+</h1>
                </ion-avatar>
                Start a conversation
              </ion-item>
            </div>
          </ion-col>
          <ion-col col-sm-0 col-md-7 col-lg-8 col-xl-8 style="background-color: #ddd;">
            <ion-header>
              <ion-navbar hideBackButton color='secure-messaging-background-dark'>
                <ion-title text-left></ion-title>
              </ion-navbar>
            </ion-header>
            <div style="background-color: #ddd; margin-top: 16vh;">
              <h6>No conversations found</h6>
              <button ion-button round (click)="onStartConversationButtonClick()">Start Conversation</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div *ngIf="pageState == SHOW_CONVOS" style="height:100%;">

    <div *ngIf="!bIsLargeScreen" style="height: 100%;">
      <ion-header no-border>
        <ion-navbar color='secure-messaging-background'>
          <ion-title text-left>Conversations</ion-title>
        </ion-navbar>
      </ion-header>
      <div style="margin-top: 60px">
        <ion-list *ngFor="let convo of conversations" (click)=onConversationClick(convo) style="margin-top:10px">
          <ion-item no-lines class="item-conversation">
            <ion-avatar text-center item-start class="item-conversation-avatar">
              <h1 style="color:white; position: relative; top:24%;">{{convo.groupName[0]}}</h1>
            </ion-avatar>
            {{convo.groupName}}
            <p>{{ convo.groupDescription }}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div *ngIf="bIsLargeScreen" style="height:100%">
      <ion-grid style="padding:0px; height:100%">
        <ion-row style="height: 100%;">
          <ion-col col-sm-12 col-md-5 col-lg-4 col-xl-3 style="padding-right:0px;">
            <ion-header no-border>
              <ion-navbar hideBackButton color='secure-messaging-background'>
                <ion-title text-left>Conversations</ion-title>
              </ion-navbar>
            </ion-header>
            <div style="margin-top: 60px;">
              <ion-item no-lines class="item-conversation" (click)=onAddConversationFABClick()>
                <ion-avatar text-center item-start class="item-conversation-avatar">
                  <ion-icon name="text" style="color:white; zoom:1.25; position: relative; top:28%;"></ion-icon>
                </ion-avatar>
                Start a conversation
              </ion-item>
              <ion-list>
                <ion-item no-lines class="item-conversation"
                  [ngClass]="{'item-conversation-selected' : convo.selected == true}"
                  *ngFor="let convo of conversations" (click)=onConversationClick(convo)>
                  <ion-avatar text-center item-start class="item-conversation-avatar">
                    <h1 style="color:white; position: relative; top:24%;">{{convo.groupName[0]}}</h1>
                  </ion-avatar>
                  {{convo.groupName}}
                  <p>{{ convo.groupDescription }}</p>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
          <ion-col col-sm-0 col-md-7 col-lg-8 col-xl-9 style="background-color: #ddd; height:100%">
            <ion-header>
              <ion-navbar hideBackButton color='secure-messaging-background-dark'>
                <ion-title text-left>{{getCurrentConversationName()}}</ion-title>
                <ion-buttons end style="margin-right:2.5%">
                  <button (click)="refreshMessages()">
                    <ion-icon name="refresh" style="zoom:1.5"></ion-icon>
                  </button>
                </ion-buttons>
              </ion-navbar>
            </ion-header>
            <ion-scroll #chatScroll scrollY="true" style="margin-top: 50px; height:75%;">
              <ion-grid style="background-color: #ddd;">
                <ion-row>
                  <ion-col col-sm-0 col-md-0 col-lg-1 col-xl-1></ion-col>
                  <ion-col col-sm-12 col-md-12 col-lg-10 col-xl-10>
                    <div *ngFor="let message of selectedConversation.messages">

                      <ion-grid *ngIf="message.sender.type == 'group'" margin style="padding:0em;">

                        <ion-row align-items-end style="margin-right: 33%;">
                          <p style="margin: 0em; color:dimgray;">{{getMessageDate(message)}}</p>
                        </ion-row>
                        <ion-row align-items-end style="margin-right: 33%;">
                          <ion-col no-margin no-padding col-auto>
                            <ion-avatar text-center item-start class="item-conversation-avatar">
                              <h4 style="color:white; position: relative; top:22%;">
                                {{selectedConversation.groupName[0]}}</h4>
                            </ion-avatar>
                          </ion-col>
                          <ion-col
                            style="padding:0em; background-color: #ffffff; border-radius: 10px; margin-right: 3em;">
                            <div>
                              <p style="padding:1em; margin: 0em;">{{message.body}}</p>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <ion-grid *ngIf="message.sender.type == 'patron'" margin style="padding:0em;">

                        <ion-row style="margin-left: 33%;">
                          <ion-col align-items-end>
                            <p style="margin: 0em; color:dimgray; float:right">{{getMessageDate(message)}}</p>
                          </ion-col>
                        </ion-row>
                        <ion-row align-items-end style="margin-left: 33%;">
                          <ion-col
                            style="padding:0em; background-color: #696969; border-radius: 10px; margin-left: 3em;">
                            <div>
                              <p style="color:white; padding:1em; margin: 0em;">{{message.body}}</p>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                  </ion-col>
                  <ion-col col-sm-0 col-md-0 col-lg-1 col-xl-1></ion-col>
                </ion-row>
              </ion-grid>
            </ion-scroll>
            <ion-row align-items-center>
              <ion-col col-sm-0 col-md-0 col-lg-2 col-xl-2></ion-col>
              <ion-col col-sm-8>
                <ion-textarea rows="3" placeholder="Message text" [(ngModel)]="newMessageText"
                  style="padding: 5px; resize:none; box-shadow: 0px 2px 3px 3px #00000011; background-color: #ffffff;border-radius: 10px; ">
                </ion-textarea>
              </ion-col>
              <ion-col col-auto>
                <button ion-button icon-only clear (click)=onSendMessageClick()
                  style="width:3em; height:3em; box-shadow: 0px 2px 3px 3px #00000011; background-color: #ffffff;border-radius: 100px;">
                  <ion-icon style="zoom:0.75;" name="send"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-sm-0 col-md-0 col-lg-2 col-xl-2></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-fab *ngIf="pageState == SHOW_CONVOS && !bIsLargeScreen" right bottom margin>
    <button ion-fab color="primary" (click)=onAddConversationFABClick()>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>