<st-popover-layout [popoverConfig]="popoverConfig">
    <div>
        <ion-label>
            <h5>Name: </h5>
            <span>
                {{ data.name }}
            </span>
        </ion-label>
        <ion-label>
            <h5>Created On: </h5>
            <span>
                {{ data.created | date: 'MM/dd/yyyy' }}
            </span>
        </ion-label>
        <ion-label *ngIf="data.firstSubmitted">
            <h5>First Submitted: </h5>
            <span>
                {{ data.firstSubmitted | date: 'MM/dd/yyyy' }}
            </span>
        </ion-label>
        <ion-label  *ngIf="data.lastSubmitted">
            <h5>Last Submitted: </h5>
            <span>
                {{ data.lastSubmitted | date: 'MM/dd/yyyy' }}
            </span>
        </ion-label>
    </div>
</st-popover-layout>