<ion-content class="entry">
  <div class="entry__content">
    <ion-label class="entry__info">Lets connect you with your institution</ion-label>
    <div class="entry__buttons">
      <!-- Add this when location will implemented -->
      <!-- <st-button buttonModifier="border-less" (onClick)="checkLocation()">
        <ion-icon src="/assets/icon/navigate.svg"></ion-icon>
        USE MY LOCATION
      </st-button> -->

      <!-- GCS-1928 Figma Button Design Applied -->
      <st-button buttonModifier="entry-dark" (onClick)="redirectTo()">
        SEARCH ALL INSTITUTIONS
      </st-button>
    </div>
  </div>
</ion-content>
