@import 'tools';

// Add this when location will implemented

// ion-icon {
//   color: $color-black;
//   margin-right: 10px;
// }

// st-button {
//   //   background-color: greenyellow;
// }

.entry {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: no-repeat url('/assets/images/entry-bg.svg');
    background-size: cover;
    background-position-y: center;
  }

  &__info {
    margin-top: 52%;
    padding-left: 40px;
    padding-right: 120px;

    @include font-nunito-heavy(20px);
  }

  &__buttons {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
  }

  &__env-button {
    --background: transparent;
    --box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
  }
}
