<ion-content class="entry">
  <div class="entry_container">
    <ion-button id="changeEnv" class="entry__env-button" focusable="false" tabIndex="-1" aria-hidden="true" (click)="changeEnv()">
    </ion-button>
    <ion-button id="rateApp" class="entry__rate-button" focusable="false" tabIndex="-1" aria-hidden="true" (click)="rateApp()">
    </ion-button>
  </div>
  <div class="entry__content">
    <ion-label class="entry__info">Let's connect you with your institution</ion-label>
    <div class="entry__buttons">
      <st-button buttonModifier="entry-dark" (onClick)="redirectTo()">
        SEARCH ALL INSTITUTIONS
      </st-button>
    </div>
    <div mode="ios" class="entry__footer" *ngIf="(appVersion$ | async) as appVersion">
      <div>
        Version {{ appVersion }}
      </div>
    </div>
  </div>
</ion-content>
