@import 'tools';

.entry {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: no-repeat url('/assets/images/entry-bg.svg');
    background-size: cover;
    background-position-y: center;
  }

  &__info {
    margin-top: 52%;
    padding-left: 40px;
    padding-right: 120px;

    @include font-nunito-heavy(20px);
  }

  &__buttons {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
    margin-bottom: $notch-bottom;
  }

  &__env-button {
    --background: transparent;
    --box-shadow: none;
    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    height: 50px;
    width: 50px;

    --background-activated: transparent;
    outline: none;
  }

  &__footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 8px;
    text-align: center;
    color: $color-white;
    font-size: small;
    margin-bottom: $notch-bottom;

  }
}
