@import 'tools';

.item {

    padding: 0;
    margin: 0;

    &__header {
        display: block;
        height: 250px;
    }

    &__img {
        height: 100%;
        width: 100%;
    }

    &__close-btns {
        position: absolute;
        top: 43px;
        left: 16px;
    }

    &__close-btn {
        width: 48px;
        height: 48px;
        background: #ffffff;
        opacity: 0.75;
        border-radius: 50%;
    } 
    
    &__toolbar-icon {
        width: 38px;
        height: 38px;
    }

    &__descriptions {
        background: #ffffff;
        padding: 17px;

        @include font-nunito-regular(16px);
    }
    
    &__descriptions-title {
        letter-spacing: 0px;
        line-height: 24px;

        @include font-nunito-heavy(20px);
    }

    &__descriptions-content {
        color: #515151;
        letter-spacing: 0px;
        margin: 9px auto;

        @include font-nunito-regular(16px);
    }

    &__descriptions-price {
        height: 18px;
        letter-spacing: 0px;
        line-height: 18px;

        @include font-nunito-regular(14px);
    }

    &__list-size {
        padding: 0;
        margin: 0;
    }

    &__divider {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #f7f7f7;
        padding: 9px 17px;
        border-style: unset;
        --inner-padding-bottom: 0px;
    }

    &__divider-title {
        letter-spacing: 0px;
        color: #000;

        @include font-nunito-heavy(16px);
    }

    &__divider-options {
        letter-spacing: 0px;
        color: #515151;

        @include font-nunito-regular(12px);
    }

    &__title {
        color: #000;
        height: 18px;
        letter-spacing: 0px;

        @include font-nunito-heavy(16px);
    }

    &__price {
        color: #000;
        height: 14px;
        letter-spacing: 0px;
        width: 311px;

        @include font-nunito-regular(12px);
    }

    &__radio-item {
        --color-checked: #166dff;
        --color: #c4c4c4;
        border-style: unset;
    }

    &__radio-item__item {
        margin-right: 10px;
        --color-checked: #166dff;
    }

    &__list-toppings {
        padding: 0;
    }

    &__toppings-items {
        --border-style: unset;
        --border-color: #fff;
        color: rgb(0, 0, 0);
        margin-left: 15px;
    }

    &__toppings-label {
        letter-spacing: 0px;

        @include font-nunito-heavy(16px);
    }

    &__toppings-item-checkbox {
        margin-right: 8px;
        --background-checked: #166dff;
        --border-color-checked: #166dff;
    }

    &__special-instructions {
        margin: 0;
    }

    &__order-message {
        display: block;
        margin: 20px 20px;
    }

    &__nutrition-info {
        width: 100%;
        height: 232px;
    }

    &__nutrition-info-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px;
        height: 80px;
    }

    &__nutrition-info-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 48px;
    }

    &__nutrition-info-col:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 48px;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
    }

    &__nutrition-info-title {
        color: #000;
        height: 16px;
        letter-spacing: 0px;
        line-height: 16px;
        text-align: center;

        @include font-nunito-heavy(16px);
    }

    &__nutrition-info-subtitle {
        color: #515151;
        height: 12px;
        letter-spacing: 0px;
        line-height: 12px;
        text-align: center;
        width: 98.5px;

        @include font-nunito-regular(12px);
    }

}

.item-footer {
    position: absolute;
    bottom: 0px;
    --border: none;
      
    &__toolbar {
        border-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 128px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1), rgb(255, 255, 255));
    }
    
    &__counter-btns {
        display: inline-flex;
        height: 48px;
        width: 134px;
        background: #ffffff;
        border-radius: 24px;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.04),
        0px 12px 44px 0px rgba(0, 0, 0, 0.12);
        justify-content: space-between;
        align-items: center;
    }

    &__add-btn {
        --background: #166dff;
        --border-radius: 24px;
        --color: #ffffff;
        height: 48px;
        width: 184px;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;

        @include font-nunito-heavy(14px);
    }

    &__add-btn-disabled {
        --background: #e1e1e1;
        --border-radius: 24px;
        --color: #8e8e8e;
        height: 48px;
        width: 184px;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;

        @include font-nunito-heavy(14px);
    }

    &__counter-btn {
        --border-radius: 50%;
        --background: #fff;
        --color: #3c3c3c;
        --box-shadow: none;
        font-weight: bold;
        height: 48px;
        width: 48px;
    }
}

