.delete-photo-card{
margin-top: 40%;
}

.header{
height: 48px;
display: flex;
justify-content: space-between;
background-color: #F1F1F1;
border-radius: 16px 16px 0px 0px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

align-items: center;
color: black;
padding-bottom: 12px;
}

.icon{
    color:black;
}

.actions{
    padding-top: 24px;

}