<ion-card class="delete-photo-card ion-no-margin">
  <ion-card-header class="header">
    <div translate>get_mobile.photo_upload.delete-photo.header</div>
    <ion-icon (click)="dismissModal(false)" class="icon" name="close-outline"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    <div translate>get_mobile.photo_upload.delete-photo.message</div>
    <div class="actions">
      <ion-button color="danger" expand="block" (click)="deletePhoto()" translate>
        get_mobile.photo_upload.delete-photo.delete_button</ion-button
      >
      <ion-button color="light" expand="block" (click)="dismissModal(false)">Cancel</ion-button>
    </div>
  </ion-card-content>
</ion-card>
