.header{
height: 48px;
display: flex;
justify-content: space-between;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

align-items: center;
color: black;
padding-bottom: 12px;
}

.icon{
    color:black;
}

.actions{
    padding-top: 24px;

}