@import 'tools';

ion-toolbar ion-content ion-slides .slide-zoom ion-list-header ion-label ion-toolbar .toolbar-background {
  background-color: #25A0DA;
}


  ion-toolbar {
    min-height: 34px!important;
    .toolbar-background {
      background: #fcfcfc;
      border: 1px solid #f4f4f4;
    }
    ion-title {
      &.title-ios {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .toolbar-title {
        font: 400 15px ;
        color: #373B40;
        &.toolbar-title-ios {
          text-align: left;
          padding-left: 8px;
        }
      }
    }
    ion-buttons {
      button {
        i {
          &.fa.fa-times {
            color: #ff5a5a;
          }
          &.fa.fa-caret-down {
            color: #999;
          }
        }
      }
    }
  }
