<ul class="stepper__list" *ngIf="steps.length > 1">
  <li
    *ngFor="let step of steps; first as firstStep; last as lastStep; index as idx"
    class="stepper__item"
    [ngClass]="{
      'stepper__item--selected': selectedIndex === idx
    }"
  >
    <ng-container *ngIf="firstStep">First</ng-container>
    <ng-container *ngIf="lastStep">Last</ng-container>
    <ng-container *ngIf="!firstStep && !lastStep">{{ step.label || getStepLabel(idx) }}</ng-container>
  </li>
</ul>

<ng-container *ngFor="let step of steps; index as idx">
  <ng-container *ngIf="selectedIndex === idx" [ngTemplateOutlet]="step.content"></ng-container>
</ng-container>
