<section>
  <ion-list *ngIf="(_workOrderStateService.workOrder$ | async) as workOrderLists"
    class="ion-no-margin bg-transparent">
    <ion-grid>
      <ion-row class="container-header-work-order">
        <div class="col-work-order ion-no-padding">
            <h2 class="form__secondary-header">WORK ORDERS</h2>
        </div>
        <div class="col-work-order ion-no-padding ion-no-margin">
            <h2 class="form__secondary-header create-btn" (click)="createWorkOrder()" [routerLink]="createWorkOrder(140,0)">+</h2>
        </div>

      </ion-row>
      
    </ion-grid>

    <!-- TODO: Add plus button  -->
    <ng-container>
      <!-- <div #container *ngFor="let waitingList of waitingLists">
        <ion-item lines="none" class="waiting-list__item">
          <ion-label class="waiting-list__wrap">
            <div class="waiting-list__info">
              <h5 class="waiting-list__status">{{ getStatus(waitingList.patronWaitingListKey) }}</h5>
              <div class="waiting-list__date" *ngIf="waitingList?.patronWaitingListKey">
                Submitted {{ waitingList?.dateAdded | date: 'MM/dd/yyyy' }}
              </div>
            </div>
        
            <h2 class="waiting-list__title">{{ waitingList.formName }}</h2>
          </ion-label>

          <st-actions
            [path]="urlEditForm+waitingList?.waitListKey"
            [edit]="!waitingList?.patronWaitingListKey"
            [showEdit]="!waitingList?.patronWaitingListKey"
            [showView]="waitingList?.patronWaitingListKey"
            [showRemove]="true"
            [key]="waitingList?.patronWaitingListKey"
            (remove)="removePatronWaitingList(waitingList)">
          </st-actions>
        </ion-item>
      </div> -->
    </ng-container>
  </ion-list>
</section>
