<section *ngIf="_workOrderStateService.workOrder$ | async as workOrderLists">
  <st-housing-accordion
    accordionTitle="Work Orders"
    [itemsAmount]="workOrderLists.workOrders.length"
    [showAddButton]="workOrderLists.canSubmit"
    (onAddButtonClicked)="createWorkOrderDefault()"
    [ignoreValidation]="true"
  >
    <ion-list slot="content"  class="ion-no-margin bg-transparent">
      <!-- TODO: Add plus button  -->
      <ng-container>
        <div #container *ngFor="let workOrder of workOrderLists.workOrders | sort_by_date: 'requestedDate'">
          <ion-item lines="none" class="work-orders-list__item" [ngClass]="getClass(workOrder.statusKey)">
            <ion-label class="work-orders-list__wrap">
              <div class="work-orders-list__info">
                <h5 class="work-orders-list__status" [ngClass]="getClass(workOrder.statusKey)">
                  {{ workOrder.status }}
                </h5>
                <div class="work-orders-list__date" *ngIf="workOrder?.requestedDate">
                  Submitted {{ workOrder?.requestedDate | date: 'MM/dd/yyyy' }}
                </div>
              </div>

              <h2 class="work-orders-list__title">{{ workOrder.type !== 'null' ? workOrder.type : 'Others' }}</h2>
            </ion-label>

            <st-actions
              [navigateTo]="getPath(workOrder.key)"
              [canEdit]="!workOrder?.facilityKey"
              [showEditOption]="!workOrder?.facilityKey"
              [showViewOption]="workOrder?.facilityKey"
              [showRemoveOption]="false"
              [itemKey]="workOrder?.facilityKey"
            >
            </st-actions>
          </ion-item>
        </div>
      </ng-container>
    </ion-list>
  </st-housing-accordion>
</section>
