@import 'tools';

st-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
}

.form {
  background: #ffffff;
  &__control {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.ion-margin-top {
  margin-top: 8px;
}

.ion-margin-bottom {
  margin-bottom: 8px;
}

.validation {
  @include font-nunito-heavy(14px);
}

.middle {
  display: flex;
  align-items: center;
  padding-left: 10px;
  @include font-nunito-regular(12px);
}

.item__icon {
  width: 12.8px;
  height: 12.8px;
  margin-right: 9.6px;
}


