<st-header
  title="Change"
  [isTitleShow]="true"
  [backButtonIcon]="'ios-close'"
  [backButtonTitle]="''"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
  [isDismissButtonShow]="true"
  (onDismiss)="close()"
></st-header>
<ion-content class="container">
  <div class="form ion-padding ion-margin-top">
    <form [formGroup]="changePasswordForm">
      <div>
        <st-input-floating-label
        class="form__control"
        [control]="currentPassword"
        label="Email"
        type="email"
        idd="email"
        [formControlName]="controlsNames.currentPassword"
        [isError]="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)"
        tabindex="0"
      >
      </st-input-floating-label>
      </div>
      <div class="ion-margin-top">
        <st-input-floating-label
        class="form__control"
        [control]="newPassword"
        label="Phone"
        type="tel"
        inputmode="tel"
        idd="phone"
        [formControlName]="controlsNames.newPassword"
        [isError]="newPassword.errors && (newPassword.dirty || newPassword.touched)"
        tabindex="1"
      >
      </st-input-floating-label>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding footer">
  <st-button
    buttonModifier="rectangle"
    [disabled]="!changePasswordForm?.valid || isLoading"
    (onClick)="saveChanges()"
    tabindex="3"
  >
    {{ isLoading ? 'Saving...' : 'Save changes' }}
  </st-button>
</ion-footer>
