@import 'tools';

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
}

.form {
  background: #ffffff;
  &__control {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.ion-margin-top {
    margin-top: 16px;
  }

  .ion-margin-bottom {
    margin-bottom: 28px;
  }


