<ion-header class="final-order__header" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="onClosed()">
        <ion-icon size="large" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="modal-mainTitle" tabindex="0" class="final-order__title">{{ contentStrings.labelOrder | async}} #{{checkNumber}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="final-order__body-wrapper">
    <img src="/assets/images/big_check_order.svg" alt="big check order" class="final-order__main-img"/>
    <div class="final-order__sub-header">{{ contentStrings.labelOrderPlacedTitle | async }}</div>

    <div class="final-order__body">
      {{ contentStrings.labelOrderPlacedDescription | async }}
    </div>

    <div class="total">
      <div *ngIf="subTotal" class="total__item">{{ contentStrings.labelSubtotal | async }}<span
              class="total__item-sum">{{subTotal | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="tax" class="total__item">{{ contentStrings.labelTax | async }}<span
              class="total__item-sum">{{tax | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="discount" class="total__item">{{ contentStrings.labelDiscount | async }}<span
              class="total__item-sum">{{discount | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="tip" class="total__item">{{ contentStrings.labelTip | async }}<span
              class="total__item-sum">{{tip | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="deliveryFee" class="total__item">{{ contentStrings.labelDeliveryFee | async }}<span
              class="total__item-sum">{{deliveryFee | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="pickupFee" class="total__item">{{ contentStrings.labelPickupFee | async }}<span
              class="total__item-sum">{{pickupFee | priceUnitsResolver : mealBased}}</span></div>
      <div *ngIf="total" class="total__item total__item--bold">{{ contentStrings.labelTotal | async }}<span
              class="total__item-sum">{{total | priceUnitsResolver : mealBased}}</span>
      </div>
    </div>

    <div class="final-order__payment-method-wrapper">
      <span>{{ contentStrings.labelPaymentMethod | async }}</span><span>{{accountName}}</span>
    </div>
  </div>
</ion-content>
<ion-footer class="final-order__footer" mode="ios">
  <st-button (onClick)="onClosed()">
    {{contentStrings.buttonDone | async}}
  </st-button>
</ion-footer>
