@import 'vendor';
@import 'tools';
@import 'fonts';

:root {
  .st-header {
    ion-searchbar {
      .searchbar-input-container.sc-ion-searchbar-ios {
        height: 40px;
      }

      .searchbar-input.sc-ion-searchbar-ios {
        border-radius: 20px 20px 20px 20px;
        border: 1px solid rgb(212, 214, 216);
        &::placeholder {
          @include font-family($font-nunito-regular);
        }
      }
    }
  }

  //Temp styles for popover:
  .sc-ion-popover-md-h,
  .sc-ion-popover-ios-h {
    --min-width: 300px !important;

    ion-backdrop {
      opacity: 0.5 !important;
    }

    .popover-content {
      &.sc-ion-popover-md,
      &.sc-ion-popover-ios {
        border-radius: 15px;
      }
    }
  }

  .st-nav-tabs {
    &.tabs-wrapper {
      //  Remove ionic bug for ion-router-outlet for Rewards Tabs page:
      .ion-page {
        overflow-y: auto;
      }
    }
  }

  ion-toast.exception-toast {
    --ion-color-primary: #00a0ff;
  }

  .custom-deposit-actionSheet {
    .action-sheet-group {
      .action-sheet-button {
        border-bottom: 1px solid #ebebeb;

        &:last-child {
          color: #6e6e6e;

          // &::before {
          //   content: '';
          //   background-image: url('/assets/icon/add-card.svg');
          // }
        }

        .action-sheet-button-inner {
          @include font-nunito-semibold(16px);
        }

        &.action-sheet-selected {
          .action-sheet-button-inner {
            position: relative;

            &::after {
              content: 'L';
              font-size: 25px;
              transform: scaleX(-1) rotate(-35deg);
              color: #3c3c3c;
              position: absolute;
              right: 10px;
            }
          }
        }
      }
    }
    .action-sheet-group-cancel {
      .action-sheet-button {
        &:last-child {
          color: #166dff;
          border: none;

          .action-sheet-button-inner {
            justify-content: center;

            @include font-nunito-heavy(16px);
          }
        }
      }
    }
  }
}
