@import 'vendor';
@import 'tools';
@import 'fonts';
@import 'toast';
@import 'icons';

:root {
  ion-searchbar {
    &.searchbar-has-value {
      .searchbar-input-container {
        button {
          &.searchbar-clear-button {
            ion-icon {
              &.searchbar-clear-icon {
                color: gray;
              }
            }
          }
        }
      }
    }
    .searchbar-input-container {
      button {
        &.searchbar-clear-button {
          display: block;
          ion-icon {
            &.searchbar-clear-icon {
              color: lightgray;
            }
          }
        }
      }
    }
  }

  .st-header {
    ion-searchbar {
      .searchbar-input-container.sc-ion-searchbar-ios {
        height: 40px;
      }

      .searchbar-input.sc-ion-searchbar-ios {
        border-radius: 7px;
        border: 1px solid rgb(212, 214, 216);
        &::placeholder {
          @include font-family($font-nunito-regular);
        }
      }
    }
  }
  .sc-ion-popover-ios {
    opacity: 1;
  }
  //Temp styles for popover:
  .sc-ion-popover-md-h,
  .sc-ion-popover-ios-h {
    --min-width: 302px !important;

    ion-backdrop {
      opacity: 0.5 !important;
    }

    .popover-content {
      &.sc-ion-popover-md,
      &.sc-ion-popover-ios {
        border-radius: 15px;
      }
    }
  }

  .large-popover {
    --width: fit-content;
    --max-width: 80vw;
  }

  .st-nav-tabs {
    &.tabs-wrapper {
      //  Remove ionic bug for ion-router-outlet for Rewards Tabs page:
      .ion-page {
        overflow-y: auto;
      }
    }
  }

  ion-toast.exception-toast {
    --ion-color-primary: #00a0ff;
  }

  .custom-deposit-actionSheet {
    .action-sheet-group {
      .action-sheet-button {
        border-bottom: 1px solid $color-whisper;

        .action-sheet-button-inner {
          @include font-nunito-semibold(16px);
        }

        &.action-sheet-selected {
          .action-sheet-button-inner {
            position: relative;

            &::after {
              content: 'L';
              font-size: 25px;
              transform: scaleX(-1) rotate(-45deg);
              color: #3c3c3c;
              position: absolute;
              right: 10px;
            }
          }
        }
      }
    }

    .action-sheet-container {
      .action-sheet-group-cancel {
        .action-sheet-button {
          &:last-child {
            color: $color-dodger-blue;
            border: none;

            .action-sheet-button-inner {
              justify-content: center;

              @include font-nunito-heavy(16px);
            }
          }
        }
      }
    }
  }

  .custom-deposit-actionSheet-last-btn {
    .action-sheet-group .action-sheet-button:last-child {
      color: #6e6e6e;
    }
  }

  .order-options-action-sheet {
    --height: 280px;
    --border-radius: 10px 10px 0 0;

    &.order-options-action-sheet-p-d {
      --height: 360px;
    }

    &__filter {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      --min-height: 27px;
    }

    .modal-wrapper,
    .modal-shadow {
      position: absolute;
      bottom: 0;
    }
  }

  .picker-time-picker-one-column {
    --border-color: #ebebeb;

    .picker-wrapper {
      border-radius: 10px 10px 0 0;
    }

    .picker-col {
      padding: 0;
      transform-style: preserve-3d;
    }

    .picker-toolbar {
      display: block;
      padding: 0 16px;
      .picker-button {
        color: #000;
        @include font-nunito-regular(16px);
      }
      .picker-toolbar-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .picker-toolbar-cancel .picker-button {
        padding-left: 30px;
        @include font-nunito-regular(16px);
      }
      .picker-toolbar-title .picker-button {
        color: #161616;
        padding: 0;

        @include font-nunito-heavy(20px);
      }
    }

    .picker-opt.picker-opt-selected {
      color: #000;
      @include font-nunito-heavy(20px);
    }
  }

  .picker-time-picker {
    --border-color: #ebebeb;

    .picker-wrapper {
      border-radius: 10px 10px 0 0;
    }

    .picker-toolbar {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      .picker-button {
        color: #000;
        @include font-nunito-regular(16px);
      }

      .picker-toolbar-cancel .picker-button {
        text-transform: none;
        padding-left: 30px;
        @include font-nunito-regular(16px);
      }
      .picker-toolbar-secondary {
        pointer-events: none;
      }
      .picker-toolbar-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .picker-toolbar-title .picker-button {
        pointer-events: none;
        text-transform: none;
        color: #161616;
        padding: 0;

        @include font-nunito-heavy(20px);
      }
    }

    .picker-opt.picker-opt-selected {
      color: #000;

      @include font-nunito-heavy(20px);
    }
  }

  // Shake animation:
  .shakeit {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}

.btn {
  --padding-start: 8px;
  --padding-end: 8px;

  height: 48px;
  margin: 0;
}

.form__primary-header,
.form__secondary-header {
  margin-top: 0;
  margin-bottom: 8px;
}

.form__primary-header {
  @include font-nunito-heavy(20px);

  color: $color-god-gray;
}

.form__secondary-header {
  @include font-nunito-heavy(14px);

  color: $color-matterhorn;
  text-transform: uppercase;
}

.showAsterisk {
  @include show-asterisk;
}

.secondary-header {
  @include font-nunito-semibold(14px);

  color: rgba($color-black, 0.6);
  line-height: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.secondary-header--m {
  font-size: 12px;
}

.form-checkbox__control {
  --background-checked: #{$color-dodger-blue};
  --border-color: #{$color-silver};
  --border-color-checked: #{$color-dodger-blue};
  --border-radius: 2px;
  --size: 24px;

  margin: 0 8px 0 0;
}

.form-label {
  --ion-font-family: #{$font-nunito-semibold};

  line-height: 20px;
  margin: 0;
}

.form-label__description {
  @include font-nunito-regular(12px);

  color: rgba($color-black, 0.6);
  line-height: 16px;
}

.control-hint {
  @include font-nunito-semibold(12px);

  color: $color-dim-gray;
  margin: 5px 0 0 12px;

  .control-hint--no-indent &,
  &.control-hint--no-indent {
    margin-left: 0;
  }
}

.control-hint--error {
  color: $color-alizarin;
}

.bg-transparent {
  --background: transparent;
  background: transparent;
}

.custom-loading {
  --background: none;
  --spinner-color: white;
  .loading-wrapper {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}

:root {
  .actions-popover {
    --min-width: 115px !important;
    --width: auto;
  }
}
// Multiline content media type:
section,
article {
  white-space: pre-wrap;
}

.no-focus-outline:focus {
  outline: none;
}

.scan-modal {
  --background: transparent;
}

.chevron-back {
  position: relative;

  &::before {
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background: currentColor;
    mask-image: url(../src/assets/icon/chevron-left.svg);
    position: absolute;
    top: 5px;
    right: 30%;
    width: 100%;
    height: 70%;
    content: '';
  }
}

.picker-col {
  display: block;
}

.alert-modal-attachment {
  --min-width: 75%;
  .alert-wrapper {
    .alert-head {
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 10px;
    }
    .alert-button-group {
      justify-content: right;
    }
  }

  button.alert-button.button__option_delete_attachment {
    background-color: #dc2f45;
    color: white;
    border-radius: 8px;
    @include font-nunito-regular(16px);
    font-weight: 700;
    margin: 0 10px 10px 0;
    min-width: 20%;
    max-width: 30%;
    text-transform: none;
  }

  button.alert-button.button__option_cancel_attachment {
    background: #e2e2e2;
    border-radius: 8px;
    @include font-nunito-regular(16px);
    font-weight: 700;
    color: black;
    margin: 0 10px 10px 0;
    min-width: 20%;
    max-width: 30%;
    text-transform: none;
  }
}

ion-popover.sc-popover {
  --min-width: 300px;
  width: fit-content;
  .no-scroll {
    --overflow: hidden;
  }
}

ion-modal.sc-modal {
  &-alert {
    --min-width: 300px;
    --width: fit-content;
    --height: fit-content;
    --box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04), 0px 2px 44px rgba(0, 0, 0, 0.12);
    --border-radius: 8px;
    padding: 40px;
  }
}
.ion-color-matterhorn {
  --ion-color-base: var(--ion-color-matterhorn);
  --ion-color-base-rgb: var(--ion-color-matterhorn-rgb);
  --ion-color-contrast: var(--ion-color-matterhorn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-matterhorn-contrast-rgb);
  --ion-color-shade: var(--ion-color-matterhorn-shade);
  --ion-color-tint: var(--ion-color-matterhorn-tint);
}

.swiper {
  &.swiper-slides-flex-start {
    .swiper-slide {
      justify-content: start;
      align-items: initial;
    }
  }
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.enable-longpress-ios {
  // Enable long press
  -webkit-touch-callout: default;
}

.alert_cart {
  @include font-nunito-heavy(20px);

  .alert-wrapper {
    border-radius: 5px;

    .alert-head {
      .alert-title {
        @include font-nunito-heavy(20px);
      }
    }

    .alert-message {
      display: flex;
      justify-content: start;
      text-align: left;
      @include font-nunito-regular(16px);
      padding: 0 15px 5px 15px;
    }

    .alert-button-group {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: end;
      padding: 15px;
    }

    button.alert-button.button__option_cancel {
      background: $color-whisper;
      border-radius: 8px;
      @include font-nunito-heavy(16px);
      color: black;
      margin: 0 10px 0 0;
      text-transform: none;
      min-width: 70px;
      max-width: 30%;
    }

    button.alert-button.button__option_confirm {
      background-color: $color-cardinal;
      color: white;
      border-radius: 8px;
      @include font-nunito-heavy(16px);
      width: auto;
      text-transform: none;
      min-width: 130px;
      max-width: 30%;
      margin: 0;
    }
  }
}

.alert_full_menu {
  @extend .alert_cart;
}

.active_cart {
  @extend .alert_cart;

  .alert-wrapper {
    .alert-head {
      text-align: left;
      padding-left: 15px;
      @include font-nunito-regular(20px);
    }

    .alert-message {
      padding-left: 15px;
      margin-top: 0.5rem;
      padding: 0 15px 5px 15px;
      @include font-nunito-regular(16px);

      p {
        margin: 0;
      }
    }
  }

  button.alert-button.button__option_confirm {
    min-width: 150px !important;
    background-color: #1562ff !important;
    &_time {
      min-width: 100px !important;
    }
  }
}

.remove-active-cart {

  .alert-head {
    padding: 1%;
  }

  .alert-message {
    padding-left: 5%;
    margin-top: .5rem;
    color: $color-black;
    @include font-nunito-heavy(18px);
    text-overflow: ellipsis;
  }

  button.alert-button.button__option_cancel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    @include font-nunito-heavy(16px);
    background: $color-whisper;
    color: $color-black;
    border-radius: 8px;
    margin: 0 5% 2.5% 0;
    max-width: 30%;
  }

  button.alert-button.button__option_confirm {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    @include font-nunito-heavy(16px);
    background-color: $color-red-alert;
    color: $color-white;
    border-radius: 8px;
    margin: 0 5% 2.5% 0;
    max-width: 60%;
  }
}

.st-margin {
  &-start {
    margin-left: 10px;
  }
  &-end {
    margin-right: 10px;
  }
}

.ion-focused,
*:focus {
  outline: 1px solid $color-blue-focus;
}
