<ion-content no-bounce>
  <div class="dashboard_div_header">
    <ion-grid padding>
      <h3 *ngIf="mobileLocationInfo" style="margin-top: 10px" class="omd_h3">Select a location</h3>
    </ion-grid>
  </div>
  <div style="margin-top: -20%; margin-right: 5%; margin-left: 5%;">

    <ion-card *ngIf="mobileLocationInfo.length > 0" style="background-color: white;">
      <ion-card-content>
        <ion-searchbar *ngIf="!bShowNoLocationsAvailable && mobileLocationInfo.length > 10" animated debounce="500"
          showCancelButton (ionChange)="onSearchInput($event)">
        </ion-searchbar>
        <div style="height: 72vh; min-height: 72vh;">
          <div *ngIf="bShowNoLocationsAvailable">
            <h4 text-center style="margin-top: 50%; font-weight: 300;">There are no locations available to display
            </h4>
          </div>
          <ion-list style="overflow: auto; height: 100%" scrollY="true">
            <ion-item button *ngFor="let item of mobileLocationInfoFiltered" (click)="locationSelected(item)">
              <div *ngIf='item.color' [ngStyle]="{'background-color': item.color}"
                style="height: 35px; width: 3px; margin-right: 10px;">
              </div>
              <div class='ion-text-start'>
                <h4 style="font-weight: bold; display: inline;">{{item.locationId}} - </h4>
                <h4 style="white-space: pre-wrap; display: inline;">{{item.name}}</h4>
              </div>
              <div *ngIf='item.color' slot='end' [ngStyle]="{'background-color': item.color}"
                style="height: 35px; width: 3px; margin-left: 10px;">
              </div>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>