<st-header
  [title]="contentString.header"
  [placeholder]="contentString.search"
  [backButtonTitle]="contentString.backBtn"
  [isBackButtonShow]="false"
  [isToolbarShow]="true"
  [isTitleShow]="true"
  [isSubToolbarShow]="true"
>
  <ion-searchbar
    (ionInput)="onSearchedValue($event)"
    (keyup.enter)="onEnterKeyClicked()"
    [placeholder]="contentString.search"
    mode="ios"
    class="mobile-access__searchbar"
  ></ion-searchbar>
</st-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshLocationList($event)">
    <st-spinner [refreshText]="contentString.pullRefreshLabel"></st-spinner>
  </ion-refresher>
  <st-location-list [locations]="locations$ | async" (favouriteTrigger)="favouriteHandler($event)"></st-location-list>
</ion-content>
