<st-header [title]="tempTitle"
           (onSearchedValue)="onSearchedValue($event)">
</st-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refreshLocationList($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing Locations...">
        </ion-refresher-content>
    </ion-refresher>
    <app-location-list [locations]="locations$ | async" (favouriteTrigger)="favouriteHandler($event)"></app-location-list>
</ion-content>
