@import 'tools';

:host {
  .st-label {
    margin: 0;

    .title {
      @include ellipsis;
      font-family: $font-nunito-semibold;
    }

    .sub-title {
      margin-top: -5px;
      @include font-nunito-regular(10px);
    }
  }
}

.item-icon {
  &__def {
    margin-right: 10px;
  }
}
