@import 'tools';

.customMessage {
  padding: 18px;
  color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;

    &__title {
      @include font-nunito-semibold(16px);
    }
  
    &__value {
      color: $color-dodger-blue;
      @include font-nunito-regular(16px);
    }
  }
}
