@import 'tools';

.st-header {
  &.header-md:after {
    background-image: none;
  }

  --margin-top: $notch-top;

  ion-back-button {
    display: block;
  }

  &__nav-toolbar {
    --min-height: 27px;
    --padding-bottom: 0;
    --padding-top: 0;

    @include bp-grid-desktop {
      display: none;
    }
  }

  &__toolbar {
    --padding-bottom: 0;
    --padding-top: 0;

    &:last-child {
      --border-width: 0;
    }
  }

  &__searchbar {
    --background: #f0f3f5 !important;
    --placeholder-color: $color-black;
    --icon-color: #c4c4c4 !important;

    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
  }

  &__back-btn {
    --margin-start: 10px;
    --icon-padding-end: 5px;
    --icon-font-size: 15px;
    &__icon-ios-close {
      --icon-font-size: 35px;
    }
    &__icon-close {
      --icon-font-size: 30px;
    }
    @include font-nunito-regular(16px);
  }
  &__dissmiss-btn {
    --margin-start: 10px;
    --icon-padding-end: 5px;
    color: $color-black;
    @include font-nunito-regular(20px);
  }
  &__dismiss-icon{
    font-size: 16px;
  }
  &__title {
    width: 100%;
    font-weight: bold;

    @include font-nunito-regular(20px);
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
}

:host-context(.shadow-header) {
  .st-header__nav-toolbar {
    box-shadow: 0 30px 40px -30px rgba(122, 130, 143, 0.3), 0 0 30px 0 rgba(122, 130, 143, 0.15);
  }
}

.address-edit__header-remove-btn {
  --color: #e22942 !important;
  @include font-nunito-semibold(16px);
}