<div [formGroup]="parentGroup">
  <ng-container [ngSwitch]="question.type">
    <ng-container *ngSwitchCase="'header'">
      <div [innerHTML]="getHeaderHTML(question)"></div>
    </ng-container>

    <p *ngSwitchCase="'paragraph'" class="question__item">{{ question.label }}</p>

    <st-input-floating-label
      *ngSwitchCase="'text'"
      class="question__item"
      type="text"
      [control]="parentGroup.get(question.name)"
      [label]="question.label"
      [idd]="question.name"
      [formControlName]="question.name"
      [isError]="
        parentGroup.get(question.name).errors &&
        (parentGroup.get(question.name).dirty || parentGroup.get(question.name).touched)
      "
      [stEmptyFormControl]="parentGroup.get(question.name)"
    >
      <div
        *ngIf="
          parentGroup.get(question.name).errors &&
          parentGroup.get(question.name).errors['required'] &&
          (parentGroup.get(question.name).dirty || parentGroup.get(question.name).touched)
        "
      >
        This field is required.
      </div>
    </st-input-floating-label>

    <st-textarea-floating-label
      *ngSwitchCase="'textarea'"
      [control]="parentGroup.get(question.name)"
      [isError]="parentGroup.get(question.name).invalid && parentGroup.get(question.name).touched"
      [formControlName]="question.name"
      class="question__item"
      [idd]="question.name"
      [label]="question.label"
      title="Type your message here..."
      rows="3"
    >
      <p>
        {{ parentGroup.get(question.name).errors && parentGroup.get(question.name).errors['errorMsg'] }}
      </p>
    </st-textarea-floating-label>

    <ion-item *ngSwitchCase="'date'" class="question__item ion-no-padding" lines="none">
      <ion-label>{{ question.label }}</ion-label>
      <ion-datetime
        displayFormat="MMM/DD/YYYY"
        placeholder="Select Date"
        [formControlName]="question.name"
      ></ion-datetime>
    </ion-item>

    <st-select-floating-label
      *ngSwitchCase="'select'"
      [formControlName]="question.name"
      [control]="parentGroup.get(question.name)"
      [isError]="parentGroup.get(question.name).invalid && parentGroup.get(question.name).touched"
      class="question__item"
      interface="action-sheet"
      [interfaceOptions]="customActionSheetOptions"
      [label]="question.label"
      [idd]="question.name"
      [stEmptyFormControl]="parentGroup.get(question.name)"
    >
      <ng-container role="options">
        <ion-select-option *ngFor="let option of question['values']" [value]="option.name">
          {{ option.label }}
        </ion-select-option>
      </ng-container>

      <ng-container role="error">
        <p>
          {{ parentGroup.get(question.name).errors && parentGroup.get(question.name).errors['errorMsg'] }}
        </p>
      </ng-container>
    </st-select-floating-label>

    <div *ngSwitchCase="'checkbox-group'" class="question__item" lines="none">
      <h3>{{ question.label }}</h3>

      <ion-item
        [formArrayName]="question.name"
        *ngFor="let item of question['values']; index as idx"
        class="ion-no-padding"
        lines="none"
      >
        <ion-checkbox
          class="question__checkbox"
          mode="md"
          [checked]="item.selected"
          [formControlName]="idx"
          slot="start"
        ></ion-checkbox>
        <ion-label>{{ item.label }}</ion-label>
      </ion-item>
    </div>

    <div *ngSwitchCase="'radio-group'" class="question__item" lines="none">
      <h3>{{ question.label }}</h3>

      <ion-radio-group [formControlName]="question.name">
        <ion-item *ngFor="let item of question['values']; index as idx" class="ion-no-padding" lines="none">
          <ion-label>{{ item.label }}</ion-label>
          <ion-radio class="question__radio" mode="md" slot="start" [value]="item.value"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>
  </ng-container>
</div>
