<ion-item detail button="true" class="order-item">
  <ion-icon class="order-item__icon" [attr.alt]="iconAlt" [src]="iconSrc" [name]="iconName"></ion-icon>

  <ion-label class="order-item__label-container">
    <ng-container *ngIf="item.onCampus; then onCampus; else offCampus"></ng-container>

    <ng-template #offCampus>
      <div class="order-item__label-title">{{ item.nickname }}</div>
      <div class="order-item__label-subtitle">{{ item.city }}, {{ item.state }}</div>
    </ng-template>
    <ng-template #onCampus>
      <div class="order-item__label-title">{{ item.building }}, Room {{ item.room }}</div>
    </ng-template>
  </ion-label>
</ion-item>
