<h3 class="form__secondary-header" *ngIf="question.chargeSchedulesGroup.length">{{ question.label }}</h3>


<ion-card *ngFor="let chargeSchedule of question.chargeSchedulesGroup" class="charge_schedule_item">
  <ion-card-header class="charge_schedule_item_header" *ngIf="chargeSchedule[0].label=== 'Name'">
    <ion-card-subtitle color="primary" class="ion-text-uppercase">{{ chargeSchedule[0].value }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-margin charge_schedule_item_content">
    <ion-list class="ion-no-padding ion-no-margin" *ngFor="let field of chargeSchedule">
      <ion-item *ngIf="field.label !==  'Name'" class="ion-no-padding">
        <div [ngSwitch]="field.type">
          <ion-label *ngSwitchCase="'string'" class="ion-text-wrap"> <b>{{ field.label }}</b>: {{ field.value }} </ion-label>
          <ion-label *ngSwitchCase="'currency'" class="ion-text-wrap"> <b>{{ field.label }}</b>: ${{ field.value | number:'1.2-2' }} </ion-label>
          <ion-label *ngSwitchCase="'date'" class="ion-text-wrap"> <b>{{ field.label }}</b>: {{ field.value | date: 'mediumDate' }} </ion-label>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

