<st-registration-form-wrapper [passwordRule]="passwordRules$ | async" [title]="registrationTitle$ | async">
  <div class="guest__body">
    <form #myForm="ngForm">
    <div class="guest__body__formItem" *ngFor="let field of formFields">
      <st-get-input
        [model]="field"
        [inputLable]="field.label"
        [assetIcon]="field.assetIcon"
        [bgColor]="settings.backgroundColor"
      ></st-get-input>
    </div>

    <div class="term_notice">
      <small>
        By clicking Register you agree you have read the GET <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
        <!-- {{ termsNotice$ | async }} -->
      </small>
    </div>

    <div class="guest__body__submitOrcancel">
      <st-button buttonModifier="rectangular" (click)="onSubmit()">
        Sign up
      </st-button>
    </div>
  </form>
  </div>
</st-registration-form-wrapper>
