<st-header
  [title]="'Settings'"
  [isTitleShow]="true"
  [isToolbarShow]="true"
  [backButtonTitle]="''"
  [isBackButtonShow]="false"
>
</st-header>
<ion-content class="container ion-padding-top">
  <ion-list class="ion-margin-bottom ion-padding-end" *ngIf="isGuest || isHousingOnly">
    <ion-item lines='none'>
      <ion-label class="item__label">
        <h3 *ngIf="(userName$ | async) as userName">{{ userName }}</h3>
        <p *ngIf="(institutionName$ | async) as institutionName">{{ institutionName }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list
    class="ion-margin-bottom ion-padding-end"
    *ngFor="let section of settingSections$ | async; let first = first"
  >
    <ion-list-header lines="inset">
      <ion-label class="settings__section-header">{{section.label}}</ion-label>
    </ion-list-header>
    <ng-container *ngIf="first && !isGuest && !isHousingOnly">
      <ion-item (click)="navigateToPhotoUpload()">
        <ion-avatar slot="start" class="patron-img">
          <img *ngIf="userPhoto$ | async as photo; else tempPhoto" [src]="photo" [alt]="'get_mobile.settings.user_photo' | translate" role="img" />
          <ng-template #tempPhoto>
            <img class="card__campus-empty-photo" src="../../../assets/images/no_photo.svg" [alt]="'get_mobile.settings.no_user_photo' | translate" role="img" />
          </ng-template>
        </ion-avatar>
        <ion-label class="item__label">
          <h3 *ngIf="(userName$ | async) as userName">{{ userName }}</h3>
          <p *ngIf="(institutionName$ | async) as institutionName">{{ institutionName }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <st-settings-item
      *ngFor="let setting of section.items; let last = last"
      [setting]="setting"
      (settingTapped)="settingTap($event)"
      [lines]="last ? 'none' : 'inset'"
    >
    </st-settings-item>
  </ion-list>
  <ion-grid class="settings__bottom-options ion-padding-bottom">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="logout()">LOG OUT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <label for="app version" class="settings__label-version">GET v{{appVersion$ | async}}</label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
