@import "tools";

.container{
    background: #F1F1F1 !important;
}

.title{
@include font-nunito-heavy(20px);
color: rgba(0, 0, 0, 0.87);
}

.toolbar{
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    padding-top: 15px;
}

.student-card-container{
    margin-left: 0px;
    margin-right: 0px;
}

.patron-img{
    height:64px;
    width:64px;
}

.item{
    // NOT SURE IF THIS WILL WORK
    &__avatar {
            width:64px !important;
            height : 100% !important;
            max-width: 100px !important;  //any size
            max-height: 100px !important; //any size

    }
    //display: flex;
    //justify-content: space-between;
}

.thumbnail{
    width: 22px;
    height: 22px;
}

.thumbnail-card{
    width: 23px;
    height: 18px;
}

.item-native{
    padding: 0px !important;
}

.student-card{
display: flex;
}

.student-image{
    width: 64px;
}

.student-card-options{
display: flex;
flex-flow: column;
}

.sc-ion-card-ios-s img {
   width: unset;
}

.item-icon{
    padding-right: 12.82px;
}





