<ion-content class="container">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title class="title">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-margin-bottom" *ngFor="let section of settingSections | async; let first = first">
    <ion-list-header lines="inset">
      <ion-label class="settings__section-header">{{section.label}}</ion-label>
    </ion-list-header>
    <ng-container *ngIf="first">
      <ion-item (click)="navigateToPhotoUpload()">
        <ion-avatar slot="start" class="patron-img">
          <img src="../../../assets/icon/empty-photo.svg" alt="Patron Photo" />
        </ion-avatar>
        <ion-label class="item__label">
          <h3>Student Name</h3>
          <p>Institution Name</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <st-settings-item
      *ngFor="let setting of section.items; let last = last"
      [setting]="setting"
      (settingTapped)="settingTap($event)"
      [lines]="last ? 'none' : 'inset'"
    >
    </st-settings-item>
  </ion-list>
  <ion-grid class="settings__bottom-options ion-padding-bottom">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="logout()">LOG OUT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <label class="settings__label-version">GET v{{appVersion}}</label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
