<st-header
  [title]="title | translate"
  [isTitleShow]="true"
  backButtonIcon="close"
  [backButtonTitle]="''"
  [isToolbarShow]="true"
  [isBackButtonShow]="false"
  [isDismissButtonShow]="!staleProfile"
  (onDismiss)="close()"
></st-header>
<ion-content class="container">
  <div class="form ion-padding ion-margin-top">
    <ion-item class="ion-margin-bottom" lines="none">
      <ion-input label="Name" [value]="userFullName" labelPlacement="stacked" readonly="true" />
    </ion-item>
    <form [formGroup]="phoneEmailForm">
      <st-input-floating-label
        class="form__control"
        [control]="email"
        label="Email"
        type="email"
        idd="email"
        [formControlName]="controlsNames.email"
        [isError]="email.errors && (email.dirty || email.touched)"
        [stFocusNext]="phoneField"
        tabindex="0"
      >
      </st-input-floating-label>
      <st-input-floating-label
        #phoneField
        class="form__control"
        [control]="phone"
        label="Phone"
        type="tel"
        inputmode="tel"
        idd="phone"
        [formControlName]="controlsNames.phone"
        [isError]="phone.errors && (phone.dirty || phone.touched)"
        tabindex="0"
      >
      </st-input-floating-label>
      <div class="ion-padding-top" *ngIf="!staleProfile">
        <st-personal-info-pronouns [formControl]="pronouns"></st-personal-info-pronouns>
      </div>
    </form>
    <st-alert-banner
      icon="information-circle-outline"
      [text]="'patron-ui.update_personal_info.update_name_message' | translate"
    ></st-alert-banner>
    <ion-label class="terms-label" *ngIf="staleProfile">
      By clicking on 'Save changes' you agree you have read the GET Terms of User and Privacy Policy.
    </ion-label>
    <st-button *ngIf="staleProfile" buttonModifier="rectangle" fill="clear" tabindex="2" (click)="showTOS()">
      Terms and Conditions
    </st-button>
    <p *ngIf="htmlContent$ | async as htmlContent" [innerHTML]="htmlContent"></p>
  </div>
</ion-content>
<ion-footer class="ion-padding footer">
  <st-button
    buttonModifier="rectangle"
    [disabled]="!phoneEmailForm?.valid || isLoading"
    (onClick)="saveChanges()"
    tabindex="3"
  >
    {{ isLoading ? 'Saving...' : 'Save changes' }}
  </st-button>
</ion-footer>
