@import 'tools';

.container,
ion-footer {
  --background: #{$color-background-divider};
  background-color: #{$color-background-divider};
}

.form {
  background: #ffffff;
  &__control {
    margin-bottom: 10px;
  }
}

.terms-label {
  @include font-nunito-regular(14px);
  color: rgba($color-black, 0.6);
}
