@import 'tools';

.order-list {
  &__header {
    margin: 16px;
    height: 27px;
    letter-spacing: 0px;
    @include font-nunito-heavy(20px);
  }

  &__divider {
    height: 16px;
    background: #f3f3f3;
    border-radius: 0px;
    
  }

  &__text-left {
    float: left;
  }
  &__text-right {
    float: right;
  }

}
