@import 'tools';

.merchant {
  --padding-start: 0;
  --inner-padding-end: 0;

  padding: 20px 0 10px 0;
  margin: 0 15px;
  border-bottom: 1px solid $color-light-gray;

  &__merchant-photo {
    object-fit: cover;
    border-radius: 10px;
    height: 170px;
    width: 100%;
  }

  &__merchant-name {
    margin: 10px;

    @include ellipsis;
    @include font-nunito-heavy(16px);
  }

  &__merchant-distance {
    color: #00000099;
    margin: 0 10px;

    @include ellipsis;
    @include font-nunito-semibold(12px);
  }

  &__merchant-buttons {
    display: flex;
    justify-content: space-around;
  }

  &__merchant-button {
    width: 25px;
    height: 25px;
    margin: 5px 10px;
  }

  &__merchant-hours {
    margin: 0 10px;
    display: inline-block;
    margin-right: 10px;
    @include font-nunito-heavy(12px);

    &--open {
      color: $color-deep-sea;
    }

    &--closed {
      color: $color-cardinal;
    }
  }

  &__merchant-order-types {
    margin: 0 10px;
    text-align: right;
    color: $color-dodger-blue;

    @include font-nunito-semibold(12px);
  }

  &__merchant-walkout {
    margin: 0 10px;
    text-align: right;
    
    @include font-nunito-semibold(12px);
    color: $color-purple-50;
  }
}
