<ion-item *ngIf="merchantInfo" class="merchant" lines="none" (click)="triggerMerchantClick(merchantInfo)">
  <ion-grid class="ion-no-padding" fixed>
    <ion-row>
      <ion-col class="ion-no-padding align-self-center">
        <img
          *ngIf="merchantInfo.imageFull"
          src="{{ awsImageUrl + merchantInfo.imageFull }}"
          class="merchant__merchant-photo"
          alt=""
        />
      </ion-col>
    </ion-row>

    <ion-row nowrap>
      <!-- NAME and ICONS -->
      <ion-col size="9" class="ion-no-padding">
        <h2 class="merchant__merchant-name">{{ merchantInfo.name }}</h2>
      </ion-col>
      <ion-col class="merchant__merchant-buttons ion-no-padding">
        <ion-button
          appClickStopPropagation
          [routerLink]="merchantDetailsRoute + merchantInfo?.id"
          color="tertiary"
          fill="clear"
          aria-label="merchant details"
          role="button"
        >
          <ion-icon slot="icon-only" name="information-circle"></ion-icon>
        </ion-button>
        <img
          class="merchant__merchant-button"
          [src]="starClass"
          alt="Favorite"
          appClickStopPropagation
          (click)="triggerFavourite($event, merchantInfo)"
          role="button"
          tabindex="0"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Distance Info -->
      <ion-col class="ion-no-padding">
        <span *ngIf="merchantInfo.distanceFromUser" class="merchant__merchant-distance">{{
          merchantInfo.distanceFromUser | merchantDistance
        }}</span>
        <st-order-type-display class="st-margin-start" [merchant]="merchantInfo"></st-order-type-display>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Times and order options -->
      <ion-col class="align-self-start merchant__options-block">
        <p
          class="merchant__merchant-hours"
          [ngClass]="{
            'merchant__merchant-hours--open': merchantInfo.openNow,
            'merchant__merchant-hours--closed': !merchantInfo.openNow
          }"
        >
          {{ 'patron-ui.ordering.' + (merchantInfo.openNow ? 'label_open' : 'label_closed') | translate }}
        </p>
        <st-order-ahead-badge [merchant]="merchantInfo"></st-order-ahead-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
