@import 'tools';

:host {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
}

.merchant {
  padding-top: 26px;
  //   padding-left: 18px;
  //   padding-right: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-light-gray;

  &__merchant-photo {
    object-fit: cover;
    border-radius: 15px;
    height: 172px;
    width: 100%;
    left: 0;
    right: 0;
  }

  &__merchant-name {
    @include ellipsis;
    @include font-nunito-semibold(12px);
    letter-spacing: 0;
    line-height: 12px;
    margin: 0;
    color: $color-black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  &__merchant-buttons {
    background: transparent;
    fill: clear;
    height: 48px;
    width: 48px;
  }

  &__merchant-distance {
    color: #00000099;
    letter-spacing: 0;
    margin: 0;
    font-weight: 600;
    line-height: 12px;

    @include ellipsis;
    @include font-nunito-semibold(12px);
  }

  &__merchant-button {
    width: 25px;
    float: right;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__merchant-hours {
    @include font-nunito-semibold(12px);
    letter-spacing: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;

    &--open {
      color: #147d63;
    }

    &--closed {
      color: #b52135;
    }
  }

  &__merchant-order-types {
    color: #166dff;
    font-size: 12px;
    @include font-nunito-semibold(12px);
    line-height: 12px;
    margin: 0;
    font-weight: 600;
    text-align: right;
    letter-spacing: 0.6px;
    line-height: 12px;
  }
}
