<ion-accordion-group mode="ios" value="first" *ngIf="itemsAmount > 0 || ignoreValidation">
  <ion-accordion  value="first" class="ion-no-padding bg-transparent" toggleIcon="none">
    <ion-item color="none" lines="none" slot="header" class="ion-no-padding no-click">
      <h2 class="form__secondary-header">{{ accordionTitle }}</h2>
      <ion-icon
        size="small"
        class="form__secondary-header space-around"
        name="caret-forward-outline"
      ></ion-icon>
      <h2 class="form__secondary-header space-around">{{ itemsAmount | i18nPlural: amountMap }}</h2>


      <span *ngIf="showAddButton" appClickStopPropagation class="add-btn" (click)="emitAddbutton()">+</span>
    </ion-item>
    <ng-content></ng-content>
  </ion-accordion>
</ion-accordion-group>
