<ion-accordion-group *ngIf="itemsAmount > 0">
  <ion-accordion class="ion-no-padding bg-transparent" value="first" toggleIcon="none">
    <ion-item color="none" lines="none" slot="header" class="ion-no-padding">
      <h2 class="form__secondary-header">{{ accordionTitle }}</h2>
      <ion-icon
        #arrowIcon
        size="small"
        class="form__secondary-header space-around"
        name="caret-forward-outline"
      ></ion-icon>
      <h2 class="form__secondary-header space-around">{{ itemsAmount }} Items</h2>
      <ion-badge mode="ios" class="form__secondary-header space-around" *ngIf="newItemsAmount"
        >{{ newItemsAmount }} New</ion-badge
      >

      <span *ngIf="showAddButton" class="add-btn" (click)="emitAddbutton()">+</span>
    </ion-item>
    <ng-content></ng-content>
  </ion-accordion>
</ion-accordion-group>
