@import 'tools';
@import 'fonts';

ion-accordion.accordion-expanding ion-icon,
ion-accordion.accordion-expanded ion-icon {
  transform: rotate(90deg);
}
.no-click {
  pointer-events: none;
}
.add-btn {
  color: $color-matterhorn;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  right: 5px;
  margin-bottom: 10px;
  @include font-family($font-nunito-regular);
  pointer-events:all;

}

.space-around {
  margin-left: 2vw;
  margin-right: 1vw;
}

ion-icon {
  margin-bottom: 10px;
}
