<st-header
  [title]="contentStrings.titleEditAddresses | async"
  [isTitleShow]="true"
  backButtonIcon="chevron-back"
  [isToolbarShow]="true"
  [isBackButtonShow]="true"
  [isRemoveButtonShow]="true"
  (onRemove)="onRemove()"
  class="address-edit__header-back-btn"
></st-header>

<ion-content>
  <div class="address-edit__add-address-container">
    <ng-container *ngIf="addressData">
      <st-add-edit-addresses
        [editAddress]="addressData"
        [buildingsOnCampus]="buildings$ | async"
        [defaultAddress]="defaultAddress$ | async"
        (onFormChanged)="onAddressFormChanged($event)"
      ></st-add-edit-addresses>
    </ng-container>

    <st-button (onClick)="addAddress()">
      {{contentStrings.buttonSave | async}}
    </st-button>
  </div>
</ion-content>
