<ion-header class="address-edit__header" mode="ios" no-border>
  <ion-toolbar mode="ios" class="address-edit__header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button
              class="address-edit__header-back-btn"
              color="dark"
              [text]="'Back'"
              [icon]="'ios-arrow-back'"
              mode="ios"
              (click)="onBack()"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="address-edit__header-remove-btn" mode="ios" (click)="onRemove()">
        Remove
      </ion-button>
    </ion-buttons>
    <ion-title class="address-edit__header-title">
      Edit Address
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="address-edit__add-address-container">
    <ng-container *ngIf="addressData">
      <st-add-edit-addresses
              [editAddress]="addressData"
              [buildingsOnCampus]="buildings$ | async"
              [defaultAddress]="defaultAddress$ | async"
              (onFormChanged)="onAddressFormChanged($event)"
      ></st-add-edit-addresses>
    </ng-container>

    <st-button (onClick)="addAddress()">
      {{contentStrings.buttonSave | async}}
    </st-button>
  </div>
</ion-content>
