<div class="addresses">
  <form *ngIf="addEditAddressesForm" [formGroup]="addEditAddressesForm">
    <ion-radio-group class="addresses__control" [formControl]="campus" (ionChange)="onCampusChanged($event)">
      <ion-item lines="none" *ngIf="!addressRestriction.offCampus">
        <ion-label class="addresses__radio-label">{{ contentStrings.labelOffCampus | async }}</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          value="offcampus"
          class="addresses__radio"
          [disabled]="addressRestriction.offCampus"
        ></ion-radio>
      </ion-item>

      <ion-item lines="none" *ngIf="!addressRestriction.onCampus">
        <ion-label class="addresses__radio-label">{{ contentStrings.labelOnCampus | async }}</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          value="oncampus"
          class="addresses__radio"
          [disabled]="addressRestriction.onCampus"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ng-container *ngIf="addEditAddressesForm.value.campus === 'oncampus' && buildings">
      <st-select-floating-label
        [formControlName]="controlsNames.buildings"
        [control]="buildings"
        [interfaceOptions]="customActionSheetOptions"
        [isError]="buildings?.invalid && buildings?.touched"
        class="addresses__control"
        interface="action-sheet"
        [title]="contentStrings.selectAccount | async"
        label="{{ contentStrings.labelBuildings | async }}"
        idd="building"
        [selectedText]="buildingSelect.value"
        tabindex="0"
        #buildingSelect
      >
        <ng-container role="options">
          <ion-select-option *ngFor="let item of buildingsOnCampus" [value]="item.addressInfo.building">
            {{ item.addressInfo.building }}
          </ion-select-option>
        </ng-container>

        <ng-container role="error">
          <p class="addresses__control-error-msg">
            {{ buildings?.errors?.errorMsg }}
          </p>
        </ng-container>
      </st-select-floating-label>
      <st-input-floating-label
        class="addresses__control"
        [formControlName]="controlsNames.room"
        [control]="room"
        label="{{ contentStrings.labelRoom | async }}"
        type="text"
        idd="room"
        maxlength="100"
        [isError]="room?.errors && (room?.dirty || room?.touched)"
        tabindex="0"
      >
        <p class="addresses__control-error-msg">
          {{ room?.errors?.errorMsg }}
        </p>
      </st-input-floating-label>
    </ng-container>

    <ng-container *ngIf="addEditAddressesForm.value.campus === 'offcampus' && state">
      <st-input-floating-label
        class="addresses__control"
        [control]="address1"
        label="{{ contentStrings.labelAddressLine1 | async }}"
        type="text"
        idd="address1"
        maxlength="100"
        [formControlName]="controlsNames.address1"
        [isError]="address1.errors && (address1.dirty || address1.touched)"
        [stFocusNext]="addressTwoInput"
        tabindex="0"
      >
        <p class="addresses__control-error-msg">
          {{ address1.errors?.errorMsg }}
        </p>
      </st-input-floating-label>
      <div class="addresses__control-optional-wrapper">
        <st-input-floating-label
          #addressTwoInput
          class="addresses__control"
          [control]="address2"
          [formControlName]="controlsNames.address2"
          label="{{ contentStrings.labelAddressLine2 | async }}"
          type="text"
          idd="address2"
          maxlength="100"
          [isError]="address2.errors && (address2.dirty || address2.touched)"
          [stFocusNext]="cityInput"
        >
        </st-input-floating-label>
        <ng-container [ngTemplateOutlet]="optionalPlaceholder"></ng-container>
      </div>
      <st-input-floating-label
        #cityInput
        class="addresses__control"
        [control]="city"
        [formControlName]="controlsNames.city"
        label="{{ contentStrings.labelCity | async }}"
        type="text"
        idd="city"
        maxlength="100"
        [isError]="city.errors && (city.dirty || city.touched)"
        tabindex="0"
      >
        <p class="addresses__control-error-msg">
          {{ city.errors?.errorMsg }}
        </p>
      </st-input-floating-label>
      <st-select-floating-label
        [formControlName]="controlsNames.state"
        [control]="state"
        [interfaceOptions]="customActionSheetOptions"
        [isError]="state.invalid && state.touched"
        class="addresses__control"
        interface="action-sheet"
        [title]="contentStrings.selectAccount | async"
        label="{{ contentStrings.labelState | async }}"
        idd="state"
        tabindex="0"
        [selectedText]="stateSelects.value"
        #stateSelects
      >
        <ng-container role="options">
          <ion-select-option *ngFor="let state of (arrOfStates$ | async)" [value]="state">
            {{ state }}
          </ion-select-option>
        </ng-container>

        <ng-container role="error">
          <p class="addresses__control-error-msg">
            {{ state.errors?.errorMsg }}
          </p>
        </ng-container>
      </st-select-floating-label>
      <div class="addresses__control-optional-wrapper">
        <st-input-floating-label
          class="addresses__control addresses__nickname-control"
          [control]="nickname"
          [formControlName]="controlsNames.nickname"
          label="{{ contentStrings.labelNickname | async }}"
          type="text"
          idd="nickname"
          maxlength="50"
          [isError]="nickname.errors && (nickname.dirty || nickname.touched)"
        tabindex="0"
        >
        </st-input-floating-label>
        <ng-container [ngTemplateOutlet]="optionalPlaceholder"></ng-container>
      </div>
    </ng-container>
    <ion-item lines="none">
      <ion-label>{{ contentStrings.labelSetAsDefault | async }}</ion-label>
      <ion-checkbox mode="md" class="addresses__checkbox" slot="start" [formControl]="default"></ion-checkbox>
    </ion-item>
  </form>
</div>

<st-button *ngIf="isEditAddress" (onClick)="saveAddress()">
  {{ saveLabel }}
</st-button>

<ng-template #optionalPlaceholder>
  <div class="addresses__control-optional">
    {{ contentStrings.labelOptional | async }}
  </div>
</ng-template>
