@import 'tools';

.patron-plan-column {
  margin: 16px 0px 10px 14px;
  display: flex;
  flex-direction: column;

  &__label {
    color: $color-wood-gray;
    @include font-nunito-semibold(16px);
  }
  &__name {
    @include font-nunito-heavy(20px);
    margin-top: 8px;
    margin-bottom: 0;
  }
}
.patron-plan-row {
  margin: 16px 0px 10px 14px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: .2rem;

  &__label {
    flex: 0 0 100px;
    margin-top: 3px;
    @include font-nunito-heavy(16px);
  }
  &__name {
    @include font-nunito-heavy(16px);
    @include ellipsis;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-border-gray;
}